<c-container fluid>
    <c-row>
        <c-col>
            <select [(ngModel)]="currentSelectedTimerange"
                    (change)="onTimerangeChange(currentSelectedTimerange)" aria-label="Default select example" class="w-100" cSelect>
                <option *ngFor="let item of availableTimeranges; index as i;" [ngValue]="item[0]">
                    {{ item[1] }}
                </option>
            </select>
        </c-col>
        <c-col>

        </c-col>
        <c-col>

        </c-col>
    </c-row>

    <div

        #chartUPlot>
    </div>
</c-container>