.wizard-card-group {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}

.wizard-logo-image {
    border-radius: 50%;
    background: rgba(243, 243, 243, 0.6);
    height: 80px;
    width: 80px;
    position: relative;
    border: 5px outset #4285F4;
    flex: 0 0 80px;
}

.wizard-card-body {
    min-height: 150px;
}


.pl-10 {
    padding-left: 10px !important;
}

.wizard-logo-image-small {
    border-radius: 50%;
    background: rgba(243, 243, 243, 0.6);
    height: 30px;
    width: 30px;
    position: relative;
    border: 2px solid #4285F4;
    flex: 0 0 30px;
}


.wizard-logo-image img, .wizard-logo-image-small img {
    max-height: 60%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    clip-path: circle(35px at center);
    -webkit-clip-path: circle(35px at center);
}

.alert-icon {
    margin-right: 10px;
}
