<ng-container *transloco="let t">

    @if (result && result.response && !result.response.found) {
        <c-alert color="danger" class="d-flex align-items-center">
            <fa-icon [icon]="['fas', 'exclamation-triangle']" size="2x" class="me-3"></fa-icon>
            <div>
                {{ t('Virtual maschine or LXC container could not be found in Proxmox VE!') }}
            </div>
        </c-alert>
    }

    @if (result && result.response && result.response.found) {
        <c-card>
            <c-card-body class="align-items-center d-flex">
                <div class="me-3 p-3 text-white">
                    @if (result.response.current && 'lock' in result.response.current && result.response.current.lock === 'migrate') {
                        <fa-icon [icon]="['far', 'paper-plane']"
                                 size="3x"
                                 class="unknown unknown-glow-svg"></fa-icon>
                    } @else {
                        @if (result.response.info?.status === 'running') {
                            <fa-icon [icon]="['fas', 'play']"
                                     size="3x"
                                     class="up up-glow-svg"></fa-icon>
                        } @else if (result.response.info?.status === 'paused') {
                            <fa-icon [icon]="['fas', 'pause']"
                                     size="3x"
                                     class="warning warning-glow-svg"></fa-icon>
                        } @else {
                            <fa-icon [icon]="['fas', 'stop']"
                                     size="3x"
                                     class="down down-glow-svg"></fa-icon>
                        }
                    }

                </div>
                <div class="flex-1">
                    <h5 cCardTitle>
                        {{ result.response.info?.name }} [{{ result.response.info?.vmid }}]
                    </h5>
                    <h6 cCardSubtitle class="mb-2 mt-1 text-medium-emphasis">
                        {{ t('State:') }}
                        @if (result.response.info && result.response.current) {
                            @if (result.response.info.status !== result.response.current.qmpstatus) {
                                {{ result.response.info.status }} ({{ result.response.current.qmpstatus }})
                            } @else {
                                {{ result.response.info.status }}
                            }
                        }
                    </h6>
                    <p cCardText>
                        Updated 20s ago
                    </p>
                </div>
                @if (result.response.info?.status === 'running') {
                    @if (result.response.agent && result.response.agent['pretty-name']) {
                        <div class="flex-1">
                            <h5>
                                {{ t('Operating system') }}
                            </h5>
                            <h6 cCardSubtitle class="mb-2 mt-1 text-medium-emphasis">
                                @if (result.response.agent.id && result.response.agent.version) {
                                    @switch (result.response.agent.id) {
                                        @case ('ubuntu') {
                                            <oitc-patchstatus-icon
                                                [platform]="result.response.agent.id"
                                                [type]="'linux'"
                                            ></oitc-patchstatus-icon>
                                        }
                                        @case ('debian') {
                                            <oitc-patchstatus-icon
                                                [platform]="result.response.agent.id"
                                                [type]="'linux'"
                                            ></oitc-patchstatus-icon>
                                        }
                                        @case ('suse') {
                                            <oitc-patchstatus-icon
                                                [platform]="result.response.agent.id"
                                                [type]="'suse'"
                                            ></oitc-patchstatus-icon>
                                        }
                                        @case ('windows') {
                                            <oitc-patchstatus-icon
                                                [platform]="result.response.agent.id"
                                                [type]="'windows'"
                                            ></oitc-patchstatus-icon>
                                        }
                                        @default {
                                            {{ result.response.agent.name }}
                                        }
                                    }
                                }
                            </h6>
                            <p cCardText>
                                {{ result.response.agent['pretty-name'] }}
                                <span class="text-muted">
                                    [{{ result.response.agent.version }}]
                                </span>

                            </p>
                        </div>
                    }
                    @if (result.response.current) {
                        <div class="flex-1">
                            <h5>
                                {{ t('CPU') }}
                            </h5>
                            <h6 cCardSubtitle class="mb-2 mt-1 text-medium-emphasis">
                                {{ t('Cores') }}:
                                <span class="mx-2">
                                    <code>{{ result.response.current.cpus }}</code>
                                </span>

                            </h6>
                            <p cCardText>
                                {{ result.response.current.cpu * 100|  number: '1.3-3' }} %
                            </p>
                        </div>

                        @if (result.response.current.mem) {
                            <div class="flex-1">
                                <h5>
                                    {{ t('Memory') }}
                                </h5>
                                <h6 cCardSubtitle class="mb-2 mt-1 text-medium-emphasis">
                                    {{ result.response.current.maxmem / 1024 / 1024 / 1024 |  number: '1.3-3' }}    {{ t('GiB') }}
                                </h6>
                                <p cCardText>
                                    {{ result.response.current.mem / result.response.current.maxmem * 100|  number: '1.3-3' }}
                                    %
                                    ({{ result.response.current.mem / 1024 / 1024  |  number: '1.3-3' }}    {{ t('MiB') }}
                                    {{ t('of') }}
                                    {{ result.response.current.maxmem / 1024 / 1024 / 1024 |  number: '1.3-3' }}    {{ t('GiB') }}
                                    )
                                </p>
                            </div>
                        }
                    }
                }
                <div class="">
                    <button cButton color="default">
                        Knöbbe!!
                    </button>
                </div>

            </c-card-body>
        </c-card>
        <c-row class="mt-2 equal-height-row d-flex flex-wrap">
            <c-col md="12" xl="3">
                <c-card class="h-100">
                    <c-card-body>
                        <div class="fs-4 fw-semibold">
                            SYSTEM
                        </div>
                        <div>
                            Widget title
                        </div>
                        <br><br><br>
                        <small class="text-body-secondary ng-star-inserted"> Lorem ipsum dolor sit amet enim. </small>
                    </c-card-body>
                </c-card>

            </c-col>
            <c-col md="12" xl="3">
                <c-card class="h-100">
                    <c-card-body>
                        <div class="fs-4 fw-semibold">
                            SYSTEM
                        </div>
                        <div class="ng-star-inserted">Widget title</div>
                        <br><br><br>
                        <small class="text-body-secondary"> Lorem ipsum dolor sit amet enim. </small>
                    </c-card-body>
                </c-card>
            </c-col>
            <c-col md="12" xl="3">
                <c-card class="h-100">
                    <c-card-body>
                        <div class="fs-4 fw-semibold">CPU (%)</div>
                        <div class="ng-star-inserted">Widget title</div>
                        <br><br><br>

                        <c-progress class="my-2" thin [value]="12" color="success"/>
                        <small class="text-body-secondary"> Lorem ipsum dolor sit amet enim. </small>

                    </c-card-body>
                </c-card>
            </c-col>
            <c-col md="12" xl="3">
                <c-card class="h-100">
                    <c-card-body>
                        <div class="fs-4 fw-semibold">CPU (%)</div>
                        <div class="ng-star-inserted">Widget title</div>
                        <br><br><br>

                        <c-progress class="my-2" thin [value]="12" color="success"/>
                        <small class="text-body-secondary"> Lorem ipsum dolor sit amet enim. </small>
                    </c-card-body>
                </c-card>
            </c-col>
        </c-row>
    }
</ng-container>
