<ng-container *transloco="let t">
    <nav aria-label="breadcrumb" class="mt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a [routerLink]="['/']">
                    <fa-icon [icon]="['fas', 'home']"></fa-icon>
                    {{ t('Home') }}
                </a></li>
            <li class="breadcrumb-item">
                <a *oitcPermission="['agentconnector', 'wizard']" [routerLink]="['/', 'agentconnector', 'wizard']">
                    <fa-icon [icon]="['fas', 'user-secret']"></fa-icon>
                    {{ t('openITCOCKPIT Agent') }}
                </a>
            </li>
            <li aria-current="page" class="breadcrumb-item active">
                <fa-icon [icon]="['fas', 'wand-magic-sparkles']"></fa-icon>
                {{ t('Wizard') }}
            </li>
        </ol>
    </nav>

    <c-card class="mb-3">
        <c-card-header>
            <h5 cCardTitle>{{ t('openITCOCKPIT Agent Configuration for:') }}
                <small class="fw-300" *ngIf="host">
                    {{ host.name }} ({{ host.address }})
                </small>
            </h5>

        </c-card-header>

        <c-card-body class="p-0">
            <oitc-agentconnector-wizard-progressbar
                [stepCount]="3"
                [step]="AgentconnectorWizardStepsEnum.InstallAgent"
                [mode]="agentModeForProgress"
                [disableBack]="false"
                (goBackEvent)="onBackButtonClick()"
                [disableNext]="false"
                (goNextEvent)="onNextButtonClick()"
            ></oitc-agentconnector-wizard-progressbar>
        </c-card-body>

        <oitc-block-loader *ngIf="!config" class="p-2"></oitc-block-loader>
        <c-card-body *ngIf="config">

            <c-row>
                <c-col [xs]="12">
                    <c-card>
                        <c-card-body>
                            <fieldset>
                                <legend class="fs-md fieldset-legend-border-bottom mt-1">
                                    <h4>
                                        1.
                                        {{ t('Download and install openITCOCKPIT Monitoring Agent ') }}
                                    </h4>
                                </legend>
                                <div>

                                    <div class="alert border-faded bg-transparent text-secondary">
                                        <div class="d-flex align-items-center">
                                            <div class="alert-icon me-2">
                                                <span class="icon-stack icon-stack-md">
                                                    <i class="base-circle icon-stack-3x text-cyan-500"></i>
                                                    <i class="fas fa-user-secret icon-stack-1x text-white"></i>
                                                </span>
                                            </div>
                                            <div class="flex-1">
                                                <span class="h5 text-cyan-500">
                                                    {{ t('Download and install the openITCOCKPIT Monitoring Agent.') }}
                                                </span>
                                                <br>
                                                {{ t('If not already done, please download and install the openITCOCKPIT Agent now.') }}
                                            </div>

                                            <a class="btn btn-outline-info btn-sm ripple"
                                               href="https://openitcockpit.io/download_agent"
                                               target="_blank">
                                                <fa-icon [icon]="['fas', 'download']"></fa-icon>
                                                {{ t('Download Agent') }}
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </fieldset>
                        </c-card-body>
                    </c-card>
                </c-col>
            </c-row>

            <c-row class="pt-4">
                <c-col [xs]="12" [sm]="12" [md]="12" [lg]="6" class="d-flex">
                    <c-card class="flex-1">
                        <c-card-body class="flex-1">
                            <fieldset>
                                <legend class="fs-md fieldset-legend-border-bottom mt-1">
                                    <h4>
                                        2.
                                        {{ t('Configuration file/s for the openITCOCKPIT Monitoring Agent') }}
                                    </h4>
                                </legend>
                                <div>

                                    {{ t('After the installation process is completed you should replace the default openITCOCKPIT Agent configuration with the recently generated configuration.') }}
                                    <br>
                                    {{ t('Copy and paste the shown configuration file to') }}
                                    <code
                                        *ngIf="config.string.operating_system === AgentconnectorOperatingSystems.Windows">{{ t('C:\Program Files\it-novum\openitcockpit-agent\config.ini') }}</code>
                                    <code
                                        *ngIf="config.string.operating_system === AgentconnectorOperatingSystems.Linux">{{ t('/etc/openitcockpit-agent/config.ini') }}</code>
                                    <code
                                        *ngIf="config.string.operating_system === AgentconnectorOperatingSystems.Macos">{{ t('/Applications/openitcockpit-agent/config.ini') }}</code>

                                    <textarea class="form-control code-font mt-3" readonly
                                              [ngModel]="configAsIni"
                                              name="config_as_ini"
                                              id="config_as_ini"
                                              style="min-height: 580px; width: 100%;"></textarea>

                                </div>
                            </fieldset>
                        </c-card-body>
                    </c-card>
                </c-col>

                <c-col [xs]="12" [sm]="12" [md]="12" [lg]="6" class="d-flex">
                    <c-card class="flex-1">
                        <c-card-body class="flex-1">
                            <fieldset>
                                <legend class="fs-md fieldset-legend-border-bottom mt-1">
                                    <h4>
                                        3.
                                        {{ t(' Restart openITCOCKPIT Agent ') }}
                                    </h4>
                                </legend>
                                <div>

                                    <c-row>
                                        <c-col [xs]="12" class="mb-2">
                                            {{ t('To enable the new configuration a restart of the openITCOCKPIT Agent is required.') }}
                                        </c-col>

                                        <c-col [xs]="12" class="mb-2"
                                               *ngIf="config.string.operating_system === AgentconnectorOperatingSystems.Windows">
                                            {{ t('Run as administrator (via cmd.exe)') }}
                                            <code>{{ t('sc stop openITCOCKPITAgent && sc start openITCOCKPITAgent') }}</code>
                                        </c-col>

                                        <c-col [xs]="12" class="mb-2"
                                               *ngIf="config.string.operating_system === AgentconnectorOperatingSystems.Linux">
                                            <code>{{ t('sudo systemctl restart openitcockpit-agent.service') }}</code>
                                        </c-col>

                                        <c-col [xs]="12" class="mb-2"
                                               *ngIf="config.string.operating_system === AgentconnectorOperatingSystems.Macos">
                                            <code>{{ t('sudo /bin/launchctl stop com.it-novum.openitcockpit.agent') }}</code>
                                            <br><br>
                                            <code>{{ t('sudo /bin/launchctl start com.it-novum.openitcockpit.agent') }}</code>
                                        </c-col>
                                    </c-row>
                                </div>
                            </fieldset>
                        </c-card-body>
                    </c-card>
                </c-col>
            </c-row>


        </c-card-body>
    </c-card>
</ng-container>
