<ng-container *transloco="let t">
    <c-row *ngIf="showOnlineOffline">
        <c-col [xs]="12">
            <sup>
                <small>
                    <oitc-online-offline [isOnline]="isOnline"></oitc-online-offline>
                </small>
            </sup>
        </c-col>
    </c-row>

    <c-row *ngIf="dependencyTree" id="fullscreenDependencyTree">
        <c-col [xs]="12">

            <c-row class="fieldset-legend-border-bottom">
                <c-col [xs]="12" [md]="6" [lg]="8" class="h6 p-2">
                    {{ t('Elements impacted by:') }}
                    <span class="fw-300 text-primary">
                        <i>{{ name }}</i>
                    </span>
                </c-col>
                <c-col [xs]="12" [md]="6" [lg]="4" class="text-end">
                    <button cButton class="ripple" color="default"
                            (click)="load()"
                            size="xs">
                        <fa-icon [icon]="['fas', 'refresh']"></fa-icon>
                        {{ t('Refresh') }}
                    </button>
                    <button cButton class="ripple ms-1" color="success"
                            (click)="toggleFullscreenMode()"
                            size="xs">
                        <fa-icon [icon]="['fas', 'expand-arrows-alt']"
                                 [title]="'Toggle full screen mode' |transloco"></fa-icon>
                    </button>
                </c-col>
            </c-row>


        </c-col>

    </c-row>

    <c-row>
        <c-col xs="12" *ngIf="showProgressbar">
            <c-progress [value]="progress" class="m-3">{{ progress | number: '1.0-0' }}%</c-progress>
        </c-col>
        <c-col xs="12" id="dependencyTreeOverview"></c-col>
    </c-row>


    <c-toaster [placement]="'top-end'" class="p-3" position="fixed">
        <c-toast #toast="cToast"
                 (timer)="onToastTimerChange($event)"
                 (visibleChange)="onToastVisibleChange($event)"
                 [visible]="toastVisible"
                 [delay]="5000"
                 class="align-items-center">
            <div class="d-flex">
                <c-toast-header>
                    <c-progress thin>
                        <c-progress-bar [value]="toastPercentage"></c-progress-bar>
                    </c-progress>
                </c-toast-header>
                <c-toast-body>
                    <span>Hello, world! This is a toast message.</span>

                    <div *ngIf="hostSummaryState">
                        <span class="ok">Das ist ein Host</span>
                        {{ hostSummaryState|json }}
                    </div>

                    <div *ngIf="hostgroupSummeryState">
                        <span class="text-primary">Das ist eine Hostgruppe</span>
                        {{ hostgroupSummeryState|json }}
                    </div>

                    <div *ngIf="!hostSummaryState && !hostgroupSummeryState">
                        <span class="text-danger">Weder host noch hostgruppe</span>
                    </div>


                    <c-progress thin>
                        <c-progress-bar [value]="toastPercentage"></c-progress-bar>
                    </c-progress>

                </c-toast-body>
                <button aria-label="close" cButtonClose class="me-2 m-auto" (click)="toast.visible=false"></button>
            </div>
        </c-toast>
    </c-toaster>

</ng-container>
