<ng-container  *transloco="let t">
<fa-icon [icon]="['far', 'lightbulb']"
         [ngClass]="{'default' : !light, 'warning': light}"
         [cPopover]="popoverHtml"
         cPopoverPlacement="left"
         [cPopoverTrigger]="'hover'"
         (mouseenter)="lightSwitch()"
         (mouseleave)="lightSwitch()"
         class="ms-1">
<ng-template #popoverHtml>
    <div class="custom-width">
        <h3 class="popover-header">
            {{ t('RegEx Examples') }}
        </h3>
        <c-container class="popover-body">
            <c-row class="mb-1 nav-underline-border">
            <!--<div class=" row bordered font-xs border-bottom padding-bottom-5">-->
                <div class="col col-lg-1 bg-primary bold text-white rounded text-nowrap">.*</div>
                <div class="col col-lg-3 text-nowrap"><span class="bold text-primary">localhost</span></div>
                <div class="col-md-auto">{{ t('Match anything regex') }}</div>
            <!--</div>-->
            </c-row>
            <c-row class="mb-1 nav-underline-border">
            <!--<div class="row bordered font-xs border-bottom padding-bottom-5">-->
                <div class="col col-lg-1 bg-primary bold text-white rounded">.</div>
                <div class="col col-lg-3 text-nowrap">local<span class="bold text-primary">.</span>ost</div>
                <div class="col-md-auto">{{ t('Match any character') }}</div>
            <!--</div>-->
            </c-row>
            <c-row class="mb-1 nav-underline-border">
            <!--<div class="row bordered font-xs border-bottom padding-bottom-5">-->
                <div class="col col-lg-1 bg-primary bold text-white rounded">^</div>
                <div class="col col-lg-3 text-nowrap"><span class="bold text-primary">^</span>ocalhost</div>
                <div class="col-md-auto">{{ t('Match the beginning of a string') }}</div>
            <!--</div>-->
            </c-row>
            <c-row class="mb-1 nav-underline-border">
            <!--<div class="row bordered font-xs border-bottom padding-bottom-5">-->
                <div class="col col-lg-1 bg-primary bold text-white rounded">$</div>
                <div class="col col-lg-3 text-nowrap">localhos<span class="bold text-primary">$</span></div>
                <div class="col-md-auto">{{ t('Match the end of a string') }}</div>
            <!--</div>-->
            </c-row>
            <c-row class="mb-1 nav-underline-border">
            <!--<div class="row bordered font-xs padding-bottom-5">-->
                <div class="col col-lg-1 bg-primary bold text-white rounded">|</div>
                <div class="col col-lg-3 text-nowrap">wan<span class="bold text-primary">|</span>lan</div>
                <div class="col-md-auto">{{ t('Match either of the sequences') }}</div>
            <!--</div>-->
            </c-row>
        </c-container>
    </div>
</ng-template>

</fa-icon>
</ng-container>