.f-group {
    border-left: var(--cui-card-border-width) dashed var(--cui-card-border-color);
    border-right: var(--cui-card-border-width) dashed var(--cui-card-border-color);
}

.f-group-error {
    background-color: var(--cui-danger-bg-subtle);
    border: 2px solid var(--cui-danger-border-subtle);
    border-radius: var(--cui-border-radius);
}


.f-node, .f-group {
    position: relative;
    padding: 0;
    text-align: left;
}

.with-padding {
    padding: 0;
}

.title {
    padding: 4px 12px;
}


