<!-- Docs: https://flow.foblex.com/ -->
<f-flow fDraggable (fLoaded)="onLoaded()" class="h-100">
    <f-canvas fZoom>
        @for (connection of connections; track connection.id) {
            <f-connection [fOffset]="8" [fOutputId]="connection.from" [fInputId]="connection.to"
                          [fSelectionDisabled]="true"
                          [fReassignDisabled]="true"
                          fType="segment"
                          fBehavior="fixed">


            </f-connection>
        }
        @for (group of groups; track group.id) {
            <div fGroup fGroupId="group.id" class="with-padding"
                 [fGroupSize]="{ width: group.fGroupSize.width, height: group.fGroupSize.height }"
                 [fGroupPosition]="{ x: group.fGroupPosition.x, y: group.fGroupPosition.y }">
                <div class="title">
                    <button cButton class="ripple w-100 text-center" color="success" type="button"
                            (click)="toggleVServiceModalFunc(group.layerIndex, 'add')">
                        <fa-icon [icon]="['fas', 'gear']"></fa-icon>
                        <ng-container *transloco="let t">
                            {{ t('New vService') }}
                        </ng-container>
                    </button>
                </div>
            </div>
        }

        @for (node of nodes; track node.id) {
            <!-- vService Node -->
            <div fNode class="evc-service-container"
                 [ngClass]="{'evc-service-ok': node.evcNode.service?.servicestatus?.currentState === 0,'evc-service-warning': node.evcNode.service?.servicestatus?.currentState === 1,'evc-service-critical': node.evcNode.service?.servicestatus?.currentState === 2,'evc-service-unknown': node.evcNode.service?.servicestatus?.currentState === 3, 'evc-operator-container': node.evcNode.type === 'operator' }"
                 [fNodePosition]="node.position"
                 fNodeParentId="node.groupId"
                 fNodeOutput [fOutputId]="node.connectorId"
                 [fOutputConnectableSide]="configuration.outputSide"
                 fNodeInput [fInputId]="node.connectorId"
                 [fInputConnectableSide]="configuration.inputSide">

                <!-- We can not have an if or ngIf here or on fNode  -->

                @if (node.evcNode.type === 'service') {
                    <div class="service-node">
                        <!-- vService container -->

                        <!-- Disable Badge -->
                        @if (node.evcNode.service?.disabled) {
                            <span
                                class="position-absolute top-0 start-0 translate-middle badge rounded-pill"
                                [ngClass]="{'bg-ok':stateForDisabledService() == 0,'bg-warning':stateForDisabledService() == 1,'bg-critical':stateForDisabledService() == 2,'bg-unknown':stateForDisabledService() == 3}">
                                <fa-icon [icon]="['fas', 'plug']" size="lg"
                                         [cTooltip]="disabledStateTitle"
                                         cTooltipPlacement="top"></fa-icon>
                            </span>
                        }

                        <c-row *ngIf="node.evcNode.service" class="m-0">
                            <c-col [xs]="12" class="text-truncate p-0 ps-1 evc-tree-hostname"
                                   [ngClass]="{'text-muted':node.evcNode.service?.disabled}"
                                   [cTooltip]="node.evcNode.service.host.name" cTooltipPlacement="top">
                                <fa-icon [icon]="['fas', 'desktop']"></fa-icon>
                                {{ node.evcNode.service.host.name }}
                            </c-col>
                            <c-col [xs]="12" class="text-truncate p-0 ps-1"
                                   [cTooltip]="node.evcNode.service.servicename " cTooltipPlacement="top"
                                   [ngClass]="{'text-muted':node.evcNode.service?.disabled}">
                                <fa-icon [icon]="['fas', 'cog']"
                                         *ngIf="node.evcNode.service.service_type !== ServiceTypesEnum.EVK_SERVICE"></fa-icon>
                                <fa-icon [icon]="['fas', 'sitemap']" [rotate]="90"
                                         *ngIf="node.evcNode.service.service_type === ServiceTypesEnum.EVK_SERVICE"
                                         class="text-primary"></fa-icon>
                                {{ node.evcNode.service.servicename }}
                            </c-col>
                        </c-row>
                    </div>
                }

                @if (node.evcNode.type === 'operator') {
                    <!-- Operator container -->
                    <div class="operator-node">
                        <div class="d-flex align-items-center h-100">
                            <fa-icon [icon]="['fas', 'microchip']" class="evc-operator-icon ps-1"></fa-icon>

                            <div class="flex-1 text-center">
                                {{ node.evcNode.operator }}
                            </div>
                        </div>
                    </div>
                }

            </div>


        }
    </f-canvas>
    <f-minimap [fMinSize]="2000"></f-minimap>
</f-flow>
