@use "../../../../assets/evc_flow";
@use "../../../../assets/eventcorrelation_module.scss";

.f-group {
    border-left: var(--cui-card-border-width) dashed var(--cui-card-border-color);
    border-right: var(--cui-card-border-width) dashed var(--cui-card-border-color);
}

.f-group-error {
    background-color: var(--cui-danger-bg-subtle);
    border: 2px solid var(--cui-danger-border-subtle);
    border-radius: var(--cui-border-radius);
}


.f-node, .f-group {
    position: relative;
    padding: 0;
    text-align: left;
}

.with-padding {
    padding: 0;
}

.title {
    padding: 4px 12px;
}


.gradient-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #0000;
    background: linear-gradient(var(--node-background-color), var(--node-background-color)) padding-box, conic-gradient(
            from var(--angle) at 50% 50%,
            #f7ff0a, #ffac1d, #ff833a, #ff5b50, #cd1371, #a50479
    ) border-box;
    animation: 4s rotate linear infinite;
}

@keyframes rotate {
    to {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
