<ng-container *transloco="let t">
    <div class="d-flex h-100 flex-column" #boxContainer>
        <div>
            <div>
                <button class="btn btn-default ripple mb-2 btn-xs px-2" type="button" (click)="flipped.set(!flipped())"
                        *ngIf="!isReadonly()">
                    @if (flipped()) {
                        <fa-icon [icon]="['fas', 'eye']"></fa-icon>
                    } @else {
                        <fa-icon [icon]="['fas', 'cog']"></fa-icon>
                    }
                </button>
            </div>
        </div>

        <div [@flip]="flipped()" (@flip.done)="onAnimationDone($event)" (@flip.start)="onAnimationStart($event)"
             class="box-container">
            <div class="box-x">
                <ng-container *ngIf="animationStateShowContent">
                    <!-- Widget Content -->
                    <div class="text-break" [innerHTML]="htmlContent | trustAsHtml"></div>
                    <!-- End Widget Content -->
                </ng-container>
            </div>

            <div class="box-x">
                <ng-container *ngIf="animationStateShowConfig">
                    <!-- Config area -->
                    @if (config && widget) {

                        <div>
                            <label cLabel [for]="'notice_content_'+widget.id">
                                <fa-icon [icon]="['fas', 'code']" class="text-primary"></fa-icon>
                                {{ t('Insert text, html or markdown code') }}
                            </label>
                            <textarea cFormControl
                                      [style.height.px]="textareaHeight"
                                      [attr.id]="'notice_content_'+widget.id"
                                      [name]="'notice_content_'+widget.id"
                                      class="code-font"
                                      [(ngModel)]="config.note"
                                      maxlength="4000"
                                      rows="6"></textarea>
                        </div>
                        <div class="mt-1 text-end">
                            <button cButton type="button" class="ripple" (click)="saveConfig()">
                                {{ t('Save') }}
                            </button>
                        </div>

                    }
                    <!-- End Config area -->
                </ng-container>
            </div>
        </div>
    </div>

</ng-container>
