<oitc-coreui>
    <ng-container *transloco="let t">
        <nav aria-label="breadcrumb" class="mt-3">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a [routerLink]="['/']">
                        <fa-icon [icon]="['fas', 'home']"></fa-icon>
                        {{ t('Home') }}
                    </a></li>
                <li class="breadcrumb-item">
                    <a [routerLink]="['/', 'profile', 'edit']">
                        <fa-icon [icon]="['fas', 'user']"></fa-icon>
                        {{ t('Profile') }}
                    </a>
                </li>
                <li aria-current="page" class="breadcrumb-item active">
                    <fa-icon [icon]="['fas', 'pencil']"></fa-icon>
                    {{ t('Edit') }}
                </li>
            </ol>
        </nav>
        <c-card class="mb-3" *ngIf="UserPost">
            <c-card-header>
                <h5 cCardTitle>{{ t('Profile') }}
                    <small class="fw-300">
                        {{ t('information') }}
                    </small>
                </h5>
            </c-card-header>
            <c-card-body>

                <div class="mb-3">
                    <label cLabel for="firstname">
                        {{ t('First name') }}
                        <oitc-required-icon></oitc-required-icon>
                    </label>
                    <input cFormControl id="firstname" required type="text"
                           name="firstname"
                           oitcFormError [errors]="UserErrors" errorField="firstname"
                           [disabled]="isLdapUser"
                           [(ngModel)]="UserPost.firstname">
                    <oitc-form-feedback [errors]="UserErrors" errorField="firstname"></oitc-form-feedback>
                    <div class="help-block" *ngIf="isLdapUser">
                        {{ t('Value imported from LDAP Server') }}
                    </div>
                </div>

                <div class="mb-3">
                    <label cLabel for="lastname">
                        {{ t('Last name') }}
                        <oitc-required-icon></oitc-required-icon>
                    </label>
                    <input cFormControl id="lastname" required type="text"
                           name="lastname"
                           oitcFormError [errors]="UserErrors" errorField="lastname"
                           [disabled]="isLdapUser"
                           [(ngModel)]="UserPost.lastname">
                    <oitc-form-feedback [errors]="UserErrors" errorField="lastname"></oitc-form-feedback>
                    <div class="help-block" *ngIf="isLdapUser">
                        {{ t('Value imported from LDAP Server') }}
                    </div>
                </div>

                <div class="mb-3" *ngIf="isLdapUser">
                    <label cLabel for="samaccountname">
                        {{ t('SAM-Account-Name') }}
                        <oitc-required-icon></oitc-required-icon>
                    </label>
                    <input cFormControl id="samaccountname" required type="text"
                           name="samaccountname"
                           oitcFormError [errors]="UserErrors" errorField="samaccountname"
                           [(ngModel)]="UserPost.samaccountname"
                           disabled>
                    <oitc-form-feedback [errors]="UserErrors" errorField="samaccountname"></oitc-form-feedback>
                    <div class="help-block">
                        {{ t('Username for the login') }}
                    </div>
                </div>

                <div class="mb-3">
                    <label cLabel for="Emailaddress">
                        {{ t('Email address') }}
                        <oitc-required-icon></oitc-required-icon>
                    </label>
                    <input cFormControl id="Emailaddress" required type="email"
                           name="Emailaddress"
                           oitcFormError [errors]="UserErrors" errorField="email"
                           [disabled]="isLdapUser"
                           [(ngModel)]="UserPost.email">
                    <oitc-form-feedback [errors]="UserErrors" errorField="email"></oitc-form-feedback>
                    <div class="help-block" *ngIf="isLdapUser">
                        {{ t('Value imported from LDAP Server') }}
                    </div>
                </div>

                <div class="mb-3">
                    <label cLabel for="PhoneNumber">
                        {{ t('Phone Number') }}
                    </label>
                    <input cFormControl id="PhoneNumber" type="text"
                           name="PhoneNumber"
                           oitcFormError [errors]="UserErrors" errorField="phone"
                           [(ngModel)]="UserPost.phone">
                    <oitc-form-feedback [errors]="UserErrors" errorField="phone"></oitc-form-feedback>
                </div>

                <hr class="border-dashed">

                <div class="mb-3">
                    <c-form-check>
                        <input
                            cFormCheckInput
                            id="showstatsinmenu"
                            name="showstatsinmenu"
                            type="checkbox"
                            trueFalseValue
                            [trueValue]="1"
                            [falseValue]="0"
                            [(ngModel)]="UserPost.showstatsinmenu"/>
                        <label cFormCheckLabel
                               for="showstatsinmenu">{{ t('Show status badges in menu') }}</label>
                    </c-form-check>
                </div>

                <div class="mb-3">
                    <c-form-check>
                        <input
                            cFormCheckInput
                            id="RecursiveBrowser"
                            name="RecursiveBrowser"
                            type="checkbox"
                            trueFalseValue
                            [trueValue]="1"
                            [falseValue]="0"
                            [(ngModel)]="UserPost.recursive_browser"/>
                        <label cFormCheckLabel
                               for="RecursiveBrowser">{{ t('Recursive Browser') }}</label>
                    </c-form-check>
                </div>

                <div class="mb-3">
                    <label cLabel for="paginatorlength">
                        {{ t('Length of lists') }}
                        <oitc-required-icon></oitc-required-icon>
                    </label>
                    <input cFormControl id="paginatorlength" required type="number"
                           min="1"
                           max="1000"
                           name="paginatorlength"
                           oitcFormError [errors]="UserErrors" errorField="paginatorlength"
                           [(ngModel)]="UserPost.paginatorlength">
                    <oitc-form-feedback [errors]="UserErrors" errorField="paginatorlength"></oitc-form-feedback>
                    <div class="help-block">
                        {{ t('This value defines how many records will load per list. You can choose between 1 and 1000') }}
                    </div>
                </div>

                <hr class="border-dashed">

                <div class="mb-3">
                    <label cLabel for="language">
                        {{ t('Language') }}
                        <oitc-required-icon></oitc-required-icon>
                    </label>
                    <ng-select id="language"
                               name="language"
                               [clearable]="false"
                               [(ngModel)]="UserPost.i18n"
                               oitcFormError [errors]="UserErrors" errorField="i18n">
                        <ng-option *ngFor="let locale of localeOptions" [value]="locale.i18n">
                            {{ locale.name }}
                        </ng-option>
                    </ng-select>
                    <oitc-form-feedback [errors]="UserErrors" errorField="i18n"></oitc-form-feedback>
                    <div class="help-block">
                        {{ t('These options are community translations. Feel free to extend them and open a github pull request.') }}
                    </div>
                </div>

                <div class="mb-3">
                    <label cLabel for="UserDateformat">
                        {{ t('Date format') }}
                        <oitc-required-icon></oitc-required-icon>
                    </label>
                    <ng-select id="UserDateformat"
                               name="UserDateformat"
                               [clearable]="false"
                               [(ngModel)]="UserPost.dateformat"
                               oitcFormError [errors]="UserErrors" errorField="dateformat">
                        <ng-option *ngFor="let dateformat of dateformates" [value]="dateformat.key">
                            {{ dateformat.value }}
                        </ng-option>
                    </ng-select>
                    <oitc-form-feedback [errors]="UserErrors" errorField="dateformat"></oitc-form-feedback>
                </div>

            </c-card-body>
            <c-card-footer>
                footer
            </c-card-footer>
        </c-card>
    </ng-container>

</oitc-coreui>
