<!--
appendTo=body is used to fix a bug where the dropdown closes when you scroll the body or reach the end of the dropdown list
https://stackoverflow.com/a/74795986

Alternative solution in case this makes any trouble:
https://stackoverflow.com/a/76688561
-->

<!--
Until our pull request gets merged https://github.com/primefaces/primeng/pull/18078
appendPreviouslySelected is provided by our custom patched multi select component
-->

<p-multiSelect
    #multiSelectOptgroup
    [attr.id]="id"
    [name]="String(name)"
    [options]="options"
    [filter]="filter"
    [optionValue]="optionValue"
    [optionLabel]="optionLabel"
    [class]="class"
    [placeholder]="placeholder"
    [filterPlaceHolder]="filterPlaceHolder"
    (onChange)="triggerOnChange($event)"
    [maxSelectedLabels]="null"
    [display]="display"
    [disabled]="disabled"
    [(ngModel)]="ngModel"
    (ngModelChange)="ngModelChange.emit($event)"
    (onFilter)="doHighlightSearch($event.filter)"
    [showClear]="showClear"
    [appendTo]="appendTo"
    [autofocusFilter]="true"
    (onPanelShow)="onShow($event)">
    <ng-template let-item pTemplate="item">
        <div [innerHTML]="item | highlightSearch : this.searchText:this.optionLabel"></div>
    </ng-template>
</p-multiSelect>
