@use "sass:color";

.business-criticity-low {
    background-image: linear-gradient(180deg, rgba(114, 123, 132, 0.2) 70%, rgba(0, 200, 81, 0.7) 70%, rgba(0, 200, 81, 1.0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.business-criticity-medium {
    background-image: linear-gradient(180deg, rgba(114, 123, 132, 0.2) 40%, rgba(255, 187, 51, 0.7) 40%, rgba(255, 187, 51, 1.0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.business-criticity-high {
    background-image: linear-gradient(180deg, rgba(204, 0, 0, 0.7), rgba(204, 0, 0, 1.0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.status-implementation {
    /*
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    */
    color: white;
    background: radial-gradient(at 80% 72%, rgba(0, 200, 81, 1.0) 0%, rgba(0, 200, 81, 1.0) 30%, #4285F4 33%, #7DACF5 100%);

}

.status-stock {
    background-image: radial-gradient(at bottom left, rgb(13, 8, 96) 0%, rgb(6, 84, 170) 50%, #7DACF5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.status-production {
    background-image: radial-gradient(at 80% 72%, rgba(0, 200, 81, 1.0) 0%, rgba(0, 200, 81, 1.0) 30%, #4285F4 33%, #7DACF5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.status-obsolete {
    background-image: radial-gradient(at 80% 72%, rgba(204, 0, 0, 1.0) 0%, rgba(204, 0, 0, 1.0) 30%, #4285F4 33%, rgb(0, 159, 255) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.iTop-class-label {
    letter-spacing: 7px;
}

.text-primary-light {
    color: color.adjust($primary, $lightness: 10%, $space: hsl);
}

.white-glow {
    /*
    filter: drop-shadow(0px 3px 3px rgba(255, 0, 0, 0.4));

     */
}
