<div class="code-font">
    {{ connections | json }}
</div>

<div class="oc-wrapper">
    <oitc-nodes-palette></oitc-nodes-palette>
    <f-flow fDraggable class="oc-flow"
            (fLoaded)="onInitialized()"
            (fReassignConnection)="onReassignConnection($event)"
            (fCreateConnection)="onConnectionAdded($event)"
            (fCreateNode)="onNodeAdded($event)">

        <f-background>
            <f-circle-pattern></f-circle-pattern>
        </f-background>

        <f-line-alignment></f-line-alignment>
        <f-canvas fZoom>


            <f-connection-for-create [fType]="EFConnectionType.SEGMENT">
                <svg id="normal_end" viewBox="0 0 700 700" fMarker [type]="eMarkerType.END" [height]="5" [width]="5"
                     [refX]="4"
                     [refY]="2.5">
                    <path d="M0,0L700,350L0,700L150,350z"/>
                </svg>
            </f-connection-for-create>

            @for (connection of connections(); track connection.id) {
                <f-connection
                    [fOffset]="20"
                    [fBehavior]="EFConnectionBehavior.FIXED"
                    [fType]="EFConnectionType.SEGMENT"
                    [fConnectionId]="String(connection.id)"
                    [fOutputId]="connection.organizational_chart_output_node_id"
                    [fInputId]="connection.organizational_chart_input_node_id">

                    <svg id="normal_end" viewBox="0 0 700 700" fMarker [type]="eMarkerType.END" [height]="5"
                         [width]="5"
                         [refX]="4" [refY]="2.5">
                        <path d="M0,0L700,350L0,700L150,350z"/>
                    </svg>

                    <svg id="selected_end" viewBox="0 0 700 700" fMarker [type]="eMarkerType.SELECTED_END"
                         [height]="5"
                         [width]="5" [refX]="4" [refY]="2.5">
                        <path d="M0,0L700,350L0,700L150,350z"/>
                    </svg>

                </f-connection>
            }


            @for (node of nodes; track node.fNodeId; ) {
                <oitc-tenant-node [node]="node"
                                  class="oc-tenant-node"
                                  [ngClass]="{'oc-node-error': (nodeValidationErrors[$index] || false)}"
                                  [fNodeId]="String(node.node.id)"
                                  fNode
                                  fNodeInput
                                  [fInputId]="node.node.id"
                                  [fInputMultiple]="true"
                                  [fNodePosition]="node.position"
                                  (fNodePositionChange)="onNodePositionChanged($event, node)"
                                  [connectionsInput]="connections()"
                                  (deleteConnection)="onRemoveConnection($event)"
                                  (editNode)="onEditNode($event)">
                </oitc-tenant-node>
            }
        </f-canvas>

        <f-selection-area></f-selection-area>

        <!-- Wrap this component in a card to make sure that the CoreUi CSS variables for the minimap are applied -->
        <f-minimap [fMinSize]="1000"></f-minimap>

    </f-flow>
</div>

<ng-container *transloco="let t">

    <!-- Edit Node Modal -->
    <c-modal #ocNodeEditModal
             [keyboard]="true"
             [id]="'ocNodeEditModal'"
             [size]="'lg'">
        <c-modal-header>
            <h5 cModalTitle>Modal title</h5>
            <button [cModalToggle]="ocNodeEditModal.id" cButtonClose></button>
        </c-modal-header>
        <c-modal-body>


            @if (currentNodeForModal) {


                <div class="mb-3">
                    <label cLabel for="container">
                        {{ t('Tenant') }}
                        <oitc-required-icon></oitc-required-icon>
                    </label>

                    <oitc-select
                        name="modalTenantSelect"
                        id="modalTenantSelect"
                        optionValue="key"
                        optionLabel="path"
                        [(ngModel)]="currentNodeForModal.node.container_id"
                        [options]="modalTenants"
                        [appendTo]="''"
                        oitcFormError [errors]="errors" errorField="container_id">
                    </oitc-select>
                    <oitc-form-feedback [errors]="errors" errorField="container_id"></oitc-form-feedback>
                </div>


                <input type="number" [(ngModel)]="currentNodeForModal.node.container_id"/>

                <button type="button" (click)="onUpdateNodeModal()">Save</button>
            }

        </c-modal-body>
        <c-modal-footer>
            <button [cModalToggle]="ocNodeEditModal.id" cButton color="secondary" class="ripple">
                Close
            </button>
            <button cButton color="primary" class="ripple" (click)="onUpdateNodeModal()">
                {{ t('Save') }}
            </button>
        </c-modal-footer>
    </c-modal>
</ng-container>
