<div class="oc-wrapper">
    <oitc-nodes-palette></oitc-nodes-palette>
    <f-flow fDraggable class="oc-flow"
            (fLoaded)="onInitialized()"
            (fReassignConnection)="onReassignConnection($event)"
            (fCreateConnection)="onConnectionAdded($event)"
            (fCreateNode)="onNodeAdded($event)">

        <f-background>
            <f-circle-pattern></f-circle-pattern>
        </f-background>

        <f-line-alignment></f-line-alignment>
        <f-canvas fZoom>
            <f-connection-for-create fBehavior="floating" fType="straight">
                <svg viewBox="0 0 10 10" fMarker [type]="eMarkerType.START" [height]="10" [width]="10" [refX]="5"
                     [refY]="5">
                    <circle cx="5" cy="5" r="2" stroke="none" fill="var(--cui-primary)"></circle>
                </svg>
                <svg viewBox="0 0 6 6" fMarker [type]="eMarkerType.END" [height]="6" [width]="6" [refX]="6" [refY]="3">
                    <path d="M0,0 L6,3 0,6Z" stroke="none" fill="var(--cui-primary)"></path>
                </svg>
            </f-connection-for-create>

            @for (connection of connections; track connection.uuid) {
                <f-connection [fOutputId]="connection.fOutputId" [fInputId]="connection.fInputId">

                    <svg id="normal_end" viewBox="0 0 700 700" fMarker [type]="eMarkerType.END" [height]="5" [width]="5"
                         [refX]="4" [refY]="2.5">
                        <path d="M0,0L700,350L0,700L150,350z"/>
                    </svg>

                    <svg id="selected_end" viewBox="0 0 700 700" fMarker [type]="eMarkerType.SELECTED_END" [height]="5"
                         [width]="5" [refX]="4" [refY]="2.5">
                        <path d="M0,0L700,350L0,700L150,350z"/>
                    </svg>

                </f-connection>
            }


            @for (node of nodes; track node.fNodeId) {
                <oitc-tenant-node [node]="node"
                                  fNode
                                  fDragHandle
                                  fNodeOutput
                                  fNodeInput
                                  [fInputId]="'input_'+node.node.id"
                                  [fOutputId]="'output_'+node.node.id"
                                  [isSelfConnectable]="false"
                                  [fNodePosition]="node.position"
                                  (fNodePositionChange)="onNodePositionChanged($event, node)">
                </oitc-tenant-node>
            }
        </f-canvas>

        <f-selection-area></f-selection-area>

        <!-- Wrap this component in a card to make sure that the CoreUi CSS variables for the minimap are applied -->
        <f-minimap [fMinSize]="1000"></f-minimap>

    </f-flow>
</div>
