@if (!isViewMode()) {
  <div cdkDrag #container class="map-element-container"
    (cdkDragEnded)="onDragEnd($event)"
    (cdkDragMoved)="onDragMove($event)"
    cdkDragBoundary=".map-canvas">
    <img [src]="'/map_module/img/icons/' + item()?.icon"/>
  </div>
  @if (!isViewMode()) {
    <p-contextMenu [target]="container" [model]="contextMenuItems"
    appendTo="body"></p-contextMenu>
  }
} @else {
  <div #container class="map-element-container cursor-normal" [ngClass]="{'cursor-pointer': enablePointerCursor()}">
    <img [src]="'/map_module/img/icons/' + item()?.icon"/>
  </div>
}
