<ng-container *transloco="let t">
    <nav aria-label="breadcrumb" class="mt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a [routerLink]="['/']">
                    <fa-icon [icon]="['fas', 'home']"></fa-icon>
                    {{ t('Home') }}
                </a></li>
            <li class="breadcrumb-item">
                <a *oitcPermission="['users', 'index']" [routerLink]="['/', 'users', 'index']">
                    <fa-icon [icon]="['fas', 'user']"></fa-icon>
                    {{ t('Users') }}
                </a>
            </li>
            <li aria-current="page" class="breadcrumb-item active">
                <fa-icon [icon]="['fas', 'list']"></fa-icon>
                {{ t('Overview') }}
            </li>
        </ol>
    </nav>

    <c-card class="mb-3">
        <c-card-header>
            <h5 cCardTitle>{{ t('Users') }}
                <small class="fw-300">
                    {{ t('overview') }}
                </small>
            </h5>

            <c-nav class="card-toolbar card-header-pills">
                <c-nav-item class="px-1">
                    <button (click)="loadUsers()" cButton class="ripple" color="default" size="xs">
                        <fa-icon [icon]="['fas', 'arrows-rotate']"></fa-icon>
                        {{ t('Refresh') }}
                    </button>
                </c-nav-item>
                <c-nav-item class="px-1">
                    <button *oitcPermission="['users', 'add']" [routerLink]="['/', 'users', 'add']"
                            cButton
                            class="ripple"
                            color="success"
                            size="xs">
                        <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                        {{ t('New local user') }}
                    </button>
                </c-nav-item>
                <c-nav-item class="px-1" *oitcPermission="['users', 'add']">
                    <button *ngIf="users?.isLdapAuth" [routerLink]="['/', 'users', 'add']"
                            cButton
                            class="ripple"
                            color="warning"
                            size="xs">
                        <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                        {{ t('Import from LDAP') }}
                    </button>
                </c-nav-item>
                <c-nav-item class="px-1">
                    <button (click)="toggleFilter()" cButton class="ripple" color="primary" size="xs">
                        <fa-icon [icon]="['fas', 'filter']"></fa-icon>
                        {{ t('Filter') }}
                    </button>
                </c-nav-item>
            </c-nav>
        </c-card-header>

        <c-card-body>

            <!-- Filter -->
            <c-container [hidden]="hideFilter" class="shadow-sm p-2 mb-4 bg-body rounded" [fluid]="true">
                <c-row>
                    <c-col>
                        <h6 class="pb-2 mb-3 border-bottom">
                            <fa-icon [icon]="['fas', 'filter']"></fa-icon>
                            {{ t('Filter') }}
                        </h6>
                    </c-col>
                </c-row>
                <form cForm>
                    <c-row class="mt-2">
                        <c-col [xs]="12" [md]="6">
                            <c-input-group>
                                <span cInputGroupText>
                                    <fa-icon [icon]="['fas', 'filter']"></fa-icon>
                                </span>
                                <input (debouncedValue)="onFilterChange($event)"
                                       [(ngModel)]="params['filter[full_name]']"
                                       [placeholder]="'Filter by full name' | transloco"
                                       aria-label="Full Name"
                                       cFormControl
                                       name="full_name"
                                       oitcDebounce
                                       type="text"
                                />
                            </c-input-group>
                        </c-col>
                        <c-col [xs]="12" [md]="6">
                            <c-input-group>
                                <span cInputGroupText>
                                    <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
                                </span>
                                <input (debouncedValue)="onFilterChange($event)"
                                       [(ngModel)]="params['filter[Users.email]']"
                                       [placeholder]="'Filter by email' | transloco"
                                       aria-label="User email"
                                       cFormControl
                                       name="Users.email"
                                       oitcDebounce
                                       type="text"
                                />
                            </c-input-group>
                        </c-col>
                    </c-row>

                    <c-row class="mt-2">
                        <c-col [xs]="12" [md]="6">
                            <c-input-group>
                                <span cInputGroupText>
                                    <fa-icon [icon]="['fas', 'phone']"></fa-icon>
                                </span>
                                <input (debouncedValue)="onFilterChange($event)"
                                       [(ngModel)]="params['filter[Users.phone]']"
                                       [placeholder]="'Filter by phone' | transloco"
                                       aria-label="User phone"
                                       cFormControl
                                       name="Users.phone"
                                       oitcDebounce
                                       type="text"
                                />
                            </c-input-group>
                        </c-col>
                        <c-col [xs]="12" [md]="6">
                            <c-input-group>
                                <span cInputGroupText>
                                    <fa-icon [icon]="['fas', 'building']"></fa-icon>
                                </span>
                                <input (debouncedValue)="onFilterChange($event)"
                                       [(ngModel)]="params['filter[Users.company]']"
                                       [placeholder]="'Filter by company' | transloco"
                                       aria-label="User company"
                                       cFormControl
                                       name="Users.company"
                                       oitcDebounce
                                       type="text"
                                />
                            </c-input-group>
                        </c-col>
                    </c-row>

                    <c-row class="mt-2">
                        <c-col [xs]="12" class="mb-1 ui-fluid">
                            <c-input-group>
                                <span cInputGroupText>
                                    <fa-icon [icon]="['fas', 'users']"></fa-icon>
                                </span>

                                <oitc-multi-select
                                    name="filter.usergroup_id"
                                    id="filter.usergroup_id"
                                    optionValue="key"
                                    optionLabel="value"
                                    [(ngModel)]="params['filter[Users.usergroup_id][]']"
                                    [options]="usergroups"
                                    [debounce]="true"
                                    [placeholder]="'Filter by user role' | transloco"
                                    (onChange)="onFilterChange(null)">
                                </oitc-multi-select>
                            </c-input-group>
                        </c-col>
                    </c-row>
                    <c-row class="mt-2">
                        <c-col class="text-end">
                            <button (click)="resetFilter()" cButton class="ripple" color="danger" size="xs">
                                {{ t('Reset filter') }}
                            </button>
                        </c-col>
                    </c-row>
                </form>
            </c-container>
            <!-- End Filter -->

            <oitc-table-loader *ngIf="!users"></oitc-table-loader>
            <table *ngIf="users" bordered cTable class="mt-2 mb-0 table table-fit" hover striped matSort
                   (matSortChange)="onSortChange($event)"
                   [matSortActive]="params.sort" [matSortDirection]="params.direction">
                <thead>
                <tr>
                    <th class="width-50 text-center" scope="col">
                        <fa-icon [icon]="['fas', 'square-check']"></fa-icon>
                    </th>
                    <th scope="col" mat-sort-header="full_name" class="word-break">
                        {{ t('Full name') }}
                    </th>
                    <th scope="col" mat-sort-header="Users.email" class="word-break">
                        {{ t('Email') }}
                    </th>
                    <th scope="col" mat-sort-header="Users.phone">
                        {{ t('Phone') }}
                    </th>
                    <th scope="col" mat-sort-header="Users.company">
                        {{ t('Company') }}
                    </th>
                    <th scope="col" mat-sort-header="Users.is_active">
                        {{ t('Is active') }}
                    </th>
                    <th scope="col">
                        {{ t('Type') }}
                    </th>
                    <th scope="col" mat-sort-header="Users.usergroup_id">
                        {{ t('User role') }}
                    </th>
                    <th scope="col" mat-sort-header="Users.last_login">
                        {{ t('Last Login') }}
                    </th>
                    <th class="text-center width-50" scope="col">
                        <fa-icon [icon]="['fas', 'gear']"></fa-icon>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let user of users.all_users">
                    <td class="text-center">
                        @if (user.id !== users.myUserId) {
                            <oitc-item-select
                                *oitcPermission="['users', 'delete']"
                                [disabled]="!user.allow_edit"
                                [item]="user"></oitc-item-select>
                        }
                    </td>
                    <td>{{ user.full_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.phone }}</td>
                    <td>{{ user.company }}</td>
                    <td>
                        <oitc-badge-outline *ngIf="user.is_active" color="success">
                            {{ t('Active') }}
                        </oitc-badge-outline>
                        <oitc-badge-outline *ngIf="! user.is_active" color="danger">
                            {{ t('Disabled') }}
                        </oitc-badge-outline>
                    </td>
                    <td>
                        <oitc-badge-outline class="{{ user.UserTypes[0].class }} {{ user.UserTypes[0].color }}"
                                            [color]="user.UserTypes[0].color">
                            {{ user.UserTypes[0].title }}
                        </oitc-badge-outline>
                    </td>
                    <td>
                        {{ user.usergroup.name }}
                    </td>
                    <td>
                        {{ user.last_login }}
                    </td>

                    <td class="width-50">
                        <oitc-actions-button [permission]="'users.edit'"
                                             [url]="'/users/edit/' + user.id"
                                             [allowEdit]="user.allow_edit">
                            <oitc-actions-button-element [permission]="'users.edit'"
                                                         [url]="'/users/edit/' + user.id"
                                                         *ngIf="user.allow_edit">
                                <fa-icon [icon]="['fas', 'gear']"></fa-icon>
                                {{ t('Edit') }}
                            </oitc-actions-button-element>
                            <oitc-actions-button-element [permission]="'users.edit'"
                                                         (click)="resetPasswordModal(user)"
                                                         *ngIf="!user.samaccountname && user.allow_edit && !user.is_oauth">
                                <fa-icon [icon]="['fas', 'key']"></fa-icon>
                                {{ t('Reset password') }}
                            </oitc-actions-button-element>

                            <li cDropdownDivider
                                *ngIf="user.allow_edit && user.id !== users.myUserId"></li>
                            <oitc-actions-button-element (click)="toggleDeleteAllModal(user)"
                                                         *ngIf="user.allow_edit && user.id !== users.myUserId"
                                                         [permission]="'users.delete'">
                                <span class="text-danger">
                                    <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                                    {{ t('Delete') }}
                                </span>
                            </oitc-actions-button-element>
                        </oitc-actions-button>
                    </td>
                </tr>
                </tbody>
            </table>


            <oitc-no-records
                *ngIf="users && users.all_users.length === 0"></oitc-no-records>
            <ng-container *ngIf="users && users.all_users">
                <c-container class="bg-secondary bg-opacity-10 mb-3 py-2 rounded-bottom border border-top-0"
                             [fluid]="true">
                    <c-row>
                        <c-col>
                            <oitc-select-all
                                [itemsCount]="users.all_users.length"></oitc-select-all>
                        </c-col>
                        <c-col [sm]="8" [md]="5" [lg]="4" [xs]="3">
                            <div class="btn-group d-flex flex-row" role="group">
                                <button (click)="toggleDeleteAllModal()"
                                        class="btn btn-outline-danger col-3 border-0"
                                        type="button">
                                    <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                                    {{ t('Delete selected') }}
                                </button>
                            </div>
                        </c-col>
                    </c-row>
                </c-container>

                <c-container
                    [fluid]="true">
                    <c-row>
                        <c-col>
                            <oitc-paginate-or-scroll
                                (paginatorChange)="onPaginatorChange($event)"
                                *ngIf="users"
                                [paginateOrScroll]="users"></oitc-paginate-or-scroll>
                        </c-col>
                    </c-row>
                </c-container>
            </ng-container>

        </c-card-body>

        <c-card-footer>
            &nbsp;
        </c-card-footer>

    </c-card>
</ng-container>


<oitc-delete-all-modal (completed)="onMassActionComplete($event)" [items]="selectedItems"></oitc-delete-all-modal>
<oitc-reset-password-modal (completed)="onMassActionComplete($event)"
                           [user]="resetPasswordUser"></oitc-reset-password-modal>
