<ng-container *transloco="let t">

    <nav aria-label="breadcrumb" class="mt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a [routerLink]="['/']">
                    <fa-icon [icon]="['fas', 'home']"></fa-icon>
                    {{ t('Home') }}
                </a></li>
            <li class="breadcrumb-item">
                <a *oitcPermission="['PrometheusModule', 'PrometheusQuery', 'index']"
                   [routerLink]="['/', 'prometheus_module', 'PrometheusQuery', 'index']">
                    <fa-icon [icon]="['fas', 'burn']"></fa-icon>
                    {{ t('Prometheus Module') }}
                </a>
            </li>
            <li aria-current="page" class="breadcrumb-item active">
                <fa-icon [icon]="['fas', 'bullhorn']"></fa-icon>
                {{ t('Alert rules') }}
            </li>
        </ol>
    </nav>

    <div class="mb-3">
        <oitc-select
                name="params.hostId"
                id="params.hostId"
                [(ngModel)]="params['filter[PrometheusAlertRules.host_id]']"
                optionValue="key"
                optionLabel="value"
                (onChange)="reload()"
                [options]="hosts">
        </oitc-select>
    </div>

    <c-card class="mb-3">
        <c-card-header>
            <h5 cCardTitle>{{ t('Prometheus alert rules') }}
                <small class="fw-300">
                    {{ t('of Host') }}
                </small>
            </h5>

            <c-nav variant="underline" class="card-toolbar card-header-pills me-3">
                <c-nav-item>
                    <a [routerLink]="['/', 'prometheus_module', 'PrometheusQuery', 'index', this.params['filter[PrometheusAlertRules.host_id]']]" class="nav-link">
                        <fa-icon [icon]="['fas', 'chart-line']"></fa-icon>
                        {{ t('Metrics') }}
                    </a>
                </c-nav-item>
                <c-nav-item>
                    <a class="nav-link active">
                        <fa-icon [icon]="['fas', 'bullhorn']"></fa-icon>
                        {{ t('Alert rules') }}
                    </a>
                </c-nav-item>
            </c-nav>

            <c-nav class="card-toolbar card-header-pills">
                <c-nav-item class="px-1">
                    <button (click)="reload()" cButton class="ripple" color="default" size="xs">
                        <fa-icon [icon]="['fas', 'arrows-rotate']"></fa-icon>
                        {{ t('Refresh') }}
                    </button>
                </c-nav-item>
                <c-nav-item class="px-1">
                    <button (click)="toggleFilter()" cButton class="ripple" color="primary" size="xs">
                        <fa-icon [icon]="['fas', 'filter']"></fa-icon>
                        {{ t('Filter') }}
                    </button>
                </c-nav-item>
            </c-nav>
        </c-card-header>
        <c-card-body>

            <c-container [hidden]="hideFilter" class="shadow-sm p-2 mb-4 bg-body rounded" [fluid]="true">
                <c-row>
                    <c-col>
                        <h6 class="pb-2 mb-3 border-bottom">
                            <fa-icon [icon]="['fas', 'filter']"></fa-icon>
                            {{ t('Filter') }}
                        </h6>
                    </c-col>
                </c-row>
                <form cForm>
                    <c-row>
                        <c-col md="6">
                            <c-input-group>
                                <span cInputGroupText>
                                    <fa-icon [icon]="['fas', 'cogs']"></fa-icon>
                                </span>
                                <input (debouncedValue)="onFilterChange($event)"
                                       [(ngModel)]="params['filter[servicename]']"
                                       [placeholder]="'Filter by service name' | transloco"
                                       aria-label="Filter by service name"
                                       cFormControl
                                       name="filter[servicename]"
                                       oitcDebounce
                                       type="text"
                                />
                            </c-input-group>
                        </c-col>
                        <c-col md="6">
                            <c-input-group>
                                <span cInputGroupText>
                                    <fa-icon [icon]="['fas', 'filter']"></fa-icon>
                                </span>
                                <input (debouncedValue)="onFilterChange($event)"
                                       [(ngModel)]="params['filter[PrometheusAlertRules.promql]']"
                                       [placeholder]="'Filter by PromQL' | transloco"
                                       aria-label="Filter by PromQL"
                                       cFormControl
                                       name="filter[PrometheusAlertRules.promql]"
                                       oitcDebounce
                                       type="text"
                                />
                            </c-input-group>
                        </c-col>
                    </c-row>
                    <c-row class="mt-2">
                        <c-col class="text-end">
                            <button (click)="resetFilter()" cButton class="ripple" color="danger" size="xs">
                                {{ t('Reset Filter') }}
                            </button>
                        </c-col>
                    </c-row>
                </form>
            </c-container>
            <!-- End Filter -->

            <oitc-table-loader *ngIf="!result"></oitc-table-loader>

            <table bordered cTable class="mt-2 mb-0" hover striped matSort (matSortChange)="onSortChange($event)"
                   [matSortActive]="params.sort" [matSortDirection]="params.direction">
                <thead>
                <tr>
                    <th class="text-center col-1" scope="col" style="width: 5px;">
                        <fa-icon [icon]="['fas', 'square-check']"></fa-icon>
                    </th>
                    <th class="width-50 text-center" scope="col">
                        <fa-icon [icon]="['fas', 'area-chart']"></fa-icon>
                    </th>
                    <th scope="col" mat-sort-header="servicename">
                        {{ t('Service name') }}
                    </th>
                    <th scope="col" mat-sort-header="PrometheusAlertRules.promql">
                        {{ t('PromQL') }}
                    </th>
                    <th scope="col">
                        {{ t('Unit') }}
                    </th>
                    <th class="text-center col-1 width-50" scope="col">
                        <fa-icon [icon]="['fas', 'gear']"></fa-icon>
                    </th>
                </tr>
                </thead>
                <tbody *ngIf="result">
                <tr *ngFor="let alertRule of result.all_alert_rules">
                    <td class="text-center">
                        <oitc-item-select
                                *oitcPermission="['users', 'delete']"
                                [disabled]="false"
                                [item]="alertRule"></oitc-item-select>
                    </td>
                    <td>
                        <oitc-prometheus-popover-graph
                                [timezone]="timezone"
                                [promql]="alertRule._matchingData.PrometheusAlertRules.promql"
                        />
                    </td>
                    <td>
                        {{ alertRule.servicename }}
                    </td>
                    <td>
                        <code>{{ alertRule._matchingData.PrometheusAlertRules.promql }}</code>
                    </td>
                    <td>
                        {{ alertRule._matchingData.PrometheusAlertRules.unit }}
                    </td>
                    <td class="width-50">
                        <oitc-actions-button [permission]="'PrometheusModule.PrometheusQuery.editService'"
                                             [url]="'/prometheus_module/PrometheusQuery/editService/' + alertRule.id">
                            <oitc-actions-button-element [permission]="'PrometheusModule.PrometheusQuery.editService'"
                                                         [url]="'/prometheus_module/PrometheusQuery/editService/' + alertRule.id"
                                                         *ngIf="alertRule.allow_edit">
                                <fa-icon [icon]="['fas', 'gear']"></fa-icon>
                                {{ t('Edit') }}
                            </oitc-actions-button-element>
                            <oitc-actions-button-element [permission]="'PrometheusModule.PrometheusQuery.editService'"
                                                         *ngIf="!alertRule.allow_edit">
                                <fa-icon [icon]="['fas', 'gear']"></fa-icon>
                                {{ t('Edit') }}
                            </oitc-actions-button-element>
                            <li cDropdownDivider
                                *ngIf="alertRule.allow_edit"></li>
                            <oitc-actions-button-element (click)="toggleDeleteAllModal(alertRule)"
                                                         *ngIf="alertRule.allow_edit"
                                                         [permission]="'PrometheusModule.PrometheusAlertRules.delete'">
                                <span class="text-danger">
                                    <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                                    {{ t('Delete') }}
                                </span>
                            </oitc-actions-button-element>
                        </oitc-actions-button>
                    </td>
                </tr>
                </tbody>
            </table>

            <oitc-no-records
                    *ngIf="result && result.all_alert_rules.length === 0"></oitc-no-records>


            <ng-container *ngIf="result && result.all_alert_rules">
                <c-container class="bg-secondary bg-opacity-10 mb-3 py-2 rounded-bottom border border-top-0"
                             [fluid]="true">
                    <c-row>
                        <c-col>
                            <oitc-select-all
                                    [itemsCount]="result.all_alert_rules.length"></oitc-select-all>
                        </c-col>
                        <c-col [sm]="8" [md]="5" [lg]="4" [xs]="3">
                            <div class="btn-group d-flex flex-row" role="group">
                                <button (click)="toggleDeleteAllModal()"
                                        class="btn btn-outline-danger col-3 border-0"
                                        type="button">
                                    <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                                    {{ t('Delete selected') }}
                                </button>
                            </div>
                        </c-col>
                    </c-row>
                </c-container>
            </ng-container>

            <c-container
                    [fluid]="true">
                <c-row>
                    <c-col>
                        <oitc-paginate-or-scroll
                                (paginatorChange)="onPaginatorChange($event)"
                                *ngIf="result"
                                [paginateOrScroll]="result"></oitc-paginate-or-scroll>
                    </c-col>
                </c-row>
            </c-container>
        </c-card-body>
        <c-card-footer>
            &nbsp;
        </c-card-footer>
    </c-card>
</ng-container>

<oitc-delete-all-modal (completed)="onMassActionComplete($event)" [items]="selectedItems"></oitc-delete-all-modal>
