.outages-in-downtime {
    text-decoration: line-through #CC000088;
}

ul.evaluation-range > li.start:before {
    content: '\f04b';
    font: var(--fa-font-solid);
    font-size: 10px;
    border: 2px solid #00C851;
    padding: 1px 5px;
    color: #00C851;
}

ul.evaluation-range > li.end:before {
    content: '\f04d';
    font: var(--fa-font-solid);
    font-size: 10px;
    border: 2px solid #4285F4;
    padding: 1px 0px 0px 0.46em;
    color: #4285F4;
}

.padding-left-10 {
    padding-left: 10px;
}

.font-md {
    font-size: 130% !important;
}

.margin-right-5 {
    margin-right: 5px;
}

