<ng-container *transloco="let t">
  <table cTable bordered hover>
    <tbody>
      <tr>
        <td colspan="6">
          <div class="d-flex flex-align-items-center">
            <div>
              <fa-layers [fixedWidth]="true" size="4x">
                <fa-icon [icon]="['fas', 'square']" class="text-primary"></fa-icon>
                <fa-icon [icon]="['fas', 'server']" [inverse]="true" [transform]="'shrink-10'"></fa-icon>
              </fa-layers>
            </div>
            <div class="iTop-class-label flex-1">
              {{ result.response.general_information?.finalclass?.value }}
            </div>
          </div>
        </td>
      </tr>

      <tr class="border-primary-top">
        <th colspan="2" class="col-4">
          <fa-icon [icon]="['fas', 'info-circle']" class="text-primary width-15"></fa-icon>
          {{ t('General information') }}
        </th>
        <td class="bold">
          {{ t('Status') }}
        </td>
        <th colspan="2" class="col-4">
          <fa-icon [icon]="['fas', 'network-wired']" class="text-primary width-15"></fa-icon>
          {{ t('Network component') }}
        </th>
        <td class="bold">
          {{ t('Production Critical') }}
        </td>
      </tr>

      <tr>
        <th class="col-lg-2 col-md-2">
          {{ t('Name') }}
        </th>
        <td>
          {{ result.response.general_information?.name?.value }}
        </td>
        <td class="col-lg-1 col-md-1">
          <div>
            @switch (result.response.general_information?.status?.value) {
              @case ('implementation') {
                <span
                  class="badge border-info border text-info w-100">
                  <fa-icon [icon]="['fas', 'archive']" class="text-info"></fa-icon>
                  {{ t('implementation') }}
                </span>
              }
              @case ('production') {
                <span
                  class="badge border-success border text-success w-100">
                  <fa-icon [icon]="['fas', 'power-off']" class="text-success"></fa-icon>
                  {{ t('production') }}
                </span>
              }
              @case ('stock') {
                <span
                  class="badge border-primary border text-primary w-100">
                  <fa-icon [icon]="['fas', 'archive']" class="text-primary"></fa-icon>
                  {{ t('stock') }}
                </span>
              }
              @case ('obsolete') {
                <span
                  class="badge border-danger border text-danger w-100">
                  <fa-icon [icon]="['fas', 'trash']" class="text-danger"></fa-icon>
                  {{ t('obsolete') }}
                </span>
              }
            }
          </div>
        </td>

        <th>
          {{ t('Scope') }}
        </th>
        <td>
          @if (result.response.network_component?.scope?.value) {
            <span class="badge badge-primary"
              >
              {{ result.response.network_component?.scope?.value }}
            </span>
          }
        </td>
        <td class="col-lg-1 col-md-1">
          @switch (result.response.general_information?.business_criticity?.value) {
            @case ("low") {
              <span class="badge border-success border text-success w-100 helptext"
                title="{{ t('No Production relevance') }}">
                {{ t('low') }}
              </span>
            }
            @case ("medium") {
              <span class="badge border-warning border text-warning w-100 helptext"
                title="{{ t('Production relevant') }}">
                {{ t('medium') }}
              </span>
            }
            @case ("hight") {
              <span class="badge border-danger border text-danger w-100 helptext"
                title="{{ t('Production relevance high') }}">
                {{ t('high') }}
              </span>
            }
          }
        </td>
      </tr>

      <tr>
        <th>{{ t('Host name') }}</th>
        <td>
          {{ result.response.general_information?.hostname?.value }}
        </td>
        <td rowspan="3" class="text-center align-middle">
          <span>
            @switch (result.response.general_information?.status?.value) {
              <!-- Gradient colored icons -->
              @case ('implementation') {
                <i class="fas fa-file-circle-check fa-4x status-implementation"
                ></i>
              }
              @case ('production') {
                <i class="fas fa-plug-circle-check fa-4x status-production lh-sm"></i>
              }
              @case ('stock') {
                <i class="fas fa-boxes-packing fa-4x status-stock lh-sm"></i>
              }
              @case ('obsolete') {
                <i class="fas fa-plug-circle-bolt fa-4x status-obsolete lh-sm"></i>
              }
            }
          </span>
        </td>
        <th>
          {{ t('Wanedge type') }}
        </th>
        <td>
          {{ result.response.network_component?.wanedgetype?.value }}
        </td>
        <td rowspan="3" class="text-center align-middle">
          <span>
            @switch (result.response.general_information?.business_criticity?.value) {
              <!-- Gradient colored icons -->
              @case ('low') {
                <i class="fas fa-bars fa-4x business-criticity-low helptext"
                [title]="'No Production relevance' | transloco"></i>
              }
              @case ('medium') {
                <i class="fas fa-bars fa-4x business-criticity-medium helptext"
                [title]="'Production relevant' | transloco"></i>
              }
              @case ('high') {
                <i class="fas fa-bars fa-4x business-criticity-high helptext"
                [title]="'Production relevance high' | transloco"></i>
              }
            }
          </span>
        </td>
      </tr>

      <tr>
        <th>
          {{ t('External ID') }}
        </th>
        <td class="text-primary">
          {{ result.response.general_information?.id?.value }}
          @if (result.response.externalLink) {
            <span class="ng-scope">
              <a target="_blank" [href]="result.response.externalLink">
                <fa-icon [icon]="['fas', 'external-link-alt']" class="ps-1"></fa-icon>
              </a>
            </span>
          }
        </td>
        <th class="border-primary-top" colspan="2">
          <fa-icon [icon]="['fas', 'sitemap']" class="text-primary width-15"></fa-icon>
          {{ t('Network other information') }}
        </th>
      </tr>

      <tr>
        <th>
          {{ t('Risk class') }}
        </th>
        <td>
          {{ result.response.general_information?.riskclass?.value }}
        </td>
        <th>
          {{ t('Provider ID') }}
        </th>
        <td>
          {{ result.response.network_other_information?.provider_name?.value }}
        </td>
      </tr>

      <tr>
        <th>
          {{ t('Service class') }}
        </th>
        <td colspan="2">
          {{ result.response.general_information?.serviceclass?.value }}
        </td>
        <th>
          {{ t('Monitoring template') }}
        </th>
        <td colspan="3">
          {{ result.response.network_other_information?.monitoring_template?.value }}
        </td>
      </tr>

      <tr>
        <th>
          {{ t('HW support service class') }}
        </th>
        <td colspan="2">
          {{ result.response.general_information?.hwsupportserviceclass?.value }}
        </td>
        <th>
          {{ t('Service CI Dummy CI') }}
        </th>
        <td colspan="3">
          {{ result.response.network_other_information?.service_ci_dummy_ci?.value }}
        </td>
      </tr>

      <tr>
        <th>
          {{ t('Location') }}
        </th>
        <td colspan="2">
          {{ result.response.location_information?.location_name?.value }}
        </td>
        <th>
          {{ t('Operation risk class') }}
        </th>
        <td colspan="3">
          {{ result.response.network_other_information?.operational_risk_class?.value }}
        </td>
      </tr>

      <tr>
        <th>
          {{ t('Building room') }}
        </th>
        <td colspan="2">
          {{ result.response.location_information?.buildingroom?.value }}
        </td>
        <th colspan="3">
        </th>
      </tr>

      <tr class="border-primary-top">
        <th colspan="6">
          <fa-icon [icon]="['fas', 'server']" class="text-primary width-15"></fa-icon>
          {{ t('Server details') }}
        </th>
      </tr>

      <tr>
        <th>
          {{ t('Network type') }}
        </th>
        <td colspan="5">
          {{ result.response.server_details?.networkdevicetype_name?.value }}
        </td>
      </tr>

      <tr>
        <th>
          {{ t('Serial number') }}
        </th>
        <td colspan="5">
          {{ result.response.server_details?.serialnumber?.value }}
        </td>
      </tr>

      <tr>
        <th>
          {{ t('Brand name') }}
        </th>
        <td colspan="5">
          {{ result.response.server_details?.brand_name?.value }}
        </td>
      </tr>

      <tr>
        <th>
          {{ t('K number') }}
        </th>
        <td colspan="5">
          {{ result.response.server_details?.asset_number?.value }}
        </td>
      </tr>
    </tbody>
  </table>

</ng-container>
