.margin-right-5 {
    margin-right: 5px;
}

.helptext {
    cursor: help;
}

.select-input-group oitc-select {
    flex-grow: 1;
}

.select-input-group oitc-select p-dropdown div {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.margin-top-20 {
    margin-top: 20px;
}

.text-right {
    text-align: right;
}
