<ng-container *transloco="let t">
    <div class="d-flex flex-row">
        <div>
            @if (welcome && welcome.userImage) {
                <!-- User with Image -->
                <p-avatar
                    class="d-flex"
                    [image]="welcome.userImage"
                    size="xlarge"
                    [styleClass]="'avatar-size'"
                    shape="circle"
                ></p-avatar>
            } @else {
                <!-- User without Image -->
                <p-avatar
                    class="d-flex"
                    size="xlarge"
                    [label]="nameInitials"
                    [styleClass]="'avatar-size'"
                    [style]="{ 'background-color': 'var(--cui-primary)', color: 'var(--cui-white)' }"
                    shape="circle"></p-avatar>
            }
        </div>

        <div class="flex-grow-1 ms-2">
            <oitc-word-loader *ngIf="!statuscount"></oitc-word-loader>
            <strong>{{ statuscount?.hoststatusSum | localNumber }}</strong> {{ t('hosts are monitored') }}

            <br>
            <oitc-word-loader *ngIf="!statuscount"></oitc-word-loader>
            <strong>{{ statuscount?.servicestatusSum  |localNumber }}</strong> {{ t('services are monitored') }}
            <br>
            <br>
            {{ t('Your selected Timezone is ') }}
            <oitc-word-loader *ngIf="!statuscount" [width]="'3rem'"></oitc-word-loader>
            {{ welcome?.user_timezone }}
            @if (welcome?.user_timezone !== welcome?.server_timezone) {
                <br>
                {{ t('Server timezone is:') }}
                <oitc-word-loader *ngIf="!statuscount" [width]="'3rem'"></oitc-word-loader>
                {{ welcome?.server_timezone }}
            }
            <br>
            <oitc-word-loader *ngIf="!statuscount" [width]="'3rem'"></oitc-word-loader>
            {{
                t('{0} version is {1},', {
                    '0': SystemnameService.systemName$ | async,
                    '1': welcome?.OPENITCOCKPIT_VERSION
                })
            }}
            <oitc-word-loader *ngIf="!statuscount" [width]="'3rem'"></oitc-word-loader>

            @if (welcome) {
                @if (!welcome.hasSubscription) {
                    {{ t('No active subscription') }}
                    🥺
                } @else if (welcome.hasSubscription && welcome.isCommunityEdition) {
                    <span class="text-community">
                        {{ t('Community Edition') }}
                    </span>
                } @else {
                    <span class="text-enterprise">
                        {{ t('Enterprise Edition') }}
                    </span>
                }
            }

        </div>

    </div>
</ng-container>
