<header class="page-header" id="header" role="banner">
  <div class="search hidden-lg-down" top-search=""></div>
  <div class="ml-auto d-flex">


    <form (ngSubmit)="submitSearch()" [formGroup]="form">
      <select formControlName="type">
        <option [value]="SearchType.Host">{{ SearchType.Host }}</option>
        <option [value]="SearchType.Address">{{ SearchType.Address }}</option>
        <option [value]="SearchType.Service">{{ SearchType.Service }}</option>
        <option [value]="SearchType.UUID">{{ SearchType.UUID }}</option>
        <option [value]="SearchType.TagsHost">{{ SearchType.TagsHost }}</option>
        <option [value]="SearchType.TagsService">{{ SearchType.TagsService }}</option>
      </select>
      <input formControlName="query" type="text"/>
      <button [disabled]="!form.valid">auf gehts</button>
    </form>

    <div class="header-icon">
      <span>
        <a class="btn btn-default waves-effect waves-themed"
           data-container="body"
           data-original-title="Refresh monitoring configuration"
           data-placement="bottom"
           export-status=""
           rel="tooltip"
           ui-sref="ExportsIndex">

          <fa-icon icon="retweet"/>
          <!--  ng-show not working!
            <fa-icon icon="retweet"  ng-show="exportRunning"/>
            -->
        </a>
      </span>
    </div>

    <div class="header-icon">
      <div aria-label="" class="btn-group mr-2" role="group">
        <a (click)="logout()" class="btn btn-default waves-effect waves-themed"
           data-container="body"
           data-original-title="Sign out"
           data-placement="bottom"
           href="/users/logout"
           rel="tooltip">
          <fa-icon icon="sign-out"/>
        </a>
      </div>
    </div>
  </div>
</header>
