<oitc-coreui>
    <ng-container *transloco="let t">
        <nav aria-label="breadcrumb" class="mt-3">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a [routerLink]="['/']">
                        <fa-icon [icon]="['fas', 'home']"></fa-icon>
                        {{ t('Home') }}
                    </a></li>
                <li class="breadcrumb-item">
                    <a *oitcPermission="['systemhealthusers', 'index']"
                       [routerLink]="['/', 'systemHealthUsers', 'index']">
                        <fa-icon [icon]="['fas', 'user']"></fa-icon>
                        {{ t('System health users') }}
                    </a>
                </li>
                <li aria-current="page" class="breadcrumb-item active">
                    <fa-icon [icon]="['fas', 'list']"></fa-icon>
                    {{ t('Overview') }}
                </li>
            </ol>
        </nav>

        <c-card class="mb-3">
            <c-card-header>
                <h5 cCardTitle>{{ t('System health users') }}
                    <small class="fw-300">
                        {{ t('overview') }}
                    </small>
                </h5>

                <c-nav class="card-toolbar card-header-pills">
                    <c-nav-item class="px-1">
                        <button (click)="loadSystemHealthUsers()" cButton class="ripple" color="default" size="xs">
                            <fa-icon [icon]="['fas', 'arrows-rotate']"></fa-icon>
                            {{ t('Refresh') }}
                        </button>
                    </c-nav-item>
                    <c-nav-item class="px-1">
                        <button *oitcPermission="['systemhealthusers', 'add']"
                                [routerLink]="['/', 'systemHealthUsers', 'add']" cButton
                                class="ripple"
                                color="success"
                                size="xs">
                            <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                            {{ t('New user') }}
                        </button>
                    </c-nav-item>
                    <c-nav-item class="px-1">
                        <button (click)="toggleFilter()" cButton class="ripple" color="primary" size="xs">
                            <fa-icon [icon]="['fas', 'filter']"></fa-icon>
                            {{ t('Filter') }}
                        </button>
                    </c-nav-item>
                </c-nav>
            </c-card-header>
            <c-card-body>
                <!-- Filter -->
                <c-container [hidden]="hideFilter" class="shadow-sm p-2 mb-4 bg-body rounded" fluid>
                    <c-row>
                        <c-col>
                            <h6 class="pb-2 mb-3 border-bottom">
                                <fa-icon [icon]="['fas', 'filter']"></fa-icon>
                                {{ t('Filter') }}
                            </h6>
                        </c-col>
                    </c-row>
                    <form cForm>
                        <c-row>
                            <c-col md="6" class="mb-2">
                                <c-input-group>
                                    <span cInputGroupText>
                                        <fa-icon [icon]="['fas', 'filter']"></fa-icon>
                                    </span>
                                    <input (debouncedValue)="onFilterChange($event)"
                                           [(ngModel)]="params['filter[full_name]']"
                                           [placeholder]="'Filter by full name' | transloco"
                                           aria-label="full_name"
                                           cFormControl
                                           name="filter[full_name]"
                                           oitcDebounce
                                           type="text"
                                    />
                                </c-input-group>
                            </c-col>
                            <c-col md="6" class="mb-2">
                                <c-input-group>
                                    <span cInputGroupText>
                                        <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
                                    </span>
                                    <input (debouncedValue)="onFilterChange($event)"
                                           [(ngModel)]="params['filter[Users.email]']"
                                           [placeholder]="'Filter by email' | transloco"
                                           aria-label="name"
                                           cFormControl
                                           name="filter[Users.email]"
                                           oitcDebounce
                                           type="text"
                                    />
                                </c-input-group>
                            </c-col>

                        </c-row>
                        <c-row class="mt-2">
                            <c-col class="text-end">
                                <button (click)="resetFilter()" cButton class="ripple" color="danger" size="xs">
                                    {{ t('Reset filter') }}
                                </button>
                            </c-col>
                        </c-row>
                    </form>
                </c-container>
                <!-- End Filter -->
                <oitc-table-loader *ngIf="!systemHealthUsers"></oitc-table-loader>

                <table bordered cTable class="mt-2 mb-0 table table-fit" hover striped matSort
                       (matSortChange)="onSortChange($event)"
                       [matSortActive]="params.sort" [matSortDirection]="params.direction">
                    <thead>
                    <tr>
                        <th class="text-center col-1" scope="col" style="width: 5px;">
                            <fa-icon [icon]="['fas', 'square-check']"></fa-icon>
                        </th>
                        <th scope="col" mat-sort-header="full_name">
                            {{ t('Full name') }}
                        </th>
                        <th scope="col" mat-sort-header="Users.email">
                            {{ t('Email') }}
                        </th>
                        <th scope="col">
                            {{ t('System health notifications') }}
                        </th>
                        <th scope="col" class="text-center">
                            <fa-icon [icon]="['fas', 'cog']"></fa-icon>
                        </th>
                    </tr>
                    </thead>
                    <tbody *ngIf="systemHealthUsers">
                    <tr *ngFor="let systemHealthUser of systemHealthUsers.all_users">
                        <td class="text-center">
                            <oitc-item-select
                                    *oitcPermission="['systemhealthusers', 'delete']"
                                    [disabled]="false"
                                    [item]="systemHealthUser"></oitc-item-select>
                        </td>
                        <td>
                            {{ systemHealthUser.full_name }}
                        </td>
                        <td>
                            {{ systemHealthUser.email }}
                        </td>
                        <td>
                            <c-badge class="margin-right-5" *ngIf="systemHealthUser.system_health_user.notify_on_recovery === 1" [title]="'recovery' | transloco" color="success">R</c-badge>
                            <c-badge class="margin-right-5 text-dark" *ngIf="systemHealthUser.system_health_user.notify_on_warning === 1" [title]="'warning' | transloco" color="warning">W</c-badge>
                            <c-badge class="margin-right-5" *ngIf="systemHealthUser.system_health_user.notify_on_critical === 1" [title]="'critical' | transloco" color="danger">C</c-badge>
                        </td>
                        <td class="width-50">
                            <oitc-actions-button *ngIf="systemHealthUser.allow_edit"
                                                 [permission]="'systemhealthusers.edit'"
                                                 [url]="'/systemHealthUsers/edit/' + systemHealthUser.system_health_user.id">
                                <oitc-actions-button-element [permission]="'systemhealthusers.edit'"
                                                             [url]="'/systemHealthUsers/edit/' + systemHealthUser.system_health_user.id">
                                    <fa-icon [icon]="['fas', 'gear']"></fa-icon>
                                    {{ t('Edit') }}
                                </oitc-actions-button-element>
                                <li cDropdownDivider></li>
                                <oitc-actions-button-element (click)="toggleDeleteAllModal(systemHealthUser)"
                                                             [permission]="'systemhealthusers.delete'">
                                    <span class="text-danger">
                                        <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                                        {{ t('Delete') }}
                                    </span>
                                </oitc-actions-button-element>
                            </oitc-actions-button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <oitc-no-records
                        *ngIf="systemHealthUsers && systemHealthUsers.all_users.length === 0"></oitc-no-records>

                <ng-container *ngIf="systemHealthUsers && systemHealthUsers.all_users">
                    <c-container class="bg-secondary bg-opacity-10 mb-3 py-2 rounded-bottom border border-top-0" fluid>
                        <c-row>
                            <c-col>
                                <oitc-select-all
                                        [itemsCount]="systemHealthUsers.all_users.length"></oitc-select-all>
                            </c-col>
                            <c-col md="3">
                                <div *oitcPermission="['systemhealthusers', 'delete']"
                                     class="btn-group d-flex flex-row" role="group">
                                    <button (click)="toggleDeleteAllModal()"
                                            class="btn btn-outline-danger col-3 border-0"
                                            type="button">
                                        <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                                        {{ t('Delete selected') }}
                                    </button>
                                </div>
                            </c-col>
                        </c-row>
                    </c-container>
                </ng-container>
                <c-container fluid class="mb-3 py-3">
                    <c-row>
                        <c-col>
                            <oitc-paginate-or-scroll
                                    (paginatorChange)="onPaginatorChange($event)"
                                    *ngIf="systemHealthUsers"
                                    [paginateOrScroll]="systemHealthUsers"></oitc-paginate-or-scroll>
                        </c-col>
                    </c-row>
                </c-container>
            </c-card-body>
        </c-card>
    </ng-container>
</oitc-coreui>

<oitc-delete-all-modal (completed)="onMassActionComplete($event)" [items]="selectedItems"></oitc-delete-all-modal>
