<oitc-coreui>
  <ng-container *transloco="let t">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">
          {{ t('Home') }}
        </a></li>
        <li class="breadcrumb-item"><a href="#">
          {{ t('Commands') }}
        </a></li>
        <li class="breadcrumb-item active" aria-current="page">
          {{ t('Overview') }}
        </li>
      </ol>
    </nav>

    <h1>{{ t('Commands overview') }}</h1>
  </ng-container>
</oitc-coreui>
