<ng-container *transloco="let t">
    <div class="mb-3">
        <full-calendar #fullCalendar [options]="calendarOptions()">

            <ng-template #eventContent let-arg>
                <div class="fc-event-title-container"
                     [ngStyle]="{ 'width': '100%', 'height':'100%', 'background-color': arg.event.extendedProps.colour? arg.event.extendedProps.colour : null }">
                    <div class="fc-event-title fc-sticky">
                        <ng-container *ngIf="arg.event.start">

                            {{ formatTime(arg.event.start.getTime()) }}
                            -
                        </ng-container>
                        <ng-container *ngIf="arg.event.end">
                            {{ formatTime(arg.event.end.getTime()) }}
                        </ng-container>
                        {{ arg.event.title }}
                    </div>
                </div>
            </ng-template>
        </full-calendar>
    </div>
</ng-container>
