<ng-container *transloco="let t">
    <div class="mb-3">
        <full-calendar #fullCalendar [options]="calendarOptions()">

            <ng-template #eventContent let-arg>
                <div class="fc-event-title-container h-100 w-100"
                     [style.background-color]="arg.event.extendedProps.colour? arg.event.extendedProps.colour : null ">
                    <div class="fc-event-title fc-sticky text-white">
                        {{ arg.timeText }} {{ arg.event.title }}
                    </div>
                </div>
            </ng-template>
        </full-calendar>
    </div>
</ng-container>