<ng-container *transloco="let t">
    <header>
        <h4 class="border-bottom border-primary border-3">
            <fa-icon [icon]="['fas', 'desktop']" class="ps-1"></fa-icon>
            <span *oitcPermission="['hosts', 'browser']">
                <a [routerLink]="['/', 'hosts', 'browser', host.id]">
                    {{ host.name }}
                </a>
            </span>
            <span *oitcPermission="['hosts', 'browser']; negate: true">
                {{ host.name }}
            </span>
        </h4>
    </header>

    <table cTable bordered hover small [striped]="true" class="small pt-1">
        <tbody>
        <tr>
            <td></td>
            <th class="text-center">
                <c-badge color="success">{{ t('Ok') }}
                </c-badge>
            </th>
            <th class="text-center">
                <c-badge color="warning">{{ t('Warning') }}
                </c-badge>
            </th>
            <th class="text-center">
                <c-badge color="danger">{{ t('Critical') }}
                </c-badge>
            </th>
            <th class="text-center">
                <c-badge color="secondary">{{ t('Unknown') }}
                </c-badge>
            </th>
        </tr>
        <tr *ngFor="let hostSummaryRowLabel of hostSummaryRowLabels">
            <th>{{ hostSummaryRowLabel.label }}</th>
            <td *ngFor="let stateIndex of[0,1,2,3]" class="text-center">
                @if (hostSummaryRowLabel.key !== 'total' && hostSummaryStat[hostSummaryRowLabel.key][stateIndex] > 0) {
                    <a *oitcPermission="['services', 'index']"
                       [routerLink]="['/', 'services', 'index']"
                       [queryParams]=" Object.assign({}, hostSummaryRowLabel.queryParams,
                        {servicestate: stateIndex, host_id: host.id})">
                        {{ hostSummaryStat[hostSummaryRowLabel.key][stateIndex] }}
                    </a>
                    <span *oitcPermission="['services', 'index']; negate: true">
                        {{ hostSummaryStat[hostSummaryRowLabel.key][stateIndex] }}
                    </span>
                } @else {
                    ---
                }
            </td>
        </tr>
        <tr>
            <th colspan="5" class="text-end">{{ t('TOTAL:') }}
                {{ hostSummaryStat['total'] }}
            </th>
        </tr>
        </tbody>
    </table>
</ng-container>
