<ng-container *transloco="let t">
    <nav aria-label="breadcrumb" class="mt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a [routerLink]="['/']">
                    <fa-icon [icon]="['fas', 'home']"></fa-icon>
                    {{ t('Home') }}
                </a></li>
            <li class="breadcrumb-item">
                <a *oitcPermission="['backups', 'index']" [routerLink]="['/', 'backups', 'index']">
                    <fa-icon [icon]="['fas', 'database']"></fa-icon>
                    {{ t('Backups') }}
                </a>
            </li>
            <li aria-current="page" class="breadcrumb-item active">
                <fa-icon [icon]="['fas', 'file-import']"></fa-icon>
                {{ t('Restore Backup') }}
            </li>
        </ol>
    </nav>

    <c-card class="mb-3">
        <c-card-header>
            <h5 cCardTitle>
                {{ t('Backup management') }}
                <small class="fw-300">
                    {{ t('Restore Backup') }}
                </small>
            </h5>

            <c-nav variant="underline" class="card-toolbar card-header-pills me-3">
                <c-nav-item *oitcPermission="['backups', 'index']">
                    <a [routerLink]="['/', 'backups', 'index']" class="nav-link">
                        <fa-icon [icon]="['far', 'floppy-disk']"></fa-icon>
                        {{ t('Create Backup') }}
                    </a>
                </c-nav-item>
                <c-nav-item *oitcPermission="['backups', 'restore']">
                    <a [routerLink]="['/', 'backups', 'restore']" class="nav-link active">
                        <fa-icon [icon]="['fas', 'file-import']"></fa-icon>
                        {{ t('Restore backup') }}
                    </a>
                </c-nav-item>
            </c-nav>

            <c-nav class="card-toolbar card-header-pills">
                <c-nav-item class="px-1">
                    <button (click)="loadBackups()" cButton class="ripple" color="default" size="xs">
                        <fa-icon [icon]="['fas', 'arrows-rotate']"></fa-icon>
                        {{ t('Refresh') }}
                    </button>
                </c-nav-item>
            </c-nav>
        </c-card-header>
        <c-card-body>

            <c-row>
                <c-col [xs]="12">
                    <c-alert color="danger">
                        <p>
                            <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
                            {{ t('Restoring a backup will overwrite the current configuration, and all changes made after the selected backup was created will be lost.') }}
                        </p>
                    </c-alert>
                </c-col>
            </c-row>

            <c-row>
                <c-col [xs]="12">

                    <div class="mb-3">
                        <label cLabel for="file_to_restore">
                            {{ t('Backupfile for Restore') }}
                            <oitc-required-icon></oitc-required-icon>
                        </label>

                        <oitc-select
                            name="file_to_restore"
                            id="file_to_restore"
                            optionValue="key"
                            optionLabel="value"
                            [(ngModel)]="selectedBackup"
                            [options]="backupFiles"
                            [disabled]="restoreIsRunning">
                        </oitc-select>
                    </div>

                </c-col>

                @if (restoreIsRunning) {
                    <c-col [xs]="12">
                        <ng-template #contentTemplate let-data>
                            @if (data) {
                                <span class="h5" [ngClass]="['text-'+data.color]">
                                    {{ t('Restore in progress...') }}
                                </span>
                            }
                            <div class="mt-2">
                                <p-progressBar mode="indeterminate"
                                               [style]="{ height: '6px' }"/>
                            </div>
                        </ng-template>
                        <oitc-alert
                            baseIcon="circle"
                            color="primary"
                            [icon]="['fas', 'hourglass']"
                            [contentTemplate]="contentTemplate"></oitc-alert>
                    </c-col>
                }
            </c-row>
        </c-card-body>

        <c-card-footer class="text-end">
            <button cButton class="ripple" color="danger" type="button"
                    *oitcPermission="['backups', 'deleteBackupFile']"
                    (click)="toggleDeleteAllModal()"
                    [disabled]="restoreIsRunning || selectedBackup === ''">
                <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                {{ t('Delete File') }}
            </button>

            <button cButton class="ms-1 ripple" color="primary" type="button"
                    *oitcPermission="['backups', 'downloadBackupFile']"
                    (click)="downloadBackup()"
                    [disabled]="restoreIsRunning || selectedBackup === ''">
                <fa-icon [icon]="['fas', 'download']"></fa-icon>
                {{ t('Download File') }}
            </button>

            <button cButton class="ms-1 ripple" color="primary" type="button"
                    *oitcPermission="['backups', 'restore']"
                    (click)="startRestore()"
                    [disabled]="restoreIsRunning || selectedBackup === ''">
                <fa-icon [hidden]="!restoreIsRunning" [icon]="['fas', 'spinner']" animation="spin"></fa-icon>
                {{ t('Start Restore') }}
            </button>
        </c-card-footer>

    </c-card>

</ng-container>


<ng-container>
    <oitc-delete-all-modal (completed)="onMassActionComplete($event)"
                           [items]="selectedItems"></oitc-delete-all-modal>

    <oitc-reload-interface-modal></oitc-reload-interface-modal>
</ng-container>
