<oitc-coreui>
    <ng-container *transloco="let t">
        <nav aria-label="breadcrumb" class="mt-3">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a [routerLink]="['/']">
                        <fa-icon [icon]="['fas', 'home']"></fa-icon>
                        {{ t('Home') }}
                    </a></li>
                <li class="breadcrumb-item">
                    <a *oitcPermission="['hosts', 'index']" [routerLink]="['/', 'hosts', 'index']">
                        <fa-icon [icon]="['fas', 'desktop']"></fa-icon>
                        {{ t('Hosts') }}
                    </a>
                </li>
                <li aria-current="page" class="breadcrumb-item active">
                    <fa-icon [icon]="['fas', 'list']"></fa-icon>
                    {{ t('Overview') }}
                </li>
            </ol>
        </nav>

        <oitc-query-handler-checker></oitc-query-handler-checker>

        <c-card class="mb-3">
            <c-card-header>
                <h5 cCardTitle>{{ t('Hosts') }}
                    <small class="fw-300">
                        {{ t('overview') }}
                    </small>
                </h5>

                <c-nav variant="underline" class="card-toolbar card-header-pills me-3">
                    <c-nav-item>
                        <a [routerLink]="['/', 'hosts', 'index']"
                           *oitcPermission="['hosts', 'index']" class="nav-link active">
                            <fa-icon [icon]="['fas', 'stethoscope']"></fa-icon>
                            {{ t('Monitored') }}
                        </a>
                    </c-nav-item>
                    <c-nav-item>
                        <a [routerLink]="['/', 'hosts', 'notMonitored']"
                           *oitcPermission="['hosts', 'notMonitored']" class="nav-link">
                            <fa-icon [icon]="['fas', 'user-md']"></fa-icon>
                            {{ t('Not monitored') }}
                        </a>
                    </c-nav-item>
                    <c-nav-item>
                        <a [routerLink]="['/', 'hosts', 'disabled']"
                           *oitcPermission="['hosts', 'disabled']" class="nav-link">
                            <fa-icon [icon]="['fas', 'plug']"></fa-icon>
                            {{ t('Disabled') }}
                        </a>
                    </c-nav-item>
                    <c-nav-item>
                        <a [routerLink]="['/', 'deletedHosts', 'index']"
                           *oitcPermission="['deletedHosts', 'index']" class="nav-link">
                            <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                            {{ t('Deleted') }}
                        </a>
                    </c-nav-item>
                </c-nav>

                <c-nav class="card-toolbar card-header-pills">
                    <c-nav-item class="px-1">
                        <button (click)="loadHosts()" cButton class="ripple" color="default" size="xs">
                            <fa-icon [icon]="['fas', 'arrows-rotate']"></fa-icon>
                            {{ t('Refresh') }}
                        </button>
                    </c-nav-item>
                    <c-nav-item class="px-1">
                        <button *oitcPermission="['hosts', 'add']" [routerLink]="['/', 'hosts', 'add']"
                                cButton
                                class="ripple"
                                color="success"
                                size="xs">
                            <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                            {{ t('New') }}
                        </button>
                    </c-nav-item>
                    <c-nav-item class="px-1">
                        <button (click)="problemsOnly()" cButton class="ripple" color="danger" size="xs">
                            <fa-icon [icon]="['fas', 'filter-circle-xmark']"></fa-icon>
                            {{ t('Unhandled only') }}
                        </button>
                    </c-nav-item>
                    <c-nav-item class="px-1">
                        <button (click)="toggleFilter()" cButton class="ripple" color="primary" size="xs">
                            <fa-icon [icon]="['fas', 'filter']"></fa-icon>
                            {{ t('Filter') }}
                        </button>
                    </c-nav-item>
                </c-nav>
            </c-card-header>
            <c-card-body>

                <c-container [hidden]="hideFilter" class="shadow-sm p-2 mb-4 bg-body rounded" fluid>
                    <c-row>
                        <c-col>
                            <h6 class="pb-2 mb-3 border-bottom">
                                <fa-icon [icon]="['fas', 'filter']"></fa-icon>
                                {{ t('Filter') }}
                            </h6>
                        </c-col>
                    </c-row>
                    <form cForm>

                        <c-row class="mb-2">
                            <c-col [xs]="12" [lg]="6">
                                <c-input-group>
                                    <span cInputGroupText>
                                        <fa-icon [icon]="['fas', 'desktop']"></fa-icon>
                                    </span>
                                    <input (debouncedValue)="onFilterChange($event)"
                                           [(ngModel)]="filter['Hosts.name']"
                                           [placeholder]="'Filter by host name' | transloco"
                                           cFormControl
                                           name="Hosts.name"
                                           oitcDebounce
                                           type="text"
                                    />
                                    <span cInputGroupText>
                                        <label>
                                            {{ t('Enable RegEx') }}
                                            <input type="checkbox"
                                                   name="filter.Host.name_regex"
                                                   oitcDebounce
                                                   (debouncedValue)="onFilterChange($event)"
                                                   [(ngModel)]="filter['Hosts.name_regex']"
                                            />
                                            <!-- todo implement regex light bulb -->
                                        </label>
                                    </span>
                                </c-input-group>
                            </c-col>

                            <c-col [xs]="12" [lg]="6">
                                <c-input-group>
                                    <span cInputGroupText>
                                        <fa-icon [icon]="['fas', 'filter']"></fa-icon>
                                    </span>
                                    <input (debouncedValue)="onFilterChange($event)"
                                           [(ngModel)]="filter['hostdescription']"
                                           [placeholder]="'Filter by host description' | transloco"
                                           cFormControl
                                           name="Hosts.hostdescription"
                                           oitcDebounce
                                           type="text"
                                    />
                                </c-input-group>
                            </c-col>
                        </c-row>

                        <c-row class="mb-2">
                            <c-col [xs]="12" [lg]="6">
                                <c-input-group>
                                    <span cInputGroupText>
                                        <fa-icon [icon]="['fas', 'filter']"></fa-icon>
                                    </span>
                                    <input (debouncedValue)="onFilterChange($event)"
                                           [(ngModel)]="filter['Hosts.address']"
                                           [placeholder]="'Filter by IP address' | transloco"
                                           cFormControl
                                           name="Hosts.address"
                                           oitcDebounce
                                           type="text"
                                    />
                                    <span cInputGroupText>
                                        <label>
                                            {{ t('Enable RegEx') }}
                                            <input type="checkbox"
                                                   name="filter.Host.address_regex"
                                                   oitcDebounce
                                                   (debouncedValue)="onFilterChange($event)"
                                                   [(ngModel)]="filter['Hosts.address_regex']"
                                            />
                                            <!-- todo implement regex light bulb -->
                                        </label>
                                    </span>
                                </c-input-group>
                            </c-col>

                            <c-col [xs]="12" [lg]="6">
                                <c-input-group>
                                    <span cInputGroupText>
                                        <fa-icon [icon]="['fas', 'filter']"></fa-icon>
                                    </span>
                                    <input (debouncedValue)="onFilterChange($event)"
                                           [(ngModel)]="filter['Hoststatus.output']"
                                           [placeholder]="'Filter by output' | transloco"
                                           cFormControl
                                           name="Hosts.output"
                                           oitcDebounce
                                           type="text"
                                    />
                                </c-input-group>
                            </c-col>

                        </c-row>

                        <c-row class="mb-2">
                            <c-col [xs]="12" [lg]="6">
                                <c-input-group>
                                    <span cInputGroupText>
                                        <fa-icon [icon]="['fas', 'filter']"></fa-icon>
                                    </span>
                                    <ng-select
                                        id="HostKeywordsInput"
                                        name="HostKeywordsInput"
                                        [items]="[]"
                                        [(ngModel)]="filter['Hosts.keywords']"
                                        [addTag]="true"
                                        [multiple]="true"
                                        [selectOnTab]="true"
                                        [placeholder]="t('Filter by tags')"
                                        oitcDebounce
                                        (debouncedValue)="onFilterChange($event)"
                                        [isOpen]="false">
                                    </ng-select>
                                </c-input-group>
                            </c-col>

                            <c-col [xs]="12" [lg]="6">
                                <c-input-group>
                                    <span cInputGroupText>
                                        <fa-icon [icon]="['fas', 'filter']"></fa-icon>
                                    </span>
                                    <ng-select
                                        id="HostNotKeywordsInput"
                                        name="HostNotKeywordsInput"
                                        [items]="[]"
                                        [(ngModel)]="filter['Hosts.not_keywords']"
                                        [addTag]="true"
                                        [multiple]="true"
                                        [selectOnTab]="true"
                                        [placeholder]="t('Filter by excluded tags')"
                                        oitcDebounce
                                        (debouncedValue)="onFilterChange($event)"
                                        [isOpen]="false">
                                    </ng-select>
                                </c-input-group>
                            </c-col>
                        </c-row>

                        <c-row class="mb-2">
                            <c-col [xs]="12" [lg]="6" class="ui-fluid">
                                <c-input-group>
                                    <span cInputGroupText>
                                        <fa-icon [icon]="['fas', 'cog']"></fa-icon>
                                    </span>

                                    <oitc-multi-select
                                        name="hosttemplatetype_id"
                                        id="hosttemplatetype_id"
                                        optionValue="id"
                                        optionLabel="name"
                                        [(ngModel)]="filter['Hosts.host_type']"
                                        [options]="hostTypes"
                                        [debounce]="true"
                                        [placeholder]="'Filter by host types' | transloco"
                                        (onChange)="onFilterChange(null)">
                                    </oitc-multi-select>
                                </c-input-group>
                            </c-col>

                        </c-row>

                        <c-row class="mb-2">
                            <c-col [xs]="12" lg="2">
                                <fieldset>
                                    <h5>
                                        {{ t('Host status') }}
                                    </h5>
                                    <c-form-check>
                                        <input
                                            (debouncedValue)="onFilterChange($event)"
                                            cFormCheckInput
                                            class="checkbox-success"
                                            name="Hosts.currentStateUp"
                                            id="Hosts.currentStateUp"
                                            type="checkbox"
                                            trueFalseValue
                                            oitcDebounce
                                            [(ngModel)]="currentStateFilter.up"/>

                                        <label cFormCheckLabel
                                               for="Hosts.currentStateUp">{{ t('Up') }}</label>
                                    </c-form-check>
                                    <c-form-check>
                                        <input
                                            (debouncedValue)="onFilterChange($event)"
                                            cFormCheckInput
                                            class="checkbox-danger"
                                            name="Hosts.currentStateDown"
                                            id="Hosts.currentStateDown"
                                            type="checkbox"
                                            trueFalseValue
                                            oitcDebounce
                                            [(ngModel)]="currentStateFilter.down"/>
                                        <label cFormCheckLabel
                                               for="Hosts.currentStateDown">{{ t('Down') }}</label>
                                    </c-form-check>
                                    <c-form-check>
                                        <input
                                            (debouncedValue)="onFilterChange($event)"
                                            cFormCheckInput
                                            class="checkbox-secondary"
                                            name="Hosts.currentStateUnreachable"
                                            id="Hosts.currentStateUnreachable"
                                            type="checkbox"
                                            trueFalseValue
                                            oitcDebounce
                                            [(ngModel)]="currentStateFilter.unreachable"/>
                                        <label cFormCheckLabel
                                               for="Hosts.currentStateUnreachable">{{ t('Unreachable') }}</label>
                                    </c-form-check>
                                </fieldset>
                            </c-col>

                            <c-col [xs]="12" lg="2">
                                <fieldset>
                                    <h5>
                                        {{ t('State Types') }}
                                    </h5>
                                    <c-form-check>
                                        <input
                                            (debouncedValue)="onFilterChange($event)"
                                            cFormCheckInput
                                            class="checkbox-primary"
                                            name="Hosts.soft"
                                            id="Hosts.soft"
                                            type="checkbox"
                                            trueFalseValue
                                            oitcDebounce
                                            [(ngModel)]="state_typesFilter.soft"/>

                                        <label cFormCheckLabel
                                               for="Hosts.soft">{{ t('Soft') }}</label>
                                    </c-form-check>
                                    <c-form-check>
                                        <input
                                            (debouncedValue)="onFilterChange($event)"
                                            cFormCheckInput
                                            class="checkbox-primary"
                                            name="Hosts.hard"
                                            id="Hosts.hard"
                                            type="checkbox"
                                            trueFalseValue
                                            oitcDebounce
                                            [(ngModel)]="state_typesFilter.hard"/>
                                        <label cFormCheckLabel
                                               for="Hosts.hard">{{ t('Hard') }}</label>
                                    </c-form-check>
                                </fieldset>
                            </c-col>

                            <c-col [xs]="12" lg="2">
                                <fieldset>
                                    <h5>
                                        {{ t('Acknowledgements') }}
                                    </h5>
                                    <c-form-check>
                                        <input
                                            (debouncedValue)="onFilterChange($event)"
                                            cFormCheckInput
                                            class="checkbox-primary"
                                            name="Hosts.acknowledged"
                                            id="Hosts.acknowledged"
                                            type="checkbox"
                                            trueFalseValue
                                            oitcDebounce
                                            [(ngModel)]="acknowledgementsFilter.acknowledged"/>

                                        <label cFormCheckLabel
                                               for="Hosts.acknowledged">{{ t('Acknowledged') }}</label>
                                    </c-form-check>
                                    <c-form-check>
                                        <input
                                            (debouncedValue)="onFilterChange($event)"
                                            cFormCheckInput
                                            class="checkbox-primary"
                                            name="Hosts.not_acknowledged"
                                            id="Hosts.not_acknowledged"
                                            type="checkbox"
                                            trueFalseValue
                                            oitcDebounce
                                            [(ngModel)]="acknowledgementsFilter.not_acknowledged"/>
                                        <label cFormCheckLabel
                                               for="Hosts.not_acknowledged">{{ t('Not acknowledged') }}</label>
                                    </c-form-check>
                                </fieldset>
                            </c-col>

                            <c-col [xs]="12" lg="2">
                                <fieldset>
                                    <h5>
                                        {{ t('Downtimes') }}
                                    </h5>
                                    <c-form-check>
                                        <input
                                            (debouncedValue)="onFilterChange($event)"
                                            cFormCheckInput
                                            class="checkbox-primary"
                                            name="Hosts.in_downtime"
                                            id="Hosts.in_downtime"
                                            type="checkbox"
                                            trueFalseValue
                                            oitcDebounce
                                            [(ngModel)]="downtimeFilter.in_downtime"/>

                                        <label cFormCheckLabel
                                               for="Hosts.in_downtime">{{ t('In downtime') }}</label>
                                    </c-form-check>
                                    <c-form-check>
                                        <input
                                            (debouncedValue)="onFilterChange($event)"
                                            cFormCheckInput
                                            class="checkbox-primary"
                                            name="Hosts.not_in_downtime"
                                            id="Hosts.not_in_downtime"
                                            type="checkbox"
                                            trueFalseValue
                                            oitcDebounce
                                            [(ngModel)]="downtimeFilter.not_in_downtime"/>
                                        <label cFormCheckLabel
                                               for="Hosts.not_in_downtime">{{ t('Not in downtime') }}</label>
                                    </c-form-check>
                                </fieldset>
                            </c-col>

                            <c-col [xs]="12" lg="2">
                                <fieldset>
                                    <h5>
                                        {{ t('Notifications') }}
                                    </h5>
                                    <c-form-check>
                                        <input
                                            (debouncedValue)="onFilterChange($event)"
                                            cFormCheckInput
                                            class="checkbox-primary"
                                            name="Hosts.noty_enabled"
                                            id="Hosts.noty_enabled"
                                            type="checkbox"
                                            trueFalseValue
                                            oitcDebounce
                                            [(ngModel)]="notificationsFilter.enabled"/>

                                        <label cFormCheckLabel
                                               for="Hosts.noty_enabled">{{ t('Enabled') }}</label>
                                    </c-form-check>
                                    <c-form-check>
                                        <input
                                            (debouncedValue)="onFilterChange($event)"
                                            cFormCheckInput
                                            class="checkbox-primary"
                                            name="Hosts.noty_not_enabled"
                                            id="Hosts.noty_not_enabled"
                                            type="checkbox"
                                            trueFalseValue
                                            oitcDebounce
                                            [(ngModel)]="notificationsFilter.not_enabled"/>
                                        <label cFormCheckLabel
                                               for="Hosts.noty_not_enabled">{{ t('Not enabled') }}</label>
                                    </c-form-check>
                                </fieldset>
                            </c-col>

                            <c-col [xs]="12" lg="2">
                                <fieldset>
                                    <h5>
                                        {{ t('Priority') }}
                                    </h5>
                                    <c-form-check>
                                        <input
                                            (debouncedValue)="onFilterChange($event)"
                                            cFormCheckInput
                                            class="checkbox-primary"
                                            name="Hosts.Priority_1"
                                            id="Hosts.Priority_1"
                                            type="checkbox"
                                            trueFalseValue
                                            oitcDebounce
                                            [(ngModel)]="priorityFilter['1']"/>

                                        <label cFormCheckLabel
                                               for="Hosts.Priority_1" class="ok-soft">
                                            <fa-icon [icon]="['fas', 'fire']"></fa-icon>
                                        </label>
                                    </c-form-check>
                                    <c-form-check>
                                        <input
                                            (debouncedValue)="onFilterChange($event)"
                                            cFormCheckInput
                                            class="checkbox-primary"
                                            name="Hosts.Priority_2"
                                            id="Hosts.Priority_2"
                                            type="checkbox"
                                            trueFalseValue
                                            oitcDebounce
                                            [(ngModel)]="priorityFilter['2']"/>

                                        <label cFormCheckLabel
                                               for="Hosts.Priority_2" class="ok">
                                            <fa-icon [icon]="['fas', 'fire']"></fa-icon>
                                            <fa-icon [icon]="['fas', 'fire']"></fa-icon>
                                        </label>
                                    </c-form-check>
                                    <c-form-check>
                                        <input
                                            (debouncedValue)="onFilterChange($event)"
                                            cFormCheckInput
                                            class="checkbox-primary"
                                            name="Hosts.Priority_3"
                                            id="Hosts.Priority_3"
                                            type="checkbox"
                                            trueFalseValue
                                            oitcDebounce
                                            [(ngModel)]="priorityFilter['3']"/>

                                        <label cFormCheckLabel
                                               for="Hosts.Priority_3" class="warning">
                                            <fa-icon [icon]="['fas', 'fire']"></fa-icon>
                                            <fa-icon [icon]="['fas', 'fire']"></fa-icon>
                                            <fa-icon [icon]="['fas', 'fire']"></fa-icon>
                                        </label>
                                    </c-form-check>
                                    <c-form-check>
                                        <input
                                            (debouncedValue)="onFilterChange($event)"
                                            cFormCheckInput
                                            class="checkbox-primary"
                                            name="Hosts.Priority_4"
                                            id="Hosts.Priority_4"
                                            type="checkbox"
                                            trueFalseValue
                                            oitcDebounce
                                            [(ngModel)]="priorityFilter['4']"/>

                                        <label cFormCheckLabel
                                               for="Hosts.Priority_4" class="critical-soft">
                                            <fa-icon [icon]="['fas', 'fire']"></fa-icon>
                                            <fa-icon [icon]="['fas', 'fire']"></fa-icon>
                                            <fa-icon [icon]="['fas', 'fire']"></fa-icon>
                                            <fa-icon [icon]="['fas', 'fire']"></fa-icon>
                                        </label>
                                    </c-form-check>
                                    <c-form-check>
                                        <input
                                            (debouncedValue)="onFilterChange($event)"
                                            cFormCheckInput
                                            class="checkbox-primary"
                                            name="Hosts.Priority_5"
                                            id="Hosts.Priority_5"
                                            type="checkbox"
                                            trueFalseValue
                                            oitcDebounce
                                            [(ngModel)]="priorityFilter['5']"/>

                                        <label cFormCheckLabel
                                               for="Hosts.Priority_5" class="critical">
                                            <fa-icon [icon]="['fas', 'fire']"></fa-icon>
                                            <fa-icon [icon]="['fas', 'fire']"></fa-icon>
                                            <fa-icon [icon]="['fas', 'fire']"></fa-icon>
                                            <fa-icon [icon]="['fas', 'fire']"></fa-icon>
                                            <fa-icon [icon]="['fas', 'fire']"></fa-icon>
                                        </label>
                                    </c-form-check>
                                </fieldset>
                            </c-col>

                        </c-row>

                        <c-row class="mb-2">
                            <c-col [xs]="12" [lg]="6" class="ui-fluid">
                                <fieldset>
                                    <h5>
                                        {{ t('Instance') }}
                                    </h5>
                                    <c-form-check class="d-flex">
                                        <c-input-group>
                                            <span cInputGroupText>
                                                <fa-icon [icon]="['fas', 'satellite']"></fa-icon>
                                            </span>

                                            <oitc-multi-select
                                                class="flex-1"
                                                name="satellite_id"
                                                id="satellite_id"
                                                optionValue="key"
                                                optionLabel="value"
                                                [(ngModel)]="filter['Hosts.satellite_id']"
                                                [options]="satellites"
                                                [debounce]="true"
                                                [placeholder]="'Filter by instance' | transloco"
                                                (onChange)="onFilterChange(null)">
                                            </oitc-multi-select>
                                        </c-input-group>
                                    </c-form-check>
                                </fieldset>
                            </c-col>

                        </c-row>

                        <c-row class="mt-2">
                            <c-col class="text-end">
                                <button (click)="resetFilter()" cButton class="ripple" color="danger" size="xs">
                                    {{ t('Reset filter') }}
                                </button>
                            </c-col>
                        </c-row>

                    </form>
                </c-container>
                <!-- End Filter -->


                <table bordered cTable class="mt-2 mb-0 table table-fit" hover striped matSort
                       (matSortChange)="onSortChange($event)"
                       [matSortActive]="params.sort" [matSortDirection]="params.direction">
                    <thead>
                    <tr>
                        <th colspan="2" class="width-90"
                            mat-sort-header="Hoststatus.current_state">
                            {{ t('Hoststatus') }}
                        </th>

                        <th class="text-center"
                            mat-sort-header="Hoststatus.acknowledgement_type"
                            [cTooltip]="'is acknowledged' | transloco" cTooltipPlacement="top">
                            <fa-icon [icon]="['fas', 'user']"></fa-icon>
                        </th>

                        <th class="text-center"
                            mat-sort-header="Hoststatus.scheduled_downtime_depth"
                            [cTooltip]="'is in downtime' | transloco" cTooltipPlacement="top">
                            <fa-icon [icon]="['fas', 'power-off']"></fa-icon>
                        </th>

                        <th class="text-center"
                            mat-sort-header="Hoststatus.notifications_enabled"
                            [cTooltip]="'Notifications enabled' | transloco" cTooltipPlacement="top">
                            <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
                        </th>

                        <th class="text-center"
                            [cTooltip]="'Shared' | transloco" cTooltipPlacement="top">
                            <fa-icon [icon]="['fas', 'sitemap']"></fa-icon>
                        </th>

                        <th class="text-center"
                            [cTooltip]="'Passively transferred host' | transloco" cTooltipPlacement="top">
                            <strong>P</strong>
                        </th>

                        <th class="text-center"
                            mat-sort-header="hostpriority"
                            [cTooltip]="'Priority' | transloco" cTooltipPlacement="top">
                            <fa-icon [icon]="['fas', 'fire']"></fa-icon>
                        </th>

                        <th
                            mat-sort-header="Hosts.name">
                            {{ t('Host name') }}
                        </th>

                        <th>
                            {{ t('Host description') }}
                        </th>

                        <th
                            mat-sort-header="Hosts.address">
                            {{ t('IP address') }}
                        </th>

                        <th class="tableStatewidth"
                            mat-sort-header="Hoststatus.last_state_change">
                            {{ t('Last state change') }}
                        </th>

                        <th class="tableStatewidth"
                            mat-sort-header="Hoststatus.last_check">
                            {{ t('Last check') }}
                        </th>

                        <th
                            mat-sort-header="Hoststatus.output">
                            {{ t('Host output') }}
                        </th>

                        <th
                            mat-sort-header="Hosts.satellite_id">
                            {{ t('Instance') }}
                        </th>

                        <th *oitcPermission="['services', 'serviceList']">
                            {{ t('Service Summary ') }}
                        </th>

                        <th>
                            {{ t('Host notes') }}
                        </th>

                        <th>
                            {{ t('Host type') }}
                        </th>

                        <th class="text-center editItemWidth" scope="col">
                            <fa-icon [icon]="['fas', 'gear']"></fa-icon>
                        </th>
                    </tr>
                    </thead>
                    <tbody *ngIf="hosts">
                    <tr *ngFor="let host of hosts.all_hosts">
                        <td class="text-center">
                            <oitc-item-select
                                *oitcPermission="['hosts', 'delete']"
                                [disabled]="!host.Host.allow_edit"
                                [item]="host"></oitc-item-select>
                        </td>
                        <td class="text-center">
                            <oitc-hoststatus-icon [hoststatus]="host.Hoststatus"></oitc-hoststatus-icon>
                        </td>
                        <td class="text-center">
                            <oitc-acknowledgement-icon
                                *ngIf="host.Hoststatus.problemHasBeenAcknowledged"
                                type="hosts"
                                [objectId]="host.Host.id"
                                [acknowledgement_type]="host.Hoststatus.acknowledgement_type"></oitc-acknowledgement-icon>
                        </td>

                        <td class="text-center">
                            <oitc-downtime-icon
                                *ngIf="host.Hoststatus.scheduledDowntimeDepth && host.Hoststatus.scheduledDowntimeDepth > 0"
                                type="hosts"
                                [objectId]="host.Host.id"></oitc-downtime-icon>
                        </td>

                        <td class="text-center">
                            @if (host.Hoststatus.notifications_enabled) {
                                <fa-stack
                                    [cTooltip]="'Notifications enabled' | transloco" cTooltipPlacement="right">
                                    <fa-icon [icon]="['fas', 'envelope']"
                                             stackItemSize="1x" pull="right"></fa-icon>
                                    <fa-icon [icon]="['fas', 'check']" class="text-success"
                                             stackItemSize="1x"
                                             transform="shrink-3 right-3 down-7"></fa-icon>
                                </fa-stack>
                            } @else {
                                <fa-stack
                                    [cTooltip]="'Notifications disabled' | transloco" cTooltipPlacement="right">
                                    <fa-icon [icon]="['fas', 'envelope']"
                                             stackItemSize="1x" pull="right"></fa-icon>
                                    <fa-icon [icon]="['fas', 'times']" class="text-danger"
                                             stackItemSize="1x"
                                             transform="shrink-3 right-3 down-7"></fa-icon>
                                </fa-stack>
                            }
                        </td>

                        <td class="text-center">
                            @if (host.Host.allow_sharing === true && host.Host.containerIds && host.Host.containerIds.length > 1) {
                                <a [routerLink]="['/', 'hosts', 'sharing', host.Host.id]"
                                   [cTooltip]="'Shared' | transloco" cTooltipPlacement="right">
                                    <fa-icon [icon]="['fas', 'sitemap']"></fa-icon>
                                </a>
                            } @else if (host.Host.allow_sharing === false && host.Host.containerIds && host.Host.containerIds.length > 1) {
                                <fa-icon [icon]="['fas', 'low-vision']"
                                         [cTooltip]="'Restricted view' | transloco" cTooltipPlacement="right"></fa-icon>
                            }
                        </td>

                        <td class="text-center">
                            <strong
                                *ngIf="host.Host.active_checks_enabled === true || host.Host.is_satellite_host === true"
                                [cTooltip]="'Passively transferred host' | transloco" cTooltipPlacement="right">
                                P
                            </strong>
                        </td>

                        <td class="text-center">
                            <fa-icon [icon]="['fas', 'fire']" [ngClass]="{'ok-soft' : host.Host.priority==1,
                                        'ok' : host.Host.priority==2, 'warning' : host.Host.priority==3,
                                        'critical-soft' : host.Host.priority==4, 'critical' : host.Host.priority==5}"></fa-icon>
                        </td>

                        <td>
                            @if (this.PermissionsService.hasPermission(['hosts', 'browser'])) {
                                <a [routerLink]="['/', 'hosts', 'browser', host.Host.id]">
                                    {{ host.Host.name }}
                                </a>
                            } @else {
                                {{ host.Host.name }}
                            }

                            @if (this.PermissionsService.hasModule('ImportModule') && this.PermissionsService.hasPermission(['ImportModule', 'ExternalSystems', 'additionalHostInformation'])) {
                                <span class="badge border border-info"
                                      [hidden]="!host.Host.additionalInformationExists">
                                    <!-- todo fix link to tab6 -->
                                    <a [routerLink]="['/', 'hosts', 'browser', host.Host.id]"
                                       class="text-info">
                                        <fa-icon [icon]="['fas', 'database']"></fa-icon>
                                        {{ t('CMDB') }}
                                    </a>
                                </span>
                            }

                        </td>

                        <td>
                            {{ host.Host.description }}
                        </td>

                        <td>
                            <oitc-copy-to-clipboard [data]="host.Host.address">
                                {{ host.Host.address }}
                            </oitc-copy-to-clipboard>
                        </td>

                        <td>
                            {{ host.Hoststatus.last_state_change }}
                        </td>

                        <td>
                            {{ host.Hoststatus.lastCheck }}
                        </td>

                        <td>
                            <div class="word-break"
                                 [innerHTML]="String(host.Hoststatus.outputHtml) | trustAsHtml "></div>
                        </td>

                        <td>
                            {{ host.Host.satelliteName }}
                        </td>

                        <td class="width-160">
                            <div class="btn-group btn-group-justified w-100" role="group">
                                <!-- todo fix links and permissiosn -->
                                <a class="btn btn-success state-button-small">
                                    {{ host.ServicestatusSummary.state.ok }}
                                </a>
                                <a class="btn btn-warning state-button-small">
                                    {{ host.ServicestatusSummary.state.warning }}
                                </a>
                                <a class="btn btn-danger state-button-small">
                                    {{ host.ServicestatusSummary.state.critical }}
                                </a>
                                <a class="btn btn-secondary state-button-small">
                                    {{ host.ServicestatusSummary.state.unknown }}
                                </a>
                            </div>
                        </td>

                        <td>
                            {{ host.Host.notes }}
                        </td>

                        <td>
                            <span
                                *ngIf="host.Host.type"
                                class="badge border"
                                [ngClass]="[host.Host.type.class, host.Host.type.color]">
                                <fa-icon [icon]="host.Host.type.icon"
                                         [rotate]="host.Host.type.rotate"></fa-icon>
                                {{ host.Host.type.title }}
                            </span>
                        </td>


                        <td class="width-50">
                            <oitc-actions-button [permission]="'hosts.edit'"
                                                 [url]="'/hosts/edit/' + host.Host.id"
                                                 [allowEdit]="host.Host.allow_edit">
                                <oitc-actions-button-element [permission]="'hosts.edit'"
                                                             *ngIf="host.Host.allow_edit"
                                                             [url]="'/hosts/edit/' + host.Host.id">
                                    <fa-icon [icon]="['fas', 'gear']"></fa-icon>
                                    {{ t('Edit') }}
                                </oitc-actions-button-element>

                                <oitc-actions-button-element [permission]="'hosts.sharing'"
                                                             *ngIf="host.Host.allow_sharing"
                                                             [url]="'/hosts/sharing/' + host.Host.id">
                                    <fa-icon [icon]="['fas', 'sitemap']" [rotate]="270"></fa-icon>
                                    {{ t('Sharing') }}
                                </oitc-actions-button-element>

                                <oitc-actions-button-element [permission]="'hosts.deactivate'"
                                                             *ngIf="host.Host.allow_edit">
                                    <fa-icon [icon]="['fas', 'plug']"></fa-icon>
                                    {{ t('Disable') }}
                                    <!-- todo implement -->
                                </oitc-actions-button-element>

                                <oitc-actions-button-element [permission]="'changelogs.index'"
                                                             [url]="'/changelogs/entity/host/' + host.Host.id">
                                    <fa-icon [icon]="['fas', 'timeline']" [rotate]="90"></fa-icon>
                                    {{ t('Changelog') }}
                                </oitc-actions-button-element>

                                @if (this.PermissionsService.hasModule('ImportModule') && this.PermissionsService.hasPermission(['ImportModule', 'ExternalSystems', 'additionalHostInformation'])) {
                                    <oitc-actions-button-element [permission]="'hosts.browser'"
                                                                 [url]="'/hosts/browser/' + host.Host.id">
                                        <fa-icon [icon]="['fas', 'database']"></fa-icon>
                                        {{ t('CMDB') }}
                                        <!-- todo open tab6 -->
                                    </oitc-actions-button-element>
                                }

                                <oitc-actions-button-element [permission]="'services.serviceList'"
                                                             [url]="'/services/serviceList/' + host.Host.id">
                                    <fa-icon [icon]="['fas', 'sitemap']" [rotate]="270"></fa-icon>
                                    {{ t('Service list') }}
                                    <!-- todo open tab6 -->
                                </oitc-actions-button-element>

                                <oitc-actions-button-element [permission]="'servicetemplategroups.allocateToHost'"
                                                             [url]="'/servicetemplategroups/allocateToHost/0/' + host.Host.id">
                                    <fa-icon [icon]="['fas', 'external-link-square-alt']"></fa-icon>
                                    {{ t('Allocate service template group') }}
                                    <!-- todo implement link -->
                                </oitc-actions-button-element>

                                <oitc-actions-button-element [permission]="'hostgroups.add'"
                                >
                                    <fa-icon [icon]="['fas', 'sitemap']"></fa-icon>
                                    {{ t('Append to host group') }}
                                    <!-- todo implement modal -->
                                </oitc-actions-button-element>

                                <oitc-actions-button-element [permission]="'wizard.agentconnector'"
                                                             [url]="'/agentconnector/wizard/' + host.Host.id">
                                    <fa-icon [icon]="['fas', 'user-secret']"></fa-icon>
                                    {{ t('openITCOCKPIT Agent discovery') }}
                                </oitc-actions-button-element>

                                @if (this.PermissionsService.hasModule('CheckmkModule')) {
                                    <oitc-actions-button-element [permission]="'CheckmkModule.scans.index'"
                                                                 [url]="'/checkmk_module/scans/index/' + host.Host.id">
                                        <fa-icon [icon]="['fas', 'share-alt']"></fa-icon>
                                        {{ t('Checkmk discovery') }}
                                    </oitc-actions-button-element>
                                }



                                <oitc-actions-button-element [permission]="'hosts.usedBy'"
                                                             [url]="'/hosts/usedBy/' + host.Host.id">
                                    <fa-icon [icon]="['fas', 'reply-all']" flip="horizontal"></fa-icon>
                                    {{ t('Used By') }}
                                </oitc-actions-button-element>

                                <oitc-actions-button-element [permission]="'documentations.view'"
                                                             [url]="'/documentations/view/' + host.Host.uuid+'/host'">
                                    <fa-icon [icon]="['fas', 'book']"></fa-icon>
                                    {{ t('Documentation') }}
                                </oitc-actions-button-element>

                                <li cDropdownDivider></li>
                                <oitc-actions-button-element [permission]="'hosts.copy'"
                                                             [url]="'/hosts/copy/' + host.Host.id">
                                    <fa-icon [icon]="['fas', 'copy']"></fa-icon>
                                    {{ t('Copy') }}
                                </oitc-actions-button-element>

                                <li cDropdownDivider *ngIf="host.Host.allow_edit"></li>
                                <oitc-actions-button-element (click)="toggleDeleteAllModal(host.Host)"
                                                             [permission]="'hosts.delete'">
                                    <span class="text-danger">
                                        <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                                        {{ t('Delete') }}
                                    </span>
                                </oitc-actions-button-element>

                            </oitc-actions-button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <oitc-no-records
                    *ngIf="hosts && hosts.all_hosts.length === 0"></oitc-no-records>
                <ng-container *ngIf="hosts && hosts.all_hosts">
                    <c-container class="bg-secondary bg-opacity-10 mb-3 py-2 rounded-bottom border border-top-0" fluid>
                        <c-row>
                            <c-col>
                                <oitc-select-all
                                    [itemsCount]="hosts.all_hosts.length"></oitc-select-all>
                            </c-col>
                            <c-col md="3">
                                <div class="btn-group btn-group-xs d-flex flex-row" role="group">
                                    <button class="btn btn-outline-primary col-3" type="button"
                                            (click)="navigateCopy()">
                                        <fa-icon [icon]="['fas', 'copy']"></fa-icon>
                                        {{ t('Copy') }}
                                    </button>
                                    <button (click)="toggleDeleteAllModal()" class="btn btn-outline-danger col-3"
                                            type="button">
                                        <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                                        {{ t('Delete selected') }}
                                    </button>
                                </div>
                            </c-col>
                        </c-row>
                    </c-container>
                </ng-container>

                <c-container fluid>
                    <c-row>
                        <c-col>
                            <oitc-paginate-or-scroll
                                (paginatorChange)="onPaginatorChange($event)"
                                *ngIf="hosts"
                                [paginateOrScroll]="hosts"></oitc-paginate-or-scroll>
                        </c-col>
                    </c-row>
                </c-container>

            </c-card-body>
            <c-card-footer>
                &nbsp;
            </c-card-footer>
        </c-card>
    </ng-container>
</oitc-coreui>

<oitc-delete-all-modal (completed)="onMassActionComplete($event)" [items]="selectedItems"></oitc-delete-all-modal>
