<ng-container *transloco="let t">
    <nav aria-label="breadcrumb" class="mt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a [routerLink]="['/']">
                    <fa-icon [icon]="['fas', 'home']"></fa-icon>
                    {{ t('Home') }}
                </a></li>
            <li class="breadcrumb-item">
                <a *oitcPermission="['servicedependencies', 'index']"
                   [routerLink]="['/', 'servicedependencies', 'index']">
                    <fa-icon [icon]="['fas', 'sitemap']"></fa-icon>
                    {{ t('Service dependencies') }}
                </a>
            </li>
            <li aria-current="page" class="breadcrumb-item active">
                <fa-icon [icon]="['fas', 'list']"></fa-icon>
                {{ t('Overview') }}
            </li>
        </ol>
    </nav>
    <c-card class="mb-3">
        <c-card-header>
            <h5 cCardTitle>{{ t('Service dependencies') }}
                <small class="fw-300">
                    {{ t('overview') }}
                </small>
            </h5>
            <c-nav class="card-toolbar card-header-pills">
                <c-nav-item class="px-1">
                    <button (click)="loadServicedependencies()" cButton class="ripple" color="default" size="xs">
                        <fa-icon [icon]="['fas', 'arrows-rotate']"></fa-icon>
                        {{ t('Refresh') }}
                    </button>
                </c-nav-item>
                <c-nav-item class="px-1">
                    <button *oitcPermission="['servicedependencies', 'add']"
                            [routerLink]="['/', 'servicedependencies', 'add']"
                            cButton
                            class="ripple"
                            color="success"
                            size="xs">
                        <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                        {{ t('New') }}
                    </button>
                </c-nav-item>
                <c-nav-item class="px-1">
                    <button (click)="toggleFilter()" cButton class="ripple" color="primary" size="xs">
                        <fa-icon [icon]="['fas', 'filter']"></fa-icon>
                        {{ t('Filter') }}
                    </button>
                </c-nav-item>
            </c-nav>
        </c-card-header>
        <c-card-body>
            <c-container [hidden]="hideFilter" class="shadow-sm p-2 mb-4 bg-body rounded" [fluid]="true">
                <c-row>
                    <c-col>
                        <h6 class="pb-2 mb-3 border-bottom">
                            <fa-icon [icon]="['fas', 'filter']"></fa-icon>
                            {{ t('Filter') }}
                        </h6>
                    </c-col>
                </c-row>
                <form cForm>
                    <c-row>
                        <c-col [lg]="6" class="border-start border-primary border-4 rounded-top rounded-bottom">
                            <c-input-group>
                                <span cInputGroupText>
                                    <fa-icon [icon]="['fas', 'desktop']"></fa-icon>
                                </span>
                                <input (debouncedValue)="onFilterChange($event)"
                                       [(ngModel)]="params['filter[Services.servicename]']"
                                       [placeholder]="'Filter by service name' | transloco"
                                       cFormControl
                                       name="Services.servicename"
                                       oitcDebounce
                                       type="text"
                                       (focus)="serviceFocus=true;params['filter[ServicesDependent.servicename]']='';serviceExcludeFocus=false;onFilterChange(true);"
                                />
                            </c-input-group>
                            <c-row class="my-1">
                                <c-col class="text-info small">
                                    <fa-icon [icon]="['fas', 'info-circle']" class="text-info"></fa-icon>
                                    {{ t('You can either search for "service" OR "dependent service". Opposing Field will be reset automatically') }}
                                </c-col>
                            </c-row>
                            <c-input-group>
                                <span cInputGroupText class="pe-0 ps-2">
                                    <fa-stack>
                                        <fa-icon [icon]="['fas', 'desktop']"
                                                 stackItemSize="1x" pull="right"></fa-icon>
                                        <fa-icon [icon]="['fas', 'sitemap']" class="text-info"
                                                 stackItemSize="1x"
                                                 transform="shrink-8 right-3 down-7"></fa-icon>
                                    </fa-stack>
                                </span>
                                <input (debouncedValue)="onFilterChange($event)"
                                       [(ngModel)]="params['filter[ServicesDependent.servicename]']"
                                       [placeholder]="'Filter by dependent service' | transloco"
                                       cFormControl
                                       name="ServicesDependent.servicename"
                                       oitcDebounce
                                       type="text"
                                       (focus)="serviceExcludeFocus=true;params['filter[Services.servicename]']='';serviceFocus=false;onFilterChange(true);"
                                />
                            </c-input-group>
                        </c-col>
                        <c-col [lg]="6" class="border-start border-primary border-4 rounded-top rounded-bottom">
                            <c-input-group>
                                <span cInputGroupText>
                                    <fa-icon [icon]="['fas', 'server']"></fa-icon>
                                </span>
                                <input (debouncedValue)="onFilterChange($event)"
                                       [(ngModel)]="params['filter[Servicegroups.name]']"
                                       [placeholder]="'Filter by service group' | transloco"
                                       cFormControl
                                       name="Servicegroups.name"
                                       oitcDebounce
                                       type="text"
                                       (focus)="servicegroupFocus=true;params['filter[ServicegroupsDependent.name]']='';servicegroupExcludeFocus=false;onFilterChange(true);"
                                />
                            </c-input-group>
                            <c-row class="my-1">
                                <c-col class="text-info small">
                                    <fa-icon [icon]="['fas', 'info-circle']" class="text-info"></fa-icon>
                                    {{ t('You can either search for "service group" OR "dependent service group". Opposing Field will be reset automatically') }}
                                </c-col>
                            </c-row>
                            <c-input-group>
                                <span cInputGroupText class="pe-0 ps-2">
                                    <fa-stack>
                                        <fa-icon [icon]="['fas', 'server']"
                                                 stackItemSize="1x" pull="right"></fa-icon>
                                        <fa-icon [icon]="['fas', 'sitemap']" class="text-info"
                                                 stackItemSize="1x"
                                                 transform="shrink-8 right-3 down-7"></fa-icon>
                                    </fa-stack>
                                </span>
                                <input (debouncedValue)="onFilterChange($event)"
                                       [(ngModel)]="params['filter[ServicegroupsDependent.name]']"
                                       [placeholder]="'Filter by dependent service group' | transloco"
                                       cFormControl
                                       name="Servicegroupsdependent.name"
                                       oitcDebounce
                                       type="text"
                                       (focus)="servicegroupExcludeFocus=true;params['filter[Servicegroups.name]']='';servicegroupFocus=false;onFilterChange(true);"
                                />
                            </c-input-group>
                        </c-col>
                    </c-row>
                    <c-row class="mt-2">
                        <c-col md="3">
                            <fieldset>
                                <h5>
                                    {{ t('Execution fail on ...') }}
                                </h5>
                                <c-form-check>
                                    <input
                                        (debouncedValue)="onFilterChange($event)"
                                        cFormCheckInput
                                        class="checkbox-success"
                                        name="Servicedependencies.execution_fail_on_ok"
                                        id="Servicedependencies.execution_fail_on_ok"
                                        type="checkbox"
                                        trueFalseValue
                                        oitcDebounce
                                        [falseValue]="''"
                                        [trueValue]="'1'"
                                        [(ngModel)]="params['filter[Servicedependencies.execution_fail_on_ok]']"/>

                                    <label cFormCheckLabel
                                           for="Servicedependencies.execution_fail_on_ok">{{ t('Ok') }}</label>
                                </c-form-check>
                                <c-form-check>
                                    <input
                                        (debouncedValue)="onFilterChange($event)"
                                        cFormCheckInput
                                        class="checkbox-danger"
                                        name="Servicedependencies.execution_fail_on_critical"
                                        id="Servicedependencies.execution_fail_on_critical"
                                        type="checkbox"
                                        trueFalseValue
                                        oitcDebounce
                                        [falseValue]="''"
                                        [trueValue]="'1'"
                                        [(ngModel)]="params['filter[Servicedependencies.execution_fail_on_critical]']"/>
                                    <label cFormCheckLabel
                                           for="Servicedependencies.execution_fail_on_critical">{{ t('Critical') }}</label>
                                </c-form-check>
                                <c-form-check>
                                    <input
                                        (debouncedValue)="onFilterChange($event)"
                                        cFormCheckInput
                                        class="checkbox-secondary"
                                        name="Servicedependencies.execution_fail_on_unknown"
                                        id="Servicedependencies.execution_fail_on_unknown"
                                        type="checkbox"
                                        trueFalseValue
                                        oitcDebounce
                                        [falseValue]="''"
                                        [trueValue]="'1'"
                                        [(ngModel)]="params['filter[Servicedependencies.execution_fail_on_unknown]']"/>
                                    <label cFormCheckLabel
                                           for="Servicedependencies.execution_fail_on_unknown">{{ t('Unknown') }}</label>
                                </c-form-check>
                                <c-form-check>
                                    <input
                                        (debouncedValue)="onFilterChange($event)"
                                        cFormCheckInput
                                        class="checkbox-primary"
                                        name="Servicedependencies.execution_fail_on_pending"
                                        id="Servicedependencies.execution_fail_on_pending"
                                        type="checkbox"
                                        trueFalseValue
                                        oitcDebounce
                                        [falseValue]="''"
                                        [trueValue]="'1'"
                                        [(ngModel)]="params['filter[Servicedependencies.execution_fail_on_pending]']"/>
                                    <label cFormCheckLabel
                                           for="Servicedependencies.execution_fail_on_pending">{{ t('Pending') }}</label>
                                </c-form-check>
                                <c-form-check>
                                    <input
                                        (debouncedValue)="onFilterChange($event)"
                                        cFormCheckInput
                                        class="checkbox-primary"
                                        name="Servicedependencies.execution_none"
                                        id="Servicedependencies.execution_none"
                                        type="checkbox"
                                        trueFalseValue
                                        oitcDebounce
                                        [falseValue]="''"
                                        [trueValue]="'1'"
                                        [(ngModel)]="params['filter[Servicedependencies.execution_none]']"/>
                                    <label cFormCheckLabel
                                           for="Servicedependencies.execution_none">{{ t('Execution none') }}</label>
                                </c-form-check>
                            </fieldset>
                        </c-col>
                        <c-col md="3">
                            <fieldset>
                                <h5>
                                    {{ t('Notification fail on ...') }}
                                </h5>
                                <c-form-check>
                                    <input
                                        (debouncedValue)="onFilterChange($event)"
                                        cFormCheckInput
                                        class="checkbox-success"
                                        name="Servicedependencies.notification_fail_on_ok"
                                        id="Servicedependencies.notification_fail_on_ok"
                                        type="checkbox"
                                        trueFalseValue
                                        oitcDebounce
                                        [falseValue]="''"
                                        [trueValue]="'1'"
                                        [(ngModel)]="params['filter[Servicedependencies.notification_fail_on_ok]']"/>

                                    <label cFormCheckLabel
                                           for="Servicedependencies.notification_fail_on_ok">{{ t('Ok') }}</label>
                                </c-form-check>
                                <c-form-check>
                                    <input
                                        (debouncedValue)="onFilterChange($event)"
                                        cFormCheckInput
                                        class="checkbox-danger"
                                        name="Servicedependencies.notification_fail_on_critical"
                                        id="Servicedependencies.notification_fail_on_critical"
                                        type="checkbox"
                                        trueFalseValue
                                        oitcDebounce
                                        [falseValue]="''"
                                        [trueValue]="'1'"
                                        [(ngModel)]="params['filter[Servicedependencies.notification_fail_on_critical]']"/>
                                    <label cFormCheckLabel
                                           for="Servicedependencies.notification_fail_on_critical">{{ t('Critical') }}</label>
                                </c-form-check>
                                <c-form-check>
                                    <input
                                        (debouncedValue)="onFilterChange($event)"
                                        cFormCheckInput
                                        class="checkbox-secondary"
                                        name="Servicedependencies.notification_fail_on_unknown"
                                        id="Servicedependencies.notification_fail_on_unknown"
                                        type="checkbox"
                                        trueFalseValue
                                        oitcDebounce
                                        [falseValue]="''"
                                        [trueValue]="'1'"
                                        [(ngModel)]="params['filter[Servicedependencies.notification_fail_on_unknown]']"/>
                                    <label cFormCheckLabel
                                           for="Servicedependencies.notification_fail_on_unknown">{{ t('Unknown') }}</label>
                                </c-form-check>
                                <c-form-check>
                                    <input
                                        (debouncedValue)="onFilterChange($event)"
                                        cFormCheckInput
                                        class="checkbox-primary"
                                        name="Servicedependencies.notification_fail_on_pending"
                                        id="Servicedependencies.notification_fail_on_pending"
                                        type="checkbox"
                                        trueFalseValue
                                        oitcDebounce
                                        [falseValue]="''"
                                        [trueValue]="'1'"
                                        [(ngModel)]="params['filter[Servicedependencies.notification_fail_on_pending]']"/>
                                    <label cFormCheckLabel
                                           for="Servicedependencies.notification_fail_on_pending">{{ t('Pending') }}</label>
                                </c-form-check>
                                <c-form-check>
                                    <input
                                        (debouncedValue)="onFilterChange($event)"
                                        cFormCheckInput
                                        class="checkbox-primary"
                                        name="Servicedependencies.notification_none"
                                        id="Servicedependencies.notification_none"
                                        type="checkbox"
                                        trueFalseValue
                                        oitcDebounce
                                        [falseValue]="''"
                                        [trueValue]="'1'"
                                        [(ngModel)]="params['filter[Servicedependencies.notification_none]']"/>
                                    <label cFormCheckLabel
                                           for="Servicedependencies.notification_none">{{ t('Notification none') }}</label>
                                </c-form-check>
                            </fieldset>
                        </c-col>
                        <c-col md="6">
                            <fieldset>
                                <h5>
                                    {{ t('Options') }}
                                </h5>
                                <c-form-check>
                                    <input
                                        (debouncedValue)="onFilterChange($event)"
                                        cFormCheckInput
                                        class="checkbox-primary"
                                        name="Servicedependencies.inherits_parent"
                                        id="Servicedependencies.inherits_parent"
                                        type="checkbox"
                                        trueFalseValue
                                        oitcDebounce
                                        [trueValue]="1"
                                        [falseValue]="''"
                                        [(ngModel)]="params['filter[Servicedependencies.inherits_parent][0]']"/>
                                    <label cFormCheckLabel
                                           for="Servicedependencies.inherits_parent">{{ t('Inherits parent') }}</label>
                                </c-form-check>
                                <c-form-check>
                                    <input
                                        (debouncedValue)="onFilterChange($event)"
                                        cFormCheckInput
                                        class="checkbox-primary"
                                        name="Servicedependencies.not_inherits_parent"
                                        id="Servicedependencies.not_inherits_parent"
                                        type="checkbox"
                                        trueFalseValue
                                        oitcDebounce
                                        [trueValue]="0"
                                        [falseValue]="''"
                                        [(ngModel)]="params['filter[Servicedependencies.inherits_parent][1]']"/>
                                    <label cFormCheckLabel
                                           for="Servicedependencies.not_inherits_parent">{{ t('Not inherits parent') }}</label>
                                </c-form-check>
                            </fieldset>
                        </c-col>
                    </c-row>

                    <c-row class="mt-2">
                        <c-col class="text-end">
                            <button (click)="resetFilter()" cButton class="ripple" color="danger" size="xs">
                                {{ t('Reset filter') }}
                            </button>
                        </c-col>
                    </c-row>
                </form>
            </c-container>
            <!-- End Filter -->
            <oitc-table-loader *ngIf="!servicedependencies"></oitc-table-loader>
            <table *ngIf="servicedependencies" bordered cTable class="mt-2 mb-0 table table-fit" hover striped>
                <thead>
                <tr>
                    <th class="width-50 text-center" scope="col">
                        <fa-icon [icon]="['fas', 'square-check']"></fa-icon>
                    </th>
                    <th scope="col">
                        {{ t('Services') }}
                    </th>
                    <th scope="col">
                        {{ t('Dependent services') }}
                    </th>
                    <th scope="col">
                        {{ t('Service groups') }}
                    </th>
                    <th scope="col">
                        {{ t('Dependent service groups') }}
                    </th>
                    <th scope="col">
                        {{ t('Timeperiod') }}
                    </th>
                    <th scope="col">
                        {{ t('Inherits parent') }}
                    </th>
                    <th scope="col">
                        {{ t('Execution failure criteria') }}
                    </th>
                    <th scope="col">
                        {{ t('Notification failure criteria') }}
                    </th>
                    <th class="text-center width-50" scope="col">
                        <fa-icon [icon]="['fas', 'gear']"></fa-icon>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let servicedependency of servicedependencies.all_servicedependencies">
                    <td class="text-center">
                        <oitc-item-select
                            *oitcPermission="['servicedependencies', 'delete']"
                            [disabled]="!servicedependency.allowEdit"
                            [item]="servicedependency"></oitc-item-select>
                    </td>
                    <td>
                        <ul class="list-unstyled">
                            <li *ngFor="let service of servicedependency.services">
                                <fa-icon [icon]="['fas', 'sitemap']" [rotate]="270"
                                         class="badge bg-secondary"></fa-icon>
                                <a *oitcPermission="['services', 'edit']"
                                   [routerLink]="['/', 'services', 'edit', service.id]">
                                    {{ service.servicename }}
                                </a>
                                <span *oitcPermission="['services', 'edit']; negate: true">
                                    {{ service.servicename }}
                                </span>
                                <fa-icon *ngIf="service.disabled == 1" [icon]="['fas', 'power-off']"
                                         class="text-danger"></fa-icon>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-unstyled">
                            <li *ngFor="let service of servicedependency.services_dependent">
                                <fa-icon [icon]="['fas', 'sitemap']" [rotate]="90"
                                         class="badge bg-primary"></fa-icon>
                                <a *oitcPermission="['services', 'edit']"
                                   [routerLink]="['/', 'services', 'edit', service.id]">
                                    {{ service.servicename }}
                                </a>
                                <span *oitcPermission="['services', 'edit']; negate: true">
                                    {{ service.servicename }}
                                </span>
                                <fa-icon *ngIf="service.disabled == 1" [icon]="['fas', 'power-off']"
                                         class="text-danger"></fa-icon>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-unstyled">
                            <li *ngFor="let servicegroup of servicedependency.servicegroups">
                                <fa-icon [icon]="['fas', 'sitemap']" [rotate]="270"
                                         class="badge bg-secondary"></fa-icon>
                                <a *oitcPermission="['servicegroups', 'edit']"
                                   [routerLink]="['/', 'servicegroups', 'edit', servicegroup.id]">
                                    {{ servicegroup.container.name }}
                                </a>
                                <span *oitcPermission="['servicegroups', 'edit']; negate: true">
                                    {{ servicegroup.container.name }}
                                </span>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-unstyled">
                            <li *ngFor="let servicegroup of servicedependency.servicegroups_dependent">
                                <fa-icon [icon]="['fas', 'sitemap']" [rotate]="90"
                                         class="badge bg-primary"></fa-icon>
                                <a *oitcPermission="['servicegroups', 'edit']"
                                   [routerLink]="['/', 'servicegroups', 'edit', servicegroup.id]">
                                    {{ servicegroup.container.name }}
                                </a>
                                <span *oitcPermission="['servicegroups', 'edit']; negate: true">
                                    {{ servicegroup.container.name }}
                                </span>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <div *ngIf="servicedependency.timeperiod">
                            <a *oitcPermission="['timeperiods', 'edit']"
                               [routerLink]="['/', 'timeperiods', 'edit', servicedependency.timeperiod.id]">
                                {{ servicedependency.timeperiod.name }}
                            </a>
                            <span *oitcPermission="['timeperiods', 'edit']; negate: true">
                                {{ servicedependency.timeperiod.name }}
                            </span>
                        </div>
                    </td>
                    <td class="text-center">
                        <span class="badge bg-success mx-1" title="{{ t('Yes') }}"
                              *ngIf="servicedependency.inherits_parent">
                            {{ t('Yes') }}
                        </span>
                        <span class="badge bg-danger mx-1" title="{{ t('No') }}"
                              *ngIf="!servicedependency.inherits_parent">
                            {{ t('No') }}
                        </span>
                    </td>
                    <td>
                        <span class="badge bg-success mx-1" title="{{ t('Ok') }}"
                              *ngIf="servicedependency.execution_fail_on_ok">
                            {{ t('O') }}
                        </span>
                        <span class="badge bg-warning mx-1" title="{{ t('Warning') }}"
                              *ngIf="servicedependency.execution_fail_on_warning">
                            {{ t('W') }}
                        </span>
                        <span class="badge bg-danger mx-1" title="{{ t('Critical') }}"
                              *ngIf="servicedependency.execution_fail_on_critical">
                            {{ t('C') }}
                        </span>
                        <span class="badge bg-secondary mx-1" title="{{ t('Unknown') }}"
                              *ngIf="servicedependency.execution_fail_on_unknown">
                            {{ t('U') }}
                        </span>
                        <span class="badge bg-primary mx-1" title="{{ t('Pending') }}"
                              *ngIf="servicedependency.execution_fail_on_pending">
                            {{ t('P') }}
                        </span>
                        <span class="badge bg-primary mx-1" title="{{ t('Execution none') }}"
                              *ngIf="servicedependency.execution_none">
                            {{ t('N') }}
                        </span>
                    </td>
                    <td>
                        <span class="badge bg-success mx-1" title="{{ t('Recovery') }}"
                              *ngIf="servicedependency.notification_fail_on_ok">
                            {{ t('O') }}
                        </span>
                        <span class="badge bg-warning mx-1" title="{{ t('Warning') }}"
                              *ngIf="servicedependency.notification_fail_on_warning">
                            {{ t('W') }}
                        </span>
                        <span class="badge bg-danger mx-1" title="{{ t('Critical') }}"
                              *ngIf="servicedependency.notification_fail_on_critical">
                            {{ t('C') }}
                        </span>
                        <span class="badge bg-secondary mx-1" title="{{ t('Unknown') }}"
                              *ngIf="servicedependency.notification_fail_on_unknown">
                            {{ t('U') }}
                        </span>
                        <span class="badge bg-primary mx-1" title="{{ t('Pending') }}"
                              *ngIf="servicedependency.notification_fail_on_pending">
                            {{ t('P') }}
                        </span>
                        <span class="badge bg-primary mx-1" title="{{ t('Notification none') }}"
                              *ngIf="servicedependency.notification_none">
                            {{ t('N') }}
                        </span>
                    </td>

                    <td class="width-50">
                        <oitc-actions-button [permission]="'servicedependencies.edit'"
                                             [url]="'/servicedependencies/edit/' + servicedependency.id"
                                             [allowEdit]="servicedependency.allowEdit">
                            <oitc-actions-button-element [permission]="'servicedependencies.edit'"
                                                         [url]="'/servicedependencies/edit/' + servicedependency.id">
                                <fa-icon [icon]="['fas', 'gear']"></fa-icon>
                                {{ t('Edit') }}
                            </oitc-actions-button-element>
                            <li cDropdownDivider></li>
                            <oitc-actions-button-element (click)="toggleDeleteAllModal(servicedependency)"
                                                         [permission]="'servicedependencies.delete'">
                                <span class="text-danger">
                                    <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                                    {{ t('Delete') }}
                                </span>
                            </oitc-actions-button-element>
                        </oitc-actions-button>
                    </td>
                </tr>
                </tbody>
            </table>

            <oitc-no-records
                *ngIf="servicedependencies && servicedependencies.all_servicedependencies.length === 0"></oitc-no-records>
            <ng-container *ngIf="servicedependencies && servicedependencies.all_servicedependencies">
                <c-container class="bg-secondary bg-opacity-10 mb-3 py-2 rounded-bottom border border-top-0"
                             [fluid]="true">
                    <c-row>
                        <c-col>
                            <oitc-select-all
                                [itemsCount]="servicedependencies.all_servicedependencies.length"></oitc-select-all>
                        </c-col>
                        <c-col md="3">
                            <div class="btn-group d-flex flex-row" role="group">

                                <button (click)="toggleDeleteAllModal()"
                                        class="btn btn-outline-danger col-3 border-0"
                                        type="button">
                                    <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                                    {{ t('Delete selected') }}
                                </button>
                            </div>
                        </c-col>
                    </c-row>
                </c-container>
            </ng-container>

            <c-container
                [fluid]="true">
                <c-row>
                    <c-col>
                        <oitc-paginate-or-scroll
                            (paginatorChange)="onPaginatorChange($event)"
                            *ngIf="servicedependencies"
                            [paginateOrScroll]="servicedependencies"></oitc-paginate-or-scroll>
                    </c-col>
                </c-row>
            </c-container>
        </c-card-body>
        <c-card-footer>
            &nbsp;
        </c-card-footer>
    </c-card>
</ng-container>


<oitc-delete-all-modal (completed)="onMassActionComplete($event)" [items]="selectedItems"></oitc-delete-all-modal>
