<div class="page-wrapper">
    <div class="page-inner">

        <aside class="page-sidebar" id="pageSidebar">
            <ng-content select="[oitcNavigation]"></ng-content>
        </aside>

        <div class="page-content-wrapper">


            <oitc-header oitcHeader/>
            <div id="uglyDropdownMenuHack"></div>
            <!-- BEGIN Page Content -->
            <!-- the #js-page-content id is needed for some plugins to initialize -->
            <main class="page-content" id="js-page-content" role="main">
                <div id="content">

                    <!-- Content will be here -->
                    <ng-content/>

                </div>
            </main>


        </div>

    </div>
</div>

