.sla-passed {
    background-image: linear-gradient(180deg, rgba(0, 200, 81, 0.7) 70%, rgba(0, 200, 81, 1.0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sla-warning {
    background-image: linear-gradient(180deg, rgba(114, 123, 132, 0.2) 40%, rgba(255, 187, 51, 0.7) 40%, rgba(255, 187, 51, 1.0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sla-failed {
    background-image: linear-gradient(180deg, rgba(114, 123, 132, 0.2) 70%, rgba(204, 0, 0, 0.5) 70%, rgba(204, 0, 0, 1.0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
