<ng-container *transloco="let t">

    <!-- Fancy skeleton loader -->
    <oitc-browser-menu-loader *ngIf="isLoading"></oitc-browser-menu-loader>

    <c-row class="mt-3" *ngIf="!isLoading">
        <c-col xs="12" sm="7" lg="6" *ngIf="data && data?.includeServicestatus">

            <div class="d-flex">
                <div>
                    <oitc-servicestatus-icon [servicestatus]="data.Servicestatus" [statusCircleClass]="''">
                        <fa-icon [icon]="['fas', 'cog']" class="pe-1"></fa-icon>
                        {{ data.Servicestatus.humanState | titlecase }}
                    </oitc-servicestatus-icon>
                </div>

                <div class="flex-status-header flex-1 h2">
                    <span [ngClass]="serviceStatusTextClass">
                        &raquo;{{ data.serviceName }}&laquo;
                    </span>
                    {{ t('on') }}
                    <span [ngClass]="hostStatusTextClass" class="mx-1">
                        <!-- &#9675; --> <!-- Circle Outline -->
                        &#9679; <!-- Circle Filled -->
                    </span>
                    @if (this.PermissionsService.hasPermission(['hosts', 'browser'])) {
                        <a [routerLink]="['/', 'hosts', 'browser', data.hostId]">
                            {{ data.hostName }}
                        </a>
                    } @else {
                        {{ data.hostName }}
                    }

                    <oitc-copy-to-clipboard [data]="data.hostAddress">
                        &nbsp;[{{ data.hostAddress }}]
                    </oitc-copy-to-clipboard>
                </div>
            </div>
        </c-col>
        <c-col xs="12" sm="5" lg="6" class="text-end">
            @if (data) {
                @if (config.showBackButton && this.PermissionsService.hasPermission(['services', 'browser'])) {
                    <button cButton color="primary"
                            class="me-2 ripple"
                            [routerLink]="['/', 'services', 'browser', data.serviceId]">
                        <fa-icon [icon]="['fas', 'arrow-left']"></fa-icon>
                        {{ t('Back to overview') }}
                    </button>
                }

                @if (config.showReschedulingButton) {
                    <button cButton color="default"
                            class="ripple me-2"
                            [routerLink]="['/', 'services', 'browser', data.serviceId]"
                            [cTooltip]="'Reset check time'|transloco" cTooltipPlacement="bottom">
                        <fa-icon [icon]="['fas', 'refresh']"></fa-icon>
                    </button>
                }

                @if (this.PermissionsService.hasPermission(['documentations', 'view'])) {
                    <button cButton color="default" class="position-relative me-2"
                            [routerLink]="'/documentations/view/' + data.serviceUuid +'/service'"
                            [cTooltip]="'Object documentation'|transloco" cTooltipPlacement="bottom">
                        <fa-icon [icon]="['fas', 'book']"></fa-icon>

                        <c-badge color="success" position="top-start" shape="rounded-pill" *ngIf="data.docuExists">
                            <fa-icon [icon]="['fas', 'check']"></fa-icon>
                        </c-badge>
                    </button>
                }

                @if (this.PermissionsService.hasPermission(['notifications', 'serviceNotification'])) {
                    <button cButton color="default"
                            class="ripple me-2"
                            [routerLink]="['/', 'notifications', 'serviceNotification', data.serviceId]"
                            [cTooltip]="'Notifications'|transloco" cTooltipPlacement="bottom">
                        <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
                    </button>
                }

                @if (this.PermissionsService.hasPermission(['servicechecks', 'index'])) {
                    <button cButton color="default"
                            class="ripple me-2"
                            [routerLink]="['/', 'servicechecks', 'index', data.serviceId]"
                            [cTooltip]="'Check history'|transloco" cTooltipPlacement="bottom">
                        <fa-icon [icon]="['fas', 'check-square']"></fa-icon>
                    </button>
                }

                @if (this.PermissionsService.hasPermission(['statehistories', 'service'])) {
                    <button cButton color="default"
                            class="ripple me-2"
                            [routerLink]="['/', 'statehistories', 'service', data.serviceId]"
                            [cTooltip]="'State history'|transloco" cTooltipPlacement="bottom">
                        <fa-icon [icon]="['fas', 'history']"></fa-icon>
                    </button>
                }

                @if (this.PermissionsService.hasPermission(['acknowledgements', 'service'])) {
                    <button cButton color="default"
                            class="ripple me-2"
                            [routerLink]="['/', 'acknowledgements', 'service', data.serviceId]"
                            [cTooltip]="'Acknowledgement history'|transloco" cTooltipPlacement="bottom">
                        <fa-icon [icon]="['fas', 'user']"></fa-icon>
                    </button>
                }

                <a cButton color="default" *ngIf="data.serviceUrl"
                   class="ripple me-2"
                   [href]="data.serviceUrl"
                   target="_blank"
                   [cTooltip]="'External link'|transloco" cTooltipPlacement="bottom">
                    <fa-icon [icon]="['fas', 'external-link-alt']"></fa-icon>
                </a>

                @if (this.PermissionsService.hasPermission(['hosts', 'edit']) && data.allowEdit) {
                    <button cButton color="default"
                            class="ripple me-2"
                            [routerLink]="['/', 'hosts', 'edit', data.hostId]"
                            [cTooltip]="'Edit host'|transloco" cTooltipPlacement="bottom">
                        <fa-icon [icon]="['fas', 'cog']"></fa-icon>
                    </button>
                }

                @if (this.PermissionsService.hasPermission(['services', 'edit']) && data.allowEdit) {
                    <button cButton color="default"
                            class="ripple me-2"
                            [routerLink]="['/', 'services', 'edit', data.serviceId]"
                            [cTooltip]="'Edit service'|transloco" cTooltipPlacement="bottom">
                        <fa-icon [icon]="['fas', 'cogs']"></fa-icon>
                    </button>
                }

                <c-dropdown class="d-inline-block">
                    <button cButton cDropdownToggle color="default">
                        {{ t('More actions') }}
                    </button>
                    <ul cDropdownMenu>
                        <li *oitcPermission="['services', 'serviceList']">
                            <a [routerLink]="['/', 'services', 'serviceList', data.hostId]"
                               cDropdownItem>
                                <fa-icon [icon]="['fas', 'sitemap']" [rotate]="270"></fa-icon>
                                {{ t('Service list') }}
                            </a>
                        </li>

                        <li *oitcPermission="['changelogs', 'index']">
                            <a [routerLink]="['/', 'changelogs', 'entity', 'host', data.hostId]"
                               cDropdownItem>
                                <fa-icon [icon]="['fas', 'timeline']" [rotate]="90"></fa-icon>
                                {{ t('Changelog') }}
                            </a>
                        </li>

                    </ul>
                </c-dropdown>
            }

        </c-col>
    </c-row>
</ng-container>
