<ng-container *transloco="let t">
    <c-toaster [placement]="'top-end'" class="p-3 toaster-min-width" position="fixed">
        <c-toast #toast="cToast"
                 (timer)="onToastTimerChange($event)"
                 (visibleChange)="onToastVisibleChange($event)"
                 [visible]="toastVisible"
                 [delay]="5000"
                 class="align-items-center w-100">
            <div class="d-flex">
                <c-toast-header>
                    <c-progress thin>
                        <c-progress-bar [value]="toastPercentage"></c-progress-bar>
                    </c-progress>
                </c-toast-header>
                <c-toast-body class="w-100">

                    <c-row class="mb-3">
                        <c-col>
                            <header class="mb-2">
                                <div class="d-flex flex-align-items-center">
                                    <div class="align-self-center">
                                        <oitc-hoststatus-icon [hoststatus]="result?.hoststatus"
                                                              [statusCircleClass]="''">
                                            <fa-icon [icon]="['fas', 'desktop']" class="pe-1"></fa-icon>
                                            {{ result?.hoststatus?.humanState | titlecase }}
                                        </oitc-hoststatus-icon>
                                    </div>

                                    <div class="align-self-center flex-1 font-h4 ms-2">
                                        {{ t('Host') }}
                                        <span class="text-danger" *ngIf="result && result.host.disabled">
                                            {{ t(' (DISABLED)') }}
                                        </span>
                                    </div>
                                </div>
                            </header>

                            <oitc-toaster-loader *ngIf="!result"></oitc-toaster-loader>
                            <table cTable bordered hover small [striped]="true" class="small pt-1" *ngIf="result">
                                <tbody>
                                <tr>
                                    <td>{{ t('Host name') }}</td>
                                    <td>
                                        <oitc-label-link
                                            [objectId]="result.host.id"
                                            [route]="'/hosts/browser'"
                                            [permissions]="'hosts.browser'"
                                        >
                                            {{ result.host.name }}
                                        </oitc-label-link>
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ t('Last check') }}</td>
                                    <td>{{ result.hoststatus.lastCheck }}</td>
                                </tr>
                                <tr>
                                    <td>{{ t('Output') }}</td>
                                    <td>
                                        <div class="word-break"
                                             [innerHTML]="String(result.hoststatus.outputHtml) | trustAsHtml "></div>
                                    </td>
                                </tr>
                                </tbody>

                            </table>
                        </c-col>
                    </c-row>

                    <c-row>
                        <c-col>
                            <header class="mb-2">
                                <div class="d-flex flex-align-items-center">
                                    <div class="align-self-center">
                                        <oitc-servicestatus-icon [servicestatus]="result?.servicestatus"
                                                                 [statusCircleClass]="''">
                                            <fa-icon [icon]="['fas', 'cog']" class="pe-1"></fa-icon>
                                            {{ result?.servicestatus?.humanState | titlecase }}
                                        </oitc-servicestatus-icon>
                                    </div>

                                    <div class="align-self-center flex-1 font-h4 ms-2">
                                        {{ t('Service') }}
                                        <span class="text-danger" *ngIf="result && result.service.disabled">
                                            {{ t(' (DISABLED)') }}
                                        </span>
                                    </div>
                                </div>
                            </header>

                            <oitc-toaster-loader *ngIf="!result"></oitc-toaster-loader>
                            <table cTable bordered hover small [striped]="true" class="small pt-1" *ngIf="result">
                                <tbody>
                                <tr>
                                    <td>{{ t('Service name') }}</td>
                                    <td>
                                        <oitc-label-link
                                            [objectId]="result.service.id"
                                            [route]="'/services/browser'"
                                            [permissions]="'services.browser'"
                                        >
                                            {{ result.service.servicename }}
                                        </oitc-label-link>
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ t('Description') }}</td>
                                    <td>{{ result.service.description }}</td>
                                </tr>
                                <tr>
                                    <td>{{ t('Current attempt') }}</td>
                                    <td>{{ result.servicestatus.current_check_attempt }}
                                        /{{ result.servicestatus.max_check_attempts }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ t('Last check') }}</td>
                                    <td>{{ result.servicestatus.lastCheck }}</td>
                                </tr>
                                <tr>
                                    <td>{{ t('Next check') }}</td>
                                    <td>{{ result.servicestatus.nextCheck }}</td>
                                </tr>
                                <tr>
                                    <td>{{ t('Last state change') }}</td>
                                    <td>{{ result.servicestatus.last_state_change }}</td>
                                </tr>
                                <tr>
                                    <td>{{ t('Output') }}</td>
                                    <td>
                                        <div class="word-break"
                                             [innerHTML]="String(result.servicestatus.outputHtml) | trustAsHtml "></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ t('Perfdata') }}</td>
                                    <td>{{ result.servicestatus.perfdata }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </c-col>
                    </c-row>


                    <c-progress thin>
                        <c-progress-bar [value]="toastPercentage"></c-progress-bar>
                    </c-progress>

                </c-toast-body>
            </div>
        </c-toast>
    </c-toaster>
</ng-container>
