<!--<c-header class="mb-4 d-print-none" position="sticky">-->
<ng-container *transloco="let t">
    <ng-container>
        <c-container [fluid]="true" class="border-bottom pe-5 d-flex">
            <button
                class="btn ripple"
                style="margin-inline-start: -14px;"
                (click)="toggleShowOrHideSidebar()"
            >
                <svg cIcon name="cilMenu" size="lg"></svg>
            </button>

            <oitc-top-search class="flex-1 pe-3"></oitc-top-search>
            <oitc-header-edition [headerinfo]="info"></oitc-header-edition>

            <c-header-nav class="ms-auto ms-md-0">
                <div class="nav-item py-1">
                    <div class="vr h-100 mx-2 text-body text-opacity-75"></div>
                </div>
                <oitc-header-stats></oitc-header-stats>
            </c-header-nav>

            <c-header-nav class="ms-auto ms-md-0">
                <div class="nav-item py-1">
                    <div class="vr h-100 mx-2 text-body text-opacity-75"></div>
                </div>
                <oitc-system-health/>
                <div class="nav-item py-1">
                    <div class="vr h-100 mx-2 text-body text-opacity-75"></div>
                </div>
            </c-header-nav>

            <oitc-header-export [headerinfo]="info" class="ps-1"></oitc-header-export>

            <oitc-version-check [newVersion]="info.newVersionAvailable" class="pe-1"></oitc-version-check>

            <oitc-message-of-the-day-button [messageOfTheDay]="messageOfTheDay"/>

            <c-header-nav class="ms-auto ms-md-0">
                <div class="nav-item py-1">
                    <div class="vr h-100 mx-2 text-body text-opacity-75"></div>
                </div>
                <oitc-header-time/>
            </c-header-nav>

            <c-header-nav class="ms-auto ms-md-0">
                <div class="nav-item py-1">
                    <div class="vr h-100 mx-2 text-body text-opacity-75"></div>
                </div>
                <ng-container *ngTemplateOutlet="themeDropdown"/>
                <div class="nav-item py-1">
                    <div class="vr h-100 mx-2 text-body text-opacity-75"></div>
                </div>
            </c-header-nav>

            <c-header-nav class="ms-auto ms-md-0">
                <oitc-change-language></oitc-change-language>
                <div class="nav-item py-1">
                    <div class="vr h-100 mx-2 text-body text-opacity-75"></div>
                </div>
            </c-header-nav>

            <c-header-nav class="mx-0">
                <ng-container *ngTemplateOutlet="userDropdown"/>
            </c-header-nav>

            <oitc-push-notifications></oitc-push-notifications>

        </c-container>
    </ng-container>
    <!--</c-header>-->

    <ng-template #userDropdown>
        <c-dropdown [popperOptions]="{ placement: 'bottom-start' }" variant="nav-item">
            <button [caret]="false" cDropdownToggle class="py-0 pe-0">
                <oitc-header-avatar></oitc-header-avatar>
            </button>
            <ul cDropdownMenu class="pt-0 w-auto">
                <li>
                    <h6 cDropdownHeader class="bg-body-secondary text-body-secondary fw-semibold py-2">
                        {{ t('Settings') }}
                    </h6>
                </li>
                <li></li>
                <li>
                    <a cDropdownItem [routerLink]="['/', 'profile', 'edit']">
                        <fa-icon [icon]="['fas', 'user']" class="me-2"></fa-icon>
                        {{ t('Profile') }}
                    </a>
                </li>

                <li *oitcPermission="['exports', 'index']">
                    <a cDropdownItem [routerLink]="['/', 'exports', 'index']">
                        <fa-icon [icon]="['fas', 'retweet']" class="me-2"></fa-icon>
                        {{ t('Refresh monitoring configuration') }}
                    </a>
                </li>

                <li>
                    <hr cDropdownDivider/>
                </li>
                <li>
                    <a cDropdownItem href="/users/logout">
                        <svg cIcon class="me-2" name="cilAccountLogout"></svg>
                        {{ t('Logout') }}
                    </a>
                </li>
            </ul>
        </c-dropdown>
    </ng-template>

    <ng-template #themeDropdown>
        <c-dropdown alignment="end" variant="nav-item">
            <button [caret]="false" cDropdownToggle>
                @switch (colorMode()) {
                    @case ("dark") {
                        <svg cIcon name="cilMoon" size="lg"></svg>
                    }
                    @case ("auto") {
                        <svg cIcon name="cilContrast" size="lg"></svg>
                    }
                    @default {
                        <svg cIcon name="cilSun" size="lg"></svg>
                    }
                }
            </button>
            <div cDropdownMenu>
                <button
                    (click)="colorMode.set('light')"
                    [active]="colorMode()==='light'"
                    [routerLink]="[]"
                    cDropdownItem
                    class="d-flex align-items-center"
                >
                    <svg cIcon class="me-2" name="cilSun" size="lg"></svg>
                    {{ t('Light') }}
                </button>
                <button
                    (click)="colorMode.set('dark')"
                    [active]="colorMode()==='dark'"
                    [routerLink]="[]"
                    cDropdownItem
                    class="d-flex align-items-center"
                >
                    <svg cIcon class="me-2" name="cilMoon" size="lg"></svg>
                    {{ t('Dark') }}
                </button>
                <button
                    (click)="colorMode.set('auto')"
                    [active]="colorMode()==='auto'"
                    [routerLink]="[]"
                    cDropdownItem
                    class="d-flex align-items-center"
                >
                    <svg cIcon class="me-2" name="cilContrast" size="lg"></svg>
                    {{ t('Auto') }}
                </button>
            </div>
        </c-dropdown>
    </ng-template>
</ng-container>
