<ng-container *transloco="let t">
    <c-card [cBorder]="{top: {color:'secondary', width: 3}}" [textColor]="'secondary'" class="mb-3">
        <c-card-header>
            <h5 cCardTitle>
                {{ t('Row') }}:
                <small class="fw-300">
                    {{ ( rowIndex() + 1 ) }}
                </small>
            </h5>

            <c-nav class="card-toolbar card-header-pills">
                <c-nav-item class="px-1">
                    <button cButton class="ripple" color="success" size="xs">
                        <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                        {{ t('Add Panel') }}
                    </button>
                </c-nav-item>

                <c-nav-item class="px-1">
                    <button cButton class="ripple" color="danger" size="xs">
                        <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                        {{ t('Remove Row') }}
                    </button>
                </c-nav-item>
            </c-nav>


        </c-card-header>
        <c-card-body>

            <c-card>
                <c-row>
                    <c-col>1</c-col>
                    <c-col>2</c-col>
                    <c-col>3</c-col>
                    <c-col>4</c-col>
                </c-row>
            </c-card>

        </c-card-body>
    </c-card>
</ng-container>
