<ng-container *transloco="let t">
    <ng-container *ngIf="subtype === 1">
        <fa-icon [icon]="['far', 'user']"
                 (mouseenter)="showTooltip()"
                 (mouseleave)="hideTooltip()"
                 [cPopover]="popoverHtml"
                 cPopoverPlacement="right"
                 [cPopoverVisible]="visible"
        ></fa-icon>

    </ng-container>
    <ng-container *ngIf="subtype === 2">
        <fa-icon [icon]="['fas', 'user']"
                 (mouseenter)="showTooltip()"
                 (mouseleave)="hideTooltip()"
                 [cPopover]="popoverHtml"
                 cPopoverPlacement="right"
                 [cPopoverVisible]="visible"
        ></fa-icon>


    </ng-container>
    <ng-template #popoverHtml>
        <div style="width:300px;">
        <h3 class="popover-header" *ngIf="type === 'services'">{{t('State of service is acknowledged')}} <span
                *ngIf="sticky">({{t('Sticky')}})</span></h3>
        <h3 class="popover-header" *ngIf="type === 'hosts'">{{t('State of host is acknowledged')}}<span
                *ngIf="sticky">({{t('Sticky')}})</span></h3>
        <div class="popover-body">
            <div>{{t('Set by')}}: {{author}}</div>
            <div>{{t('Set at')}}: {{entry}}</div>
            <div>{{t('Comment')}}: {{comment}}</div>
        </div>
        </div>
    </ng-template>
</ng-container>