<oitc-coreui>
  <ng-container *transloco="let t">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/']">
          {{ t('Home') }}
        </a></li>
        <li class="breadcrumb-item">
          <a [routerLink]="['/', 'commands', 'index']" *oitcPermission="['commands', 'index']">
            {{ t('Commands') }}
          </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          {{ t('Add') }}
        </li>
      </ol>
    </nav>
    <form cForm>
      <c-card class="mb-3">
        <c-card-header>
          <h5 cCardTitle>{{ t('Create new command') }}</h5>
        </c-card-header>
        <c-card-body>

          <div class="row">
            <div class="col-12">
              <c-alert color="warning">
                <h4 cAlertHeading>
                  <fa-icon [icon]="['fas', 'exclamation-triangle']" class="fa-lg"></fa-icon>
                  {{ t('Security notice ') }}
                </h4>
                <p>
                  {{ t('User defined macros inside of command_line could lead to unwanted code execution.') }}
                  <br>
                  {{ t('It is recommended to only provide access for a certain group of users to edit commands and user defined macros.') }}
                </p>
              </c-alert>
            </div>
          </div>

          <div class="mb-3">
            <label cLabel for="CommandType">
              {{ t('Command type') }}
            </label>
            <select cSelect aria-label="Default select example" id="CommandType">
              <option [value]="CommandTypesEnum.CHECK_COMMAND">
                {{ t('Service check command') }}
              </option>
              <option [value]="CommandTypesEnum.HOSTCHECK_COMMAND">
                {{ t('Host check command') }}
              </option>
              <option [value]="CommandTypesEnum.NOTIFICATION_COMMAND">
                {{ t('Notification command') }}
              </option>
              <option [value]="CommandTypesEnum.EVENTHANDLER_COMMAND">
                {{ t('Eventhandler command') }}
              </option>
            </select>
          </div>
          <div class="mb-3">
            <label cLabel for="commandName">
              {{ t('Name') }}
              <oitc-required-icon></oitc-required-icon>
            </label>
            <input cFormControl id="commandName" required type="text">
          </div>
          <div class="mb-3">
            <label cLabel for="commandLine">
              {{ t('Command line') }}
              <oitc-required-icon></oitc-required-icon>
            </label>
            <input cFormControl id="commandLine" type="text">
            <div cFormText class="text-primary">
              <fa-icon [icon]="['fas', 'circle-info']"></fa-icon>

              {{
                t('A $-sign needs to be escaped manually (\$). Semicolons (;) needs to be defined as {0}.', {
                  '0': ''
                })
              }}
              <span *oitcPermission="['macros', 'index']; showOnNoPermission: true">
                {{ t('user defined macro') }}
              </span>
              <span *oitcPermission="['macros', 'index']">
                oitc-todo link
                {{ t('user defined macro') }}
              </span>
              <br/>
              {{ t('Nagios supports up to 32 $ARGx$ macros ($ARG1$ through $ARG32$') }}

            </div>
          </div>
          <div class="mb-3">
            <label cLabel for="commandDescription">{{ t('Description') }}</label>
            <textarea cFormControl id="commandDescription" rows="6"></textarea>
          </div>
          <c-form-check class="mb-3">
            <label cLabel>{{ t('Arguments') }}:</label>
          </c-form-check>


        </c-card-body>
        <c-card-footer class="text-end">

          <button cButton color="primary" type="submit">
            {{ t('Create command') }}
          </button>
          <button cButton color="secondary" type="submit" class="ms-1">
            {{ t('Cancel') }}
          </button>


        </c-card-footer>
      </c-card>
    </form>
  </ng-container>
</oitc-coreui>



