<ng-container *transloco="let t">

    <fieldset>
        <legend class="fs-md fieldset-legend-border-bottom">
            <h4>
                {{ title() }}
            </h4>
            <span class="help-block italic text-primary">
                {{ t('To avoiding duplicate service configuration, the existing services with the same name will be automatically deselected') }}
            </span>

            <div ng-repeat="error in errors.services">
                <h5 class="text-danger"></h5>
            </div>

        </legend>

        <c-row class="mb-3">
            <c-col md="6">
                <c-input-group>
                    <span cInputGroupText>
                        <fa-icon [icon]="['fas', 'filter']"></fa-icon>
                    </span>
                    <ng-select
                            id="tags"
                            name="tags"
                            [items]="[]"
                            [(ngModel)]="searchedTags"
                            [addTag]="true"
                            [multiple]="true"
                            [selectOnTab]="true"
                            [isOpen]="false"
                            [placeholder]="'Filter by service name'|transloco">
                    </ng-select>
                    <span cInputGroupText (click)="toggleCheck(undefined)" class="cursor-pointer">
                        <i class="fas fa-lg fa-check-square alert-icon"></i> {{ t('Toggle checkboxes') }}
                    </span>
                </c-input-group>
            </c-col>
        </c-row>


        <ul style="margin:0;padding:0">
            <ol style="margin:0;padding:0" *ngFor="let service of post()">
                <ng-container *ngIf="hasName(service.name)">

                    <div class="mb-3 form-group">
                        <div>
                            <input cFormCheckInput
                                   type="checkbox"
                                   [id]="service.name"
                                   class="alert-icon"
                                   name="checkbox"
                                   (change)="toggleCheck(service)"
                                   [ngModel]="service.createService"/>
                            <label class="custom-control-label custom-control-label-ok"
                                   [for]="service.name">
                                {{ service.name }}
                                <span class="help-block italic">
                                    {{ service.description }}
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="mb-3 form-group {{detectColor(commandArgument.commandargument.human_name)}}"
                         *ngFor="let commandArgument of service.servicecommandargumentvalues">
                        {{ commandArgument.commandargument.human_name }}
                        <input class="form-control"
                               type="text"
                               [disabled]="!service.createService"
                               [ngModel]="commandArgument.value">
                    </div>
                </ng-container>
            </ol>
        </ul>
    </fieldset>
</ng-container>
