<div class="d-flex h-100 flex-column" #boxContainer>
    <div>
        <button class="btn btn-default ripple mb-2 btn-xs px-2" type="button" (click)="flipped.set(!flipped())">
            @if (flipped()) {
                <fa-icon [icon]="['fas', 'eye']"></fa-icon>
            } @else {
                <fa-icon [icon]="['fas', 'cog']"></fa-icon>
            }
        </button>
    </div>

    <div [@flip]="flipped()" class="box-container">
        <div class="box-x">
            <div [style.height.px]="widgetHeight"
                 [ngClass]="{'new-flame-bg': CustomalertsFilter.Customalerts.state === 0, 'bg-secondary': CustomalertsFilter.Customalerts.state === 1, 'bg-success': CustomalertsFilter.Customalerts.state === 2,'bg-primary-700': CustomalertsFilter.Customalerts.state === 3}"
                 class="w-100">
                <c-row *ngIf="statusCount !== null" class="h-100 align-items-center">
                    <c-col class="text-center text-white" [style.font-size.px]="fontSize">
                        {{ statusCount }}
                    </c-col>
                </c-row>
                @switch (CustomalertsFilter.Customalerts.state) {
                    @case (0) {
                        <fa-icon [icon]="['fas', 'fire-flame-curved']" [style.font-size.px]="fontSizeIcon"
                                 class="text-white opacity-15 display-1 position-absolute bottom-0 end-0 pe-2"></fa-icon>
                    }
                    @case (1) {
                        <fa-icon [icon]="['fas', 'person-digging']" [style.font-size.px]="fontSizeIcon"
                                 class="text-white opacity-15 display-1 position-absolute bottom-0 end-0 pe-2"></fa-icon>
                    }
                    @case (2) {
                        <fa-icon [icon]="['fas', 'clipboard-check']" [style.font-size.px]="fontSizeIcon"
                                 class="text-white opacity-15 display-1 position-absolute bottom-0 end-0 pe-2"></fa-icon>
                    }
                    @case (3) {
                        <fa-icon [icon]="['fas', 'folder-closed']" [style.font-size.px]="fontSizeIcon"
                                 class="text-white opacity-15 display-1 position-absolute bottom-0 end-0 pe-2"></fa-icon>
                    }
                }
            </div>

        </div>
        <div class="box-x">Side B</div>
    </div>
</div>
