.new-flame-bg {
    background-color: #ff0000;
    background: linear-gradient(0deg, #f00 0%, #ffa700 100%) !important;
}

.flame {
    background-color: #ff0000;
    background-image: linear-gradient(0deg, #f00 0%, #ffa700 100%) !important;;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
}

.flame-animated {
    background-color: #ff0000;
    background-image: linear-gradient(0deg, #ff0000 0%, #ffed00 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    -webkit-animation: burn 6s ease infinite;
    animation: burn 6s alternate infinite;
}

@keyframes burn {
    0% {
        background-position: 90% 100%;
    }
    100% {
        background-position: 0% 50%;
    }
}
