<c-row>
    <c-col [xs]="12" [lg]="6">
        <c-button-group role="group" class="flex-wrap">
            <button
                cButton
                class="rounded-0"
                color="primary"
                *ngFor="let intervalArray of interval"
                [ngClass]="{'active show': selectedInterval == intervalArray.interval}"
                (click)="changeInterval(intervalArray.interval)"
                [title]="intervalArray.long">
                {{ intervalArray.short }}
            </button>
        </c-button-group>
    </c-col>
    <c-col [xs]="12" [lg]="6">
        <c-input-group>
            <input cFormControl type="number"
                   [id]="id"
                   [name]="name"
                   [placeholder]="'Interval in minutes' | transloco"
                   [(ngModel)]="selectedInterval"
                   (ngModelChange)="updateInterval()">
            <ng-content></ng-content>
        </c-input-group>
        <div class="help-block">
            <oitc-human-time [seconds]="(selectedInterval*60)"></oitc-human-time>
        </div>
    </c-col>
</c-row>

