<ng-container *transloco="let t">
  <nav aria-label="breadcrumb" class="mt-3">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a [routerLink]="['/']">
          <fa-icon [icon]="['fas', 'home']"></fa-icon>
          {{ t('Home') }}
        </a></li>
        <li class="breadcrumb-item">
          <a>
            <fa-icon [icon]="['fas', 'puzzle-piece']"></fa-icon>
            {{ t('Grafana Module') }}
          </a>
        </li>
        <li class="breadcrumb-item">
          <a [routerLink]="['/', 'grafana_module', 'grafana_userdashboards', 'index']"
            *oitcPermission="['GrafanaModule', 'GrafanaUserdashboards', 'index']">
            <fa-icon [icon]="['fas', 'area-chart']"></fa-icon>
            {{ t('User Dashboards') }}
          </a>
        </li>
        <li aria-current="page" class="breadcrumb-item active">
          <fa-icon [icon]="['fas', 'eye']"></fa-icon>
          {{ t('View') }}
        </li>
      </ol>
    </nav>

    <c-card class="mb-3">
      <c-card-header>
        <h5 cCardTitle>{{ t('Dashboard') }}
          @if (dashboard) {
            <small class="fw-300">
              {{ dashboard.dashboard.name }}
            </small>
          }
        </h5>
        <c-nav class="card-toolbar card-header-pills">
          <c-nav-item>

            <oitc-grafana-timepicker class="float-end"
              [selectedTimerangeInput]="selectedGrafanaTimerange"
              [selectedAutoRefreshInput]="selectedGrafanaAutorefresh"
            (change)="onGrafanaTimeRangeChange($event)"></oitc-grafana-timepicker>
          </c-nav-item>
          @if (dashboard && dashboard.allowEdit) {
            <c-nav-item class="px-1">
              <a [routerLink]="['/grafana_module/grafana_userdashboards/editor', dashboard.dashboard.id]"
                *oitcPermission="'GrafanaModule.GrafanaUserdashboards.editor'"
                cButton
                class="ripple" color="default" size="xs">
                <fa-icon [icon]="['fas', 'cog']"></fa-icon>
                {{ t('Open in Editor') }}
              </a>
            </c-nav-item>
          }
          <c-nav-item class="px-1">
            <button [fallbackUrl]="['grafana_module', 'grafana_userdashboards', 'index']" cButton class="ripple"
              color="default"
              oitcBackButton
              size="xs">
              <fa-icon [icon]="['fas', 'left-long']"></fa-icon>
              {{ t('Back') }}
            </button>
          </c-nav-item>


        </c-nav>
      </c-card-header>

      @if (!dashboard) {
        <c-card-body>
          <oitc-block-loader height="35rem"></oitc-block-loader>
        </c-card-body>
      }

      @if (dashboard) {
        <c-card-body>
          @if (this.dashboardFoundInGrafana && this.iframeUrl !== '') {
            <oitc-iframe [url]="iframeUrl"></oitc-iframe>
          } @else {
            @if (!isLoading) {
              <oitc-error404></oitc-error404>
            }
          }
        </c-card-body>
      }
      <c-card-footer>
        &nbsp;
      </c-card-footer>
    </c-card>

  </ng-container>



