<ng-container *transloco="let t">
    <c-nav variant="underline" class="card-toolbar card-header-pills ms-3 tab-list" cdkDropList
           cdkDropListOrientation="mixed"
           (cdkDropListDropped)="drop($event)">

        @if (isInitializing) {
            <c-nav-item>
                <span class="nav-link">
                    <p-skeleton width="5rem"/>
                </span>
            </c-nav-item>
            <c-nav-item>
                <span class="nav-link">
                    <p-skeleton width="5rem"/>
                </span>
            </c-nav-item>
        }

        @for (tab of localTabs; track $index) {

            @if (tab.isOwner && tab.id === currentTabId()) {
                <!-- For owners of the tab (include drop down menu with options) -->
                <c-nav-item cdkDrag [cdkDragDisabled]="tab.pinned">
                    <c-dropdown>
                        <span class="nav-link active" cDropdownToggle
                              [ngClass]="{
                      'cursor-grab': !tab.pinned,
                      'text-default': !tab.shared && !tab.dashboard_tab_allocation?.id,
                      'text-primary': tab.shared,
                      'tab-allocated': tab.dashboard_tab_allocation?.id || !tab.isOwner,
                      'tab-shared-and-allocated-gradient': tab.shared && tab.dashboard_tab_allocation?.id
                      }">
                            <fa-icon [icon]="['fas', 'thumbtack']" *ngIf="tab.pinned"></fa-icon>
                            {{ tab.name }}
                        </span>

                        <ul cDropdownMenu>
                            <li>
                                <span cDropdownItem
                                      [ngClass]="{'text-muted': dashboardIsLocked(), 'cursor-pointer': !dashboardIsLocked()}"
                                      (click)="toggleRenameTabModal(tab.id)">
                                    <fa-icon [icon]="['fas', 'pen-to-square']"></fa-icon>
                                    {{ t('Rename') }}
                                </span>
                            </li>
                            @if (( PermissionsService.hasPermissionObservable(['DashboardAllocations', 'add'])|async ) && ( PermissionsService.hasPermissionObservable(['DashboardAllocations', 'edit'])|async )) {
                                <li *ngIf="tab.isOwner" class="cursor-pointer"
                                    (click)="allocateDashboard(tab)">
                                    <span cDropdownItem>
                                        <fa-icon [icon]="['fas', 'user']"></fa-icon>
                                        {{ t('Allocate Dashboard') }}
                                    </span>
                                </li>
                            }
                            <li *ngIf="!tab.shared">
                                <span cDropdownItem class="cursor-pointer"
                                      (click)="startSharing(tab.id)">
                                    <fa-icon [icon]="['fas', 'code-fork']"></fa-icon>
                                    {{ t('Start sharing') }}
                                </span>
                            </li>
                            <li *ngIf="tab.shared">
                                <span cDropdownItem class="cursor-pointer"
                                      (click)="stopSharing(tab.id)">
                                    <fa-icon [icon]="['fas', 'code-merge']"></fa-icon>
                                    {{ t('Stop sharing') }}
                                </span>
                            </li>
                            <li cDropdownDivider></li>
                            <li>
                                <span cDropdownItem
                                      [ngClass]="{'text-muted': dashboardIsLocked(), 'cursor-pointer text-danger': !dashboardIsLocked()}"
                                      (click)="deleteTab(tab.id)">
                                    <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                                    {{ t('Delete') }}
                                </span>
                            </li>
                        </ul>
                    </c-dropdown>
                </c-nav-item>
            } @else {
                <!-- For users who got this tab by allocation (no drop down menu with options)
                     Or the this tab is currently not displayed as we only add the dropdown menu to the current tab -->
                <c-nav-item cdkDrag [cdkDragDisabled]="tab.pinned">
                    <span class="nav-link"
                          [ngClass]="{
                      'active': tab.id === currentTabId(), 'cursor-grab': !tab.pinned,
                      'text-default': !tab.shared && !tab.dashboard_tab_allocation?.id,
                      'text-primary': tab.shared,
                      'tab-allocated': tab.dashboard_tab_allocation?.id || !tab.isOwner,
                      'tab-shared-and-allocated-gradient': tab.shared && tab.dashboard_tab_allocation?.id
                      }"
                          (click)="changeTab(tab.id)">
                        <fa-icon [icon]="['fas', 'thumbtack']" *ngIf="tab.pinned"></fa-icon>
                        {{ tab.name }}
                    </span>
                </c-nav-item>
            }

        }

    </c-nav>
</ng-container>


<ng-container *transloco="let t">
    <c-modal #dashboardRenameTabModal fullscreen="md" id="dashboardRenameTabModal" size="lg">
        <c-modal-header>
            <h5 cModalTitle>
                <fa-icon [icon]="['fas', 'pencil']"></fa-icon>
                {{ t('Rename tab') }}
            </h5>
            <button [cModalToggle]="dashboardRenameTabModal.id" cButtonClose></button>
        </c-modal-header>
        <c-modal-body>

            <label cLabel for="TabNameModal" class="mt-3">
                {{ t('Tab name') }}
                <oitc-required-icon></oitc-required-icon>
            </label>
            <c-input-group>
                <span cInputGroupText>
                    <fa-icon [icon]="['fas', 'pencil']"></fa-icon>
                </span>
                <input cFormControl id="TabNameModal" type="text"
                       name="TabNameModal"
                       [placeholder]="'New tab name' | transloco"
                       [(ngModel)]="newTabNameModal">
            </c-input-group>

        </c-modal-body>
        <c-modal-footer>
            <button (click)="submitRenameTab()" cButton color="primary" class="ripple" type="button">
                {{ t('Rename tab') }}
            </button>
            <button [cModalToggle]="dashboardRenameTabModal.id" cButton color="default" class="ripple" type="button">
                {{ t('Close') }}
            </button>
        </c-modal-footer>
    </c-modal>

</ng-container>
