<ng-container *transloco="let t">
    <nav aria-label="breadcrumb" class="mt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a [routerLink]="['/']">
                    <fa-icon [icon]="['fas', 'home']"></fa-icon>
                    {{ t('Home') }}
                </a></li>
            <li class="breadcrumb-item">
                <a *oitcPermission="['timeperiods', 'index']" [routerLink]="['/', 'timeperiods', 'index']">
                    <fa-icon [icon]="['fas', 'clock']"></fa-icon>
                    {{ t('Time periods') }}
                </a>
            </li>
            <li aria-current="page" class="breadcrumb-item active">
                <fa-icon [icon]="['fas', 'edit']"></fa-icon>
                {{ t('Edit') }}
            </li>
        </ol>
    </nav>

    <oitc-form-loader *ngIf="!post"></oitc-form-loader>

    <form cForm (ngSubmit)="saveTimeperiod()" ngNativeValidate>
        <c-card class="mb-3" *ngIf="post">
            <c-card-header>
                <h5 cCardTitle>
                    {{ t('Edit time period:') }}

                    <small class="fw-300">
                        {{ post.name }}
                    </small>
                </h5>

                <c-nav class="card-toolbar card-header-pills">
                    <oitc-object-uuid [uuid]="post.uuid"></oitc-object-uuid>
                </c-nav>

                <c-nav class="card-toolbar card-header-pills">
                    <c-nav-item class="px-1">
                        <button [fallbackUrl]="['timeperiods', 'index']" cButton class="ripple" color="default"
                                oitcBackButton
                                size="xs">
                            <fa-icon [icon]="['fas', 'left-long']"></fa-icon>
                            {{ t('Back') }}
                        </button>
                    </c-nav-item>
                    <c-nav-item class="px-1" *oitcPermission="['timeperiods', 'viewdetails']">
                        <button [routerLink]="['/','timeperiods','viewDetails', post.id]" cButton class="ripple"
                                color="default"
                                size="xs">
                            <fa-icon [icon]="['fas', 'calendar-week']"></fa-icon>
                            {{ t('View details') }}
                        </button>
                    </c-nav-item>
                </c-nav>

            </c-card-header>
            <c-card-body>

                <div class="mb-3">
                    <label cLabel for="timeperiodContainer">
                        {{ t('Container') }}
                        <oitc-required-icon></oitc-required-icon>
                    </label>
                    <ng-select id="timeperiodContainer"
                               name="container_id"
                               oitcDebounce
                               [items]="containers"
                               [placeholder]="'Please choose' | transloco"
                               bindLabel="value" bindValue="key"
                               [clearable]="false"
                               [(ngModel)]="post.container_id"
                               (ngModelChange)="onContainerIdChange()"
                               oitcFormError [errors]="errors" errorField="containers">
                        <ng-template ng-option-tmp let-container="item" let-search="searchTerm">
                            <div [ngOptionHighlight]="search">{{ container.value }}</div>
                        </ng-template>
                    </ng-select>
                    <oitc-form-warning
                        *ngIf="!post.container_id">{{ t('Please select a container.') }}
                    </oitc-form-warning>
                    <oitc-form-feedback [errors]="errors" errorField="containers"></oitc-form-feedback>
                </div>

                <div class="mb-3">
                    <label cLabel for="timeperiodName">
                        {{ t('Name') }}
                        <oitc-required-icon></oitc-required-icon>
                    </label>
                    <input cFormControl id="timeperiodName" type="text"
                           name="name"
                           oitcFormError [errors]="errors" errorField="name"
                           [(ngModel)]="post.name">
                    <oitc-form-feedback [errors]="errors" errorField="name"></oitc-form-feedback>
                </div>


                <div class="mb-3">
                    <label cLabel for="timeperiodDescription">
                        {{ t('Description') }}
                    </label>
                    <input cFormControl id="timeperiodDescription" type="text"
                           name="description"
                           oitcFormError [errors]="errors" errorField="description"
                           [(ngModel)]="post.description">
                    <oitc-form-feedback [errors]="errors" errorField="desciption"></oitc-form-feedback>
                </div>

                <div class="mb-3">
                    <label cLabel for="timeperiodCalendar">
                        <span *oitcPermission="['calendars', 'edit']">
                            <a [routerLink]="['/', 'calendars', 'edit', post.calendar_id]"
                               *ngIf="post.calendar_id && post.calendar_id > 0">
                                {{ t('Calendar') }}
                            </a>
                            <span *ngIf="!post.calendar_id">
                                {{ t('Calendar') }}
                            </span>
                        </span>
                        <span *oitcPermission="['calendars', 'edit']; negate: true">
                            {{ t('Calendar') }}
                        </span>
                    </label>
                    <ng-select id="timeperiodCalendar"
                               name="calendar_id"
                               [placeholder]="'Please choose' | transloco"
                               [items]="calendars"
                               oitcDebounce
                               bindLabel="value" bindValue="key"
                               [(ngModel)]="post.calendar_id"
                               oitcFormError [errors]="errors" errorField="containers">
                        <ng-template ng-option-tmp let-calendar="item" let-search="searchTerm">
                            <div [ngOptionHighlight]="search">{{ calendar.value }}</div>
                        </ng-template>
                    </ng-select>
                    <oitc-form-feedback [errors]="errors" errorField="containers"></oitc-form-feedback>
                    <div class="help-block">
                        {{ t('In addition to the interval defined by the given time ranges, you are able to add 24x7 days using a calendar. This will only affect the monitoring engine.') }}
                    </div>
                </div>

                <div class="margin-top-30">
                    <div>
                        <h5 [ngClass]="{'text-danger': errors['validate_timeranges']}">
                            {{ t('Time ranges:') }}
                        </h5>
                    </div>
                    <div class="text-danger" *ngIf="errors['validate_timeranges']">
                        {{ t('Do not enter overlapping timeframes') }}
                    </div>
                </div>
                <hr class="border-dashed">

                <div class="row mb-2"
                     *ngFor="let range of timeperiod.ranges; let i = index; trackBy: trackByIndex">
                    <div class="col-lg-4 form-group">
                        <c-input-group>
                            <span cInputGroupText>
                                <fa-icon [icon]="['fas', 'calendar-day']"></fa-icon>
                            </span>
                            <ng-select id="tp_day_{{i}}"
                                       name="tp_day_{{i}}"
                                       [items]="weekdays"
                                       oitcDebounce
                                       bindLabel="value" bindValue="key"
                                       [clearable]="false"
                                       [(ngModel)]="timeperiod.ranges[i]['day']"
                                       [required]="true">
                                <ng-template ng-option-tmp let-weekday="item" let-search="searchTerm">
                                    <div [ngOptionHighlight]="search">{{ weekday.value }}</div>
                                </ng-template>
                            </ng-select>
                        </c-input-group>
                    </div>
                    <div class="col-lg-3 form-group">
                        <c-input-group>
                            <span cInputGroupText>
                                <fa-icon [icon]="['fas', 'clock']"></fa-icon>
                            </span>
                            <input cFormControl id="tp_start_{{i}}" name="tp_start_{{i}}" class="form-control"
                                   required
                                   [ngClass]="{'border-color-error': hasTimeRange(errors, range) || getTimeperiodTimeranges(range.index, 'start').length > 0}"
                                   [placeholder]="startPlaceholder"
                                   type="text"
                                   size="5"
                                   maxlength="5"
                                   [(ngModel)]="range.start">
                        </c-input-group>
                        <div
                            *ngFor="let error of getTimeperiodTimeranges(range.index, 'start')">
                            <div class="help-block text-danger font-xs">{{ error }}</div>
                        </div>
                    </div>
                    <div class="col-lg-3 form-group">
                        <c-input-group>
                            <span cInputGroupText>
                                <fa-icon [icon]="['fas', 'clock']"></fa-icon>
                            </span>
                            <input cFormControl id="tp_end_{{i}}" name="tp_end_{{i}}" class="form-control" required
                                   [ngClass]="{'border-color-error': hasTimeRange(errors, range) ||
                                                       getTimeperiodTimeranges(range.index, 'end').length > 0}"
                                   [placeholder]="endPlaceholder"
                                   type="text"
                                   size="5"
                                   maxlength="5"
                                   [(ngModel)]="range.end">
                        </c-input-group>
                        <div
                            *ngFor="let error of getTimeperiodTimeranges(range.index, 'end')">
                            <div class="help-block text-danger font-xs">{{ error }}</div>
                        </div>
                    </div>

                    <div class="col-lg-1">
                        <a class="btn btn-danger ripple waves-effect waves-themed"
                           href="javascript:void(0);"
                           (click)="removeTimerange(range.index)">
                            <fa-icon [icon]="['fas', 'trash']" size="lg"></fa-icon>
                        </a>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-12 col-md-12 text-end">
                        <button cButton class="ripple" color="success" size="xs" type="button"
                                (click)="addTimerange()">
                            <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                            {{ t('Add') }}
                        </button>
                    </div>
                </div>


            </c-card-body>
            <c-card-footer class="text-end">
                <button cButton class="ripple" color="primary" type="submit">
                    {{ t('Update time period') }}
                </button>
                <button [fallbackUrl]="['timeperiods', 'index']" cButton class="ms-1 ripple" color="default"
                        oitcBackButton
                        type="button">
                    {{ t('Cancel') }}
                </button>


            </c-card-footer>
        </c-card>
    </form>

</ng-container>




