<ng-container *transloco="let t">
    <c-modal
        #modal='cModal'
        [keyboard]="true"
        id="hostEnableNotificationsModal"
        size="lg"
    >
        <c-modal-header class="text-bg-gray">
            <h5 cModalTitle>
                <fa-icon [icon]="['far', 'envelope']"></fa-icon>
                {{ t('Enable host notification') }}
            </h5>
            <button (click)="hideModal()" cButtonClose></button>
        </c-modal-header>
        <c-modal-body>
            <c-row>
                <c-col>
                    <div class="mb-3">
                        <label for="resetType">
                            {{ t('Select method') }}
                            <oitc-required-icon/>
                        </label>
                        <select
                            cSelect
                            name="resetType"
                            id="resetType"
                            [(ngModel)]="type">
                            <option [value]="'hostOnly'">{{ t('Individual hosts') }}</option>
                            <option [value]="'hostAndServices'">{{ t('Hosts including services') }}</option>
                        </select>
                    </div>
                </c-col>
            </c-row>
            <c-row>
                <c-col class="text-center">
                    <c-card>
                        <c-card-body>
                            <span
                                class="hintmark">{{ t('Yes, I would like to temporarily enable notifications.') }}</span>
                            <br/>
                            <br/>
                            <span
                                class="hintmark_before">{{ t('This option is only temporary. It does not affect your configuration. This is an external command and only saved in the memory of your monitoring engine.') }}</span>
                        </c-card-body>
                    </c-card>
                </c-col>
            </c-row>
            <c-row>
                <c-col *ngIf="isSend">
                    <hr/>
                    <h5>
                        <fa-icon [icon]="['fas', 'refresh']"></fa-icon>
                        {{ t('Executing command') }}
                    </h5>
                    <c-progress [value]="currentIndex" [max]="items.length" color="primary" variant="striped"
                                [animated]="true"/>
                </c-col>
            </c-row>

        </c-modal-body>
        <c-modal-footer>
            <button (click)="setExternalCommands()" [disabled]="isSend" cButton class="ripple" color="success">
                <fa-icon [hidden]="!isSend" [icon]="['fas', 'spinner']" animation="spin"></fa-icon>
                {{ t('Execute') }}
            </button>
            <button (click)="hideModal()" cButton class="ripple" color="default">
                {{ t('Cancel') }}
            </button>
        </c-modal-footer>
    </c-modal>
</ng-container>


