.popup-graph-container {
    position: absolute;
    /*top: 320px;*/
    /*left: 495px;*/
    width: 70%;
    min-width: 800px;
    height: auto;
    min-height: 272px;
    background-color: #FFF;
    box-shadow: 0 0 15px #9E9E9E;
    border-radius: 3px;
    z-index: 1;
}

.serviceGraphUPlot {
    width: 100%;
    height: 150px;
}