<div class="page-wrapper">
  <div class="page-inner">

    <aside id="pageSidebar" class="page-sidebar">
      <ng-content select="[oitcNavigation]"></ng-content>
    </aside>

    <div class="page-content-wrapper">


        <oitc-header oitcHeader />
      <div id="uglyDropdownMenuHack"></div>
      <!-- BEGIN Page Content -->
      <!-- the #js-page-content id is needed for some plugins to initialize -->
      <main id="js-page-content" role="main" class="page-content">
        <div id="content">

          <!-- Content will be here -->
          <ng-content/>

        </div>
      </main>


    </div>

  </div>
</div>

