:host {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.navigation {
  width: 250px;
  background: green;
}

.main {
  flex: 1;
  background: red;
}

.header {
  height: 100px;
  background: blue;
}
