.map-element-container {
    border: none;
    background: none;
    cursor: move;
    display: flex;
    position: absolute;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.cdk-drag-dragging:not(#layersBox):not(#mapToolbar) {
    opacity: 0.5;
    border: 2px dashed var(--cui-primary) !important;
    /*border: 2px dashed #4285F4 !important;*/
}

.resizable {
    resize: both;
    overflow: hidden;
}

.resize-border {
    border: 2px dashed var(--cui-primary) !important;
    /*border: 2px dashed #4285F4 !important;*/
}

.cursor-pointer {
    cursor: pointer !important;
}

.cursor-normal {
    cursor: unset;
}
