<ng-container *transloco="let t">
    <nav aria-label="breadcrumb" class="mt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a [routerLink]="['/']">
                    <fa-icon [icon]="['fas', 'home']"></fa-icon>
                    {{ t('Home') }}
                </a></li>
            <li class="breadcrumb-item">
                <a>
                    <fa-icon [icon]="['fas', 'puzzle-piece']"></fa-icon>
                    {{ t('Grafana Module') }}
                </a>
            </li>
            <li class="breadcrumb-item">
                <a [routerLink]="['/', 'grafana_module', 'grafana_userdashboards', 'index']"
                   *oitcPermission="['GrafanaModule', 'GrafanaUserdashboards', 'index']">
                    <fa-icon [icon]="['fas', 'area-chart']"></fa-icon>
                    {{ t('User Dashboards') }}
                </a>
            </li>
            <li aria-current="page" class="breadcrumb-item active">
                <fa-icon [icon]="['fas', 'list']"></fa-icon>
                {{ t('Overview') }}
            </li>
        </ol>
    </nav>

    <c-card class="mb-3">
        <c-card-header>
            <h5 cCardTitle>{{ t('User defined Grafana dashboards') }}
                <small class="fw-300">
                    {{ t('overview') }}
                </small>
            </h5>
            <c-nav class="card-toolbar card-header-pills">
                <c-nav-item class="px-1">
                    <button (click)="loadGrafanaUserdashboards()" cButton class="ripple" color="default" size="xs">
                        <fa-icon [icon]="['fas', 'arrows-rotate']"></fa-icon>
                        {{ t('Refresh') }}
                    </button>
                </c-nav-item>
                <c-nav-item class="px-1">
                    <button (click)="toggleFilter()" cButton class="ripple" color="primary" size="xs">
                        <fa-icon [icon]="['fas', 'filter']"></fa-icon>
                        {{ t('Filter') }}
                    </button>
                </c-nav-item>
            </c-nav>
        </c-card-header>
        <c-card-body>

            <!-- Filter -->
            <c-container [hidden]="hideFilter" class="shadow-sm p-2 mb-4 bg-body rounded" [fluid]="true">
                <c-row>
                    <c-col>
                        <h6 class="pb-2 mb-3 border-bottom">
                            <fa-icon [icon]="['fas', 'filter']"></fa-icon>
                            {{ t('Filter') }}
                        </h6>
                    </c-col>
                </c-row>
                <form cForm>
                    <c-row class="mb-2">
                        <c-col [xs]="12" [lg]="6">
                            <c-input-group>
                                <span cInputGroupText>
                                    <fa-icon [icon]="['fas', 'filter']"></fa-icon>
                                </span>
                                <input (debouncedValue)="onFilterChange($event)"
                                       [(ngModel)]="params['filter[GrafanaUserdashboards.name]']"
                                       [placeholder]="'Filter by dashboard name' | transloco"
                                       aria-label="name"
                                       cFormControl
                                       name="name"
                                       oitcDebounce
                                       type="text"
                                />
                            </c-input-group>
                        </c-col>
                    </c-row>

                    <c-row class="mt-2">
                        <c-col class="text-end">
                            <button (click)="resetFilter()" cButton class="ripple" color="danger" size="xs">
                                {{ t('Reset filter') }}
                            </button>
                        </c-col>
                    </c-row>
                </form>
            </c-container>
            <!-- End Filter -->

            <oitc-table-loader *ngIf="!grafanaUserdhasobards"></oitc-table-loader>
            <oitc-no-records
                *ngIf="grafanaUserdhasobards && grafanaUserdhasobards.all_userdashboards.length === 0"></oitc-no-records>
            <table bordered cTable class="mt-2 mb-0 table table-fit" hover striped matSort
                   *ngIf="grafanaUserdhasobards"
                   (matSortChange)="onSortChange($event)"
                   [matSortActive]="params.sort" [matSortDirection]="params.direction">
                <thead>
                <tr>
                    <th class="width-50 text-center" scope="col">
                        <fa-icon [icon]="['fas', 'square-check']"></fa-icon>
                    </th>
                    <th scope="col" mat-sort-header="GrafanaUserdashboards.name">
                        {{ t('User dashboard name') }}
                    </th>
                    <th class="text-center width-50" scope="col">
                        <fa-icon [icon]="['fas', 'cog']"></fa-icon>
                    </th>
                </tr>
                </thead>
                <tbody *ngIf="grafanaUserdhasobards">
                <tr *ngFor="let userdashboard of grafanaUserdhasobards.all_userdashboards">
                    <td class="text-center">
                        <oitc-item-select
                            *oitcPermission="['hosts', 'delete']"
                            [disabled]="!userdashboard.allowEdit"
                            [item]="userdashboard"></oitc-item-select>
                    </td>
                    <td>
                        @if (PermissionsService.hasPermissionObservable(['GrafanaModule', 'GrafanaUserdashboards', 'view'])|async) {
                            @if (userdashboard.grafana_url !== '') {
                                <!-- Dashboard is synced with Grafana -->
                                <a [routerLink]="['/', 'grafana_module', 'grafana_userdashboards', 'view', userdashboard.id]">
                                    {{ userdashboard.name }}
                                </a>
                            } @else {
                                <!-- Dashboard is not synced with Grafana -->
                                {{ userdashboard.name }}
                                @if (PermissionsService.hasPermissionObservable(['GrafanaModule', 'GrafanaUserdashboards', 'edit'])|async) {
                                    <c-badge color="primary" class="cursor-pointer"
                                             (click)="synchronizeWithGrafana([userdashboard])">
                                        {{ t('Not synchronized') }}
                                    </c-badge>
                                } @else {
                                    <c-badge color="primary">
                                        {{ t('Not synchronized') }}
                                    </c-badge>
                                }

                            }
                        } @else {
                            {{ userdashboard.name }}
                        }
                    </td>

                    <td class="width-50">
                        <oitc-actions-button [permission]="'GrafanaModule.GrafanaUserdashboards.editor'"
                                             [icon]="['fas', 'cog']"
                                             [allowEdit]="userdashboard.allowEdit"
                                             [url]="'/hosts/browser/' + userdashboard.id">
                            <oitc-actions-button-element [permission]="'GrafanaModule.GrafanaUserdashboards.editor'"
                                                         *ngIf="userdashboard.allowEdit"
                                                         [url]="'/grafana_module/grafana_userdashboards/editor/' + userdashboard.id">
                                <fa-icon [icon]="['fas', 'cog']"></fa-icon>
                                {{ t('Open in Editor') }}
                            </oitc-actions-button-element>
                        </oitc-actions-button>
                    </td>
                </tr>
                </tbody>
            </table>

            <c-container class="mt-3"
                         [fluid]="true">
                <c-row>
                    <c-col>
                        <oitc-paginate-or-scroll
                            (paginatorChange)="onPaginatorChange($event)"
                            *ngIf="grafanaUserdhasobards"
                            [paginateOrScroll]="grafanaUserdhasobards"></oitc-paginate-or-scroll>
                    </c-col>
                </c-row>
            </c-container>
        </c-card-body>
        <c-card-footer>
            &nbsp;
        </c-card-footer>
    </c-card>

</ng-container>
