@if (widget) {

    <!-- Add all new Widgets to the switch statement below -->

    @switch (widget.type_id) {
        <!-- Core Widgets -->
        @case (WidgetTypes.WelcomeWidget) {
            <oitc-welcome-widget
                [widgetInput]="widget"
                [isReadonly]="isReadonly()"></oitc-welcome-widget>
        }

        <!-- Module Widgets -->
        @case (WidgetTypes.CustomalertsWidget) {
            <oitc-customalerts-widget [widgetInput]="widget" [isReadonly]="isReadonly()"></oitc-customalerts-widget>
        }

        <!-- Fallback Widget -->
        @default {
            <oitc-alert
                color="warning"
                [baseIcon]="'square'"
                [icon]="['fas', 'question']"
                [errorHeadline]="'Unknown Widget Type'|transloco"
                [errorText]="'The widget type '+widget.type_id+' ('+widget.directive+') is unknown and can not be displayed.'"
            ></oitc-alert>
        }
    }
}
