.helptext {
    cursor: help;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: contain;
}

.img-center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.mr-5 {
    margin-right: 5px;
}