<ng-container *transloco="let t">

    <nav aria-label="breadcrumb" class="mt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a [routerLink]="['/']">
                    <fa-icon [icon]="['fas', 'home']"></fa-icon>
                    {{ t('Home') }}
                </a></li>
            <li aria-current="page" class="breadcrumb-item">
                <a [routerLink]="['/', 'wizards', 'index']">
                    <fa-icon [icon]="['fas', 'wand-sparkles']"></fa-icon>
                    {{ t('Wizards') }}
                </a></li>
            <li aria-current="page" class="breadcrumb-item active">
                <fa-icon [icon]="['fas', 'database']"></fa-icon>
                {{ t('DB2') }}
            </li>
        </ol>
    </nav>

    <c-card>
        <c-card-header>
            <h5 cCardTitle>
                {{ t('Configuration Wizard: DB2 Database') }}
            </h5>
        </c-card-header>
        <c-card-body class="p-0">

            <div class="row m-0 text-center mb-3" style="min-height: 22px;">
                <div class="col-xs-12 col-md-4 col-lg-2 wizard-bg-inactive d-inline-flex align-items-center justify-content-center wizard-success">
                    <span>
                        <fa-icon [icon]="['fas', 'info-circle']"></fa-icon>
                        {{ t('Host Information') }}
                    </span>
                </div>
                <div class="col-xs-12 col-md-4 col-lg-2 wizard-bg-inactive d-inline-flex align-items-center justify-content-center wizard-active">
                    <span>
                        <fa-icon [icon]="['fas', 'info-circle']"></fa-icon>
                        {{ t('Configure DB2 Monitoring') }}
                    </span>
                </div>
                <div class="col-lg-6 wizard-bg-inactive d-inline-flex">
                </div>
                <div class="col-xs-12 col-md-4 col-lg-2 ps-0 pe-0 wizard-bg-inactive">
                    <div class="btn-group btn-group-xs w-100 h-100">
                        <button type="button" class="btn btn-primary"
                                [title]="'Back' | transloco"
                                style="border-radius: 0;">
                            <i class="fa fa-arrow-left"></i>
                        </button>

                        <button type="button" class="btn btn-success"
                                style="border-radius: 0;"
                                [title]="'Next' | transloco"
                                (click)="submit()">
                            {{ t('Next') }}
                            <i class="fa fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </c-card-body>
        <c-card-body>


            <fieldset class="padding-bottom-20">
                <legend class="fs-md fieldset-legend-border-bottom">
                    <h4>
                        {{ t('Administration Settings') }}
                    </h4>
                </legend>


                <c-accordion class="mb-3">
                    <c-accordion-item #item0="cAccordionItem" [visible]="false">
                        <ng-template cTemplateId="accordionHeaderTemplate">
                            <button (click)="item0.toggleItem()" [collapsed]="!item0.visible" cAccordionButton>
                                <i class="fas fa-life-ring width-2 alert-icon mr-5"></i>
                                {{ t('DB2 configuration help') }}
                            </button>
                        </ng-template>
                        <ng-template cTemplateId="accordionBodyTemplate">
                            <div class="accordion-body">
                                {{t('Please replace XXXXX with your version.')}}
                                <ol>
                                    <li>
                                        <div>
                                            {{ t('Please download a recent version of the following packages from here') }}
                                            (
                                            <a href="https://www.ibm.com/support/pages/download-initial-version-115-clients-and-drivers" target="_blank">
                                                https://www.ibm.com/support/pages/download-initial-version-115-clients-and-drivers
                                            </a>
                                            )
                                            <ul>
                                                <li><code>Runtime Client (rtcl)</code></li>
                                                <li><code>Driver package (DS Driver)</code></li>
                                            </ul>
                                        </div>
                                    </li>

                                    <li>
                                        <div>
                                            {{ t('Add the following to {0}.', {"0": "/etc/environment"}) }}
                                            <pre>LD_LIBRARY_PATH=/opt/ibm/db2/VXX.X/lib64
DB2DIR=/opt/ibm/db2/VXX.X
DB2_HOME=/opt/ibm/db2/VXX.X
DB2LIB=/var/lib/nagios/sqllib/lib
DB2INSTANCE=nagios</pre>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            {{ t('Installation') }}
                                            <pre>tar xf vXXXX_linuxx64_rtcl.tar.gz
cd rtcl/
./db2_install

tar xf vXXXX_linuxx64_dsdriver.tar.gz
cd dsdriver
./installDSDriver
cp -r include /opt/ibm/db2/VXX.X/

/opt/ibm/db2/VXX.X/instance/db2icrt -a server -u nagios nagios

source /etc/environment

apt-get install libdbi-perl libaio1
cpan -i DBD::DB2</pre>
                                        </div>
                                    </li>

                                    <li>
                                        <div>
                                            {{ t('Create User within Database.') }}
                                            <br />
                                            {{ t('To ensure, that openITCOCKPIT is able to query information from the database, you need to add a operationsystem user called "nagios" (with same group name).')}}
                                            <br />
                                            {{ t('Maybe there is already a user {0}, wich is beeing used to monitore the operatingsystem.', {"0": '"nagios"'})}}
                                            <br />
                                            {{ t('Afterwords you need to enable the monitoring switches:')}}
                                        </div>
                                        <pre>update dbm cfg using dft_mon_bufpool on
update dbm cfg using dft_mon_lock on
update dbm cfg using dft_mon_timestamp on</pre>
                                        <div>
                                            {{ t('The nagios user (resp. the nagios group) is going to get the needed privileges and after a restart of the database, everything is prepared.')}}
                                        </div>
                                        <pre>db2 update dbm cfg using sysmon_group nagios
db2 grant select,update on table SYSTOOLS.STMG_DBSIZE_INFO to nagios
db2stop; db2start</pre>
                                    </li>

                                    <li>
                                        <div>
                                            {{ t('Restart the DB2 server to apply the changes.') }}
                                            <pre>db2stop; db2start</pre>
                                        </div>
                                    </li>

                                </ol>
                            </div>
                        </ng-template>
                    </c-accordion-item>
                </c-accordion>

                <div class="mb-3">
                    <label cLabel for="post.dbuser">
                        {{ t('Database') }}
                        <oitc-required-icon/>
                    </label>
                    <input cFormControl
                           id="post.dbuser"
                           type="text"
                           name="post.dbuser"
                           oitcFormError [errors]="errors" errorField="dbuser"
                           [(ngModel)]="post.dbuser">
                    <oitc-form-feedback [errors]="errors" errorField="dbuser"></oitc-form-feedback>
                </div>

                <div class="mb-3">
                    <label cLabel for="post.dbpass">
                        {{ t('Password') }}
                        <oitc-required-icon/>
                    </label>
                    <input cFormControl
                           id="post.dbpass"
                           type="password"
                           name="post.dbpass"
                           oitcFormError [errors]="errors" errorField="dbpass"
                           [(ngModel)]="post.dbpass">
                    <oitc-form-feedback [errors]="errors" errorField="dbpass"></oitc-form-feedback>
                </div>
            </fieldset>

            <oitc-wizards-dynamicfields
                    [post]="post.services"
                    [title]="'DB2 Database services'|transloco"
            />

        </c-card-body>
    </c-card>
</ng-container>