@use "../../../../../../assets/coreui/openitcockpit" as oitc;

.border-unconfirmed {
    border-left: 5px solid oitc.$primary;
}

.border-ok {
    border-left: 5px solid oitc.$success;
}

.border-warning {
    border-left: 5px solid oitc.$warning;
}

.border-danger {
    border-left: 5px solid oitc.$danger;
}
