.status-circle {
    width: 20px;
    height: 20px;
    padding: 0px;
}

.ok {color: rgb(18, 132, 10, 1);}
.ok-soft {color: rgb(18, 132, 10, 1);}
.warn {color: rgb(255, 187, 51, 1);}
.crit {color: rgb(192, 0, 0, 1);}
.crit-soft {color: rgb(192, 0, 0, 1);}

.not-monitored {
    color: #4285F4 !important;
}

.ok, .up {
    color: #00C851 !important;
}

.warning {
    color: #ffbb33 !important;
}

.critical, .down {
    color: #CC0000 !important;
}

.unknown, .unreachable {
    color: #727b84 !important;
}

.ok-soft, .up-soft {
    color: #00ea5f !important;
}

.warning-soft {
    color: #f9d180 !important;
}

.critical-soft, .down-soft {
    color: #ff4444 !important;
}

.unknown-soft, .unreachable-soft {
    color: #CFCFCF !important;
}