<ng-container *transloco="let t">
    @if (showstatsinmenu) {
        <c-header-nav class="ms-auto ms-md-0">
            <div class="nav-item py-1">
                <div class="vr h-100 mx-2 text-body text-opacity-75"></div>
            </div>
            <div class="nav-item nav-link">
                <div class="btn-group btn-group-xs pe-2" aria-label="Display of host status" role="group">
                    @if (this.PermissionsService.hasPermissionObservable(['hosts', 'index'])|async) {
                        <button cButton type="button" color="default" class="px-3"
                                [routerLink]="['/', 'hosts', 'index']" cTooltip="{{t('All hosts')}}"
                                [queryParams]="{ hoststate: [0,1,2], sort: 'Hoststatus.last_state_change', direction: 'desc'}">
                            <fa-icon [icon]="['fas', 'hdd']"></fa-icon>
                        </button>
                        <button cButton type="button" color="danger" class="px-3" cTooltip="{{t('Down')}}"
                                [ngClass]="{'opacity-25': !hoststatusCount[1]}"
                                [routerLink]="['/', 'hosts', 'index']"
                                [queryParams]="{ hoststate: [1], sort: 'Hoststatus.last_state_change', direction: 'desc'}">
                            {{ hoststatusCount[1] }}
                        </button>
                        <button cButton type="button" color="secondary" class="px-3" cTooltip="{{t('Unreachable')}}"
                                [ngClass]="{'opacity-25': !hoststatusCount[2]}"
                                [routerLink]="['/', 'hosts', 'index']"
                                [queryParams]="{ hoststate: [2], sort: 'Hoststatus.last_state_change', direction: 'desc'}">
                            {{ hoststatusCount[2] }}
                        </button>
                    } @else {
                        <button cButton type="button" color="default" class="px-3">
                            <fa-icon [icon]="['fas', 'hdd']"></fa-icon>
                        </button>
                        <button cButton type="button" color="danger" class="px-3" cTooltip="{{t('Down')}}"
                                [ngClass]="{'opacity-25': !hoststatusCount[1]}">
                            {{ hoststatusCount[1] }}
                        </button>
                        <button cButton type="button" color="secondary" class="px-3" cTooltip="{{t('Unreachable')}}"
                                [ngClass]="{'opacity-25': !hoststatusCount[2]}">
                            {{ hoststatusCount[2] }}
                        </button>
                    }
                </div>
                @if (showstatsinmenu) {
                    <div class="btn-group btn-group-xs" aria-label="Display of service status" role="group"
                    >
                        @if (this.PermissionsService.hasPermissionObservable(['services', 'index'])|async) {
                            <button cButton type="button" color="default" class="px-3"
                                    cTooltip="{{t('All services')}}"
                                    [routerLink]="['/', 'services', 'index']"
                                    [queryParams]="{ servicestate: [0,1,2,3], sort: 'Servicestatus.last_state_change', direction: 'desc'}">
                                <fa-icon [icon]="['fas', 'cog']"></fa-icon>
                            </button>
                            <button cButton type="button" color="warning" class="px-3" cTooltip="{{t('Warning')}}"
                                    [ngClass]="{'opacity-25': !servicestatusCount[1]}"
                                    [routerLink]="['/', 'services', 'index']"
                                    [queryParams]="{ servicestate: [1], sort: 'Servicestatus.last_state_change', direction: 'desc'}">
                                {{ servicestatusCount[1] }}
                            </button>
                            <button cButton type="button" color="danger" class="px-3" cTooltip="{{t('Critical')}}"
                                    [ngClass]="{'opacity-25': !servicestatusCount[2]}"
                                    [routerLink]="['/', 'services', 'index']"
                                    [queryParams]="{ servicestate: [2], sort: 'Servicestatus.last_state_change', direction: 'desc'}">
                                {{ servicestatusCount[2] }}
                            </button>
                            <button cButton type="button" color="secondary" class="px-3" cTooltip="{{t('Unknown')}}"
                                    [ngClass]="{'opacity-25': !servicestatusCount[3]}"
                                    [routerLink]="['/', 'services', 'index']"
                                    [queryParams]="{ servicestate: [3], sort: 'Servicestatus.last_state_change', direction: 'desc'}">
                                {{ servicestatusCount[3] }}
                            </button>
                        } @else {
                            <button cButton type="button" color="default" class="px-3"
                                    cTooltip="{{t('All services')}}">
                                <fa-icon [icon]="['fas', 'cog']"></fa-icon>
                            </button>
                            <button cButton type="button" color="warning" class="px-3" cTooltip="{{t('Warning')}}"
                                    [ngClass]="{'opacity-25': !servicestatusCount[1]}">
                                {{ servicestatusCount[1] }}
                            </button>
                            <button cButton type="button" color="danger" class="px-3" cTooltip="{{t('Critical')}}"
                                    [ngClass]="{'opacity-25': !servicestatusCount[2]}">
                                {{ servicestatusCount[2] }}
                            </button>
                            <button cButton type="button" color="secondary" class="px-3" cTooltip="{{t('Unknown')}}"
                                    [ngClass]="{'opacity-25': !servicestatusCount[3]}">>
                                {{ servicestatusCount[3] }}
                            </button>
                        }
                    </div>
                }
            </div>
        </c-header-nav>
    }
</ng-container>
