<ng-container *transloco="let t">
    <c-button-group aria-label="Display of server and client times" class="btn-group-xs" role="group">
        <button cButton type="button"  class="pt-1" color="secondary" *ngIf="showClientTime" cTooltip="{{t('local time of client')}}">{{ currentClientTime }}</button>
        <button cButton type="button" class="pt-1" color="default" variant="outline" cTooltip="{{t('display time information')}}"><fa-icon [icon]="['fas', 'clock']"></fa-icon></button>
        <button cButton type="button" class="pt-1" color="primary" cTooltip="{{t('local time of server')}}">{{ currentServerTime }}</button>
    </c-button-group>
</ng-container>
