<ng-container *transloco="let t">
    <div class="btn-group btn-group-xs" aria-label="Display of server and client times" role="group">

        <button cButton type="button" color="secondary" *ngIf="showClientTime" class="px-3"
                cTooltip="{{t('local time of client')}}">{{ currentClientTime }}
        </button>
        <button cButton type="button" color="default" variant="outline" class="px-3"
                cTooltip="{{t('display time information')}}">
            <fa-icon [icon]="['fas', 'clock']"></fa-icon>
        </button>
        <button cButton type="button" color="primary" class="px-3"
                cTooltip="{{t('local time of server')}}">{{ currentServerTime }}
        </button>
    </div>
</ng-container>
