<oitc-coreui>
    <ng-container *transloco="let t">
        <nav aria-label="breadcrumb" class="mt-3">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a [routerLink]="['/']">
                        <fa-icon [icon]="['fas', 'home']"></fa-icon>
                        {{ t('Home') }}
                    </a></li>
                <li class="breadcrumb-item">
                    <a *oitcPermission="['serviceescalations', 'index']"
                       [routerLink]="['/', 'serviceescalations', 'index']">
                        <fa-icon [icon]="['fas', 'bomb']"></fa-icon>
                        {{ t('Service escalations') }}
                    </a>
                </li>
                <li aria-current="page" class="breadcrumb-item active">
                    <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                    {{ t('Add') }}
                </li>
            </ol>
        </nav>
        <form cForm (ngSubmit)="submit()">
            <c-card class="mb-3">
                <c-card-header>
                    <h5 cCardTitle>{{ t('Create new service escalation') }}</h5>
                    <c-nav class="card-toolbar card-header-pills">
                        <c-nav-item class="px-1">
                            <button [fallbackUrl]="['serviceescalations', 'index']" cButton class="ripple"
                                    color="default"
                                    oitcBackButton
                                    size="xs">
                                <fa-icon [icon]="['fas', 'left-long']"></fa-icon>
                                {{ t('Back') }}
                            </button>
                        </c-nav-item>
                    </c-nav>
                </c-card-header>
                <c-card-body>
                    <div class="mb-3">
                        <label cLabel for="container">
                            {{ t('Container') }}
                            <oitc-required-icon></oitc-required-icon>
                        </label>

                        <oitc-select
                            name="container"
                            id="container"
                            optionValue="key"
                            optionLabel="value"
                            [(ngModel)]="post.container_id"
                            [options]="containers?.containers"
                            (onChange)="onContainerChange()"
                            oitcFormError [errors]="errors" errorField="container_id">
                        </oitc-select>

                        <div *ngIf="!post.container_id" class="text-warning-glow pt-1">
                            {{ t('Please select a container.') }}
                        </div>
                        <oitc-form-feedback [errors]="errors" errorField="container_id"></oitc-form-feedback>
                    </div>
                    <div class="form-text">
                        {{
                            t('Notification escalations could be used to notify a certain user group in case of an emergency.\n' +
                                'Once a service or service escalated, contacts, contact group and notification options will be overwritten by the escalation.')
                        }}
                    </div>
                    <div class="border-start border-primary border-4 rounded-top rounded-bottom px-2 py-1 my-2">
                        <div class="mb-3">
                            <label cLabel for="ServiceescalationIncludeServices">
                                <fa-icon [icon]="['fas', 'plus']" class="text-success"></fa-icon>
                                {{ t('Services') }}
                                <oitc-required-icon></oitc-required-icon>
                                ---> {{ post.services._ids }} <---
                            </label>
                            <c-input-group>
                                <span cInputGroupText class="bg-success">
                                    <fa-icon [icon]="['fas', 'cog']" class="text-white"></fa-icon>
                                </span>
                                <oitc-multi-select-optgroup
                                    name="ServiceescalationIncludeServices"
                                    id="ServiceescalationIncludeServices"
                                    optionLabel="label"
                                    optionValue="value"
                                    [(ngModel)]="post.services._ids"
                                    [options]="services"
                                    [searchCallback]="loadServices"
                                    (onChange)="loadExcludedServicegroups('');processChosenExcludedServices()"
                                    [group]="true"
                                    class="flex-1"
                                    oitcFormError [errors]="errors" errorField="services">
                                </oitc-multi-select-optgroup>
                            </c-input-group>
                            <oitc-form-feedback [errors]="errors"
                                                errorField="services"></oitc-form-feedback>
                        </div>
                        <div class="mb-3 arrowd-vertical-on-right">
                            <label cLabel for="ServiceescalationExcludeServicegroups">
                                <fa-icon [icon]="['fas', 'minus']" class="text-danger"></fa-icon>
                                {{ t('Excluded service groups') }}
                            </label>
                            <c-input-group>
                                <span cInputGroupText class="bg-danger">
                                    <fa-icon [icon]="['fas', 'cogs']" class="text-white"></fa-icon>
                                </span>
                                <oitc-multi-select
                                    name="ServiceescalationExcludeServicegroups"
                                    id="ServiceescalationExcludeServicegroups"
                                    optionValue="key"
                                    optionLabel="value"
                                    [(ngModel)]="post.servicegroups_excluded._ids"
                                    [options]="servicegroups_excluded"
                                    [disabled]="post.services._ids.length == 0"
                                    (ngModelChange)="processChosenServicegroups()"
                                    class="flex-1"
                                    oitcFormError [errors]="errors" errorField="services">
                                </oitc-multi-select>
                            </c-input-group>
                        </div>
                    </div>
                    <div class="border-start border-primary border-4 rounded-top rounded-bottom px-2 py-1 my-2">
                        <div class="mb-3">
                            <label cLabel for="ServiceescalationIncludeServicegroups">
                                <fa-icon [icon]="['fas', 'plus']" class="text-success"></fa-icon>
                                {{ t('Service groups') }}
                                <oitc-required-icon></oitc-required-icon>
                            </label>
                            <c-input-group>
                                <span cInputGroupText class="bg-success">
                                    <fa-icon [icon]="['fas', 'cog']" class="text-white"></fa-icon>
                                </span>
                                <oitc-multi-select
                                    name="ServiceescalationIncludeServicegroups"
                                    id="ServiceescalationIncludeServicegroups"
                                    optionValue="key"
                                    optionLabel="value"
                                    [(ngModel)]="post.servicegroups._ids"
                                    [options]="servicegroups"
                                    (onChange)="loadExcludedServices('')"
                                    (ngModelChange)="processChosenExcludedServicegroups()"
                                    class="flex-1"
                                    oitcFormError [errors]="errors" errorField="servicegroups">
                                </oitc-multi-select>
                            </c-input-group>
                            <oitc-form-feedback [errors]="errors"
                                                errorField="servicegroups"></oitc-form-feedback>
                        </div>
                        <div class="mb-3 arrowd-vertical-on-right">
                            <label cLabel for="ServiceescalationExcludeServices">
                                <fa-icon [icon]="['fas', 'minus']" class="text-danger"></fa-icon>
                                {{ t('Excluded Services') }}
                                ---> {{ post.services_excluded._ids }} <---
                            </label>
                            <c-input-group>
                                <span cInputGroupText class="bg-danger">
                                    <fa-icon [icon]="['fas', 'cogs']" class="text-white"></fa-icon>
                                </span>
                                <oitc-multi-select-optgroup
                                    name="ServiceescalationExcludeServices"
                                    id="ServiceescalationExcludeServices"
                                    optionLabel="label"
                                    optionValue="value"
                                    [(ngModel)]="post.services_excluded._ids"
                                    [options]="services_excluded"
                                    [disabled]="post.servicegroups._ids.length == 0"
                                    [searchCallback]="loadExcludedServices"
                                    (onChange)="processChosenServices()"
                                    [group]="true"
                                    class="flex-1"
                                    oitcFormError [errors]="errors" errorField="services_excluded">
                                </oitc-multi-select-optgroup>
                            </c-input-group>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label cLabel for="ServiceescalationFirstNotification">
                            {{ t('First notification') }}
                            <oitc-required-icon></oitc-required-icon>
                        </label>
                        <input cFormControl id="ServiceescalationFirstNotification" required type="number"
                               name="ServiceescalationFirstNotification"
                               oitcFormError [errors]="errors" errorField="first_notification"
                               [(ngModel)]="post.first_notification">
                        <div class="form-text">
                            {{
                                t('Number of notifications that passed before the escalation rule will overwrite notification settings.')
                            }}
                        </div>
                        <oitc-form-feedback [errors]="errors" errorField="first_notification"></oitc-form-feedback>
                    </div>

                    <div class="mb-3">
                        <label cLabel for="ServiceescalationLastNotification">
                            {{ t('Last notification') }}
                            <oitc-required-icon></oitc-required-icon>
                        </label>
                        <input cFormControl id="ServiceescalationLastNotification" required type="number"
                               name="ServiceescalationLastNotification"
                               oitcFormError [errors]="errors" errorField="last_notification"
                               [(ngModel)]="post.last_notification">
                        <div class="form-text">
                            {{
                                t('If number of last_notification is reached, the notification rule will be disabled and the notification options of the service or service will be used again.')
                            }}
                        </div>
                        <oitc-form-feedback [errors]="errors" errorField="last_notification"></oitc-form-feedback>
                    </div>

                    <div class="mb-3">
                        <label cFormCheckLabel for="notification_interval">
                            {{ t('Notification interval') }}
                            <oitc-required-icon></oitc-required-icon>
                        </label>
                        <oitc-interval-input
                            id="notification_interval"
                            name="notification_interval"
                            [selectedInterval]="post.notification_interval"
                            (selectedIntervalChange)="post.notification_interval = $event"
                        ></oitc-interval-input>
                        <oitc-form-feedback [errors]="errors"
                                            errorField="notification_interval"></oitc-form-feedback>
                    </div>

                    <div class="mb-3">
                        <label cLabel for="ServiceescalationTimeperiod">
                            <oitc-label-link
                                [objectId]="post.timeperiod_id"
                                [route]="'/timeperiods/edit'"
                                [permissions]="'timeperiods.edit'">
                                {{ t('Escalation period') }}
                            </oitc-label-link>
                        </label>

                        <oitc-select
                            name="ServiceescalationTimeperiod"
                            id="ServiceescalationTimeperiod"
                            optionValue="key"
                            optionLabel="value"
                            [(ngModel)]="post.timeperiod_id"
                            [options]="timeperiods"
                            oitcFormError [errors]="errors" errorField="timeperiod_id">
                        </oitc-select>
                        <oitc-form-feedback [errors]="errors"
                                            errorField="timeperiod_id"></oitc-form-feedback>
                    </div>

                    <div class="mb-3">
                        <label cLabel for="ServiceescalationContacts" class="hintmark">
                            {{ t('Contacts') }}
                        </label>

                        <oitc-multi-select
                            name="ServiceescalationContacts"
                            id="ServiceescalationContacts"
                            optionValue="key"
                            optionLabel="value"
                            [(ngModel)]="post.contacts._ids"
                            [options]="contacts"
                            oitcFormError [errors]="errors" errorField="contacts">
                        </oitc-multi-select>
                        <oitc-form-feedback [errors]="errors"
                                            errorField="contacts"></oitc-form-feedback>
                    </div>

                    <div class="mb-3">
                        <label cLabel for="ServiceescalationContactgroups" class="hintmark">
                            {{ t('Contact groups') }}
                        </label>

                        <oitc-multi-select
                            name="ServiceescalationContactgroups"
                            id="ServiceescalationContactgroups"
                            optionValue="key"
                            optionLabel="value"
                            [(ngModel)]="post.contactgroups._ids"
                            [options]="contactgroups"
                            oitcFormError [errors]="errors" errorField="contactgroups">
                        </oitc-multi-select>
                        <oitc-form-feedback [errors]="errors"
                                            errorField="contactgroups"></oitc-form-feedback>
                    </div>

                    <div>
                        <label cLabel>
                            {{ t('Escalation options') }}
                        </label>
                    </div>
                    <div class="form-text">
                        {{
                            t('Enables the escalation for the selected states')
                        }}
                    </div>

                    <div class="mb-3 d-inline-flex col-lg-6 col-xs-12 mt-2">
                        <div class="input-group mx-1">
                            <span class="input-group-text">
                                <input
                                    cFormCheckInput
                                    class="checkbox-success"
                                    name="escalate_on_recovery"
                                    id="escalate_on_recovery"
                                    type="checkbox"
                                    trueFalseValue
                                    [falseValue]="0"
                                    [trueValue]="1"
                                    [(ngModel)]="post.escalate_on_recovery"/>
                            </span>
                            <div class="form-control bg-success text-white text-center">
                                <label for="escalate_on_recovery">
                                    {{ t('Recovery') }}
                                </label>
                            </div>
                        </div>

                        <div class="input-group mx-1">
                            <span class="input-group-text">
                                <input
                                    cFormCheckInput
                                    class="checkbox-warning"
                                    name="escalate_on_warning"
                                    id="escalate_on_warning"
                                    type="checkbox"
                                    trueFalseValue
                                    [falseValue]="0"
                                    [trueValue]="1"
                                    [(ngModel)]="post.escalate_on_warning"/>
                            </span>
                            <div class="form-control bg-warning text-white text-center">
                                <label for="escalate_on_warning">
                                    {{ t('Warning') }}
                                </label>
                            </div>
                        </div>

                        <div class="input-group mx-1">
                            <span class="input-group-text">
                                <input
                                    cFormCheckInput
                                    class="checkbox-danger"
                                    name="escalate_on_critical"
                                    id="escalate_on_critical"
                                    type="checkbox"
                                    trueFalseValue
                                    [falseValue]="0"
                                    [trueValue]="1"
                                    [(ngModel)]="post.escalate_on_critical"/>
                            </span>
                            <div class="form-control bg-danger text-white text-center">
                                <label for="escalate_on_critical">
                                    {{ t('Critical') }}
                                </label>
                            </div>
                        </div>

                        <div class="input-group mx-1">
                            <span class="input-group-text">
                                <input
                                    cFormCheckInput
                                    class="checkbox-secondary"
                                    name="escalate_on_unknown"
                                    id="escalate_on_unknown"
                                    type="checkbox"
                                    trueFalseValue
                                    [falseValue]="0"
                                    [trueValue]="1"
                                    [(ngModel)]="post.escalate_on_unknown"/>
                            </span>
                            <div class="form-control bg-unknown text-white text-center">
                                <label for="escalate_on_unknown">
                                    {{ t('Unknown') }}
                                </label>
                            </div>
                        </div>
                    </div>

                </c-card-body>
                <c-card-footer class="text-end">
                    <button cButton class="ripple" color="primary" type="submit">
                        {{ t('Create service escalation') }}
                    </button>
                    <button [fallbackUrl]="['serviceescalations', 'index']" cButton class="ms-1 ripple" color="default"
                            oitcBackButton
                            type="button">
                        {{ t('Cancel') }}
                    </button>
                </c-card-footer>
            </c-card>
        </form>
    </ng-container>
</oitc-coreui>
