<ng-container *transloco="let t">
    <c-input-group class="mb-3  ml-1">
        @if (value === '') {
            <button cInputGroupText (click)="open()" [title]="t('Customize this color.')">
                <fa-icon [icon]="['fas', 'edit']"/>
            </button>
        } @else {
            <button cInputGroupText (click)="clear()" [title]="t('Remove this custom color.')">
                <fa-icon class="text-danger" [icon]="['fas', 'trash']"/>
            </button>
        <span
            cInputGroupText
            [(colorPicker)]="value"
            [style.background]="value"
        ></span>
        }
        <label cInputGroupText for="ldap_dn"
               style="flex: 1 1 0; min-width: 0;"

               class="cursor-question ml-1"
               (mouseover)="highlightElement($event)"
               (mouseout)="highlightElement($event)">
            {{ t(title) }}
        </label>
    </c-input-group>
</ng-container>
