<ng-container *transloco="let t">
    @for (field of fields; track $index) {
        @switch (field.type) {
            @case (ConfigurationFilesFieldTypes.bool) {
                <div class="mb-3">
                    <c-form-check>
                        <input cFormCheckInput
                               [attr.id]="field.field"
                               [name]="field.field"
                               type="checkbox"
                               trueFalseValue
                               [trueValue]="1"
                               [falseValue]="0"
                               [(ngModel)]="field.value"
                               (change)="checkDisableInputs()"
                               oitcFormError [errors]="errors" errorField="Configfile.{{field.field}}"
                        />
                        <label cFormCheckLabel [for]="field.field">
                            {{ field.field }}
                        </label>
                    </c-form-check>
                    <oitc-form-feedback [errors]="errors" errorField="Configfile.{{field.field}}"></oitc-form-feedback>
                    <div class="help-block" *ngIf="field.help">
                        {{ field.help }}
                    </div>
                </div>
            }
            @case (ConfigurationFilesFieldTypes.string) {
                <div class="mb-3">
                    <label cLabel [for]="field.field">
                        {{ field.field }}
                        <oitc-required-icon></oitc-required-icon>
                    </label>
                    <input cFormControl
                           [attr.id]="field.field"
                           [name]="field.field"
                           [disabled]="disableInputs"
                           type="text"
                           [placeholder]="field.placeholder"
                           [(ngModel)]="field.value"
                           oitcFormError [errors]="errors" errorField="Configfile.{{field.field}}">
                    <oitc-form-feedback [errors]="errors"
                                        errorField="Configfile.{{field.field}}"></oitc-form-feedback>
                    <div class="help-block" *ngIf="field.help">
                        {{ field.help }}
                    </div>
                </div>

            }
        }
    }
</ng-container>
