<ng-container *transloco="let t">
    @for (container of nestedContainers(); track $index) {
        <ol class="dd-list">
            <li class="dd-item">

                <ng-container
                    *ngTemplateOutlet="containerTemplate; context: { $implicit: container, index:$index, collapsed:collapsed(), component:this }"></ng-container>

                <oitc-container-nest *ngIf="container.children.length > 0"
                                     [hidden]="collapsed()[$index]"
                                     [nestedContainers]="container.children"
                                     [level]="(level()+1)"
                                     [containerTemplate]="containerTemplate"></oitc-container-nest>
            </li>
        </ol>
    }
</ng-container>



