@if (!isViewMode()) {
    <div cdkDrag #container class="map-element-container"
         (cdkDragEnded)="onDragEnd($event)"
         (cdkDragMoved)="onDragMove($event)"
         cdkDragBoundary=".map-canvas">
        <div cdkDragHandle
             ngResizable
             [id]="'map-cylinder-' + item()!.id"
             (rzStart)="onResizeStart(container)"
             (rzResizing)="onResizing(cylinderSvg)"
             (rzStop)="onResizeStop({ width: $event.size.width, height: $event.size.height }, type)"
             [rzAspectRatio]="true"
             [rzHandles]="'se'"
             [ngStyle]="{'width.px': width + 10, 'height.px': height + 10}">
            <svg #cylinderSvg [attr.width]="width" [attr.height]="height"></svg>
        </div>
    </div>
    @if (!isViewMode()) {
        <p-contextMenu [target]="container" [model]="contextMenuItems"
                       appendTo="body"></p-contextMenu>
    }
} @else {
    <div #container class="map-element-container cursor-normal" [ngClass]="{'cursor-pointer': enablePointerCursor()}">
        <div [id]="'map-cylinder-' + item()!.id"
             [ngStyle]="{'width.px': width + 10, 'height.px': height + 10}">
            <svg #cylinderSvg [attr.width]="width" [attr.height]="height"></svg>
        </div>
    </div>
}
