<ng-container *transloco="let t">
    <f-flow fDraggable (fLoaded)="onLoaded()" class="h-100">
        <f-canvas>
            @for (connection of connections; track connection.id) {
                <f-connection [fOffset]="8" [fOutputId]="connection.from" [fInputId]="connection.to"
                              fType="segment"
                              fBehavior="fixed">


                </f-connection>
            }
            @for (node of nodes; track node.id) {
                <!-- vService Node -->
                <div fNode class="evc-service-container"
                     [ngClass]="{'evc-service-ok': node.evcNode.service?.servicestatus?.currentState === 0,'evc-service-warning': node.evcNode.service?.servicestatus?.currentState === 1,'evc-service-critical': node.evcNode.service?.servicestatus?.currentState === 2,'evc-service-unknown': node.evcNode.service?.servicestatus?.currentState === 3, 'evc-operator-container': node.evcNode.type === 'operator' }"
                     [fNodePosition]="node.position"
                     fNodeOutput [fOutputId]="node.connectorId"
                     [fOutputConnectableSide]="configuration.outputSide"
                     fNodeInput [fInputId]="node.connectorId"
                     [fInputConnectableSide]="configuration.inputSide">

                    <!-- We can not have an if or ngIf here or on fNode  -->

                    @if (node.evcNode.type === 'service') {
                        <div class="service-node">
                            <!-- vService container -->
                            <!-- Disable Badge -->
                            @if (node.evcNode.service?.disabled) {
                                <span
                                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary">
                                    <fa-icon [icon]="['fas', 'plug']" size="lg"
                                             [cTooltip]="'Service is disabled' | transloco"
                                             cTooltipPlacement="top"></fa-icon>
                                </span>
                            }

                            <!-- Downtime and Acknowledgement Badge -->
                            @if (node.evcNode.service?.servicestatus?.problemHasBeenAcknowledged || Number(node.evcNode.service?.servicestatus?.scheduledDowntimeDepth) > 0) {
                                <span
                                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
                                    @if (Number(node.evcNode.service?.servicestatus?.scheduledDowntimeDepth) > 0) {
                                        <oitc-downtime-icon
                                            *oitcPermission="['services', 'browser']"
                                            type="services"
                                            [objectId]="node.evcNode.service?.id">
                                        </oitc-downtime-icon>
                                        <fa-icon [icon]="['fas', 'power-off']" size="lg"
                                                 *oitcPermission="['services', 'browser'];negate:true"></fa-icon>
                                    }

                                    @if (node.evcNode.service?.servicestatus?.problemHasBeenAcknowledged) {
                                        @if (PermissionsService.hasPermissionObservable(['services', 'browser']) | async) {
                                            <oitc-acknowledgement-icon
                                                *ngIf="node.evcNode.service?.servicestatus"
                                                type="services"
                                                [objectId]="node.evcNode.service?.id"
                                                [acknowledgement_type]="node.evcNode.service?.servicestatus?.acknowledgement_type"></oitc-acknowledgement-icon>
                                        } @else {
                                            <fa-icon [icon]="['far', 'user']"
                                                     *ngIf="node.evcNode.service?.servicestatus?.acknowledgement_type == AcknowledgementTypes.Normal"></fa-icon>
                                            <fa-icon [icon]="['fas', 'user']"
                                                     *ngIf="node.evcNode.service?.servicestatus?.acknowledgement_type == AcknowledgementTypes.Sticky"
                                                     title="{{t('Sticky Acknowledgement')}}"></fa-icon>
                                        }
                                    }
                                </span>
                            }

                            <c-row *ngIf="node.evcNode.service" class="m-0">
                                <c-col [xs]="12" class="text-truncate p-0 ps-1 evc-tree-hostname"
                                       [ngClass]="{'text-muted':node.evcNode.service?.disabled}"
                                       [cTooltip]="node.evcNode.service.host.name" cTooltipPlacement="top">
                                    <fa-icon [icon]="['fas', 'desktop']"></fa-icon>
                                    @if (this.PermissionsService.hasPermissionObservable(['hosts', 'browser'])|async) {
                                        <a [routerLink]="['/', 'hosts', 'browser', node.evcNode.service.host.id]"
                                           class="link-default"
                                           [ngClass]="{'text-muted':node.evcNode.service?.disabled}">
                                            {{ node.evcNode.service.host.name }}
                                        </a>
                                    } @else {
                                        {{ node.evcNode.service.host.name }}
                                    }
                                </c-col>
                                <c-col [xs]="12" class="text-truncate p-0 ps-1"
                                       [cTooltip]="node.evcNode.service.servicename " cTooltipPlacement="top"
                                       [ngClass]="{'text-muted':node.evcNode.service?.disabled}">
                                    <fa-icon [icon]="['fas', 'cog']"
                                             *ngIf="node.evcNode.service.service_type !== ServiceTypesEnum.EVK_SERVICE"></fa-icon>
                                    <fa-icon [icon]="['fas', 'sitemap']" [rotate]="90"
                                             *ngIf="node.evcNode.service.service_type === ServiceTypesEnum.EVK_SERVICE"
                                             class="text-primary"></fa-icon>
                                    @if (this.PermissionsService.hasPermissionObservable(['services', 'browser'])|async) {
                                        <a [routerLink]="['/', 'services', 'browser', node.evcNode.service.id]"
                                           class="link-default"
                                           [ngClass]="{'text-muted':node.evcNode.service?.disabled}">
                                            {{ node.evcNode.service.servicename }}
                                        </a>
                                    } @else {
                                        {{ node.evcNode.service.servicename }}
                                    }

                                </c-col>
                            </c-row>
                        </div>
                    }

                    @if (node.evcNode.type === 'operator') {
                        <!-- Operator container -->
                        <div class="operator-node">
                            <div class="d-flex align-items-center h-100">
                                <fa-icon [icon]="['fas', 'microchip']" class="evc-operator-icon ps-1"></fa-icon>

                                <div class="flex-1 text-center">
                                    {{ node.evcNode.operator }}
                                </div>
                            </div>
                        </div>
                    }

                </div>


            }
        </f-canvas>
    </f-flow>

</ng-container>
