<ng-container *transloco="let t">

    <nav aria-label="breadcrumb" class="mt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a [routerLink]="['/']">
                    <fa-icon [icon]="['fas', 'home']"></fa-icon>
                    {{ t('Home') }}
                </a></li>
            <li class="breadcrumb-item">
                <fa-icon [icon]="['fas', 'puzzle-piece']"></fa-icon>
                {{ t('Distribute Module') }}
            </li>
            <li class="breadcrumb-item">
                <a *oitcPermission="['distributeModule', 'satellites', 'index']"
                   [routerLink]="['/', 'distribute_module', 'satellites', 'index']">
                    <fa-icon [icon]="['fas', 'satellite']"></fa-icon>
                    {{ t('Satellites') }}
                </a>
            </li>
            <li aria-current="page" class="breadcrumb-item active">
                <fa-icon [icon]="['fas', 'list-check']"></fa-icon>
                {{ t('Status Overview') }}
            </li>
        </ol>
    </nav>

    <c-card>
        <c-header>
            <h5 cCardTitle>
                {{ t('Satellites') }}
                <small class="fw-300">
                    {{ t('Status overview') }}
                </small>
            </h5>

            <c-nav variant="underline" class="card-toolbar card-header-pills mR-3" style="margin-right:15px;">
                <c-nav-item>
                    <button class="active nav-link" [routerLink]="['/', 'distribute_module', 'satellites', 'status']">
                        <fa-icon [icon]="['fas', 'satellite-dish']"></fa-icon>
                        {{ t('Satellites Status') }}
                    </button>
                </c-nav-item>
                <c-nav-item>
                    <button class="nav-link" [routerLink]="['/', 'distribute_module', 'satellites', 'tasks']">
                        <fa-icon [icon]="['fas', 'list-check']"></fa-icon>
                        {{ t('Satellite Tasks') }}
                    </button>
                </c-nav-item>
            </c-nav>
            <c-nav class="card-toolbar card-header-pills">
                <c-nav-item class="px-1">
                    <button (click)="reload()" cButton class="ripple" color="default" size="xs">
                        <fa-icon [icon]="['fas', 'arrows-rotate']"></fa-icon>
                        {{ t('Refresh') }}
                    </button>
                </c-nav-item>
                <c-nav-item class="px-1">
                    <button *oitcPermission="['distributeModule', 'satellites', 'add']"
                            [routerLink]="['/', 'distribute_module', 'satellites', 'add']"
                            cButton
                            class="ripple"
                            color="success"
                            size="xs">
                        <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                        {{ t('New') }}
                    </button>
                </c-nav-item>
                <c-nav-item class="px-1">
                    <button (click)="toggleFilter()" cButton class="ripple" color="primary" size="xs">
                        <fa-icon [icon]="['fas', 'filter']"></fa-icon>
                        {{ t('Filter') }}
                    </button>
                </c-nav-item>
            </c-nav>
        </c-header>
        <c-card-body>


            <!-- Filter -->
            <c-container [hidden]="hideFilter" class="shadow-sm p-2 mb-4 bg-body rounded" [fluid]="true">
                <c-row>
                    <c-col>
                        <h6 class="pb-2 mb-3 border-bottom">
                            <fa-icon [icon]="['fas', 'filter']"></fa-icon>
                            {{ t('Filter') }}
                        </h6>
                    </c-col>
                </c-row>
                <form cForm>
                    <c-row>
                        <c-col md="6">
                            <c-input-group>
                                <span cInputGroupText>
                                    <fa-icon [icon]="['fas', 'filter']"></fa-icon>
                                </span>
                                <input (debouncedValue)="onFilterChange($event)"
                                       [(ngModel)]="params['filter[Satellites.name]']"
                                       [placeholder]="'Filter by satellite name' | transloco"
                                       aria-label="Filter by satellite name"
                                       cFormControl
                                       id="params['filter[Satellites.name]']"
                                       name="params['filter[Satellites.name]']"
                                       oitcDebounce
                                       type="text"
                                />
                            </c-input-group>
                        </c-col>
                        <c-col md="6">
                            <c-input-group>
                                <span cInputGroupText>
                                    <fa-icon [icon]="['fas', 'filter']"></fa-icon>
                                </span>
                                <input (debouncedValue)="onFilterChange($event)"
                                       [(ngModel)]="params['filter[Satellites.address]']"
                                       [placeholder]="'Filter by IP address' | transloco"
                                       aria-label="Filter by IP address"
                                       cFormControl
                                       id="params['filter[Satellites.address]']"
                                       name="params['filter[Satellites.address]']"
                                       oitcDebounce
                                       type="text"
                                />
                            </c-input-group>
                        </c-col>
                    </c-row>
                    <c-row class="mt-2">
                        <c-col [xs]="6" [lg]="6" class="ui-fluid">
                            <c-input-group>
                                <span cInputGroupText>
                                    <fa-icon [icon]="['fas', 'filter']"></fa-icon>
                                </span>

                                <oitc-multi-select
                                        name="SyncMethodFilter"
                                        id="SyncMethodFilter"
                                        optionValue="key"
                                        optionLabel="value"
                                        [(ngModel)]="params['filter[Satellites.sync_method][]']"
                                        [options]="syncMethods"
                                        [debounce]="true"
                                        [placeholder]="'Filter by sync method' | transloco"
                                        (onChange)="onFilterChange(true)"
                                >
                                </oitc-multi-select>
                            </c-input-group>
                        </c-col>
                        <c-col [xs]="6" [lg]="6" class="ui-fluid">
                            <c-input-group>
                                <span cInputGroupText>
                                    <fa-icon [icon]="['fas', 'filter']"></fa-icon>
                                </span>

                                <oitc-multi-select
                                        name="SyncStatusFilter"
                                        id="SyncStatusFilter"
                                        optionValue="key"
                                        optionLabel="value"
                                        [(ngModel)]="params['filter[status][]']"
                                        [options]="syncStatus"
                                        [debounce]="true"
                                        [placeholder]="'Filter by sync status' | transloco"
                                        (onChange)="onFilterChange(true)"
                                >
                                </oitc-multi-select>
                            </c-input-group>
                        </c-col>
                    </c-row>
                    <c-row class="mt-2">
                        <c-col class="text-end">
                            <button (click)="resetFilter()" cButton class="ripple" color="danger" size="xs">
                                {{ t('Reset Filter') }}
                            </button>
                        </c-col>
                    </c-row>
                </form>
            </c-container>
            <!-- End Filter -->


            <oitc-table-loader *ngIf="! result"></oitc-table-loader>


            <table *ngIf="result" bordered cTable class="mt-2 mb-0" hover striped matSort
                   (matSortChange)="onSortChange($event)"
                   [matSortActive]="params.sort" [matSortDirection]="params.direction">
                <thead>
                <tr>
                    <th scope="col" mat-sort-header="Satellites.name">
                        {{ t('Instance name') }}
                    </th>
                    <th scope="col" mat-sort-header="Satellites.address">
                        {{ t('IP address') }}
                    </th>
                    <th scope="col" mat-sort-header="Satellites.sync_method">
                        {{ t('Sync method') }}
                    </th>
                    <th scope="col" mat-sort-header="status">
                        {{ t('Sync status') }}
                    </th>
                    <th scope="col" mat-sort-header="SatelliteStatus.last_export">
                        {{ t('Last sync') }}
                    </th>
                    <th scope="col" mat-sort-header="SatelliteStatus.last_seen">
                        {{ t('Last seen') }}
                    </th>
                    <th scope="col" mat-sort-header="SatelliteStatus.last_error">
                        {{ t('Last error') }}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let satellite of result.all_satellites">
                    <td>
                        {{ satellite.name }}
                    </td>
                    <td>
                        {{ satellite.address }}
                    </td>
                    <td>
                        {{ satellite.sync_method_name }}
                    </td>
                    <td>
                        <c-badge
                                [title]="satellite.satellite_status.status_human"
                                class="mr-5"
                                [ngClass]="{
                                    'bg-success': satellite.satellite_status.status === 1,
                                    'bg-secondary': satellite.satellite_status.status === 0,
                                    'bg-danger': satellite.satellite_status.status === 2
                                }"
                        >{{ satellite.satellite_status.status_human }}</c-badge>

                    </td>
                    <td>
                        {{ satellite.satellite_status.last_export }}
                    </td>
                    <td>
                        {{ satellite.satellite_status.last_seen }}
                    </td>
                    <td class="text-danger">
                        {{ satellite.satellite_status.last_error }}
                    </td>
                </tr>
                </tbody>
            </table>


            <oitc-no-records
                    *ngIf="result && result.all_satellites.length === 0"></oitc-no-records>

            <c-container
                    [fluid]="true">
                <c-row>
                    <c-col>
                        <oitc-paginate-or-scroll
                                (paginatorChange)="onPaginatorChange($event)"
                                *ngIf="result"
                                [paginateOrScroll]="result"></oitc-paginate-or-scroll>
                    </c-col>
                </c-row>
            </c-container>
        </c-card-body>
    </c-card>
</ng-container>
