#mapToolsDragger {
    width: 100%;
    height: 15px;
    background-color: #201d1c;
    cursor: move;
}

#mapToolbar {
    width: 40px;
    height: 300px;
    border: 1px solid #333;
    position: absolute;
    top: calc(var(--cui-card-spacer-y) + 46px);
    left: var(--cui-card-spacer-x);
    background-color: #3a3633;
    z-index: 900;
}

.mapToolbarTool {
    color: #c0bbb7;
    border: 1px solid #403f3d;
    border-radius: 4px;
    background-color: #403f3d;
    margin: 4px;
    text-align: center;
    padding-bottom: 2px;
}

.mapToolbarTool:hover {
    color: #fff;
}

.mapToolbarLine {
    color: #c0bbb7;
    background-color: #403f3d;
    height: 2px;
    padding: 1px;
}

#layersBox {
    width: 250px;
    height: 200px;
    border: 1px solid #333;
    position: absolute;
    bottom: var(--cui-card-spacer-y);
    right: var(--cui-card-spacer-x);
    background-color: #3a3633;
    z-index: 900;
}

#layersBoxDragger {
    width: 100%;
    height: 15px;
    background-color: #201d1c;
    cursor: move;
}

.layersContainer {
    height: 180px;
    overflow-y: auto;
}

.mapLayer {
    padding: 5px;
    color: #c0bbb7;
    background-color: #403f3d;
    margin-top: 5px;
}

.selectedLayer {
    background-color: #0088cc;
    color: #FFF;
}
