.grafana-panel {
    background-color: var(--cui-card-cap-bg);
    border-style: solid;
    border-width: 1px 1px 1px 7px;
    border-color: var(--cui-border-color-translucent) var(--cui-border-color-translucent) var(--cui-border-color-translucent) var(--cui-primary);
    position: relative;
    border-radius: 7px 3px 3px 7px;
}

.chart-type-icon {
    color: var(--cui-gray-700);
}

.chart-type-bg {
    background-color: var(--cui-gray-700);
}

.metric-row {
    border: 1px solid var(--cui-border-color-translucent);
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 2px;
    padding-right: 2px;
}
