.map-canvas {
    position: relative;
    overflow: auto;
    min-height: 600px;
}

#mapContent {
    position: absolute;
    height: 100%;
    width: 100%;
}

.helplines5 {
    background: repeating-linear-gradient(transparent, transparent 4px, #cccccc80 4px, #cccccc80 5px),
    repeating-linear-gradient(to right, transparent, transparent 4px, #cccccc80 4px, #cccccc80 5px);
}

.helplines10 {
    background: repeating-linear-gradient(transparent, transparent 9px, #cccccc80 9px, #cccccc80 10px),
    repeating-linear-gradient(to right, transparent, transparent 9px, #cccccc80 9px, #cccccc80 10px);
}

.helplines15 {
    background: repeating-linear-gradient(transparent, transparent 14px, #cccccc80 14px, #cccccc80 15px),
    repeating-linear-gradient(to right, transparent, transparent 14px, #cccccc80 14px, #cccccc80 15px);
}

.helplines20 {
    background: repeating-linear-gradient(transparent, transparent 19px, #cccccc80 19px, #cccccc80 20px),
    repeating-linear-gradient(to right, transparent, transparent 19px, #cccccc80 19px, #cccccc80 20px);
}

.helplines25 {
    background: repeating-linear-gradient(transparent, transparent 24px, #cccccc80 24px, #cccccc80 25px),
    repeating-linear-gradient(to right, transparent, transparent 24px, #cccccc80 24px, #cccccc80 25px);
}

.helplines30 {
    background: repeating-linear-gradient(transparent, transparent 29px, #cccccc80 29px, #cccccc80 30px),
    repeating-linear-gradient(to right, transparent, transparent 29px, #cccccc80 29px, #cccccc80 30px);
}

.helplines50 {
    background: repeating-linear-gradient(transparent, transparent 49px, #cccccc80 49px, #cccccc80 50px),
    repeating-linear-gradient(to right, transparent, transparent 49px, #cccccc80 49px, #cccccc80 50px);
}

.helplines80 {
    background: repeating-linear-gradient(transparent, transparent 79px, #cccccc80 79px, #cccccc80 80px),
    repeating-linear-gradient(to right, transparent, transparent 79px, #cccccc80 79px, #cccccc80 80px);
}

.invalid-image-src {
    color: #CC0000;
}
