.tactical-overview-first-flex-item {
    flex: 0 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.tactical-overview-flex-item {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 2.0vw;
}
