<ng-container *transloco="let t">
    <c-card-header>
        <div class="d-flex bd-highlight">
            <div class="p-2 bd-highlight">
                <fa-icon [icon]="['fas', 'filter']"></fa-icon>
                {{ t('Filter') }}
            </div>

            <div class="p-2 flex-grow-1 bd-highlight">

                <ng-select [items]="bookmarks" groupBy="fav_group"
                           [(ngModel)]="selectedBookmarkId"
                           bindLabel="name"
                           bindValue="id"
                           [multiple]="false"
                           (change)="onBookmarkChange()">
                    <ng-template ng-label-tmp let-item="item">
                        <b>{{ item.name }}</b>
                    </ng-template>
                    <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                        <b [ngOptionHighlight]="search">{{ item.name }}</b>
                    </ng-template>
                </ng-select>

            </div>
            <div *ngIf="showEdit" class="p-2 bd-highlight">
                <c-button-group aria-label="Basic mixed styles example" role="group">
                    <button cButton class="ripple " color="light" size="xs" (click)="editBookmark()"
                    title="{{t('Edit bookmark')}}">
                        <fa-icon [icon]="['fas', 'edit']"></fa-icon>
                    </button>
                    <button cButton class="ripple " color="info" size="xs"
                            title="{{t('Share Filter')}}" (click)="computeBookmarkUrl()">
                        <fa-icon [icon]="['fas', 'bookmark']"></fa-icon>
                    </button>
                    <button cButton class="ripple " color="danger" size="xs"
                            title="{{t('Delete current filter')}}" (click)="toggleDeleteAllModal()">
                        <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                    </button>
                    <button cButton class="ripple " color="success" size="xs" (click)="updateBookmark()">
                        {{ t('Update filter') }}
                    </button>
                </c-button-group>
            </div>
            <div class="p-2 bd-highlight">
                <button cButton class="ripple " color="success" size="xs" (click)="showNewBookmarkModel()">
                    <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                    {{ t('Save as new filter') }}
                </button>
            </div>
        </div>
    </c-card-header>

    <oitc-filter-bookmark-save-modal (saved)="savedNewBookmark($event)" [actionType]="actionType" [plugin]="plugin" [controller]="controller" [bookmark]="selectedBookmark"
                                     [action]="action" [filter]="filter"></oitc-filter-bookmark-save-modal>
    <oitc-delete-bookmark-modal (completed)="deleted($event)" [items]="deleteItems"></oitc-delete-bookmark-modal>
    <oitc-filter-bookmark-export-modal [urlString]="computedUrl"/>
</ng-container>