.table-half-half-background {
    background: linear-gradient(-80deg, #DEE3E542 50%, #92A2A842 50%);
}

.half {
    width: 50%;
    float: left;
    text-align: center;
}

.host_row {
    background: #D9E0E042;
}

.service_row {
    background: #F4F4F442;
}

.host_icon {
    color: #92A2A8;
}

.service_icon {
    color: #DEE3E5;
}
/*
.html-report-host-row {
    background-color: rgba(80, 80, 80, 0.2)!important;
}
*/

.host_option {
    background: #92A2A842;
}

.service_option {
    background: #DEE3E542;
}

body.dark-theme .host_option {
    background: #92A2A842!important;
}

body.dark-theme .service_option {
    background: #DEE3E542!important;
}

.report-table-bordered {
    border: 1px solid #FFFFFF;
}

.report-details-header_bordered {
    border-bottom: 1px solid #E2E2E2;
}

.report-details-bordered {
    border-bottom: 1px solid #FFFFFF;
}

i[class*='all_select_'] {
    cursor: pointer;
    padding: 0 3px;
}
/*
.helptext {
    cursor: help;
} */

.show-grid {
    width: 100%;
    padding: 0;
    margin: 0;
}

.report-border-danger {
    border-left: 3px solid #CC0000;
}

.report-border-default {
    border-left: 3px solid #DEE2E6;
}

.report-font-weight-500 {
    font-weight: 500;
}

.offset-md-3 {
    margin-left: 25%; }

.img-fluid {
    max-width: 100%;
    height: auto; }

.html-report-host-row {
    background-color: rgba(80, 80, 80, 0.2)!important;
}

.badge {
    display: inline;
    margin-top: 0px!important;
}
