.wizard-card-group {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}

.wizard-logo-image {
    border-radius: 50%;
    background: rgba(243, 243, 243, 0.6);
    height: 80px;
    width: 80px;
    position: relative;
    border: 5px outset #4285F4;
    flex: 0 0 80px;
    overflow: hidden;

    box-sizing: border-box;
}

.wizard-card-body {
    min-height: 150px;
}


.pl-10 {
    padding-left: 10px !important;
}

.wizard-logo-image-small {
    border-radius: 50%;
    background: rgba(243, 243, 243, 0.6);
    height: 30px;
    width: 30px;
    position: relative;
    border: 5px outset #4285F4;
    flex: 0 0 80px;
    overflow: hidden;

    box-sizing: border-box;
}


.wizard-logo-image img, .wizard-logo-image-small img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    box-sizing: border-box;
    padding: 11px;
}

.alert-icon {
    margin-right: 10px;
}

.bg-placeholder-wizard {
    background-image: linear-gradient(135deg, #d6d6d64D 25%, transparent 25%, transparent 50%, #d6d6d64D 50%, #d6d6d64D 75%, transparent 75%, transparent 100%);
    background-size: 56.57px 56.57px;
}

.wizard-logo-image-placeholder {
    border: 5px solid #d6d6d64d;
}