<ng-container *transloco="let t">

    <nav aria-label="breadcrumb" class="mt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a [routerLink]="['/']">
                    <fa-icon [icon]="['fas', 'home']"></fa-icon>
                    {{ t('Home') }}
                </a></li>
            <li aria-current="page" class="breadcrumb-item active">
                <fa-icon [icon]="['fas', 'wand-sparkles']"></fa-icon>
                {{ t('Wizards') }}
            </li>
        </ol>
    </nav>

    <c-card>
        <c-card-header>
            <h5 class="card-title">{{t('Configuration Wizards')}}</h5>
            <c-nav class="card-toolbar card-header-pills">
                <c-nav-item>
                    <fa-icon [icon]="['fas', 'filter']" class="text-info"></fa-icon>
                    {{ t('Filter') }}
                </c-nav-item>
                <c-nav-item class="px-1">
                    <c-button-group>
                        <button cButton color="primary" size="xs" [ngClass]="{'btn-primary': filter.Category.linux, 'btn-default': !filter.Category.linux}" (click)="filter.Category.linux=!filter.Category.linux">
                            <fa-icon [icon]="['fab', 'linux']"></fa-icon> {{ t('Linux') }}
                        </button>
                        <button cButton color="primary" size="xs" [ngClass]="{'btn-primary': filter.Category.windows, 'btn-default': !filter.Category.windows}" (click)="filter.Category.windows=!filter.Category.windows">
                            <fa-icon [icon]="['fab', 'windows']"></fa-icon> {{ t('Windows') }}
                        </button>
                        <button cButton color="primary" size="xs" [ngClass]="{'btn-primary': filter.Category.database, 'btn-default': !filter.Category.database}" (click)="filter.Category.database=!filter.Category.database">
                            <fa-icon [icon]="['fas', 'database']"></fa-icon> {{ t('Database') }}
                        </button>
                        <button cButton color="primary" size="xs" [ngClass]="{'btn-primary': filter.Category.mail, 'btn-default': !filter.Category.mail}" (click)="filter.Category.mail=!filter.Category.mail">
                            <fa-icon [icon]="['fas', 'envelopes-bulk']"></fa-icon>  {{t('Email')}}
                        </button>
                        <button cButton color="primary" size="xs" [ngClass]="{'btn-primary': filter.Category.network, 'btn-default': !filter.Category.network}" (click)="filter.Category.network=!filter.Category.network">
                            <fa-icon [icon]="['fas', 'sitemap']"></fa-icon> {{ t('Network') }}
                        </button>
                        <button cButton color="primary" size="xs" [ngClass]="{'btn-primary': filter.Category.docker, 'btn-default': !filter.Category.docker}" (click)="filter.Category.docker=!filter.Category.docker">
                            <fa-icon [icon]="['fab', 'docker']"></fa-icon> {{ t('Docker') }}
                        </button>
                        <button cButton color="primary" size="xs" [ngClass]="{'btn-primary': filter.Category.macos, 'btn-default': !filter.Category.macos}" (click)="filter.Category.macos=!filter.Category.macos">
                            <fa-icon [icon]="['fab', 'apple']"></fa-icon>  {{ t('macOS') }}
                        </button>
                        <button cButton color="primary" size="xs" [ngClass]="{'btn-primary': filter.Category.virtualization, 'btn-default': !filter.Category.virtualization}" (click)="filter.Category.virtualization=!filter.Category.virtualization">
                            <fa-icon [icon]="['fas', 'cloud']"></fa-icon> {{ t('Virtualization') }}
                        </button>
                        <button cButton color="primary" size="xs" [ngClass]="{'btn-primary': filter.Category.hardware, 'btn-default': !filter.Category.hardware}" (click)="filter.Category.hardware=!filter.Category.hardware">
                            <fa-icon [icon]="['fas', 'server']"></fa-icon>  {{ t('Hardware') }}
                        </button>

                    </c-button-group>
                </c-nav-item>
            </c-nav>
        </c-card-header>
        <c-card-body>
            <c-row *ngIf="result" class="wizard-card-group">
                <c-col [xs]="12" [md]="6" [lg]="4" [xl]="3"
                       *ngFor="let wizard of result.wizards | keyvalue" [hidden]="! filterByCategory(wizard.value.category)">
                    <c-card class="mb-3">
                        <c-card-body class="wizard-card-body cursor-pointer"
                             [routerLink]="['/', 'wizards', 'wizardHostConfiguration', wizard.value.type_id, wizard.value.title, 0, wizard.value.state, wizard.value.selected_os]">
                            <div class="d-flex align-items-center">
                                <div class="wizard-logo-image">
                                    <img [src]="'./assets/images/wizards/'+wizard.value.image" [alt]="wizard.value.title">
                                </div>
                                <div class="pl-10">
                                    <h5>
                                        {{ wizard.value.title }}
                                    </h5>
                                    <br />
                                    {{ wizard.value.description }}
                                </div>
                            </div>
                        </c-card-body>
                        <c-card-footer class="text-end">
                            <i class="fas fa-tags wizard-info-tags"></i>
                            {{ wizard.value.category.join(', ')}}
                        </c-card-footer>
                    </c-card>
                </c-col>
                <c-col [xs]="12" [md]="6" [lg]="4" [xl]="3"
                       *ngFor="let wizard of result.possibleWizards | keyvalue"
                       [hidden]="! filterByCategory(wizard.value.category)">
                    <c-card class="mb-3">
                        <c-card-body class="wizard-card-body bg-placeholder-wizard">
                            <div class="d-flex align-items-center">
                                <div class="wizard-logo-image wizard-logo-image-placeholder">
                                    <img [src]="'./assets/images/wizards/'+wizard.value.image"
                                         [alt]="wizard.value.title">
                                </div>
                                <div class="pl-10">
                                    <h5>
                                        {{ wizard.value.title }}
                                    </h5>
                                    <br/>
                                    {{ wizard.value.description }}
                                </div>
                            </div>
                        </c-card-body>
                        <c-card-footer>
                            <c-row>
                                <c-col>

                                    <oitc-badge-outline color="warning">
                                        <fa-icon [icon]="['fas', 'puzzle-piece']"></fa-icon>
                                        {{ t('Requires module') }}
                                    </oitc-badge-outline>
                                </c-col>
                                <c-col class="text-end">

                                    <i class="fas fa-tags wizard-info-tags"></i>
                                    {{ wizard.value.category.join(', ') }}
                                </c-col>
                            </c-row>
                        </c-card-footer>
                    </c-card>
                </c-col>
            </c-row>
        </c-card-body>
    </c-card>
</ng-container>
