@if (!isViewMode()) {
    <div cdkDrag #container class="map-element-container"
         (cdkDragEnded)="onDragEnd($event)"
         (cdkDragMoved)="onDragMove($event)"
         cdkDragBoundary=".map-canvas">
        @if (allowView && ( item()?.label_possition == 1 || item()?.label_possition == 2 )) {
            <div class="text-center">
                <div [hidden]="!(item()?.show_label && item()?.label_possition == 1)">{{ label }}</div>
                <img [src]="'/map_module/img/items/' + item()?.iconset + '/' + currentIcon"
                     onerror="this.src='/map_module/img/items/missing.png';" draggable="false"/>
                <div [hidden]="!(item()?.show_label && item()?.label_possition == 2)">{{ label }}</div>
            </div>
        }

        @if (allowView && ( item()?.label_possition == 3 || item()?.label_possition == 4 )) {
            <div class="text-center">
                <span [hidden]="!(item()?.show_label && item()?.label_possition == 4)">{{ label }}</span>
                <img [src]="'/map_module/img/items/' + item()?.iconset + '/' + currentIcon"
                     onerror="this.src='/map_module/img/items/missing.png';" style="vertical-align:middle"
                     draggable="false"/>
                <span [hidden]="!(item()?.show_label && item()?.label_possition == 3)">{{ label }}</span>
            </div>
        }
    </div>
    @if (!isViewMode()) {
        <p-contextMenu [target]="container" [model]="contextMenuItems"
                       appendTo="body"></p-contextMenu>
    }
} @else {
    <div #container class="map-element-container cursor-normal" [ngClass]="{'cursor-pointer': enablePointerCursor()}">
        @if (allowView && ( item()?.label_possition == 1 || item()?.label_possition == 2 )) {
            <div class="text-center">
                <div [hidden]="!(item()?.show_label && item()?.label_possition == 1)">{{ label }}</div>
                <img [src]="'/map_module/img/items/' + item()?.iconset + '/' + currentIcon"
                     onerror="this.src='/map_module/img/items/missing.png';" draggable="false"/>
                <div [hidden]="!(item()?.show_label && item()?.label_possition == 2)">{{ label }}</div>
            </div>
        }

        @if (allowView && ( item()?.label_possition == 3 || item()?.label_possition == 4 )) {
            <div class="text-center">
                <span [hidden]="!(item()?.show_label && item()?.label_possition == 4)">{{ label }}</span>
                <img [src]="'/map_module/img/items/' + item()?.iconset + '/' + currentIcon"
                     onerror="this.src='/map_module/img/items/missing.png';" style="vertical-align:middle"
                     draggable="false"/>
                <span [hidden]="!(item()?.show_label && item()?.label_possition == 3)">{{ label }}</span>
            </div>
        }
    </div>
}
