.map-element-container {
    border: none;
    background: none;
    cursor: move;
    display: flex;
    position: absolute;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.map-element-label-left {
    flex-direction: row-reverse;
}

.map-element-label-right {
    flex-direction: row;
}

.map-element-label-top {
    flex-direction: column-reverse;
}

.map-element-label-bottom {
    flex-direction: column;
}

.cdk-drag-dragging {
    opacity: 0.5;
    border: 2px dashed #4285F4 !important;
}
