<table bordered cTable class="mt-2 mb-2 table table-fit" hover striped>
    <thead>
    <tr>
        <th>
            <p-skeleton width="15rem"/>
        </th>
        <th>
            <p-skeleton width="5rem"/>
        </th>
        <th>
            <p-skeleton width="10rem"/>
        </th>
        <th>
            <p-skeleton width="7rem"/>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <p-skeleton width="15rem"/>
        </td>
        <td>
            <p-skeleton width="5rem"/>
        </td>
        <td>
            <p-skeleton width="10rem"/>
        </td>
        <td>
            <p-skeleton width="7rem"/>
        </td>
    </tr>
    <tr>
        <td>
            <p-skeleton width="15rem"/>
        </td>
        <td>
            <p-skeleton width="5rem"/>
        </td>
        <td>
            <p-skeleton width="10rem"/>
        </td>
        <td>
            <p-skeleton width="7rem"/>
        </td>
    </tr>
    <tr>
        <td>
            <p-skeleton width="15rem"/>
        </td>
        <td>
            <p-skeleton width="5rem"/>
        </td>
        <td>
            <p-skeleton width="10rem"/>
        </td>
        <td>
            <p-skeleton width="7rem"/>
        </td>
    </tr>
    </tbody>
</table>
