<ng-container *transloco="let t">
    <nav aria-label="breadcrumb" class="mt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a [routerLink]="['/']">
                    <fa-icon [icon]="['fas', 'home']"></fa-icon>
                    {{ t('Home') }}
                </a></li>
            <li aria-current="page" class="breadcrumb-item active">
                <fa-icon [icon]="['fas', 'gauge-high']"></fa-icon>
                {{ t('Dashboard') }}
            </li>
        </ol>
    </nav>

    <c-card class="mb-3" id="dashboard-container">
        <c-card-header>
            <h5 class="my-1">{{ t('Dashboard') }}</h5>
            <oitc-dashboard-tabs [tabs]="tabs"
                                 [currentTabId]="currentTabId"
                                 [dashboardIsLocked]="dashboardIsLocked"
                                 (changeTabEvent)="onTabChange($event)"
                                 (deleteTabEvent)="onDeleteTab($event)"></oitc-dashboard-tabs>

            <c-nav class="card-toolbar card-header-pills ms-auto">
                <c-nav-item class="px-1">
                    <button (click)="toggleTabRotationModal()" cButton class="ripple" color="primary"
                            size="xs"
                            [cTooltip]="'Setup tab rotation'|transloco" cTooltipPlacement="bottom">
                        <fa-icon [icon]="['fas', 'arrows-spin']"></fa-icon>
                    </button>
                </c-nav-item>
                <c-nav-item class="px-1" *ngIf="!isReadonly">
                    <button (click)="lockOrUnlock(false)" cButton class="ripple" color="danger"
                            *ngIf="dashboardIsLocked"
                            size="xs"
                            [cTooltip]="'Unlock for edit'|transloco" cTooltipPlacement="bottom">
                        <fa-icon [icon]="['fas', 'lock']"></fa-icon>
                    </button>
                    <button (click)="lockOrUnlock(true)" cButton class="ripple" color="primary"
                            *ngIf="!dashboardIsLocked"
                            size="xs"
                            [cTooltip]="'Lock for edit'|transloco" cTooltipPlacement="bottom">
                        <fa-icon [icon]="['fas', 'unlock']"></fa-icon>
                    </button>
                </c-nav-item>
                <c-nav-item class="px-1" *ngIf="!isReadonly">
                    <button (click)="toggleAddWidgetModal()" cButton class="ripple" color="success"
                            [disabled]="dashboardIsLocked"
                            size="xs">
                        <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                        {{ t('Add Widget') }}
                    </button>
                </c-nav-item>
                <c-nav-item class="px-1">
                    <button (click)="loadTabContent(this.currentTabId)" cButton class="ripple" color="default"
                            size="xs">
                        <fa-icon [icon]="['fas', 'arrows-rotate']"></fa-icon>
                        {{ t('Refresh') }}
                    </button>
                </c-nav-item>
                <c-nav-item class="px-1">
                    <button (click)="toggleCreateNewTabModal()" cButton class="ripple" color="success"
                            size="xs" [cTooltip]="'Create new tab'|transloco" cTooltipPlacement="bottom">
                        <fa-icon [icon]="['fas', 'folder-plus']"></fa-icon>
                    </button>
                </c-nav-item>
                <c-nav-item class="px-1">
                    <button (click)="toggleFullscreenMode()" cButton class="ripple" color="default"
                            size="xs" [cTooltip]="'Fullscreen mode'|transloco" cTooltipPlacement="bottom">
                        <fa-icon [icon]="['fas', 'expand-arrows-alt']"></fa-icon>
                    </button>
                </c-nav-item>
            </c-nav>


        </c-card-header>
        <c-card-body>
            <!-- Loading animation -->
            @if (isLoading) {
                <c-row>
                    <c-col [xs]="12" [md]="12" [lg]="4">
                        <oitc-block-loader height="15rem"></oitc-block-loader>
                    </c-col>
                    <c-col [xs]="12" [md]="12" [lg]="4">
                        <oitc-block-loader height="15rem"></oitc-block-loader>
                    </c-col>
                </c-row>
                <c-row>
                    <c-col [xs]="12" [md]="12" [lg]="4">
                        <oitc-block-loader height="15rem"></oitc-block-loader>
                    </c-col>
                    <c-col [xs]="12" [md]="12" [lg]="4">
                        <oitc-block-loader height="15rem"></oitc-block-loader>
                    </c-col>
                </c-row>
            }

            <!-- Actual dashboard content -->
            <div class="grid-container" *ngIf="layout.length > 0" [ngClass]="{'border-0': dashboardIsLocked}">
                <ktd-grid [cols]="cols"
                          [rowHeight]="rowHeight"
                          [gap]="10"
                          [layout]="layout"
                          [compactType]="compactType"
                          [preventCollision]="preventCollision"
                          [scrollableParent]="autoScroll ? document : null"
                          scrollSpeed="4"
                          (dragStarted)="onDragStarted($event)"
                          (resizeStarted)="onResizeStarted($event)"
                          (dragEnded)="onDragEnded($event)"
                          (resizeEnded)="onResizeEnded($event)"
                          (layoutUpdated)="onLayoutUpdated($event)">
                    <ktd-grid-item *ngFor="let widget of widgets; trackBy:WidgetTrackById"
                                   [id]="widget.id"
                                   [transition]="currentTransition"
                                   [dragStartThreshold]="dragStartThreshold"
                                   [draggable]="!disableDrag"
                                   [resizable]="!disableResize"
                                   class="overflow-visible">

                        <!-- Optional Custom placeholder template -->
                        <ng-template ktdGridItemPlaceholder>
                            <!-- Custom placeholder content goes here -->

                            <c-card class="w-100 h-100 justify-content-center widget-placeholder">
                                <div class="align-self-center">
                                    <fa-icon [icon]="['fas', 'up-down-left-right']" size="2x"></fa-icon>
                                </div>
                            </c-card>

                        </ng-template>

                        <div class="grid-item-content">

                            <c-card class="w-100 h-100">
                                <c-card-header [ngClass]="{'cursor-grab': !dashboardIsLocked}"
                                               [class]="widget.color"
                                               class="card-header-slim">
                                    <h5 cCardTitle ktdGridDragHandle>
                                        <!-- The icons are stored in the database to be backwards compatible we use the good old i-tag -->
                                        <i [classList]="widget.icon"></i>
                                        {{ widget.title }}
                                    </h5>

                                    <c-nav class="card-toolbar card-header-pills">

                                        <c-nav-item class="px-1" *ngIf="!dashboardIsLocked">
                                            <button class="btn btn-sm btn-icon ripple btn-icon-hover-primary"
                                                    (click)="toggleRenameWidgetModal(widget)">
                                                <fa-icon [icon]="['fas', 'pencil']"></fa-icon>
                                            </button>
                                        </c-nav-item>

                                        <c-nav-item class="px-1" *ngIf="!dashboardIsLocked">
                                            <oitc-dashboard-colorpicker
                                                (selectedColor)="onColorChange($event, widget)"></oitc-dashboard-colorpicker>
                                        </c-nav-item>

                                        <c-nav-item class="px-1" *ngIf="!disableRemove">
                                            <button class="btn btn-sm btn-icon ripple btn-icon-hover-danger"
                                                    (mousedown)="stopEventPropagation($event)"
                                                    (click)="removeItem(widget.id)">
                                                <fa-icon [icon]="['fas', 'times']"></fa-icon>
                                            </button>
                                        </c-nav-item>
                                    </c-nav>

                                </c-card-header>
                                <c-card-body class="overflow-scroll">

                                    <oitc-widget-container
                                        [widgetInput]="widget"
                                        [isReadonly]="isReadonly"></oitc-widget-container>

                                </c-card-body>
                            </c-card>

                        </div>

                    </ktd-grid-item>
                </ktd-grid>
            </div>
        </c-card-body>
    </c-card>

</ng-container>

<oitc-dashboard-rename-widget-modal
    (titleChangedEvent)="onWidgetTitleChanged($event)"></oitc-dashboard-rename-widget-modal>

<oitc-dashboard-allocate-modal
    (triggerReloadEvent)="loadDashboardsIndex()"></oitc-dashboard-allocate-modal>

<oitc-dashboard-update-available-modal
    (decisionEvent)="handleUpdateDecisionEvent($event)"></oitc-dashboard-update-available-modal>

<oitc-dashboard-tab-rotation-modal
    [intervalInput]="tabIntervalInSeconds"
    (intervalUpdate)="saveTabRotateInterval($event)"></oitc-dashboard-tab-rotation-modal>

<oitc-dashboard-create-new-tab-modal
    (newTabCreated)="onNewTabCreated($event)"></oitc-dashboard-create-new-tab-modal>

<oitc-dashboard-add-widget-modal
    [availableWidgets]="availableWidgets"
    (restoreDefault)="onRestoreDefaultWidgets($event)"></oitc-dashboard-add-widget-modal>
