<ng-container *transloco="let t">
    <c-modal
        #modal='cModal'
        [keyboard]="true"
        id="reloadInterfaceModal"
        size="lg"
    >
        <c-modal-header class="bg-primary">
            <h5 cModalTitle class="text-white">
                {{ t('Reload of interface required') }}
            </h5>
        </c-modal-header>
        <c-modal-body>
            <c-row>
                <c-col xs="12" class="text-info">
                    <fa-icon [icon]="['fas', 'info-circle']"></fa-icon>
                    {{ t('To apply changes, a reload of the interface is required.') }}
                </c-col>

                <c-col xs="12" class="text-info">
                    {{
                        t('Automatically reload in {delay} seconds.', {
                            'delay': interfaceReloadIn
                        })
                    }}
                </c-col>
            </c-row>


            <c-row class="pt-4 pb-2">
                <c-col sm="12">
                    <c-progress [animated]="true" [value]="percentage" color="primary" variant="striped"/>
                </c-col>
            </c-row>


        </c-modal-body>
        <c-modal-footer>

        </c-modal-footer>
    </c-modal>
</ng-container>


