<ng-container *transloco="let t">
  <nav aria-label="breadcrumb" class="mt-3">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a [routerLink]="['/']">
          <fa-icon [icon]="['fas', 'home']"></fa-icon>
          {{ t('Home') }}
        </a></li>
        <li class="breadcrumb-item">
          <fa-icon [icon]="['fas', 'puzzle-piece']"></fa-icon>
          {{ t('Import Module') }}
        </li>
        <li aria-current="page" class="breadcrumb-item active">
          <fa-icon [icon]="['fas', 'tower-observation']"></fa-icon>
          {{ t('External Monitoring Systems Overview') }}
        </li>
      </ol>
    </nav>
    <c-card class="mb-3">
      <c-card-header>
        <h5 cCardTitle>{{ t('External Monitorings') }}
          <small class="fw-300">
            {{ t('Overview') }}
          </small>
        </h5>
        <c-nav class="card-toolbar card-header-pills">
          <c-nav-item class="px-1">
            <button (click)="load()" cButton class="ripple" color="default" size="xs">
              <fa-icon [icon]="['fas', 'arrows-rotate']"></fa-icon>
              {{ t('Refresh') }}
            </button>
          </c-nav-item>
          <c-nav-item class="px-1">
            <button *oitcPermission="['ImportModule', 'ExternalMonitorings', 'add']"
              [routerLink]="['/', 'import_module', 'ExternalMonitorings', 'add']"
              cButton
              class="ripple"
              color="success"
              size="xs">
              <fa-icon [icon]="['fas', 'plus']"></fa-icon>
              {{ t('New') }}
            </button>
          </c-nav-item>
          <c-nav-item class="px-1">
            <button (click)="toggleFilter()" cButton class="ripple" color="primary" size="xs">
              <fa-icon [icon]="['fas', 'filter']"></fa-icon>
              {{ t('Filter') }}
            </button>
          </c-nav-item>
        </c-nav>
      </c-card-header>
      <c-card-body>
        <!-- Filter -->
        <c-container [hidden]="hideFilter" class="shadow-sm p-2 mb-4 bg-body rounded" [fluid]="true">
          <c-row>
            <c-col>
              <h6 class="pb-2 mb-3 border-bottom">
                <fa-icon [icon]="['fas', 'filter']"></fa-icon>
                {{ t('Filter') }}
              </h6>
            </c-col>
          </c-row>
          <form cForm>
            <c-row>
              <c-col md="6">
                <c-input-group>
                  <span cInputGroupText>
                    <fa-icon [icon]="['fas', 'filter']"></fa-icon>
                  </span>
                  <input (debouncedValue)="onFilterChange($event)"
                    [(ngModel)]="params['filter[ExternalMonitorings.name]']"
                    [placeholder]="'Filter by monitoring system name' | transloco"
                    aria-label="ExternalMonitoringsName"
                    cFormControl
                    name="ExternalMonitoringsName"
                    oitcDebounce
                    type="text"
                    />
                </c-input-group>
              </c-col>
              <c-col md="6">
                <c-input-group>
                  <span cInputGroupText>
                    <fa-icon [icon]="['fas', 'filter']"></fa-icon>
                  </span>
                  <input (debouncedValue)="onFilterChange($event)"
                    [(ngModel)]="params['filter[ExternalMonitorings.description]']"
                    [placeholder]="'Filter by monitoring system description' | transloco"
                    aria-label="ExternalMonitoringsDescription"
                    cFormControl
                    name="ExternalMonitoringsDescription"
                    oitcDebounce
                    type="text"
                    />
                </c-input-group>
              </c-col>
            </c-row>

            <c-row class="mt-2">
              <c-col class="text-end">
                <button (click)="resetFilter()" cButton class="ripple" color="danger" size="xs">
                  {{ t('Reset filter') }}
                </button>
              </c-col>
            </c-row>
          </form>
        </c-container>
        <!-- End Filter -->
        @if (!externalMonitorings) {
          <oitc-table-loader></oitc-table-loader>
        }
        @if (externalMonitorings) {
          <table bordered cTable class="mt-2 mb-0 table table-fit" hover striped matSort
            (matSortChange)="onSortChange($event)"
            [matSortActive]="params.sort" [matSortDirection]="params.direction">
            <thead>
              <tr>
                <th class="width-50 text-center" scope="col">
                  <fa-icon [icon]="['fas', 'square-check']"></fa-icon>
                </th>
                <th scope="col" mat-sort-header="ExternalMonitorings.name">
                  {{ t('Name') }}
                </th>
                <th scope="col" mat-sort-header="ExternalMonitorings.description">
                  {{ t('Description') }}
                </th>
                <th scope="col">
                  {{ t('System type') }}
                </th>
                <th scope="col">
                  {{ t('Container') }}
                </th>
                <th class="text-center width-50" scope="col">
                  <fa-icon [icon]="['fas', 'gear']"></fa-icon>
                </th>
              </tr>
            </thead>
            <tbody>
              @for (externalMonitoring of externalMonitorings.externalMonitorings; track externalMonitoring) {
                <tr>
                  <td class="text-center">
                    <oitc-item-select
                      *oitcPermission="['importmodule','externalmonitorings', 'delete']"
                      [disabled]="!externalMonitoring.allowEdit"
                    [item]="externalMonitoring"></oitc-item-select>
                  </td>
                  <td>
                    <span *oitcPermission="['importmodule','externalmonitorings', 'edit']">
                      @if (externalMonitoring.allowEdit) {
                        <a [routerLink]="['/', 'import_module', 'ExternalMonitorings', 'edit',externalMonitoring.id]">
                          {{ externalMonitoring.name }}
                        </a>
                      } @else {
                        {{ externalMonitoring.name }}
                      }
                    </span>
                    <span *oitcPermission="['importmodule','externalmonitorings', 'edit']; negate: true">
                      {{ externalMonitoring.name }}
                    </span>
                  </td>
                  <td>{{ externalMonitoring.description }}</td>
                  <td>
                    @if (externalMonitoring.system_type) {
                      <span class="badge border border-info text-info fw-light"
                        >
                        {{ externalMonitoring.system_type }}
                      </span>
                    }
                  </td>
                  <td> {{ externalMonitoring.container }}</td>
                  <td class="width-50">
                    <oitc-actions-button [permission]="'ImportModule.ExternalMonitorings.edit'"
                      [icon]="['fas', 'cog']"
                      [url]="'/import_module/ExternalMonitorings/edit/' + externalMonitoring.id">
                      @if (externalMonitoring.allowEdit) {
                        <oitc-actions-button-element [permission]="'ImportModule.ExternalMonitorings.edit'"
                          [url]="'/import_module/ExternalMonitorings/edit/' + externalMonitoring.id">
                          <fa-icon [icon]="['fas', 'cog']"></fa-icon>
                          {{ t('Edit') }}
                        </oitc-actions-button-element>
                      }
                      @if (externalMonitoring.system_type === ExternalMonitoringSystems.FlowChief && externalMonitoring.allowEdit) {
                        <oitc-actions-button-element
                          [permission]="'ImportModule.ExternalMonitorings.flowchiefNodeSelection'"
                          [url]="'/import_module/ExternalMonitorings/flowchiefNodeSelection/' + externalMonitoring.id">
                          <fa-icon [icon]="['fas', 'folder-tree']"></fa-icon>
                          {{ t('Select FlowChef Nodes') }}
                        </oitc-actions-button-element>
                      }
                      <oitc-actions-button-element [permission]="'ImportModule.importchangelogs.index'"
                        [url]="'/import_module/import_changelogs/entity/ExternalMonitoring/' + externalMonitoring.id">
                        <fa-icon [icon]="['fas', 'timeline']" [rotate]="90"></fa-icon>
                        {{ t('Changelog') }}
                      </oitc-actions-button-element>
                      <li cDropdownDivider></li>
                      @if (externalMonitoring.allowEdit) {
                        <oitc-actions-button-element (click)="toggleDeleteAllModal(externalMonitoring)"
                          [permission]="'ImportModule.importedhostgroups.delete'">
                          <span class="text-danger">
                            <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                            {{ t('Delete') }}
                          </span>
                        </oitc-actions-button-element>
                      }
                    </oitc-actions-button>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        }

        @if (externalMonitorings && externalMonitorings.externalMonitorings.length === 0) {
          <oitc-no-records
          ></oitc-no-records>
        }
        @if (externalMonitorings) {
          <c-container class="bg-secondary bg-opacity-10 mb-3 py-2 rounded-bottom border border-top-0"
            [fluid]="true">
            <c-row>
              <c-col>
                <oitc-select-all
                [itemsCount]="externalMonitorings.externalMonitorings.length"></oitc-select-all>
              </c-col>
              <c-col [sm]="8" [md]="5" [lg]="4" [xs]="3">
                <div class="btn-group d-flex flex-row" role="group">
                  <button (click)="toggleDeleteAllModal()"
                    class="btn btn-outline-danger col-3 border-0"
                    type="button">
                    <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                    {{ t('Delete selected') }}
                  </button>
                </div>
              </c-col>
            </c-row>
          </c-container>
        }

        <c-container
          [fluid]="true">
          <c-row>
            <c-col>
              <oitc-paginate-or-scroll
                (paginatorChange)="onPaginatorChange($event)"
              [paginateOrScroll]="externalMonitorings"></oitc-paginate-or-scroll>
            </c-col>
          </c-row>
        </c-container>
      </c-card-body>
    </c-card>
  </ng-container>
  <oitc-delete-all-modal (completed)="onMassActionComplete($event)" [items]="selectedItems"></oitc-delete-all-modal>
