<ng-container *transloco="let t">

    <c-dropdown variant="btn-group">
        <button [color]="'default'" cButton cDropdownToggle [size]="'xs'">
            <fa-icon [icon]="['fas', 'clock']"></fa-icon>
            {{ humanTimerange }}
            <span class="text-primary" *ngIf="humanAutoRefresh !== ''">{{ humanAutoRefresh }}</span>

        </button>
        <div cDropdownMenu class="grafana-datepicker-container">
            <div class="w-100 p-2">
                <c-row>
                    <c-col [xs]="12" [md]="3">
                        <fieldset>
                            <h4>{{ t('Auto refresh') }}</h4>
                            <hr class="border-dashed">
                            <div *ngFor="let interval of timeranges.update_interval"
                                 class="no-padding cursor-pointer"
                                 style="line-height: 25px;"
                                 [ngClass]="{'text-primary': interval.key === selectedAutoRefresh}"
                                 (click)="changeAutoRefresh(interval.key, interval.name)">
                                {{ interval.name }}
                            </div>
                        </fieldset>
                    </c-col>

                    <c-col [xs]="12" [md]="3">
                        <fieldset>
                            <h4>{{ t('Long term') }}</h4>
                            <hr class="border-dashed">
                            <div *ngFor="let interval of timeranges.quick"
                                 class="no-padding cursor-pointer"
                                 style="line-height: 25px;"
                                 [ngClass]="{'text-primary': interval.key === selectedTimerange}"
                                 (click)="changeTimerange(interval.key, interval.name)">
                                {{ interval.name }}
                            </div>
                        </fieldset>
                    </c-col>


                    <c-col [xs]="12" [md]="3">
                        <fieldset>
                            <h4>{{ t('Until now') }}</h4>
                            <hr class="border-dashed">
                            <div *ngFor="let interval of timeranges.today"
                                 class="no-padding cursor-pointer"
                                 style="line-height: 25px;"
                                 [ngClass]="{'text-primary': interval.key === selectedTimerange}"
                                 (click)="changeTimerange(interval.key, interval.name)">
                                {{ interval.name }}
                            </div>
                        </fieldset>
                    </c-col>

                    <c-col [xs]="12" [md]="3">
                        <fieldset>
                            <h4>{{ t('Today') }}</h4>
                            <hr class="border-dashed">
                            <div *ngFor="let interval of timeranges.last"
                                 class="no-padding cursor-pointer"
                                 style="line-height: 25px;"
                                 [ngClass]="{'text-primary': interval.key === selectedTimerange}"
                                 (click)="changeTimerange(interval.key, interval.name)">
                                {{ interval.name }}
                            </div>
                        </fieldset>
                    </c-col>
                </c-row>
            </div>

        </div>
    </c-dropdown>

</ng-container>
