@if (!isFlapping) {
    <a href="javascript:void(0);"
       class="btn"
       [ngClass]="[btnColor, opacity, statusCircleClass]"
       [cTooltip]="humanState" cTooltipPlacement="right"
    >
        <ng-content></ng-content>
    </a>
}
@if (isFlapping) {
    <span class="flapping_airport stateClass"
          [cTooltip]="humanState" cTooltipPlacement="right">
        <fa-icon [icon]="(flappingState === 1 ? ['fas', 'circle']: ['far', 'circle'])" [ngClass]="flappingColor"
                 class="flapping-padding"></fa-icon>
        <fa-icon [icon]="(flappingState === 0 ? ['fas', 'circle']: ['far', 'circle'])"
                 [ngClass]="flappingColor"></fa-icon>
    </span>
}
