<ng-container *transloco="let t">
  @if (widget) {
    <div class="d-flex h-100 flex-column" #boxContainer>
      <div>
        @if (!isReadonly()) {
          <button class="btn btn-default ripple mb-2 btn-xs px-2" type="button" (click)="flipped.set(!flipped())"
            >
            @if (flipped()) {
              <fa-icon [icon]="['fas', 'eye']"></fa-icon>
            } @else {
              <fa-icon [icon]="['fas', 'cog']"></fa-icon>
            }
          </button>
        }
      </div>
      <div [@flip]="flipped()" (@flip.done)="onAnimationDone($event)" (@flip.start)="onAnimationStart($event)"
        class="box-container">
        <div class="box-x">
          @if (animationStateShowContent) {
            @if (!slaId) {
              <div class="text-info">
                {{ t('No element selected') }}
              </div>
            }
            @if (PermissionsService.hasPermissionObservable(['slamodule', 'slas', 'viewDetails'])|async) {
              @if (slaId && slaResponse) {
                <div class="mb-2">
                  <oitc-label-link
                    [objectId]="slaId"
                    [route]="'/sla_module/slas/viewDetails'"
                    [permissions]="'slamodule.slas.viewDetails'">
                    {{ slaResponse.sla.name }}
                  </oitc-label-link>
                  <span class="fw-300">
                    <i> {{ slaResponse.sla.description }}</i>
                  </span>
                  <c-row class="text-primary bold border-top border-top-primary mt-2">
                    <c-col [xs]="12" [md]="4" [lg]="4" [offset]="4">
                      {{ t('Number of hosts') }}
                    </c-col>
                    <c-col [xs]="12" [md]="4" [lg]="4"
                      class="border-start border-start-primary border-opacity-50">
                      {{ t('Number of services') }}
                    </c-col>
                  </c-row>
                  @if (SlaAvailabilityView) {
                    <c-row class="fieldset-legend-border-bottom text-end bold"
                      >
                      <c-col [xs]="12" [md]="4" [lg]="4">
                        {{ t('Total') }}
                      </c-col>
                      <c-col [xs]="12" [md]="4" [lg]="4">
                        {{ SlaAvailabilityView.hosts.totalHosts }}
                      </c-col>
                      <c-col [xs]="12" [md]="4" [lg]="4"
                        class="border-start border-start-primary border-opacity-50">
                        {{ SlaAvailabilityView.services.totalServices }}
                      </c-col>
                    </c-row>
                  }
                  @if (SlaAvailabilityView) {
                    <div>
                      <c-row class="py-1">
                        <c-col [xs]="12" [md]="4" [lg]="4">
                          <button cButton [size]="'xs'"
                            [ngClass]="{'opacity-25': SlaAvailabilityView.hosts.failed.count === 0 && SlaAvailabilityView.services.failed.count === 0}"
                            type="button" class="btn btn-danger ripple w-100">
                            <fa-icon [icon]="['fas', 'bolt']"></fa-icon>
                            {{ t('Failed') }}
                          </button>
                        </c-col>
                        <c-col [xs]="12" [md]="4" [lg]="4">
                          @if (SlaAvailabilityView.hosts.failed.count > 0 && ( PermissionsService.hasPermissionObservable(['hosts', 'index'])|async )) {
                            <a [routerLink]="['/', 'hosts', 'index']" class="text-danger"
                              [queryParams]="{'id': SlaAvailabilityView.hosts.failed.ids}">
                              <span class="pointer ms-2">
                                {{ SlaAvailabilityView.hosts.failed.count }}
                                <span class="opacity-50 ms-2">
                                  {{ SlaAvailabilityView.hosts.failed.percentage }}
                                </span>
                              </span>
                            </a>
                          } @else {
                            <span class="ms-2">
                              {{ SlaAvailabilityView.hosts.failed.count }}
                              <span class="opacity-50 ms-2">
                                {{ SlaAvailabilityView.hosts.failed.percentage }}
                              </span>
                            </span>
                          }
                        </c-col>
                        <c-col [xs]="12" [md]="4" [lg]="4">
                          @if (SlaAvailabilityView.services.failed.count > 0 && ( PermissionsService.hasPermissionObservable(['services', 'index'])|async )) {
                            <a [routerLink]="['/', 'services', 'index']" class="text-danger"
                              [queryParams]="{'id': SlaAvailabilityView.services.failed.ids}">
                              <span class="pointer ms-2">
                                {{ SlaAvailabilityView.services.failed.count }}
                                <span class="opacity-50 ms-2">
                                  {{ SlaAvailabilityView.services.failed.percentage }}
                                </span>
                              </span>
                            </a>
                          } @else {
                            <span class="ms-2">
                              {{ SlaAvailabilityView.services.failed.count }}
                              <span class="opacity-50 ms-2">
                                {{ SlaAvailabilityView.services.failed.percentage }}
                              </span>
                            </span>
                          }
                        </c-col>
                      </c-row>
                      <c-row class="py-1">
                        <c-col [xs]="12" [md]="4" [lg]="4">
                          <button cButton [size]="'xs'"
                            [ngClass]="{'opacity-25': SlaAvailabilityView.hosts.warning.count === 0 && SlaAvailabilityView.services.warning.count === 0}"
                            type="button" class="btn btn-warning ripple w-100">
                            <fa-icon [icon]="['fas', 'triangle-exclamation']"></fa-icon>
                            {{ t('Warning') }}
                          </button>
                        </c-col>
                        <c-col [xs]="12" [md]="4" [lg]="4">
                          @if (SlaAvailabilityView.hosts.warning.count > 0 && ( PermissionsService.hasPermissionObservable(['hosts', 'index'])|async )) {
                            <a [routerLink]="['/', 'hosts', 'index']" class="text-danger"
                              [queryParams]="{'id': SlaAvailabilityView.hosts.warning.ids}">
                              <span class="pointer ms-2">
                                {{ SlaAvailabilityView.hosts.warning.count }}
                                <span class="opacity-50 ms-2">
                                  {{ SlaAvailabilityView.hosts.warning.percentage }}
                                </span>
                              </span>
                            </a>
                          } @else {
                            <span class="ms-2">
                              {{ SlaAvailabilityView.hosts.warning.count }}
                              <span class="opacity-50 ms-2">
                                {{ SlaAvailabilityView.hosts.warning.percentage }}
                              </span>
                            </span>
                          }
                        </c-col>
                        <c-col [xs]="12" [md]="4" [lg]="4">
                          @if (SlaAvailabilityView.services.warning.count > 0 && ( PermissionsService.hasPermissionObservable(['services', 'index'])|async )) {
                            <a [routerLink]="['/', 'services', 'index']"
                              [queryParams]="{'id': SlaAvailabilityView.services.warning.ids}">
                              <span class="pointer ms-2">
                                {{ SlaAvailabilityView.services.warning.count }}
                                <span class="opacity-50 ms-2">
                                  {{ SlaAvailabilityView.services.warning.percentage }}
                                </span>
                              </span>
                            </a>
                          } @else {
                            <span class="ms-2">
                              {{ SlaAvailabilityView.services.warning.count }}
                              <span class="opacity-50 ms-2">
                                {{ SlaAvailabilityView.services.warning.percentage }}
                              </span>
                            </span>
                          }
                        </c-col>
                      </c-row>
                      <c-row class="py-1">
                        <c-col [xs]="12" [md]="4" [lg]="4">
                          <button cButton [size]="'xs'"
                            [ngClass]="{'opacity-25': SlaAvailabilityView.hosts.passed.count === 0 && SlaAvailabilityView.services.passed.count === 0}"
                            type="button" class="btn btn-success ripple w-100">
                            <fa-icon [icon]="['fas', 'check']"></fa-icon>
                            {{ t('Passed') }}
                          </button>
                        </c-col>
                        <c-col [xs]="12" [md]="4" [lg]="4">
                          @if (SlaAvailabilityView.hosts.passed.count > 0 && ( PermissionsService.hasPermissionObservable(['hosts', 'index'])|async )) {
                            <a [routerLink]="['/', 'hosts', 'index']"
                              [queryParams]="{'id': SlaAvailabilityView.hosts.passed.ids}">
                              <span class="pointer ms-2">
                                {{ SlaAvailabilityView.hosts.passed.count }}
                                <span class="opacity-50 ms-2">
                                  {{ SlaAvailabilityView.hosts.passed.percentage }}
                                </span>
                              </span>
                            </a>
                          } @else {
                            <span class="ms-2">
                              {{ SlaAvailabilityView.hosts.passed.count }}
                              <span class="opacity-50 ms-2">
                                {{ SlaAvailabilityView.hosts.passed.percentage }}
                              </span>
                            </span>
                          }
                        </c-col>
                        <c-col [xs]="12" [md]="4" [lg]="4">
                          @if (SlaAvailabilityView.services.passed.count > 0 && ( PermissionsService.hasPermissionObservable(['services', 'index'])|async )) {
                            <a [routerLink]="['/', 'services', 'index']"
                              [queryParams]="{'id': SlaAvailabilityView.services.passed.ids}">
                              <span class="pointer ms-2">
                                {{ SlaAvailabilityView.services.passed.count }}
                                <span class="opacity-50 ms-2">
                                  {{ SlaAvailabilityView.services.passed.percentage }}
                                </span>
                              </span>
                            </a>
                          } @else {
                            <span class="ms-2">
                              {{ SlaAvailabilityView.services.passed.count }}
                              <span class="opacity-50 ms-2">
                                {{ SlaAvailabilityView.services.passed.percentage }}
                              </span>
                            </span>
                          }
                        </c-col>
                      </c-row>
                      <c-row class="py-1">
                        <c-col [xs]="12" [md]="4" [lg]="4">
                          <button cButton [size]="'xs'"
                            [ngClass]="{'opacity-25': SlaAvailabilityView.hosts.not_calculated.count === 0 && SlaAvailabilityView.services.not_calculated.count === 0}"
                            type="button" class="btn btn-primary ripple w-100">
                            <fa-icon [icon]="['fas', 'question']"></fa-icon>
                            {{ t('Not calculated') }}
                          </button>
                        </c-col>
                        <c-col [xs]="12" [md]="4" [lg]="4">
                          @if (SlaAvailabilityView.hosts.not_calculated.count > 0 && ( PermissionsService.hasPermissionObservable(['hosts', 'index'])|async )) {
                            <a [routerLink]="['/', 'hosts', 'index']"
                              [queryParams]="{'id': SlaAvailabilityView.hosts.not_calculated.ids}">
                              <span class="pointer ms-2">
                                {{ SlaAvailabilityView.hosts.not_calculated.count }}
                                <span class="opacity-50 ms-2">
                                  {{ SlaAvailabilityView.hosts.not_calculated.percentage }}
                                </span>
                              </span>
                            </a>
                          } @else {
                            <span class="ms-2">
                              {{ SlaAvailabilityView.hosts.not_calculated.count }}
                              <span class="opacity-50 ms-2">
                                {{ SlaAvailabilityView.hosts.not_calculated.percentage }}
                              </span>
                            </span>
                          }
                        </c-col>
                        <c-col [xs]="12" [md]="4" [lg]="4">
                          @if (SlaAvailabilityView.services.not_calculated.count > 0 && ( PermissionsService.hasPermissionObservable(['services', 'index'])|async )) {
                            <a [routerLink]="['/', 'services', 'index']"
                              [queryParams]="{'id': SlaAvailabilityView.services.not_calculated.ids}">
                              <span class="pointer ms-2">
                                {{ SlaAvailabilityView.services.not_calculated.count }}
                                <span class="opacity-50 ms-2">
                                  {{ SlaAvailabilityView.services.not_calculated.percentage }}
                                </span>
                              </span>
                            </a>
                          } @else {
                            <span class="ms-2">
                              {{ SlaAvailabilityView.services.not_calculated.count }}
                              <span class="opacity-50 ms-2">
                                {{ SlaAvailabilityView.services.not_calculated.percentage }}
                              </span>
                            </span>
                          }
                        </c-col>
                      </c-row>
                    </div>
                  }
                  @if (!SlaAvailabilityView && ( PermissionsService.hasPermissionObservable(['SlaModule', 'slas', 'viewDetails'])|async )) {
                    <c-row>
                      <c-col>
                        <c-alert color="info" class="my-3 p-1 h-100">
                          <h4 cAlertHeading> {{ t('Information') }}</h4>
                          <p>
                            <fa-icon [icon]="['fas', 'info-circle']" class="text-info"></fa-icon>
                            {{ t('No data available ') }}
                          </p>
                        </c-alert>
                      </c-col>
                    </c-row>
                  }
                </div>
              }
            } @else {
              <c-row>
                <c-col>
                  <c-alert color="danger" class="my-3 p-1 h-100">
                    <h4 cAlertHeading> {{ t('Attention!') }}</h4>
                    <p>
                      <fa-icon [icon]="['fas', 'triangle-exclamation']" class="text-danger"></fa-icon>
                      {{ t('You are not permitted to access this object') }}
                    </p>
                  </c-alert>
                </c-col>
              </c-row>
            }
          }
        </div>
        <div class="box-x">
          @if (animationStateShowConfig) {
            <!-- Config area -->
            @if (widget) {
              <div class="mb-3">
                <label cLabel [for]="'config_sla_id_'+widget.id">
                  {{ t('Sla') }}
                </label>
                <oitc-select
                  [id]="'config_sla_id'+widget.id"
                  [name]="'config_sla_id_'+widget.id"
                  optionValue="key"
                  optionLabel="value"
                  [placeholder]="'Please choose' | transloco"
                  [(ngModel)]="slaId"
                  [options]="slas"
                  [appendTo]="'body'">
                </oitc-select>
              </div>
              <div class="mt-1 text-end">
                <button cButton type="button" class="ripple" (click)="saveWidgetConfig()">
                  {{ t('Save') }}
                </button>
              </div>
            }
            <!-- End Config area -->
          }
        </div>
      </div>
    </div>
  }
</ng-container>
