.evc-service-container {
    border: 2px solid var(--cui-primary);
    border-radius: var(--cui-border-radius);
    box-shadow: rgba($primary, 0.3) 5px 0px 10px 0px;
    //background: rgba(255, 255, 255, 0.1);
    background: var(--cui-card-cap-bg);
    color: var(--cui-body-color);
}

.service-node {
    width: 150px;
}

.evc-service-disabled {
    color: var(--cui-secondary-color);
}

.evc-service-ok {
    border-color: var(--cui-success);
    box-shadow: rgba($success, 0.3) 5px 0px 10px 0px;
}

.evc-service-warning {
    border-color: var(--cui-warning);
    box-shadow: rgba($warning, 0.3) 5px 0px 10px 0px;
}

.evc-service-critical {
    border-color: var(--cui-danger);
    box-shadow: rgba($danger, 0.3) 5px 0px 10px 0px;
}

.evc-service-unknown {
    border-color: var(--cui-secondary);
    box-shadow: rgba($secondary, 0.3) 5px 0px 10px 0px;
}

.evc-tree-hostname {
    font-size: 10px;
}

.evc-operator-container {
    border-color: var(--cui-border-color);
    box-shadow: var(--cui-border-color-translucent) 5px 0px 10px 0px;
    background: $gray-900;
    color: $white;
}

.operator-node {
    padding: 2px;
    text-transform: uppercase;
    width: 100px;
    height: 34px;
}

.evc-operator-icon {
    font-size: 1.4rem;
    color: var(--cui-secondary);
}
