.toaster-min-width {
    min-width: 600px;
}

.toaster-max-width {
    max-width: 800px;
}

.cropText {
    /*width: 20px;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.padding-5 {
    padding: 5px;
}

.font-xs {
    font-size: 85% !important;
}
