<div class="sidebar-header border-bottom">
  <div class="sidebar-brand">
    <div class="input-group">
      <input class="form-control" type="text" [placeholder]="'Type to search' | transloco"
        [(ngModel)]="searchString" (debouncedValue)="searchMenu($event)" oitcDebounce
        [disabled]="isSearching"
        (keydown)="onKeyDownCallback($event)"/>
      <span class="input-group-text">
        @if (!isSearching) {
          <fa-icon [icon]="['fas', 'search']"></fa-icon>
        }
        @if (isSearching) {
          <fa-icon [icon]="['fas', 'spinner']" [animation]="'spin'"></fa-icon>
        }
      </span>
    </div>
    @if (searchResult.length > 0) {
      <ul class="list-group m-0 p-0">
        @for (result of searchResult; track $index) {
          <li class="list-group-item list-group-item-action"
            [ngClass]="{'active': $index === currentSelectedIndex}">
            <a [routerLink]="result.angularUrl" class="search-result">
              <fa-icon [icon]="result.icon"></fa-icon>
              <strong>&nbsp;{{ result.name }}</strong>
            </a>
            @if (result.searchPath) {
              <div class="sidebar-search-path">
                {{ result.searchPath }}
              </div>
            }
          </li>
        }
      </ul>
    }
  </div>
</div>
