<ng-container *transloco="let t">
    <nav aria-label="breadcrumb" class="mt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a [routerLink]="['/']">
                    <fa-icon [icon]="['fas', 'home']"></fa-icon>
                    {{ t('Home') }}
                </a></li>
            <li class="breadcrumb-item">
                <a *oitcPermission="['servicetemplates', 'index']"
                   [routerLink]="['/', 'servicetemplates', 'index']">
                    <fa-icon [icon]="['fas', 'pen-to-square']"></fa-icon>
                    {{ t('Service templates') }}
                </a>
            </li>
            <li aria-current="page" class="breadcrumb-item active">
                <fa-icon [icon]="['fas', 'list']"></fa-icon>
                {{ t('Overview') }}
            </li>
        </ol>
    </nav>
    <c-card class="mb-3">
        <c-card-header>
            <h5 cCardTitle>{{ t('Service templates') }}
                <small class="fw-300">
                    {{ t('overview') }}
                </small>
            </h5>
            <c-nav class="card-toolbar card-header-pills">
                <c-nav-item class="px-1">
                    <button (click)="loadServicetemplates()" cButton class="ripple" color="default" size="xs">
                        <fa-icon [icon]="['fas', 'arrows-rotate']"></fa-icon>
                        {{ t('Refresh') }}
                    </button>
                </c-nav-item>
                <c-nav-item class="px-1">
                    <button *oitcPermission="['servicetemplates', 'add']"
                            [routerLink]="['/', 'servicetemplates', 'add']"
                            cButton
                            class="ripple"
                            color="success"
                            size="xs">
                        <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                        {{ t('New') }}
                    </button>
                </c-nav-item>
                <c-nav-item class="px-1">
                    <button (click)="toggleFilter()" cButton class="ripple" color="primary" size="xs">
                        <fa-icon [icon]="['fas', 'filter']"></fa-icon>
                        {{ t('Filter') }}
                    </button>
                </c-nav-item>
            </c-nav>
        </c-card-header>
        <c-card-body>

            <c-container [hidden]="hideFilter" class="shadow-sm p-2 mb-4 bg-body rounded" [fluid]="true">
                <c-row>
                    <c-col>
                        <h6 class="pb-2 mb-3 border-bottom">
                            <fa-icon [icon]="['fas', 'filter']"></fa-icon>
                            {{ t('Filter') }}
                        </h6>
                    </c-col>
                </c-row>
                <form cForm>
                    <c-row>
                        <c-col md="6">
                            <c-input-group>
                                <span cInputGroupText>
                                    <fa-icon [icon]="['fas', 'filter']"></fa-icon>
                                </span>
                                <input (debouncedValue)="onFilterChange($event)"
                                       [(ngModel)]="params['filter[Servicetemplates.template_name]']"
                                       [placeholder]="'Filter by service template name' | transloco"
                                       cFormControl
                                       name="Servicetemplates.name"
                                       oitcDebounce
                                       type="text"
                                />
                            </c-input-group>
                        </c-col>

                        <c-col md="6">
                            <c-input-group>
                                <span cInputGroupText>
                                    <fa-icon [icon]="['fas', 'filter']"></fa-icon>
                                </span>
                                <input (debouncedValue)="onFilterChange($event)"
                                       [(ngModel)]="params['filter[Servicetemplates.description]']"
                                       [placeholder]="'Filter by service template description' | transloco"
                                       cFormControl
                                       name="Servicetemplates.description"
                                       oitcDebounce
                                       type="text"
                                />
                            </c-input-group>
                        </c-col>
                    </c-row>

                    <c-row class="mt-2">
                        <c-col md="6">
                            <c-input-group>
                                <span cInputGroupText>
                                    <fa-icon [icon]="['fas', 'filter']"></fa-icon>
                                </span>
                                <input (debouncedValue)="onFilterChange($event)"
                                       [(ngModel)]="params['filter[Servicetemplates.name]']"
                                       [placeholder]="'Filter by service name' | transloco"
                                       cFormControl
                                       name="Servicetemplates.name"
                                       oitcDebounce
                                       type="text"
                                />
                            </c-input-group>
                        </c-col>

                        <c-col md="6" class="mb-1 ui-fluid">
                            <c-input-group>
                                <span cInputGroupText>
                                    <fa-icon [icon]="['fas', 'filter']"></fa-icon>
                                </span>

                                <oitc-multi-select
                                    name="servicetemplatetype_id"
                                    id="servicetemplatetype_id"
                                    optionValue="id"
                                    optionLabel="name"
                                    [(ngModel)]="params['filter[Servicetemplates.servicetemplatetype_id][]']"
                                    [options]="servicetemplateTypes"
                                    [debounce]="true"
                                    [placeholder]="'Filter by service template types' | transloco"
                                    (onChange)="onFilterChange(null)">
                                </oitc-multi-select>
                            </c-input-group>
                        </c-col>

                    </c-row>

                    <c-row class="mt-2">
                        <c-col class="text-end">
                            <button (click)="resetFilter()" cButton class="ripple" color="danger" size="xs">
                                {{ t('Reset filter') }}
                            </button>
                        </c-col>
                    </c-row>
                </form>
            </c-container>
            <!-- End Filter -->

            <oitc-table-loader *ngIf="!servicetemplates"></oitc-table-loader>
            <table *ngIf="servicetemplates" bordered cTable class="mt-2 mb-0 table table-fit" hover striped matSort
                   (matSortChange)="onSortChange($event)"
                   [matSortActive]="params.sort" [matSortDirection]="params.direction">
                <thead>
                <tr>
                    <th class="width-50 text-center" scope="col">
                        <fa-icon [icon]="['fas', 'square-check']"></fa-icon>
                    </th>
                    <th scope="col" mat-sort-header="Servicetemplates.template_name">
                        {{ t('Service template name') }}
                    </th>
                    <th scope="col" mat-sort-header="Servicetemplates.name">
                        {{ t('Service name') }}
                    </th>
                    <th scope="col" mat-sort-header="Servicetemplates.description">
                        {{ t('Description') }}
                    </th>
                    <th scope="col" mat-sort-header="Servicetemplates.servicetemplatetype_id">
                        {{ t('Type') }}
                    </th>
                    <th class="text-center width-50" scope="col">
                        <fa-icon [icon]="['fas', 'gear']"></fa-icon>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let servicetemplate of servicetemplates.all_servicetemplates">
                    <td class="text-center">
                        <oitc-item-select
                            *oitcPermission="['servicetemplates', 'delete']"
                            [disabled]="!servicetemplate.Servicetemplate.allow_edit"
                            [item]="servicetemplate"></oitc-item-select>

                    </td>
                    <td>{{ servicetemplate.Servicetemplate.template_name }}</td>
                    <td>{{ servicetemplate.Servicetemplate.name }}</td>
                    <td>{{ servicetemplate.Servicetemplate.description }}</td>
                    <td>
                        <span
                            class="badge border"
                            [ngClass]="[servicetemplate.Servicetemplate.type.class, servicetemplate.Servicetemplate.type.color]">
                            <fa-icon [icon]="servicetemplate.Servicetemplate.type.icon"
                                     [rotate]="servicetemplate.Servicetemplate.type.rotate"></fa-icon>
                            {{ servicetemplate.Servicetemplate.type.title }}
                        </span>
                    </td>


                    <td class="width-50">
                        <oitc-actions-button [permission]="'servicetemplates.edit'"
                                             [url]="'/servicetemplates/edit/' + servicetemplate.Servicetemplate.id"
                                             [allowEdit]="servicetemplate.Servicetemplate.allow_edit">
                            <oitc-actions-button-element [permission]="'servicetemplates.edit'"
                                                         [url]="'/servicetemplates/edit/' + servicetemplate.Servicetemplate.id">
                                <fa-icon [icon]="['fas', 'gear']"></fa-icon>
                                {{ t('Edit') }}
                            </oitc-actions-button-element>
                            <oitc-actions-button-element [permission]="'changelogs.index'"
                                                         [url]="'/changelogs/entity/servicetemplate/' + servicetemplate.Servicetemplate.id">
                                <fa-icon [icon]="['fas', 'timeline']" [rotate]="90"></fa-icon>
                                {{ t('Changelog') }}
                            </oitc-actions-button-element>
                            <oitc-actions-button-element [permission]="'servicetemplates.usedBy'"
                                                         [url]="'/servicetemplates/usedBy/' + servicetemplate.Servicetemplate.id">
                                <fa-icon [icon]="['fas', 'reply-all']" flip="horizontal"></fa-icon>
                                {{ t('Used By') }}
                            </oitc-actions-button-element>
                            <oitc-actions-button-element [permission]="'documentations.view'"
                                                         [url]="'/documentations/view/' + servicetemplate.Servicetemplate.uuid+'/servicetemplate'">
                                <fa-icon [icon]="['fas', 'book']"></fa-icon>
                                {{ t('Documentation') }}
                            </oitc-actions-button-element>
                            <li cDropdownDivider *oitcPermission="['servicetemplates', 'copy']"></li>
                            <oitc-actions-button-element [permission]="'servicetemplates.copy'"
                                                         [url]="'/servicetemplates/copy/' + servicetemplate.Servicetemplate.id">
                                <fa-icon [icon]="['fas', 'copy']"></fa-icon>
                                {{ t('Copy') }}
                            </oitc-actions-button-element>
                            <li cDropdownDivider *oitcPermission="['servicetemplates', 'delete']"></li>
                            <oitc-actions-button-element (click)="toggleDeleteAllModal(servicetemplate)"
                                                         [permission]="'servicetemplates.delete'">
                                <span class="text-danger">
                                    <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                                    {{ t('Delete') }}
                                </span>
                            </oitc-actions-button-element>
                        </oitc-actions-button>
                    </td>
                </tr>
                </tbody>
            </table>

            <oitc-no-records
                *ngIf="servicetemplates && servicetemplates.all_servicetemplates.length === 0"></oitc-no-records>
            <ng-container *ngIf="servicetemplates && servicetemplates.all_servicetemplates">
                <c-container class="bg-secondary bg-opacity-10 mb-3 py-2 rounded-bottom border border-top-0"
                             [fluid]="true">
                    <c-row>
                        <c-col>
                            <oitc-select-all
                                [itemsCount]="servicetemplates.all_servicetemplates.length"></oitc-select-all>
                        </c-col>
                        <c-col [sm]="8" [md]="5" [lg]="4" [xs]="3">
                            <div class="btn-group d-flex flex-row" role="group">
                                <button class="btn btn-outline-primary col-3 border-0" type="button"
                                        *oitcPermission="['servicetemplates', 'copy']"
                                        (click)="navigateCopy()">
                                    <fa-icon [icon]="['fas', 'copy']"></fa-icon>
                                    {{ t('Copy') }}
                                </button>
                                <button (click)="toggleDeleteAllModal()"
                                        *oitcPermission="['servicetemplates', 'delete']"
                                        class="btn btn-outline-danger col-3 border-0"
                                        type="button">
                                    <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                                    {{ t('Delete selected') }}
                                </button>
                            </div>
                        </c-col>
                    </c-row>
                </c-container>
            </ng-container>

            <c-container
                [fluid]="true">
                <c-row>
                    <c-col>
                        <oitc-paginate-or-scroll
                            (paginatorChange)="onPaginatorChange($event)"
                            *ngIf="servicetemplates"
                            [paginateOrScroll]="servicetemplates"></oitc-paginate-or-scroll>
                    </c-col>
                </c-row>
            </c-container>

        </c-card-body>
        <c-card-footer>
            &nbsp;
        </c-card-footer>
    </c-card>
</ng-container>

<oitc-delete-all-modal (completed)="onMassActionComplete($event)" [items]="selectedItems"></oitc-delete-all-modal>
