<ng-container *transloco="let t">
    <nav aria-label="breadcrumb" class="mt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a [routerLink]="['/']">
                    <fa-icon [icon]="['fas', 'home']"></fa-icon>
                    {{ t('Home') }}
                </a>
            </li>
            <li class="breadcrumb-item">
                <fa-icon [icon]="['fas', 'puzzle-piece']"></fa-icon>
                {{ t('Import Module') }}
            </li>
            <li class="breadcrumb-item">
                <a *oitcPermission="['importmodule','configurationitems', 'export']"
                   [routerLink]="['/', 'import_module', 'configurationitems', 'export']">
                    <fa-icon [icon]="['fas', 'boxes-packing']"></fa-icon>
                    {{ t('Export / Import') }}
                </a>
            </li>
            <li aria-current="page" class="breadcrumb-item active">
                <fa-icon [icon]="['fas', 'file-export']"></fa-icon>
                {{ t('Export') }}
            </li>
        </ol>
    </nav>

</ng-container>
