<ng-container *transloco="let t">
    @if (headerinfo.hasSubscription && headerinfo.isCommunityEdition) {
        <div class="pe-2">
            <a class="btn btn-outline-primary btn-xs waves-effect waves-themed"
               href="https://openitcockpit.io/editions/"
               target="_blank"
               cTooltip="{{t('Community Edition')}}">
                {{ t('CE') }}
            </a>
        </div>
    }
    @if (!headerinfo.hasSubscription) {
        <div class="pe-2">
            <a class="btn btn-outline-danger btn-xs waves-effect waves-themed"
               href="https://openitcockpit.io/editions/"
               target="_blank"
               cTooltip="{{t('No active subscription')}}">
                {{ t('No active subscription') }}
            </a>
        </div>
    }
</ng-container>
