<ng-container *transloco="let t">
    <c-modal
        #modal='cModal'
        [keyboard]="true"
        id="columnsConfigImportModal"
        size="lg"
    >
        <c-modal-header class="bg-info txt-color-white">
            <h5 cModalTitle class="text-white">
                {{ t('Import column configuration') }}
            </h5>
            <button (click)="hideModal()" cButtonClose></button>
        </c-modal-header>
        <c-modal-body>

                <label class="bold">
                    {{ t('Paste a column configuration string') }}
                </label>
                    <input
                           cFormControl
                           [(ngModel)]="configString">
                    <div *ngIf="error" class="help-block text-danger">{{ t(errorMessage) }}</div>


        </c-modal-body>
        <c-modal-footer>
            <button (click)="sendConfig()"  cButton class="ripple" color="success">
                {{ t('Import') }}
            </button>
            <button (click)="hideModal()" cButton class="ripple" color="default">
                {{ t('Close') }}
            </button>
        </c-modal-footer>
    </c-modal>
</ng-container>
