<oitc-coreui>
    <ng-container *transloco="let t">
        <nav aria-label="breadcrumb" class="mt-3">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a [routerLink]="['/']">
                        <fa-icon [icon]="['fas', 'home']"></fa-icon>
                        {{ t('Home') }}
                    </a></li>
                <li class="breadcrumb-item">
                    <fa-icon [icon]="['fas', 'puzzle-piece']"></fa-icon>
                    {{ t('Import Module') }}
                </li>
                <li aria-current="page" class="breadcrumb-item active">
                    <fa-icon [icon]="['fas', 'server']"></fa-icon>
                    {{ t('Imported host groups overview') }}
                </li>
            </ol>
        </nav>
        <c-card class="mb-3">
            <c-card-header>
                <h5 cCardTitle>{{ t('Imported host groups') }}
                    <small class="fw-300">
                        {{ t('Overview') }}
                    </small>
                </h5>
                <c-nav class="card-toolbar card-header-pills">
                    <c-nav-item class="px-1">
                        <button (click)="load()" cButton class="ripple" color="default" size="xs">
                            <fa-icon [icon]="['fas', 'arrows-rotate']"></fa-icon>
                            {{ t('Refresh') }}
                        </button>
                    </c-nav-item>
                    <c-nav-item class="px-1">
                        <button *oitcPermission="['ImportModule', 'ImportedHostgroups', 'add']" cButton
                                class="ripple"
                                color="success"
                                size="xs">
                            <fa-icon [icon]="['fas', 'file-import']"></fa-icon>
                            {{ t('Start import') }}
                        </button>
                        <button *oitcPermission="['importedhostgroups', 'add']"
                                [routerLink]="['/', 'importedhostgroups', 'add']" cButton
                                class="ripple"
                                color="success"
                                size="xs">
                            <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                            {{ t('New') }}
                        </button>
                    </c-nav-item>
                    <c-nav-item class="px-1">
                        <button (click)="toggleFilter()" cButton class="ripple" color="primary" size="xs">
                            <fa-icon [icon]="['fas', 'filter']"></fa-icon>
                            {{ t('Filter') }}
                        </button>
                    </c-nav-item>
                </c-nav>
            </c-card-header>
            <c-card-body>

                <!-- Filter -->
                <c-container [hidden]="hideFilter" class="shadow-sm p-2 mb-4 bg-body rounded" fluid>
                    <c-row>
                        <c-col>
                            <h6 class="pb-2 mb-3 border-bottom">
                                <fa-icon [icon]="['fas', 'filter']"></fa-icon>
                                {{ t('Filter') }}
                            </h6>
                        </c-col>
                    </c-row>
                    <form cForm>
                        <c-row>
                            <c-col md="6">
                                <c-input-group>
                                    <span cInputGroupText>
                                        <fa-icon [icon]="['fas', 'filter']"></fa-icon>
                                    </span>
                                    <input (debouncedValue)="onFilterChange($event)"
                                           [(ngModel)]="params['filter[ImportedHostgroups.name]']"
                                           [placeholder]="'Filter by imported host group name' | transloco"
                                           aria-label="ImportedHostgroupName"
                                           cFormControl
                                           name="importedhostgroup.name"
                                           oitcDebounce
                                           type="text"
                                    />
                                </c-input-group>
                            </c-col>
                            <c-col md="6">
                                <c-input-group>
                                    <span cInputGroupText>
                                        <fa-icon [icon]="['fas', 'filter']"></fa-icon>
                                    </span>
                                    <input (debouncedValue)="onFilterChange($event)"
                                           [(ngModel)]="params['filter[ImportedHostgroups.description]']"
                                           [placeholder]="'Filter by imported host group description' | transloco"
                                           aria-label="ImportedHostgroupDescription"
                                           cFormControl
                                           name="importedhostgroup.description"
                                           oitcDebounce
                                           type="text"
                                    />
                                </c-input-group>
                            </c-col>
                        </c-row>
                        <c-row class="mt-2">
                            <c-col class="text-end">
                                <button (click)="resetFilter()" cButton class="ripple" color="danger" size="xs">
                                    {{ t('Reset filter') }}
                                </button>
                            </c-col>
                        </c-row>
                    </form>
                </c-container>
                <!-- End Filter -->

                <table bordered cTable class="mt-2 mb-0 table table-fit" hover striped matSort
                       (matSortChange)="onSortChange($event)"
                       [matSortActive]="params.sort" [matSortDirection]="params.direction">
                    <thead>
                    <tr>
                        <th class="width-50 text-center" scope="col">
                            <fa-icon [icon]="['fas', 'square-check']"></fa-icon>
                        </th>
                        <th scope="col" mat-sort-header="ImportedHostgroups.name">
                            {{ t('Name') }}
                        </th>
                        <th scope="col" mat-sort-header="ImportedHostgroups.description">
                            {{ t('Description') }}
                        </th>
                        <th scope="col" mat-sort-header="ImportedHostgroups.created">
                            {{ t('Import date') }}
                        </th>
                        <th scope="col" mat-sort-header="ImportedHostgroups.modified">
                            {{ t('Last modified') }}
                        </th>
                        <th class="text-center width-50" scope="col">
                            <fa-icon [icon]="['fas', 'gear']"></fa-icon>
                        </th>
                    </tr>
                    </thead>
                    <tbody *ngIf="importedhostgroups">
                    <tr *ngFor="let importedhostgroup of importedhostgroups.importedhostgroups">
                        <td class="text-center">
                            <oitc-item-select
                                *oitcPermission="['importedhostgroups', 'delete']"
                                [disabled]="!importedhostgroup.allowEdit"
                                [item]="importedhostgroup"></oitc-item-select>

                        </td>
                        <td>
                            {{ importedhostgroup.name }}
                            <c-badge color="success" *ngIf="importedhostgroup.imported !== 1">
                                <fa-icon [icon]="['fas', 'star']"></fa-icon>
                                {{ t('NEW') }}
                            </c-badge>
                            <c-badge color="info" *ngIf="importedhostgroup.imported === 1">
                                <fa-icon [icon]="['fas', 'binoculars']"></fa-icon>
                                {{ t('In monitoring') }}
                            </c-badge>
                        </td>
                        <td>{{ importedhostgroup.description }}</td>
                        <td>{{ importedhostgroup.created }}</td>
                        <td>{{ importedhostgroup.modified }}</td>


                        <td class="width-50">
                            <oitc-actions-button [permission]="'importedhostgroups.edit'"
                                                 [allowEdit]="importedhostgroup.allowEdit"
                                                 [url]="'/importedhostgroups/edit/' + importedhostgroup.id">
                                <oitc-actions-button-element [permission]="'importedhostgroups.edit'"
                                                             *ngIf="importedhostgroup.allowEdit"
                                                             [url]="'/importedhostgroups/edit/' + importedhostgroup.id">
                                    <fa-icon [icon]="['fas', 'gear']"></fa-icon>
                                    {{ t('Edit') }}
                                </oitc-actions-button-element>
                                <li cDropdownDivider></li>
                                <oitc-actions-button-element (click)="toggleDeleteAllModal(importedhostgroup)"
                                                             *ngIf="importedhostgroup.allowEdit"
                                                             [permission]="'importedhostgroups.delete'">
                                    <span class="text-danger">
                                        <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                                        {{ t('Delete') }}
                                    </span>
                                </oitc-actions-button-element>
                            </oitc-actions-button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <oitc-no-records
                    *ngIf="importedhostgroups && importedhostgroups.importedhostgroups.length === 0"></oitc-no-records>
                <ng-container *ngIf="importedhostgroups && importedhostgroups.importedhostgroups">
                    <c-container class="bg-secondary bg-opacity-10 mb-3 py-2 rounded-bottom border border-top-0" fluid>
                        <c-row>
                            <c-col>
                                <oitc-select-all
                                    [itemsCount]="importedhostgroups.importedhostgroups.length"></oitc-select-all>
                            </c-col>
                            <c-col md="3">
                                <div class="btn-group d-flex flex-row" role="group">
                                    <button (click)="toggleDeleteAllModal()"
                                            class="btn btn-outline-danger col-3 border-0"
                                            type="button">
                                        <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                                        {{ t('Delete selected') }}
                                    </button>
                                </div>
                            </c-col>
                        </c-row>
                    </c-container>
                </ng-container>

                <c-container fluid>
                    <c-row>
                        <c-col>
                            <oitc-paginate-or-scroll
                                (paginatorChange)="onPaginatorChange($event)"
                                *ngIf="importedhostgroups"
                                [paginateOrScroll]="importedhostgroups"></oitc-paginate-or-scroll>
                        </c-col>
                    </c-row>
                </c-container>
            </c-card-body>
            <c-card-footer>
                &nbsp;
            </c-card-footer>
        </c-card>
    </ng-container>
</oitc-coreui>


<oitc-delete-all-modal (completed)="onMassActionComplete($event)" [items]="selectedItems"></oitc-delete-all-modal>
