<ng-container *transloco="let t">
    <nav aria-label="breadcrumb" class="mt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a [routerLink]="['/']">
                    <fa-icon [icon]="['fas', 'home']"></fa-icon>
                    {{ t('Home') }}
                </a>
            </li>
            <li class="breadcrumb-item">
                <fa-icon [icon]="['fas', 'puzzle-piece']"></fa-icon>
                {{ t('Import Module') }}
            </li>
            <li class="breadcrumb-item">
                <a *oitcPermission="['importmodule','configurationitems', 'import']"
                   [routerLink]="['/', 'import_module', 'configurationitems', 'import']">
                    <fa-icon [icon]="['fas', 'boxes-packing']"></fa-icon>
                    {{ t('Export / Import') }}
                </a>
            </li>
            <li aria-current="page" class="breadcrumb-item active">
                <fa-icon [icon]="['fas', 'file-export']"></fa-icon>
                {{ t('Export') }}
            </li>
        </ol>
    </nav>

    <form cForm (ngSubmit)="submit()">
        <c-card class="mb-3">
            <c-card-header>
                <h5 cCardTitle>{{ t('Import configuration items from JSON File') }}</h5>

                <c-nav variant="underline" class="card-toolbar card-header-pills me-3">
                    <c-nav-item>
                        <a [routerLink]="['/', 'import_module', 'configurationitems', 'export']"
                           *oitcPermission="['ImportModule', 'configurationitems', 'export']" class="nav-link">
                            <fa-icon [icon]="['fas', 'file-export']"></fa-icon>
                            {{ t('Export') }}
                        </a>
                    </c-nav-item>
                    <c-nav-item>
                        <a [routerLink]="['/', 'import_module', 'configurationitems', 'import']"
                           *oitcPermission="['ImportModule', 'configurationitems', 'import']" class="nav-link active">
                            <fa-icon [icon]="['fas', 'file-import']"></fa-icon>
                            {{ t('Import') }}
                        </a>
                    </c-nav-item>
                </c-nav>

            </c-card-header>
            <c-card-body>
                <!-- Dropzone -->
                <c-row class="mb-3">
                    <c-col [xs]="12">
                        {{ t('Select image') }}
                    </c-col>
                    <c-col [xs]="12" class="text-info">
                        <fa-icon [icon]="['fas', 'info-circle']"></fa-icon>
                        {{ t('Max allowed file size: ') }}
                        {{ maxUploadLimit?.string }}
                    </c-col>
                    <c-col [xs]="12">
                        <div id="jsonImportDropzone" class="dropzone dropzoneStyle">
                            <div class="dz-message">
                                <fa-icon [icon]="['fas', 'cloud-upload-alt']" size="5x"
                                         class="mb-3 text-muted"></fa-icon>
                                <br>
                                <span class="text-uppercase"> {{ t('Drop JSON file here or click to upload.') }} </span>
                            </div>
                        </div>
                    </c-col>
                </c-row>
                <!-- Dropzone end -->

                <fieldset>
                    <legend class="fs-md fieldset-legend-border-bottom mt-1"
                            [ngClass]="{'fieldset-legend-border-bottom-danger': hasError}">
                        <h4>
                            <fa-icon [icon]="['fas', 'truck-ramp-box']"></fa-icon>
                            {{ t('File information') }}
                            <small class="text-danger ps-1 fw-300" *ngIf="hasError">
                                {{ t('Uploaded file contains errors!') }}
                            </small>
                        </h4>
                    </legend>
                    <div>

                        <!-- Upload error -->
                        <div class="alert border-faded bg-transparent text-secondary"
                             *ngIf="hasError">
                            <div class="d-flex align-items-center">
                                <div class="alert-icon me-2">
                                    <span class="icon-stack icon-stack-md">
                                        <i class="base-shield icon-stack-3x text-danger"></i>
                                        <i class="fas fa-exclamation icon-stack-1x text-white"></i>
                                    </span>
                                </div>
                                <div class="flex-1">
                                    <span class="h5 text-danger">
                                        {{ t('Error') }}
                                    </span>
                                    <br>
                                    {{ errorMessage }}
                                </div>
                            </div>
                        </div>
                        <!-- Upload error end -->

                        <c-row>
                            <c-col [xs]="12" *ngIf="fileInformation && !importSuccessful">
                                <!-- Display file information after upload but hide after successful import of objects  -->

                            </c-col>
                        </c-row>

                    </div>
                </fieldset>


            </c-card-body>
            <c-card-footer class="text-end">
                &nbsp;
            </c-card-footer>
        </c-card>
    </form>


</ng-container>
