<ng-container *transloco="let t">
    <table cTable bordered hover>
        <tbody>
        <tr>
            <td colspan="6">
                <div class="d-flex flex-align-items-center">
                    <div>
                        <fa-layers [fixedWidth]="true" size="4x">
                            <fa-icon [icon]="['fas', 'square']" class="text-primary"></fa-icon>
                            <fa-icon [icon]="['fas', 'server']" [inverse]="true" [transform]="'shrink-10'"></fa-icon>
                        </fa-layers>
                    </div>
                    <div class="iTop-class-label flex-1">
                        {{ result.response.general_information?.finalclass?.value }}
                    </div>
                </div>
            </td>
        </tr>

        <tr class="border-primary-top">
            <th colspan="2" class="col-4">
                <fa-icon [icon]="['fas', 'info-circle']" class="text-primary"></fa-icon>
                {{ t('General information') }}
            </th>
            <td class="bold">
                {{ t('Status') }}
            </td>
            <th colspan="2" class="col-4">
                <fa-icon [icon]="['fas', 'network-wired']" class="text-primary"></fa-icon>
                {{ t('Network component') }}
            </th>
            <td class="bold">
                {{ t('Production Critical') }}
            </td>
        </tr>

        <tr>
            <th class="col-lg-2 col-md-2">
                {{ t('Name') }}
            </th>
            <td>
                {{ result.response.general_information?.name?.value }}
            </td>
            <td class="col-lg-1 col-md-1">
                <div [ngSwitch]="result.response.general_information?.status?.value">
                    <span *ngSwitchCase="'implementation'"
                          class="badge border-info border text-info w-100">
                        <fa-icon [icon]="['fas', 'archive']" class="text-info"></fa-icon>
                        {{ t('implementation') }}
                    </span>
                    <span *ngSwitchCase="'production'"
                          class="badge border-success border text-success w-100">
                        <fa-icon [icon]="['fas', 'power-off']" class="text-success"></fa-icon>
                        {{ t('production') }}
                    </span>
                    <span *ngSwitchCase="'stock'"
                          class="badge border-primary border text-primary w-100">
                        <fa-icon [icon]="['fas', 'archive']" class="text-primary"></fa-icon>
                        {{ t('stock') }}
                    </span>
                    <span *ngSwitchCase="'obsolete'"
                          class="badge border-danger border text-danger w-100">
                        <fa-icon [icon]="['fas', 'trash']" class="text-danger"></fa-icon>
                        {{ t('obsolete') }}
                    </span>
                </div>
            </td>

            <th>
                {{ t('Hierarchy') }}
            </th>
            <td>
                <span class="badge badge-primary"
                      *ngIf="result.response.location_information?.hierachie?.value">
                    {{ result.response.location_information?.hierachie?.value }}
                </span>
            </td>
            <td class="col-lg-1 col-md-1">
                @switch (result.response.general_information?.business_criticity?.value) {
                    @case ("low") {
                        <span class="badge border-success border text-success w-100 helptext"
                              title="{{ t('No Production relevance') }}">
                            {{ t('low') }}
                        </span>
                    }
                    @case ("medium") {
                        <span class="badge border-warning border text-warning w-100 helptext"
                              title="{{ t('Production relevant') }}">
                            {{ t('medium') }}
                        </span>
                    }
                    @case ("hight") {
                        <span class="badge border-danger border text-danger w-100 helptext"
                              title="{{ t('Production relevance high') }}">
                            {{ t('high') }}
                        </span>
                    }
                }
            </td>
        </tr>

        <tr>
            <th>{{ t('Description') }}</th>
            <td>
                {{ result.response.general_information?.description?.value }}
            </td>
            <td rowspan="3" class="text-center align-middle">
                <span [ngSwitch]="result.response.general_information?.status?.value">
                    <!-- Gradient colored icons -->
                    <i class="fas fa-file-circle-check fa-4x status-implementation"
                       *ngSwitchCase="'implementation'"></i>
                    <i class="fas fa-plug-circle-check fa-4x status-production" *ngSwitchCase="'production'"></i>
                    <i class="fas fa-boxes-packing fa-4x status-stock" *ngSwitchCase="'stock'"></i>
                    <i class="fas fa-plug-circle-bolt fa-4x status-obsolete" *ngSwitchCase="'obsolete'"></i>
                </span>
            </td>
            <th>
                {{ t('Scope') }}
            </th>
            <td>
                {{ result.response.network_component?.scope?.value }}
            </td>
            <td rowspan="3" class="text-center align-middle">
                <span [ngSwitch]="result.response.general_information?.business_criticity?.value">

                    <!-- Gradient colored icons -->
                    <i class="fas fa-bars fa-4x business-criticity-low helptext"
                       *ngSwitchCase="'low'"
                       [title]="'No Production relevance' | transloco"></i>
                    <i class="fas fa-bars fa-4x business-criticity-medium helptext"
                       *ngSwitchCase="'medium'"
                       [title]="'Production relevant' | transloco"></i>
                    <i class="fas fa-bars fa-4x business-criticity-high helptext"
                       *ngSwitchCase="'high'"
                       [title]="'Production relevance high' | transloco"></i>
                </span>
            </td>
        </tr>

        <tr>
            <th>
                {{ t('External ID') }}
            </th>
            <td class="text-primary">
                {{ result.response.general_information?.id?.value }}
                <span *ngIf="result.response.externalLink" class="ng-scope">
                    <a target="_blank" [href]="result.response.externalLink">
                        <fa-icon [icon]="['fas', 'external-link-alt']" class="ps-1"></fa-icon>
                    </a>
                </span>
            </td>
            <th>
                {{ t('Service window') }}
            </th>
            <td>
                {{ result.response.operations?.service_window?.value }}
            </td>
        </tr>

        <tr>
            <th>
                {{ t('Final class') }}
            </th>
            <td>
                {{ result.response.general_information?.finalclass?.value }}
            </td>
            <th>
                {{ t('Service class') }}
            </th>
            <td>
                {{ result.response.general_information?.serviceclass?.value }}
            </td>
        </tr>

        <tr>
            <th>
                {{ t('Location') }}
            </th>
            <td colspan="2">
                {{ result.response.location_information?.location_name?.value }}
                <span *ngIf="result.response.location_information?.buildingroom?.value">
                    <fa-icon [icon]="['fas', 'chevron-right']" class="text-primary"></fa-icon>
                    {{ result.response.location_information?.buildingroom?.value }}
                </span>
            </td>
            <th>
                {{ t('Risk class') }}
            </th>
            <td colspan="3">
                <code *ngIf="result.response.general_information?.riskclass?.value">
                    {{ result.response.general_information?.riskclass?.value }}
                </code>
            </td>
        </tr>

        <tr>
            <td colspan="3" rowspan="2"></td>
            <th>
                {{ t('Wanedge type') }}
            </th>
            <td colspan="3">
                {{ result.response.network_component?.wanedgetype?.value }}
            </td>
        </tr>

        <tr>
            <th>
                {{ t('Provider name') }}
            </th>
            <td colspan="3">
                {{ result.response.operations?.provider_name?.value }}
            </td>
        </tr>

        <tr class="border-primary-top">
            <th colspan="6">
                <fa-icon [icon]="['fas', 'server']" class="text-primary"></fa-icon>
                {{ t('Server details') }}
            </th>
        </tr>

        <tr>
            <th>
                {{ t('Brand name') }}
            </th>
            <td colspan="5">
                {{ result.response.server_details?.brand_name?.value }}
            </td>
        </tr>
        <tr>
            <th>
                {{ t('Model') }}
            </th>
            <td colspan="5">
                {{ result.response.server_details?.model_name?.value }}
            </td>
        </tr>
        <tr>
            <th>
                {{ t('OS Family') }}
            </th>
            <td colspan="5">
                {{ result.response.server_details?.os_family?.value }}
            </td>
        </tr>
        <tr>
            <th>
                {{ t('OS Version') }}
            </th>
            <td colspan="5">
                {{ result.response.server_details?.os_version?.value }}
            </td>
        </tr>
        <tr>
            <th>
                {{ t('Cpu type') }}
                <sub>
                    <fa-icon [icon]="['fas', 'microchip']" class="text-primary"></fa-icon>
                </sub>
            </th>
            <td colspan="5">
                {{ result.response.server_details?.cpu_type?.value }}
            </td>
        </tr>
        <tr>
            <th>
                {{ t('Cpu count') }}
            </th>
            <td colspan="5">
                {{ result.response.server_details?.cpu_count?.value }}
            </td>
        </tr>
        <tr>
            <th>
                {{ t('Cpu cores') }}
            </th>
            <td colspan="5">
                {{ result.response.server_details?.cpu_cores?.value }}
            </td>
        </tr>
        <tr>
            <th>
                {{ t('RAM') }}
                <sub>
                    <fa-icon [icon]="['fas', 'memory']" class="text-primary"></fa-icon>
                </sub>
            </th>
            <td colspan="5">
                {{ result.response.server_details?.ram?.value }}
            </td>
        </tr>
        </tbody>
    </table>

</ng-container>
