/**
* Generated theme by Material Theme Generator
* https://materialtheme.arcsine.dev
* Fork at: https://materialtheme.arcsine.dev/?c=YHBhbGV0dGU$YHByaW1hcnk$YF48IzU4NTZkNiIsIj9lcjwjY2RjY2YzIiwiO2VyPCMzZDNjYzZ$LCIlPmBePCM1ODU2ZDYiLCI~ZXI8I2NkY2NmMyIsIjtlcjwjM2QzY2M2fiwid2Fybj5gXjwjY2MwMDAwIiwiP2VyPCNmMGIzYjMiLCI7ZXI8I2I5MDAwMH4sIj9UZXh0PCMzMDM1NDAiLCI~PTwjZmZmZmZmIiwiO1RleHQ8I2UyZTJlMyIsIjs9PCMyMTI2MzF$LCJmb250cz5bYEA8KC00fixgQDwoLTN$LGBAPCgtMn4sYEA8KC0xfixgQDxoZWFkbGluZX4sYEA8dGl0bGV$LGBAPHN1YiktMn4sYEA8c3ViKS0xfixgQDxib2R5LTJ$LGBAPGJvZHktMX4sYEA8YnV0dG9ufixgQDxjYXB0aW9ufixgQDxpbnB1dCIsInNpemU$bnVsbH1dLCJpY29uczxGaWxsZWQiLCI~bmVzcz50cnVlLCJ2ZXJzaW9uPjEzfQ==
*/

@use '@angular/material' as mat;

$primary: red;

$accent: red;
/*
$theme: theming.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
  )
));

 */
