/*
 * Importing SmartAdmin globally.
 * This is required for the SmartAdmin Layout but for now this is disabled due to CoreUI
 */
/*
@import "./assets/smartadmin4/dist/css/vendors.bundle.css";
@import "./assets/smartadmin4/dist/css/app.bundle.css";
@import "./assets/smartadmin4/dist/css/themes/cust-theme-10.css";
*/

@import "assets/coreui/style.scss";
@import "@fontsource/roboto/index.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/400-italic.css";


/*
*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
}
*/

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
