.badge-medium {
    color: #ffffff;
    text-align: center;
    padding: 1px 4px;
    width: 40px;
    font-size: 10px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 0;
    margin-left:5px;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 2px !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}