<ng-container *transloco="let t">
    <nav aria-label="breadcrumb" class="mt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a [routerLink]="['/']">
                    <fa-icon [icon]="['fas', 'home']"></fa-icon>
                    {{ t('Home') }}
                </a></li>
            <li class="breadcrumb-item">
                <a *oitcPermission="['servicetemplategroups', 'index']"
                   [routerLink]="['/', 'servicetemplategroups', 'index']">
                    <fa-icon [icon]="['fas', 'edit']"></fa-icon>
                    {{ t('Service template group') }}
                </a>
            </li>
            <li aria-current="page" class="breadcrumb-item active">
                <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                {{ t('Allocate service template group to host') }}
            </li>
        </ol>
    </nav>

    <form cForm (ngSubmit)="allocateToHost()">
        <c-card class="mb-3">
            <c-card-header>
                <h5 cCardTitle>
                    {{ t('Allocate service template group') }}
                    <small>
                        {{ t('to host') }}
                    </small>
                </h5>

                <c-nav class="card-toolbar card-header-pills">
                    <c-nav-item class="px-1">
                        <button [fallbackUrl]="['servicetemplategroups', 'index']" cButton class="ripple"
                                color="default"
                                oitcBackButton
                                size="xs">
                            <fa-icon [icon]="['fas', 'left-long']"></fa-icon>
                            {{ t('Back') }}
                        </button>
                    </c-nav-item>
                </c-nav>

            </c-card-header>
            <c-card-body>

                <div class="mb-3">
                    <label cLabel for="servicetemplategroupId">
                        {{ t('Service template group') }}
                        <oitc-required-icon></oitc-required-icon>
                    </label>
                    <oitc-select
                        name="servicetemplategroupId"
                        id="servicetemplategroupId"
                        [(ngModel)]="servicetemplategroupId"
                        optionValue="key"
                        (ngModelChange)="hostIdChanged()"
                        optionLabel="value"
                        [searchCallback]="loadServicetemplategroups"
                        [options]="servicetemplategroups"
                        oitcFormError [errors]="errors" errorField="id">
                    </oitc-select>
                    <div *ngIf="servicetemplategroupId === null" class="text-warning-glow pt-1">
                        {{ t('Please select a service template group.') }}
                    </div>
                    <oitc-form-feedback [errors]="errors" errorField="id"></oitc-form-feedback>
                </div>


                <div class="mb-3">
                    <label cLabel for="hostId">
                        {{ t('Host') }}
                        <oitc-required-icon></oitc-required-icon>
                    </label>

                    <oitc-select
                        name="hostId"
                        id="hostId"
                        [(ngModel)]="hostId"
                        (ngModelChange)="hostIdChanged()"
                        optionValue="key"
                        optionLabel="value"
                        [searchCallback]="loadHosts"
                        [options]="hosts"
                        oitcFormError [errors]="errors" errorField="hostId">
                    </oitc-select>
                    <div *ngIf="hostId === null" class="text-warning-glow pt-1">
                        {{ t('Please select a host.') }}
                    </div>
                    <oitc-form-feedback [errors]="errors" errorField="hostId"></oitc-form-feedback>
                </div>

                <ng-container *ngIf="hostId !== null">
                    <c-alert color="light">
                        <div class="d-flex align-items-center">
                            <div class="alert-icon">
                                <span class="icon-stack icon-stack-md">
                                    <i class="base-7 icon-stack-3x text-info"></i>
                                    <i class="fas fa-info icon-stack-1x text-white"></i>
                                </span>
                            </div>
                            <div class="flex-1 pl-5">
                                <span class="h5 text-info">
                                    {{ t('Please notice') }}
                                </span>
                                <br>
                                {{ t('Services which use a service template that could not be assigned to the selected host due to container permissions, will be removed automatically.') }}
                            </div>
                        </div>
                    </c-alert>
                </ng-container>

                <ng-container *ngIf="hostId !== null">
                    <fieldset class="hostWithServicesToDeploy">
                        <h5>{{ t('Service/s to deploy on target host:') }}</h5>
                        <div
                            *ngFor="let hostWithServicesToDeploy of hostsWithServicetemplatesForDeploy; let i = index;">

                            <label for="checkbox_{{hostWithServicesToDeploy.servicetemplate.id}}">
                                <input type="checkbox" cFormCheckInput
                                       id="checkbox_{{hostWithServicesToDeploy.servicetemplate.id}}"
                                       [ngModelOptions]="{standalone: true}"
                                       [(ngModel)]="hostWithServicesToDeploy.createServiceOnTargetHost"
                                >

                                {{ hostWithServicesToDeploy.servicetemplate.name }}

                                <span class="text-info">
                                    ({{ hostWithServicesToDeploy.servicetemplate.description }})
                                </span>


                                <fa-icon [icon]="['fas', 'info-circle']"
                                         class="text-info"
                                         [cTooltip]="'Service already exist on selected host. Tick the box to create a duplicate.' | transloco"
                                         *ngIf="hostWithServicesToDeploy.doesServicetemplateExistsOnTargetHost"
                                />

                                <fa-icon [icon]="['fas', 'plug']"
                                         class="text-dark"
                                         [cTooltip]="'Service already exist on selected host but is disabled. Tick the box to create a duplicate.' | transloco"
                                         *ngIf="hostWithServicesToDeploy.doesServicetemplateExistsOnTargetHostAndIsDisabled"
                                />
                            </label>
                        </div>
                    </fieldset>
                </ng-container>


                <div class="row padding-left-10 padding-top-10" *ngIf="hostId !== null">
                    <div class="col-xs-6 col-md-2">
                        <span (click)="selectAll()" class="pointer">
                            <fa-icon [icon]="['fas', 'check-square']"></fa-icon>
                            {{ t('Select all') }}
                        </span>
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <span (click)="undoSelection()" class="pointer">
                            <fa-icon [icon]="['fas', 'square']"></fa-icon>
                            {{ t('Undo selection') }}
                        </span>
                    </div>
                </div>

                <div class="row padding-top-15"><!-- spacer--></div>

                <c-progress-bar [value]="percentage"></c-progress-bar>

            </c-card-body>
            <c-card-footer class="text-end">


                <button cButton class="ripple" color="primary" type="submit">
                    {{ t('Allocate to host') }}
                </button>
                <button [fallbackUrl]="['servicetemplategroups', 'index']" cButton class="ms-1 ripple"
                        color="default"
                        oitcBackButton
                        type="button">
                    {{ t('Cancel') }}
                </button>


            </c-card-footer>
        </c-card>
    </form>
</ng-container>
