<ng-container *transloco="let t">
    @if (widget) {
        <div class="d-flex h-100 flex-column">
            <c-row>

                @if (!isReadonly()) {
                    <c-col [xs]="12" [md]="1">
                        <button class="btn btn-default ripple mb-2 btn-xs px-2" type="button"
                                (click)="flipped.set(!flipped())">
                            @if (flipped()) {
                                <fa-icon [icon]="['fas', 'eye']"></fa-icon>
                            } @else {
                                <fa-icon [icon]="['fas', 'cog']"></fa-icon>
                            }
                        </button>
                    </c-col>
                    <c-col [xs]="12" [md]="11">
                        <c-row>
                            @if (widget && config && !flipped()) {
                                <c-col [xs]="12" class="text-end">
                                    <oitc-interval-picker (change)="onRefreshChange($event)"
                                                          [useLocalStorage]="false"
                                                          [initialInterval]="config.refresh_key"></oitc-interval-picker>
                                </c-col>
                            }
                        </c-row>
                    </c-col>
                }
            </c-row>
            <div [@flip]="flipped()" (@flip.done)="onAnimationDone($event)" (@flip.start)="onAnimationStart($event)"
                 class="box-container">
                <div class="box-x">
                    @if (animationStateShowContent) {
                        <div>
                            @if (servicestatusSummary) {
                                <c-row class="py-1">
                                    <c-col [xs]="12" [sm]="12" [md]="12" [lg]="3">
                                        <oitc-service-summary-echart [chartData]="servicestatusSummary">
                                        </oitc-service-summary-echart>
                                    </c-col>
                                    <c-col [xs]="12" [lg]="6">
                                        <div class="card h-100 border-0 border-start border-4 rounded-0 border-primary shadow-sm">
                                            <div class="card-body d-flex flex-column justify-content-between p-4">
                                                <div>
                                                    <c-row class="m-0">
                                                        <c-col>
                                                            <div class="fs-2 fw-semibold text-primary lh-1 mb-1">
                                                                <span *oitcPermission="['services', 'index']">
                                                                    <a [routerLink]="['/', 'services', 'index']"
                                                                       [queryParams]="{'id': servicestatusSummary.totalServiceIds}">
                                                                        {{ servicestatusSummary.total }}
                                                                    </a>
                                                                </span>
                                                                <span *oitcPermission="['services', 'index']; negate: true">
                                                                    {{ servicestatusSummary.total }}
                                                                </span>
                                                            </div>
                                                            <div class="text-uppercase text-muted small fw-bold tracking-wide">
                                                                {{ t('Total services') }}
                                                            </div>
                                                        </c-col>
                                                        <c-col>
                                                            <div class="fs-2 fw-semibold lh-1 mb-1">
                                                                @if (servicestatusSummary.failed.count > 0) {
                                                                    <span *oitcPermission="['services', 'index']">
                                                                        <a [routerLink]="['/', 'services', 'index']"
                                                                           class="text-danger"
                                                                           [queryParams]="{'id': servicestatusSummary.failed.ids}">
                                                                            <fa-icon
                                                                                    [icon]="['fas', 'caret-down']"></fa-icon>
                                                                            {{ servicestatusSummary.failed.count }}
                                                                        </a>
                                                                    </span>
                                                                    <span *oitcPermission="['services', 'index']; negate: true"
                                                                          class="text-danger">
                                                                        <fa-icon
                                                                                [icon]="['fas', 'caret-down']"></fa-icon>
                                                                        {{ servicestatusSummary.failed.count }}
                                                                    </span>
                                                                } @else {
                                                                    <span class="text-muted">
                                                                        <fa-icon
                                                                                [icon]="['fas', 'caret-down']"></fa-icon>
                                                                        {{ servicestatusSummary.failed.count }}
                                                                    </span>
                                                                }
                                                            </div>
                                                            <div class="text-uppercase text-muted small fw-bold tracking-wide">
                                                                {{ t('Failed') }}
                                                            </div>
                                                        </c-col>
                                                        <c-col>
                                                            <div class="fs-2 fw-semibold lh-1 mb-1">
                                                                @if (servicestatusSummary.recovered.count > 0) {
                                                                    <span *oitcPermission="['services', 'index']">
                                                                        <a [routerLink]="['/', 'services', 'index']"
                                                                           class="text-success"
                                                                           [queryParams]="{'id': servicestatusSummary.recovered.ids}">
                                                                            <fa-icon
                                                                                    [icon]="['fas', 'caret-up']"></fa-icon>
                                                                            {{ servicestatusSummary.recovered.count }}
                                                                        </a>
                                                                    </span>
                                                                    <span *oitcPermission="['services', 'index']; negate: true"
                                                                          class="text-success">
                                                                        <fa-icon [icon]="['fas', 'caret-up']"></fa-icon>
                                                                        {{ servicestatusSummary.recovered.count }}
                                                                    </span>
                                                                } @else {
                                                                    <span class="text-muted">
                                                                        <fa-icon [icon]="['fas', 'caret-up']"></fa-icon>
                                                                        {{ servicestatusSummary.recovered.count }}
                                                                    </span>
                                                                }
                                                            </div>
                                                            <div class="text-uppercase text-muted small fw-bold tracking-wide">
                                                                {{ t('Recovered') }}
                                                            </div>
                                                        </c-col>
                                                    </c-row>
                                                    <div class="mt-3 pt-2 border-top border-primary-subtle small text-danger-emphasis">
                                                        <oitc-service-status-scatter-echart
                                                                [fromTimestamp]="servicestatusSummary.from"
                                                                [toTimestamp]="servicestatusSummary.to"
                                                                [timezone]="servicestatusSummary.userTimezone"
                                                                [statusBuckets]="servicestatusSummary.buckets">
                                                        </oitc-service-status-scatter-echart>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </c-col>
                                    <c-col [xs]="12" [lg]="3">
                                        <c-row class="h-100">
                                            <c-col [xs]="12" [lg]="12">
                                                <div class="d-flex flex-column h-100 gap-3">
                                                    <div class="flex-fill h-50 d-flex">
                                                        <div class="card h-100 w-100 border-0 border-start border-4 border-danger shadow-sm">
                                                            <div class="card-body d-flex flex-column justify-content-between  p-4">
                                                                <div class="fs-2 fw-semibold text-danger lh-1 mb-1">
                                                                    <span *oitcPermission="['services', 'index']">
                                                                        <a [routerLink]="['/', 'services', 'index']"
                                                                           [queryParams]="{'id': servicestatusSummary.lastTimeAlwaysOk.ids}"
                                                                           class="text-danger">
                                                                            {{ servicestatusSummary.lastTimeAlwaysCritical.count }}
                                                                        </a>
                                                                    </span>
                                                                    <span *oitcPermission="['services', 'index']; negate: true"
                                                                          class="text-danger">
                                                                        {{ servicestatusSummary.lastTimeAlwaysCritical.count }}
                                                                    </span>
                                                                </div>
                                                                <div class="text-uppercase text-muted small fw-bold tracking-wide">
                                                                    {{ t('Complete Outages (Last 24h)') }}
                                                                </div>
                                                                <div class="mt-3 pt-2 border-top border-danger-subtle small">
                                                                    <c-row>
                                                                        @if (servicestatusSummary.state['2'] > 0 || servicestatusSummary.state['3'] > 0) {
                                                                            <c-col>
                                                                                {{ t('Problems') }}
                                                                            </c-col>
                                                                            <c-col class="text-end">
                                                                                <span *oitcPermission="['services', 'index']">
                                                                                    <a [routerLink]="['/', 'services', 'index']"
                                                                                       [queryParams]="{'id': [...servicestatusSummary.state.serviceIds['2'], ...servicestatusSummary.state.serviceIds['3']] }"
                                                                                       class="text-danger">
                                                                                        {{ servicestatusSummary.state['2'] + servicestatusSummary.state['3'] }}
                                                                                    </a>
                                                                                </span>
                                                                                <span *oitcPermission="['services', 'index']; negate: true"
                                                                                      class="text-danger">
                                                                                    {{ servicestatusSummary.state['1'] + servicestatusSummary.state['2'] }}
                                                                                </span>
                                                                                @if (servicestatusSummary.not_handled['1'] > 0 || servicestatusSummary.not_handled['2'] > 0) {
                                                                                    <span class="ps-2">
                                                                                        [{{ t('Not handled') }}:
                                                                                        <span *oitcPermission="['services', 'index']">
                                                                                            <a [routerLink]="['/', 'services', 'index']"
                                                                                               [queryParams]="{'id':  servicestatusSummary.not_handled.totalServiceIds}"
                                                                                               class="text-danger">
                                                                                                {{ servicestatusSummary.not_handled['1'] + servicestatusSummary.not_handled['2'] + servicestatusSummary.not_handled['3'] }}
                                                                                            </a>
                                                                                        </span>
                                                                                        <span *oitcPermission="['services', 'index']; negate: true"
                                                                                              class="text-danger">
                                                                                            {{ servicestatusSummary.not_handled['1'] + servicestatusSummary.not_handled['2'] + servicestatusSummary.not_handled['3'] }}
                                                                                        </span>
                                                                                        ]
                                                                                    </span>

                                                                                }
                                                                            </c-col>
                                                                        } @else {
                                                                            <c-col class="text-muted">
                                                                                {{ t('No problems detected') }}
                                                                            </c-col>
                                                                        }
                                                                    </c-row>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="flex-fill h-50 d-flex">
                                                        <div class="card h-100 w-100 border-0 border-start border-4 border-success shadow-sm">
                                                            <div class="card-body d-flex flex-column justify-content-between  p-4">
                                                                <div class="fs-2 fw-semibold text-success lh-1 mb-1">
                                                                    <span *oitcPermission="['services', 'index']">
                                                                        <a [routerLink]="['/', 'services', 'index']"
                                                                           [queryParams]="{'id': servicestatusSummary.lastTimeAlwaysOk.ids}"
                                                                           class="text-success">
                                                                            {{ servicestatusSummary.lastTimeAlwaysOk.count }}
                                                                        </a>
                                                                    </span>
                                                                    <span *oitcPermission="['services', 'index']; negate: true"
                                                                          class="text-success">
                                                                        {{ servicestatusSummary.lastTimeAlwaysOk.count }}
                                                                    </span>
                                                                </div>
                                                                <div class="text-uppercase text-muted small fw-bold tracking-wide">
                                                                    {{ t('Stable Services (Last 24h)') }}
                                                                </div>
                                                                <div class="mt-3 pt-2 border-top border-success-subtle small text-success">
                                                                    <c-row>
                                                                        @if (servicestatusSummary.state['1'] > 0) {
                                                                            <c-col>
                                                                                {{ t('Ok') }}
                                                                            </c-col>
                                                                            <c-col class="text-end">
                                                                                <span *oitcPermission="['services', 'index']">
                                                                                    <a [routerLink]="['/', 'services', 'index']"
                                                                                       [queryParams]="{'id': servicestatusSummary.state.serviceIds['0']}"
                                                                                       class="text-success">
                                                                                        {{ servicestatusSummary.state['0'] }}
                                                                                    </a>
                                                                                </span>
                                                                                <span *oitcPermission="['services', 'index']; negate: true"
                                                                                      class="text-success">
                                                                                    {{ servicestatusSummary.state['0'] }}
                                                                                </span>
                                                                            </c-col>
                                                                        } @else {
                                                                            <c-col class="text-muted">
                                                                                {{ t('All services are ok') }}
                                                                            </c-col>
                                                                        }
                                                                    </c-row>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </c-col>
                                        </c-row>

                                    </c-col>

                                </c-row>

                                @if (servicestatusSummary.tagsOverview !== undefined) {
                                    <c-row class="mt-2">
                                        <c-col>
                                            <fieldset>
                                                <legend class="small fieldset-legend-border-bottom">
                                                    <h5>
                                                        <fa-icon [icon]="['fas', 'tags']"></fa-icon>
                                                        {{ t('Tags overview') }}
                                                    </h5>
                                                </legend>
                                                <oitc-service-heatmap-echart
                                                        [chartData]="servicestatusSummary.tagsOverview"></oitc-service-heatmap-echart>
                                                <div #heatmapContainer class="chart-container-heatmap"></div>
                                            </fieldset>
                                        </c-col>
                                    </c-row>

                                }
                            }
                        </div>
                    }
                </div>
                <div class="box-x">
                    @if (animationStateShowConfig && config) {
                        <c-row class="mb-1">
                            <c-col [xs]="12" [lg]="12">
                                <c-input-group>
                                    <span cInputGroupText>
                                        <fa-icon [icon]="['fas', 'desktop']"></fa-icon>
                                    </span>
                                    <input [(ngModel)]="config['Host']['name']"
                                           [placeholder]="'Filter by host name' | transloco"
                                           cFormControl
                                           [id]="'Hosts.name-'+widget.id"
                                           [name]="'Hosts.name-'+widget.id"
                                           oitcDebounce
                                           type="text"
                                    />
                                    <span cInputGroupText>
                                        <label>
                                            {{ t('Enable RegEx') }}
                                            <input type="checkbox"
                                                   cFormCheckInput
                                                   [id]="'filter.Host.name_regex-'+widget.id"
                                                   [name]="'filter.Host.name_regex-'+widget.id"
                                                   [(ngModel)]="config['Host']['name_regex']"
                                            />
                                            <oitc-regex-helper-tooltip/>
                                        </label>
                                    </span>
                                </c-input-group>
                            </c-col>
                        </c-row>
                        <c-row class="mb-1">
                            <c-col [xs]="12" [lg]="12">
                                <c-input-group>
                                    <span cInputGroupText>
                                        <fa-icon [icon]="['fas', 'filter']"></fa-icon>
                                    </span>
                                    <input [(ngModel)]="config['Service']['servicename']"
                                           [placeholder]="'Filter by service name' | transloco"
                                           cFormControl
                                           [id]="'Service.servicename-'+widget.id"
                                           [name]="'Service.servicename-'+widget.id"
                                           type="text"
                                    />
                                    <span cInputGroupText>
                                        <label>
                                            {{ t('Enable RegEx') }}
                                            <input type="checkbox"
                                                   cFormCheckInput
                                                   [id]="'Service.servicename_regex-'+widget.id"
                                                   [name]="'Service.servicename_regex-'+widget.id"
                                                   [(ngModel)]="config['Service']['servicename_regex']"
                                            />
                                            <oitc-regex-helper-tooltip/>
                                        </label>
                                    </span>
                                </c-input-group>
                            </c-col>
                        </c-row>
                        <c-row class="mb-1">
                            <c-col [xs]="12" [lg]="12">
                                <c-input-group>
                                    <span cInputGroupText>
                                        <div class="icon-stack">
                                            <fa-icon [icon]="['fas', 'desktop']"></fa-icon>
                                            <fa-icon [icon]="['fas', 'tags']"
                                                     class="text-success cornered cornered-lr"></fa-icon>
                                        </div>
                                    </span>
                                    <ng-select
                                            [id]="'HostKeywordsInput-'+widget.id"
                                            [name]="'HostKeywordsInput-'+widget.id"
                                            [items]="[]"
                                            [(ngModel)]="keywordsHost"
                                            [addTag]="true"
                                            [multiple]="true"
                                            [selectOnTab]="true"
                                            [placeholder]="'Filter by host tags'|transloco"
                                            [isOpen]="false">
                                    </ng-select>
                                </c-input-group>
                            </c-col>
                        </c-row>
                        <c-row class="mb-1">
                            <c-col [xs]="12" [lg]="12">
                                <c-input-group>
                                    <span cInputGroupText>
                                        <div class="icon-stack">
                                            <fa-icon [icon]="['fas', 'desktop']"></fa-icon>
                                            <fa-icon [icon]="['fas', 'tags']"
                                                     class="text-danger cornered cornered-lr"></fa-icon>
                                        </div>
                                    </span>
                                    <ng-select
                                            [id]="'HostNotKeywordsInput-'+widget.id"
                                            [name]="'HostNotKeywordsInput-'+widget.id"
                                            [items]="[]"
                                            [(ngModel)]="notKeywordsHost"
                                            [addTag]="true"
                                            [multiple]="true"
                                            [selectOnTab]="true"
                                            [placeholder]="'Filter by excluded host tags'|transloco"
                                            [isOpen]="false">
                                    </ng-select>
                                </c-input-group>
                            </c-col>
                        </c-row>
                        <c-row class="mb-1">
                            <c-col [xs]="12" [lg]="12">
                                <c-input-group>
                                    <span cInputGroupText>
                                        <div class="icon-stack">
                                            <fa-icon [icon]="['fas', 'cogs']"></fa-icon>
                                            <fa-icon [icon]="['fas', 'tags']"
                                                     class="text-success cornered cornered-lr"></fa-icon>
                                        </div>
                                    </span>
                                    <ng-select
                                            [id]="'ServiceKeywordsInput-'+widget.id"
                                            [name]="'ServiceKeywordsInput-'+widget.id"
                                            [items]="[]"
                                            [(ngModel)]="keywords"
                                            [addTag]="true"
                                            [multiple]="true"
                                            [selectOnTab]="true"
                                            [placeholder]="'Filter by service tags'|transloco"
                                            [isOpen]="false">
                                    </ng-select>
                                </c-input-group>
                            </c-col>
                        </c-row>
                        <c-row class="mb-1">
                            <c-col [xs]="12" [lg]="12">
                                <c-input-group>
                                    <span cInputGroupText>
                                        <div class="icon-stack">
                                            <fa-icon [icon]="['fas', 'cogs']"></fa-icon>
                                            <fa-icon [icon]="['fas', 'tags']"
                                                     class="text-danger cornered cornered-lr"></fa-icon>
                                        </div>
                                    </span>
                                    <ng-select
                                            [id]="'ServiceNotKeywordsInput-'+widget.id"
                                            [name]="'ServiceNotKeywordsInput-'+widget.id"
                                            [items]="[]"
                                            [(ngModel)]="notKeywords"
                                            [addTag]="true"
                                            [multiple]="true"
                                            [selectOnTab]="true"
                                            [placeholder]="'Filter by excluded service tags'|transloco"
                                            [isOpen]="false">
                                    </ng-select>
                                </c-input-group>
                            </c-col>
                        </c-row>
                        <c-row>
                            <c-col [xs]="12" [lg]="12">
                                <fieldset class="mt-2">
                                    <legend class="fs-5">
                                        {{ t('Containers') }}
                                    </legend>
                                    <c-input-group>
                                        <oitc-multi-select
                                                [id]="'Containers-'+widget.id"
                                                [name]="'Containers-'+widget.id"
                                                optionValue="key"
                                                optionLabel="value"
                                                [options]="containers"
                                                [(ngModel)]="config['Container']['_ids']"
                                                [searchCallback]="loadContainers"
                                                [appendTo]="'body'"
                                                class="flex-1">
                                        </oitc-multi-select>
                                    </c-input-group>
                                </fieldset>
                            </c-col>
                            <c-col>
                                <fieldset class="mt-2">
                                    <legend class="fs-5">
                                        {{ t('Host groups') }}
                                    </legend>
                                    <c-input-group>
                                        <oitc-multi-select
                                                [id]="'Hostgroups-'+widget.id"
                                                [name]="'Hostgroups-'+widget.id"
                                                optionValue="key"
                                                optionLabel="value"
                                                [options]="hostgroups"
                                                [(ngModel)]="config['Hostgroup']['_ids']"
                                                [searchCallback]="loadHostgroups"
                                                [appendTo]="'body'"
                                                class="flex-1">
                                        </oitc-multi-select>
                                    </c-input-group>
                                    <c-row class="my-1">
                                        <c-col [xs]="12" [lg]="12">
                                            <c-input-group>
                                                <span cInputGroupText class="pe-0 ps-2">
                                                    <fa-stack>
                                                        <fa-icon [icon]="['fas', 'server']"
                                                                 stackItemSize="1x" pull="right"></fa-icon>
                                                        <fa-icon [icon]="['fas', 'tags']" class="text-success"
                                                                 stackItemSize="1x"
                                                                 transform="shrink-5 right-10 down-7"></fa-icon>
                                                    </fa-stack>
                                                </span>
                                                <ng-select
                                                        [id]="'HostgroupKeywordsInput-'+widget.id"
                                                        [name]="'HostgroupKeywordsInput-'+widget.id"
                                                        [items]="[]"
                                                        [(ngModel)]="hostgroupKeywords"
                                                        [addTag]="true"
                                                        [multiple]="true"
                                                        [selectOnTab]="true"
                                                        [placeholder]="'Filter by host group tags'|transloco"
                                                        [isOpen]="false">
                                                </ng-select>
                                            </c-input-group>
                                        </c-col>
                                    </c-row>
                                    <c-row>
                                        <c-col [xs]="12" [lg]="12">
                                            <c-input-group>
                                                <span cInputGroupText class="pe-0 ps-2">
                                                    <fa-stack>
                                                        <fa-icon [icon]="['fas', 'server']"
                                                                 stackItemSize="1x" pull="right"></fa-icon>
                                                        <fa-icon [icon]="['fas', 'tags']" class="text-danger"
                                                                 stackItemSize="1x"
                                                                 transform="shrink-5 right-10 down-7"></fa-icon>
                                                    </fa-stack>
                                                </span>
                                                <ng-select
                                                        [id]="'HostgroupNotKeywordsInput-'+widget.id"
                                                        [name]="'HostgroupNotKeywordsInput-'+widget.id"
                                                        [items]="[]"
                                                        [(ngModel)]="hostgroupNotKeywords"
                                                        [addTag]="true"
                                                        [multiple]="true"
                                                        [selectOnTab]="true"
                                                        [placeholder]="'Filter by excluded host group tags'|transloco"
                                                        [isOpen]="false">
                                                </ng-select>
                                            </c-input-group>
                                        </c-col>
                                    </c-row>
                                </fieldset>
                            </c-col>
                        </c-row>
                        <c-row>
                            <c-col>
                                <fieldset class="mt-2">
                                    <legend class="fs-5">
                                        {{ t('Service groups') }}
                                    </legend>
                                    <c-input-group>
                                        <oitc-multi-select
                                                [id]="'Servicegroups-'+widget.id"
                                                [name]="'Servicegroups-'+widget.id"
                                                optionValue="key"
                                                optionLabel="value"
                                                [options]="servicegroups"
                                                [(ngModel)]="config['Servicegroup']['_ids']"
                                                [searchCallback]="loadServicegroups"
                                                [appendTo]="'body'"
                                                class="flex-1">
                                        </oitc-multi-select>
                                    </c-input-group>
                                    <c-row class="my-1">
                                        <c-col [xs]="12" [lg]="12">
                                            <c-input-group>
                                                <span cInputGroupText class="pe-0 ps-2">
                                                    <fa-stack>
                                                        <fa-icon [icon]="['fas', 'cogs']"
                                                                 stackItemSize="1x" pull="right"></fa-icon>
                                                        <fa-icon [icon]="['fas', 'tags']" class="text-success"
                                                                 stackItemSize="1x"
                                                                 transform="shrink-5 right-10 down-7"></fa-icon>
                                                    </fa-stack>
                                                </span>
                                                <ng-select
                                                        [id]="'ServicegroupKeywordsInput-'+widget.id"
                                                        [name]="'ServicegroupKeywordsInput-'+widget.id"
                                                        [items]="[]"
                                                        [(ngModel)]="servicegroupKeywords"
                                                        [addTag]="true"
                                                        [multiple]="true"
                                                        [selectOnTab]="true"
                                                        [placeholder]="'Filter by service group tags'|transloco"
                                                        [isOpen]="false">
                                                </ng-select>
                                            </c-input-group>
                                        </c-col>
                                    </c-row>
                                    <c-row>
                                        <c-col [xs]="12" [lg]="12">
                                            <c-input-group>
                                                <span cInputGroupText class="pe-0 ps-2">
                                                    <fa-stack>
                                                        <fa-icon [icon]="['fas', 'cogs']"
                                                                 stackItemSize="1x" pull="right"></fa-icon>
                                                        <fa-icon [icon]="['fas', 'tags']" class="text-danger"
                                                                 stackItemSize="1x"
                                                                 transform="shrink-5 right-10 down-7"></fa-icon>
                                                    </fa-stack>
                                                </span>
                                                <ng-select
                                                        [id]="'ServicegroupNotKeywordsInput-'+widget.id"
                                                        [name]="'ServicegroupNotKeywordsInput-'+widget.id"
                                                        [items]="[]"
                                                        [(ngModel)]="servicegroupNotKeywords"
                                                        [addTag]="true"
                                                        [multiple]="true"
                                                        [selectOnTab]="true"
                                                        [placeholder]="'Filter by excluded service group tags'|transloco"
                                                        [isOpen]="false">
                                                </ng-select>
                                            </c-input-group>
                                        </c-col>
                                    </c-row>
                                </fieldset>
                            </c-col>
                        </c-row>
                        <c-row class="mb-2">
                            <c-col [xs]="12" [lg]="12">
                                <fieldset>
                                    <legend class="fs-5">
                                        {{ t('Priority') }}
                                    </legend>
                                    <c-form-check>
                                        <input cFormCheckInput type="checkbox"
                                               class="checkbox-lg custom-check-default"
                                               [name]="'Services.Priority_1-'+widget.id"
                                               [attr.id]="'Services.Priority_1-'+widget.id"
                                               [(ngModel)]="priorityFilter[1]"
                                               oitcDebounce/>
                                        <label cFormCheckLabel class="ms-1 mt-1"
                                               [for]="'Services.Priority_1-'+widget.id">
                                            <fa-icon [icon]="['fas', 'fire']"
                                                     class="ok-soft"></fa-icon>
                                        </label>
                                    </c-form-check>
                                    <c-form-check>
                                        <input cFormCheckInput type="checkbox"
                                               class="checkbox-lg custom-check-default"
                                               [name]="'Services.Priority_2-'+widget.id"
                                               [attr.id]="'Services.Priority_2-'+widget.id"
                                               [(ngModel)]="priorityFilter[2]"
                                               oitcDebounce/>
                                        <label cFormCheckLabel class="ms-1  mt-1"
                                               [for]="'Services.Priority_2-'+widget.id">
                                            <fa-icon [icon]="['fas', 'fire']"
                                                     class="ok"></fa-icon>
                                            <fa-icon [icon]="['fas', 'fire']"
                                                     class="ok"></fa-icon>
                                        </label>
                                    </c-form-check>
                                    <c-form-check>
                                        <input cFormCheckInput type="checkbox"
                                               class="checkbox-lg custom-check-default"
                                               [name]="'Services.Priority_3-'+widget.id"
                                               [attr.id]="'Services.Priority_3-'+widget.id"
                                               [(ngModel)]="priorityFilter[3]"
                                               oitcDebounce/>
                                        <label cFormCheckLabel class="ms-1  mt-1"
                                               [for]="'Services.Priority_3-'+widget.id">
                                            <fa-icon [icon]="['fas', 'fire']"
                                                     class="warning"></fa-icon>
                                            <fa-icon [icon]="['fas', 'fire']"
                                                     class="warning"></fa-icon>
                                            <fa-icon [icon]="['fas', 'fire']"
                                                     class="warning"></fa-icon>
                                        </label>
                                    </c-form-check>
                                    <c-form-check>
                                        <input cFormCheckInput type="checkbox"
                                               class="checkbox-lg custom-check-default"
                                               [name]="'Services.Priority_4-'+widget.id"
                                               [attr.id]="'Services.Priority_4-'+widget.id"
                                               [(ngModel)]="priorityFilter[4]"
                                               oitcDebounce/>
                                        <label cFormCheckLabel class="ms-1 mt-1"
                                               [for]="'Services.Priority_4-'+widget.id">
                                            <fa-icon [icon]="['fas', 'fire']"
                                                     class="critical-soft"></fa-icon>
                                            <fa-icon [icon]="['fas', 'fire']"
                                                     class="critical-soft"></fa-icon>
                                            <fa-icon [icon]="['fas', 'fire']"
                                                     class="critical-soft"></fa-icon>
                                            <fa-icon [icon]="['fas', 'fire']"
                                                     class="critical-soft"></fa-icon>
                                        </label>
                                    </c-form-check>
                                    <c-form-check>
                                        <input cFormCheckInput type="checkbox"
                                               class="checkbox-lg custom-check-default"
                                               [name]="'Services.Priority_5-'+widget.id"
                                               [attr.id]="'Services.Priority_5-'+widget.id"
                                               [(ngModel)]="priorityFilter[5]"
                                               oitcDebounce/>
                                        <label cFormCheckLabel class="ms-1 mt-1"
                                               [for]="'Services.Priority_5-'+widget.id">
                                            <fa-icon [icon]="['fas', 'fire']"
                                                     class="critical"></fa-icon>
                                            <fa-icon [icon]="['fas', 'fire']"
                                                     class="critical"></fa-icon>
                                            <fa-icon [icon]="['fas', 'fire']"
                                                     class="critical"></fa-icon>
                                            <fa-icon [icon]="['fas', 'fire']"
                                                     class="critical"></fa-icon>
                                            <fa-icon [icon]="['fas', 'fire']"
                                                     class="critical"></fa-icon>
                                        </label>
                                    </c-form-check>
                                </fieldset>
                            </c-col>
                        </c-row>
                        <c-row class="my-2">
                            <c-col class="text-end">
                                <button cButton class="ripple" color="primary" (click)="submit()">
                                    {{ t('Save') }}
                                </button>
                            </c-col>
                        </c-row>
                    }
                </div>
            </div>
        </div>
    }
</ng-container>