<ng-container *transloco="let t">

    @if (hostBrowserConfig) {
        <oitc-hosts-browser-menu
            [config]="hostBrowserConfig"></oitc-hosts-browser-menu>
    }

    <c-card class="mb-3 mt-3">
        <c-card-header>
            <h5 cCardTitle>{{ t('Host') }}
                <small class="fw-300">
                    {{ t('acknowledgement history') }}
                </small>
            </h5>
            <c-nav class="card-toolbar card-header-pills">
                <c-nav-item class="px-1">
                    <button (click)="loadHostacknowledgements()" cButton class="ripple" color="default" size="xs">
                        <fa-icon [icon]="['fas', 'arrows-rotate']"></fa-icon>
                        {{ t('Refresh') }}
                    </button>
                </c-nav-item>
                <c-nav-item class="px-1">
                    <button (click)="toggleFilter()" cButton class="ripple" color="primary" size="xs">
                        <fa-icon [icon]="['fas', 'filter']"></fa-icon>
                        {{ t('Filter') }}
                    </button>
                </c-nav-item>
            </c-nav>
        </c-card-header>
        <c-card-body>
            <!-- Filter -->
            <c-container [hidden]="hideFilter" class="shadow-sm p-2 mb-4 bg-body rounded" [fluid]="true">
                <c-row>
                    <c-col>
                        <h6 class="pb-2 mb-3 border-bottom">
                            <fa-icon [icon]="['fas', 'filter']"></fa-icon>
                            {{ t('Filter') }}
                        </h6>
                    </c-col>
                </c-row>
                <form cForm>
                    <c-row>
                        <c-col md="6" class="mb-2">
                            <c-input-group>
                                <span cInputGroupText>
                                    {{ t('From') }}
                                </span>
                                <input (debouncedValue)="onFilterChange($event)"
                                       [(ngModel)]="from"
                                       [placeholder]="'From date' | transloco"
                                       aria-label="from"
                                       name="from"
                                       cFormControl
                                       oitcDebounce
                                       type="datetime-local"
                                />
                            </c-input-group>
                        </c-col>
                        <c-col md="6" class="mb-2">
                            <c-input-group>
                                <span cInputGroupText>
                                    {{ t('To') }}
                                </span>
                                <input (debouncedValue)="onFilterChange($event)"
                                       [(ngModel)]="to"
                                       [placeholder]="'From date' | transloco"
                                       aria-label="to"
                                       name="to"
                                       cFormControl
                                       oitcDebounce
                                       type="datetime-local"
                                />
                            </c-input-group>
                        </c-col>
                        <c-col md="6" class="mb-2">
                            <c-input-group>
                                <span cInputGroupText>
                                    <fa-icon [icon]="['fas', 'filter']"></fa-icon>
                                </span>
                                <input (debouncedValue)="onFilterChange($event)"
                                       [(ngModel)]="params['filter[AcknowledgementHosts.comment_data]']"
                                       [placeholder]="'Filter by comment' | transloco"
                                       aria-label="name"
                                       cFormControl
                                       name="AcknowledgementHosts.comment_data"
                                       oitcDebounce
                                       type="text"
                                />
                            </c-input-group>
                        </c-col>
                        <c-col md="6" class="mb-2">
                            <c-input-group>
                                <span cInputGroupText>
                                    <fa-icon [icon]="['fas', 'user']"></fa-icon>
                                </span>
                                <input (debouncedValue)="onFilterChange($event)"
                                       [(ngModel)]="params['filter[AcknowledgementHosts.author_name]']"
                                       [placeholder]="'Filter by author' | transloco"
                                       aria-label="name"
                                       cFormControl
                                       name="AcknowledgementHosts.author_name"
                                       oitcDebounce
                                       type="text"
                                />
                            </c-input-group>
                        </c-col>

                    </c-row>
                    <c-row class="my-3">
                        <c-col [xs]="12" lg="2">
                            <fieldset>
                                <h5>
                                    {{ t('States') }}
                                </h5>
                                <c-form-check>
                                    <input
                                        (debouncedValue)="onFilterChange($event)"
                                        cFormCheckInput
                                        class="checkbox-lg checkbox-danger"
                                        name="stateFilter.down"
                                        id="stateFilter.down"
                                        type="checkbox"
                                        trueFalseValue
                                        oitcDebounce
                                        [(ngModel)]="stateFilter.down"/>
                                    <label cFormCheckLabel class="ms-1 mt-1"
                                           for="stateFilter.down">{{ t('Down') }}</label>
                                </c-form-check>
                                <c-form-check>
                                    <input
                                        (debouncedValue)="onFilterChange($event)"
                                        cFormCheckInput
                                        class="checkbox-lg checkbox-secondary"
                                        name="stateFilter.unreachable"
                                        id="stateFilter.unreachable"
                                        type="checkbox"
                                        trueFalseValue
                                        oitcDebounce
                                        [(ngModel)]="stateFilter.unreachable"/>
                                    <label cFormCheckLabel class="ms-1 mt-1"
                                           for="stateFilter.unreachable">{{ t('Unreachable') }}</label>
                                </c-form-check>
                            </fieldset>
                        </c-col>
                    </c-row>
                    <c-row class="mt-2">
                        <c-col class="text-end">
                            <button (click)="resetFilter()" cButton class="ripple" color="danger" size="xs">
                                {{ t('Reset filter') }}
                            </button>
                        </c-col>
                    </c-row>
                </form>
            </c-container>
            <!-- End Filter -->

            @if (!hostAcknowledgements) {
                <oitc-table-loader></oitc-table-loader>
            }
            @if (hostAcknowledgements) {
                <table bordered cTable class="mt-2 mb-0 table table-fit" hover striped matSort
                       (matSortChange)="onSortChange($event)"
                       [matSortActive]="params.sort" [matSortDirection]="params.direction">
                    <thead>
                    <tr>
                        <th class="width-50 text-center" scope="col" mat-sort-header="AcknowledgementHosts.state">
                            {{ t('State') }}
                        </th>
                        <th scope="col" mat-sort-header="AcknowledgementHosts.entry_time">
                            {{ t('Date') }}
                        </th>
                        <th scope="col" mat-sort-header="AcknowledgementHosts.author_name">
                            {{ t('Author') }}
                        </th>
                        <th scope="col" mat-sort-header="AcknowledgementHosts.comment_data">
                            {{ t('Comment') }}
                        </th>
                        <th scope="col" mat-sort-header="AcknowledgementHosts.is_sticky">
                            {{ t('Sticky') }}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                        @for (acknowledgement of hostAcknowledgements.all_acknowledgements; track acknowledgement) {
                            <tr>
                                <td class="text-center">
                                    <oitc-hoststatus-simple-icon
                                        [hoststatus]="acknowledgement.AcknowledgedHost.state"></oitc-hoststatus-simple-icon>
                                </td>
                                <td>
                                    {{ acknowledgement.AcknowledgedHost.entry_time }}
                                </td>
                                <td>
                                    {{ acknowledgement.AcknowledgedHost.author_name }}
                                </td>
                                <td>
                                    <div class="word-break"
                                         [innerHTML]="acknowledgement.AcknowledgedHost.comment_data | trustAsHtml "></div>
                                </td>
                                <td class="text-center">
                                    @if (acknowledgement.AcknowledgedHost.is_sticky) {
                                        <span class="badge bg-primary"
                                        >
                                            {{ 'True' | transloco }}
                                        </span>
                                    }
                                    @if (!acknowledgement.AcknowledgedHost.is_sticky) {
                                        <span class="badge bg-secondary"
                                        >
                                            {{ 'False' | transloco }}
                                        </span>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            @if (hostAcknowledgements && hostAcknowledgements.all_acknowledgements.length === 0) {
                <oitc-no-records
                ></oitc-no-records>
            }
            <c-container
                [fluid]="true" class="mb-3 py-3">
                <c-row>
                    <c-col>
                        @if (hostAcknowledgements) {
                            <oitc-paginate-or-scroll
                                (paginatorChange)="onPaginatorChange($event)"
                                [paginateOrScroll]="hostAcknowledgements"></oitc-paginate-or-scroll>
                        }
                    </c-col>
                </c-row>
            </c-container>
        </c-card-body>
        <c-card-footer>
            &nbsp;
        </c-card-footer>
    </c-card>
</ng-container>
