.apexcharts-tooltip {
    color: #383e48;
}

body.dark-theme .apexcharts-tooltip {
    background-color: #1d222b;
    color: #eeecec;
    border-color: var(--cui-border-color);
    /*box-shadow: 0 2px 6px 0 rgba(29, 34, 43, 0.5);*/
    box-shadow: 0 2px 6px 0 rgba(11, 81, 197, 0.13);
}
