/* Shared CSS for the /hosts/browser and /services/browser pages */

.browser-not-monitored {
    justify-content: center;
    display: flex !important;
    flex-direction: column;
    word-spacing: 100vw;
}


.browser-action {
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
    min-height: 40px;
    font-size: 16px;
    text-align: center;
    /*padding-top: 7px;*/
}

.browser-action:hover {
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.browser-action-padding-top {
    padding-top: 7px;
}

.browser-action-label-bootstrap-5 {
    background: rgba(0, 0, 0, 0.15);
    border-radius: 3px 0 0 3px;
    min-width: 2.5rem;
    text-align: center;
}

.unblur-on-hover {
    filter: blur(4px);
}

.unblur-on-hover:hover {
    filter: blur(0);
}
