/* Shared CSS for the /hosts/browser and /services/browser pages */

.browser-not-monitored {
    justify-content: center;
    display: flex !important;
    flex-direction: column;
    word-spacing: 100vw;
}
