@use "variables" as oitc;
@use "@coreui/coreui/scss/coreui" as cui;

// Mixin to generate text color classes
@mixin generate-color-classes($colors) {
    @each $name, $color in $colors {
        .text-#{$name} {
            color: $color;
        }

        .bg-#{$name} {
            background-color: $color;
        }
    }
}


// Generate text- and bg- classes for all CoreUI colors
// Example: text-cyan-500 or bg-cyan-500
// https://coreui.io/bootstrap/docs/customize/color/#all-colors

// Generate the classes
@include generate-color-classes(cui.$blues);
@include generate-color-classes(cui.$indigos);
@include generate-color-classes(cui.$purples);
@include generate-color-classes(cui.$pinks);
@include generate-color-classes(cui.$reds);
@include generate-color-classes(cui.$oranges);
@include generate-color-classes(cui.$yellows);
@include generate-color-classes(cui.$greens);
@include generate-color-classes(cui.$teals);
@include generate-color-classes(cui.$cyans);
@include generate-color-classes(cui.$blues);

$oitcgrays: (
    "gray-100": oitc.$gray-100,
    "gray-200": oitc.$gray-200,
    "gray-300": oitc.$gray-300,
    "gray-400": oitc.$gray-400,
    "gray-500": oitc.$gray-500,
    "gray-600": oitc.$gray-600,
    "gray-700": oitc.$gray-700,
    "gray-800": oitc.$gray-800,
    "gray-900": oitc.$gray-900
) !default;
@include generate-color-classes($oitcgrays);
@include generate-color-classes(oitc.$primaries);
@include generate-color-classes(oitc.$warnings);


.text-community {
    color: #4085C6;
}

.bg-community {
    background-color: #4085C6;
}

.btn-community:hover {
    background: #143d5b;
}

.text-enterprise {
    color: #DD0B2F;
}

.bg-enterprise {
    background-color: #DD0B2F;
}

.btn-enterprise:hover {
    background: #a61f1c;
}
