@use "@coreui/coreui/scss/variables" as coreui;
@use "variables" as oitc;

// Mixin to generate text color classes
@mixin generate-color-classes($colors) {
    @each $name, $color in $colors {
        .text-#{$name} {
            color: $color;
        }

        .bg-#{$name} {
            background-color: $color;
        }
    }
}


// Generate text- and bg- classes for all CoreUI colors
// Example: text-cyan-500 or bg-cyan-500
// https://coreui.io/bootstrap/docs/customize/color/#all-colors

// Generate the classes
@include generate-color-classes(coreui.$blues);
@include generate-color-classes(coreui.$indigos);
@include generate-color-classes(coreui.$purples);
@include generate-color-classes(coreui.$pinks);
@include generate-color-classes(coreui.$reds);
@include generate-color-classes(coreui.$oranges);
@include generate-color-classes(coreui.$yellows);
@include generate-color-classes(coreui.$greens);
@include generate-color-classes(coreui.$teals);
@include generate-color-classes(coreui.$cyans);
@include generate-color-classes(coreui.$blues);

// Generate classes for openITCOCKPIT pallettes.
@include generate-color-classes(oitc.$greys);
@include generate-color-classes(oitc.$primaries);
@include generate-color-classes(oitc.$warnings);


.text-community {
    color: #4085C6;
}

.bg-community {
    background-color: #4085C6;
}

.btn-community:hover {
    background: #143d5b;
}

.text-enterprise {
    color: #DD0B2F;
}

.bg-enterprise {
    background-color: #DD0B2F;
}

.btn-enterprise:hover {
    background: #a61f1c;
}
