
.cursor-help {
    cursor: help;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-crosshair {
    cursor: crosshair;
}

.cursor-wait {
    cursor: wait;
}

.cursor-grab {
    cursor: grab;
}

.cursor-grabbing {
    cursor: grabbing;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

.cursor-move {
    cursor: move;
}

.cursor-text {
    cursor: text;
}

.cursor-alias {
    cursor: alias;
}
