/* This file contains styles for fonts and typography */

code {
    padding: 4px 7px;
    border-radius: 4px;
    background: var(--cui-card-cap-bg);
}

.code-font {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace
}

.text-blur {
    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='2');
    -ms-filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='2');
}

.text-invalid {
    color: var(--cui-form-invalid-color);
}

.text-purple {
    color: #bb1bf4 !important;
}

.text-justify {
    text-align: justify;
}

.text-warning-glow {
    color: #FCAB20;
    text-shadow: 0px 0px 9px rgba(252, 137, 23, 0.6);
}

.text-danger-glow {
    color: #CC0000;
    text-shadow: 0px 0px 9px rgba(252, 0, 0, 0.4);
}

c-card-header > fa-icon {
    margin-right: 5px;
}

.fs-md {
    font-size: 0.875rem !important;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.word-break {
    word-break: break-all;
}
