/* Form classes. */

/************
 * Hintmark *
 ************/
.hintmark:after {
    color: #4759FF;
    content: " *";
    display: inline;
}

.hintmark_before:before {
    color: #4759FF;
    content: "* ";
    display: inline;
}

.arrowd-vertical-on-left {
    position: relative;

}

/*************
 * generate arrow down between two form input divs*
 *************/

.arrowd-vertical-on-left:after {
    content: "\02939";
    position: absolute;
    top: 20%;
    left: 0;
    font-size: 20px;
    color: #4285F4;
}


.arrowd-vertical-on-right {
    position: relative;

}

.arrowd-vertical-on-right:after {
    content: "\2938";
    position: absolute;
    top: -10px;
    right: 0;
    font-size: 20px;
    color: #4285F4;
}


.dropzoneStyle {
    min-height: 175px;
    padding: 15px;
    border: 2px dashed var(--cui-border-color);
    border-radius: 5px;
    background: var(--cui-card-cap-bg);
    color: var(--cui-body-color);
}


/** Make range sliders use the primary color **/
input[type="range"] {
    accent-color: $primary;
}
