/* Command line highlight colors */
.highlight-blue {
    background-color: rgba(0, 192, 239, 0.2);
}

.highlight-green {
    background-color: rgba(68, 157, 68, 0.2);
}

.highlight-purple {
    background-color: rgba(155, 102, 160, 0.2);
}
