/* This file can be used to adjust the global CoreUI layout.
 * For example of you want to add padding or margin classes
 */

.header-sticky {
    box-shadow: 0 0 28px 0 rgba(11, 81, 197, 0.13);
}

.width-50 {
    width: 50px;
}

.width-90 {
    width: 90px;
}

.width-130 {
    width: 130px;
}

.tableStatewidth {
    min-width: 155px;
}

.editItemWidth {
    min-width: 52px;
    max-width: 52px;
}

.border-dashed {
    border-style: dashed;
}


.input-group .ng-select, input-group .ng-select-multiple {
    display: flex;
    flex: 1;
}

.input-group .ng-select.ng-select-single .ng-select-container, .input-group .ng-select-multiple .ng-select-container {
    margin-left: calc(var(--cui-border-width) * -1);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
