/* This file can be used to adjust the global CoreUI layout.
 * For example of you want to add padding or margin classes
 */

.header-sticky {
    box-shadow: 0 0 28px 0 rgba(11, 81, 197, 0.13);
}

.width-50 {
    width: 50px
}

.width-130 {
    width: 130px
}

.border-dashed {
    border-style: dashed;
}
