.p-multiselect {
    background: var(--cui-body-bg);
    border-color: transparent transparent #999;
    font-size: 0.9em;
    display: flex;
    flex-grow: 1;
    border: 1px solid var(--cui-border-color);
    color: var(--cui-body-color);
}

.input-group .p-multiselect {
    border-radius: 0 var(--cui-border-radius) var(--cui-border-radius) 0;
}


.p-multiselect-label {
    white-space: normal;
}

.p-multiselect .p-multiselect-label.p-placeholder {
    /*color: var(--cui-input-placeholder-color);*/
    color: $input-placeholder-color;
    padding: .375rem .75rem;

    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.5;
    appearance: none;
}

.p-inputwrapper-filled .p-multiselect.p-multiselect-chip .p-multiselect-label {
    //padding: 0.5rem;
    padding: 0;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}

.p-multiselect.p-multiselect-chip .p-multiselect-token {
    padding: 0 .75rem;
    font-weight: 400;
    //background: var(--cui-body-bg);
    //color: var(--cui-body-color);
    //border-radius: 16px;
    //border: 1px solid var(--cui-border-color);

    background-color: var(--cui-tertiary-bg) !important;
    color: var(--cui-secondary-color) !important;
    border-radius: var(--cui-border-radius) !important;

    margin: 0.5rem 0.1rem;
}

.p-multiselect.p-multiselect-chip .p-multiselect-token .p-multiselect-token-icon {
    margin-left: 0.5rem;
}

.p-multiselect-panel {
    background: var(--cui-body-bg);
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-empty-message {
    padding: 0.15rem 0 0.5rem;
    color: var(--cui-body-color);
    background: var(--cui-body-bg);
}

.ui-fluid .input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    flex: auto;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item {
    margin: 0;
    padding: 0.75rem 0.75rem;
    border: 0 none;
    color: var(--cui-body-color);
    background: var(--cui-body-bg);
    transition: none;
    border-radius: 0;
}

.p-multiselect .p-inputwrapper-focus {
    background: var(--cui-body-bg);
    border-color: var(--cui-primary);
}

.p-multiselect.p-multiselect-chip .p-multiselect-token {
    background: var(--cui-body-bg);
    border-color: var(--cui-primary);
}

.p-multiselect-panel .p-multiselect-header {
    padding: 0.75rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    color: var(--cui-body-color);
    background: var(--cui-body-bg);
    margin: 0;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.p-multiselect-panel .p-multiselect-header {
    padding: 0.1rem 0.7rem;
}

.p-inputtext {
    padding: 0.1rem;
    font-size: 0.77rem;
    font-weight: 400;
    line-height: 1.5;
}

.p-inputtext:enabled:hover {
    border-color: var(--cui-primary);
}

.p-inputtext:enabled:focus {
    border-color: #acabeb;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(88, 86, 214, 0.25);
}

.p-multiselect-panel .p-multiselect-header .p-multiselect-filter-container .p-inputtext {
    padding-right: 1.75rem;
    background: var(--cui-body-bg);
}

.p-multiselect-panel .p-multiselect-header .p-multiselect-filter-container .p-multiselect-filter-icon {
    right: 0.75rem;
    color: var(--cui-body-color);
    background: var(--cui-body-bg);
}

.p-multiselect-panel .p-multiselect-header .p-checkbox {
    margin-right: 0.5rem;
}

.p-multiselect-panel .p-multiselect-header .p-multiselect-close {
    margin-left: 0.5rem;
    width: 2rem;
    height: 2rem;
    color: var(--cui-body-color);
    border: 0 none;
    background: var(--cui-body-bg);
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}

.p-multiselect-panel .p-multiselect-header .p-multiselect-close:enabled:hover {
    color: var(--cui-body-color);
    background: var(--cui-body-bg);
}

.p-multiselect-panel .p-multiselect-header .p-multiselect-close:focus-visible {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
}

.p-multiselect-panel .p-multiselect-items {
    padding: 0;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item {
    margin: 0;
    padding: 0.15rem 0.7rem;
    font-size: 0.77rem;
    font-weight: 400;
    line-height: 1.5;
    border: 0 none;
    color: var(--cui-body-color);
    background: var(--cui-body-bg);
    transition: none;
    border-radius: 0;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item:first-child {
    margin-top: 0;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
    color: var(--cui-body-color);

    background: var(--cui-body-bg);
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight.p-focus {
    background: var(--cui-body-bg);
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item:not(.p-highlight):not(.p-disabled).p-focus {
    color: var(--cui-body-color);

    background: var(--cui-body-bg);
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item:not(.p-highlight):not(.p-disabled):hover {
    color: var(--cui-body-color);
    background: var(--cui-body-bg);
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item .p-checkbox {
    margin-right: 0.5rem;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item-group {
    margin: 0;
    padding: 0.75rem;
    color: var(--cui-body-color);
    background: var(--cui-body-bg);
    font-weight: 400;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-empty-message {
    padding: 0.75rem 0.75rem;
    color: var(--cui-body-color);
    background: var(--cui-body-bg);
}


.p-checkbox .p-checkbox-box {
    --cui-form-check-bg: var(--cui-body-bg);
    appearance: none;
    background-color: var(--cui-form-check-bg);
    background-image: var(--cui-form-check-bg-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: var(--cui-border-width) solid var(--cui-border-color);
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    width: 22px;
    height: 22px;
    border-radius: 6px;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    outline-color: transparent;
}

.p-checkbox .p-checkbox-box.p-highlight {
    border-color: var(--cui-primary);
    background: var(--cui-primary);
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
    border-color: #acabeb;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(88, 86, 214, 0.25);
}

.p-multiselect-token-label {
    max-width: none;
}

.mark-highlight{
    background-color: transparentize($primary, 0.85);
    text-decoration: underline;
    font-weight: bold;
}
