@use "sass:color";

.bg-up,
.bg-ok {
    background: $success !important;
}

.bg-warning {
    background: $warning !important;
}

.bg-ok-soft, .bg-up-soft {
    background-color: #00ea5f !important;
}

.bg-warning-soft {
    background-color: #f9d180 !important;
}

.bg-critical, .bg-down {
    background-color: #CC0000 !important;
}

.bg-critical-soft, .bg-down-soft {
    background-color: #ff4444 !important;
}

.bg-unknown, .bg-unreachable {
    background-color: #727b84 !important;
}

.bg-unknown-soft, .bg-unreachable-soft {
    background-color: #CFCFCF !important;
}

.bg-downtime {
    background-color: #337ab7 !important;
}

.bg-downtime-cancelled {
    background-color: #00c4d8 !important;
}

.bg-ack {
    background-color: #774DFF !important;
    border-color: #3c00ff !important;
    z-index: 2 !important;
    color: #ffffff;
}

.shadow-ok, .shadow-up {
  box-shadow: 0 0 7px -2px #00C851;
}

.shadow-warning {
  box-shadow: 0 0 7px -2px #ffbb33;
}

.shadow-critical, .shadow-down {
  box-shadow: 0 0 7px -2px #CC0000;
}

.shadow-unknown, .shadow-unreachable {
  box-shadow: 0 0 7px -2px #727b84;
}

.shadow-not-monitored {
  box-shadow: 0 0 7px -2px  rgb(88, 86, 214);
}

/*  unnecessary because the class already exists in the coreui css
.bg-warning {
    background: $warning !important;
}
*/

.bg-down,
.bg-critical {
    background: $danger !important;
}

.bg-unreachable,
.bg-unknown {
    background: $secondary !important;
}

.not-monitored {
    color: #4285F4 !important;
}

.ok, .up {
    color: $success !important;
}

.warning {
    color: $warning !important;
}

.critical, .down {
    color: $danger !important;
}

.unknown, .unreachable {
    color: $secondary !important;
}

.ok-soft, .up-soft {
    color: color.adjust($success, $lightness: 40%, $space: hsl) !important;
}

.warning-soft {
    color: color.adjust($warning, $lightness: 20%, $space: hsl) !important;;
}

.critical-soft, .down-soft {
    color: color.adjust($danger, $lightness: 40%, $space: hsl) !important;
}

.unknown-soft, .unreachable-soft {
    color: color.adjust($secondary, $lightness: 40%, $space: hsl) !important;
}

.txt-ack {
    color: #774DFF !important;
}

.txt-downtime-cancelled {
    color: #00c4d8;
}

.txt-timerange {
    color: rgba(213, 221, 246, .4);
}

.txt-notification {
    color: gold;
}

.border-unknown-soft, .border-unreachable-soft {
    border-color: #CFCFCF !important;
}

.border-downtime {
    border-color: #337ab7 !important;
}

.border-downtime-cancelled {
    border-color: #00c4d8 !important;
}

.border-ack {
    border-color: #3c00ff !important;
}


/************************
 * Status label classes *
 ***********************/
.notify-label {
    display: inline-block;
    line-height: 1.4;
    min-width: 150px;
}
