.sunburst-viz .tooltip {
    opacity: 1 !important;
    max-width: none !important;
}

.sunburst-viz text.text-contour {
    fill: none;
    stroke: none;
    stroke-width: 0;
    color: white;
}

.sunburst-viz  textPath.text-contour {
    fill: none;
    stroke: none;
    stroke-width: 0;
    color: white;
}

.sunburst-viz text.text-stroke {
    /* font-family: sans-serif; */
    font-size: 12px;
    dominant-baseline: middle;
    text-anchor: middle;
    pointer-events: none;
    fill: #fff;
}

.sunburst-viz textPath.text-stroke  {
    dominant-baseline: middle;
    text-anchor: middle;
    pointer-events: none;
    fill: #fff;
}
