body {
    background-color: var(--cui-tertiary-bg);
}

pre {
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: var(--cui-body-color);
    word-break: break-all;
    word-wrap: break-word;
    background-color: var(--cui-tertiary-bg);
    border: 1px solid var(--cui-secondary-bg);
    border-radius: 4px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    overflow: auto;
}

.wrapper {
    width: 100%;
    @include ltr-rtl("padding-left", var(--cui-sidebar-occupy-start, 0));
    @include ltr-rtl("padding-right", var(--cui-sidebar-occupy-end, 0));
    will-change: auto;
    @include transition(padding .15s);
}

.header > .container-fluid,
.sidebar-header {
    min-height: calc(4rem + 1px); /* stylelint-disable-line function-disallowed-list */
}

.sidebar-brand-full {
    margin-left: 3px;
}

.sidebar-header {
    .nav-underline-border {
        --cui-nav-underline-border-link-padding-x: 1rem;
        --cui-nav-underline-border-gap: 0;
    }

    .nav-link {
        display: flex;
        align-items: center;
        min-height: calc(4rem + 1px); /* stylelint-disable-line function-disallowed-list */
    }
}

.sidebar-toggler {
    @include ltr-rtl("margin-left", auto);
}

.sidebar-narrow,
.sidebar-narrow-unfoldable:not(:hover) {
    .sidebar-toggler {
        @include ltr-rtl("margin-right", auto);
    }
}

.header > .container-fluid + .container-fluid {
    min-height: 3rem;
}

.footer {
    min-height: calc(3rem + 1px); /* stylelint-disable-line function-disallowed-list */
}

/* do not underline breadcrumb links */
nav ol.breadcrumb li.breadcrumb-item a {
    text-decoration: none;
}

@if $enable-dark-mode {
    @include color-mode(dark) {
        body {
            background-color: var(--cui-dark-bg-subtle);
        }

        .footer {
            --cui-footer-bg: var(--cui-body-bg);
        }
    }
}


.fieldset-legend-border-bottom {
    border-bottom: 5px solid;
    border-image-source: linear-gradient(45deg, var(--cui-primary), transparent);
    border-image-slice: 1;
}

.fieldset-legend-border-bottom-danger {
    border-bottom: 5px solid;
    border-image-source: linear-gradient(45deg, var(--cui-danger), transparent);
    border-image-slice: 1;
}

.fieldset-legend-border-bottom-thin {
    border-bottom: 2px solid;
    border-image-source: linear-gradient(45deg, var(--cui-primary), transparent);
    border-image-slice: 1;
}

.bg-placeholder-wizard {
    background-image: linear-gradient(135deg, #d6d6d64D 25%, transparent 25%, transparent 50%, #d6d6d64D 50%, #d6d6d64D 75%, transparent 75%, transparent 100%);
    background-size: 56.57px 56.57px;
}

.table-header-bg-primary-dark, .table-header-bg-primary-dark:any-link {
    background-color: var(--cui-primary) !important;
    color: white !important;
}

.table-header-bg-primary-dark td {
    background-color: var(--cui-primary) !important;
    color: white !important;
}

.table-header-bg-primary-light, .table-header-bg-primary-light:any-link {
    background-color: $cui-primary-300 !important;
    color: white !important;
}

.table-header-bg-primary-light td {
    background-color: $cui-primary-300 !important;
    color: white !important;
}

.border-primary {
    border-color: var(--cui-primary) !important;
}
