@use "variables" as oitc;

.toast-error {
    background-color: oitc.$danger !important;
    box-shadow: 0 0 12px oitc.$danger !important;
}

.toast-success {
    background-color: oitc.$success !important;
    box-shadow: 0 0 12px oitc.$success !important;
}

.toast-warning {
    background-color: oitc.$warning !important;
    box-shadow: 0 0 12px oitc.$warning !important;
}

.toast-info {
    background-color: oitc.$info !important;
    box-shadow: 0 0 12px oitc.$info !important;
}
