.toast-error {
    box-shadow: 0 0 12px $danger !important;
}

.toast-success {
    box-shadow: 0 0 12px $success !important;
}

.toast-warning {
    box-shadow: 0 0 12px $warning !important;
}

.toast-info {
    box-shadow: 0 0 12px $info !important;
}
