@use "variables" as coreui;

.toast-error {
    background-color: coreui.$danger !important;
    box-shadow: 0 0 12px coreui.$danger !important;
}

.toast-success {
    background-color: coreui.$success !important;
    box-shadow: 0 0 12px coreui.$success !important;
}

.toast-warning {
    background-color: coreui.$warning !important;
    box-shadow: 0 0 12px coreui.$warning !important;
}

.toast-info {
    background-color: coreui.$info !important;
    box-shadow: 0 0 12px coreui.$info !important;
}
