// If you want to override variables do it here

$success: #00C851;
$warning: #ffbb33;
$danger: #CC0000;
$info: #33b5e5;


$min-contrast-ratio: 2.0;
$body-font-family: Roboto, sans-serif;
$font-size-base: 0.8rem;
