@use "@coreui/coreui/scss/variables" as *;
@use "sass:color";

.wizard-bg-inactive {
    background: color.adjust($light-bg-subtle, $lightness: -5%, $space: hsl)
}

body.dark-theme .wizard-bg-inactive {
    background: var(--cui-light-bg-subtle)
}

.wizard-active {
    background: $primary !important;
    color: $white;
}

.wizard-success {
    background: $success !important;
    color: $white;
}
