@use "variables" as oitc;

// (╯°□°）╯︵ ┻━┻
@forward "@coreui/coreui/scss/coreui" with (
  $font-size-base: oitc.$font-size-base,
  $font-family-sans-serif: oitc.$font-family-sans-serif,

  $white: oitc.$white,
  $gray-base: oitc.$gray-base,
  $gray-100: oitc.$gray-100,
  $gray-200: oitc.$gray-200,
  $gray-300: oitc.$gray-300,
  $gray-400: oitc.$gray-400,
  $gray-500: oitc.$gray-500,
  $gray-600: oitc.$gray-600,
  $gray-700: oitc.$gray-700,
  $gray-800: oitc.$gray-800,
  $gray-900: oitc.$gray-900,
  $black: oitc.$black,
  $gray-100-dark: oitc.$gray-100-dark,
  $gray-200-dark: oitc.$gray-200-dark,
  $gray-300-dark: oitc.$gray-300-dark,
  $gray-400-dark: oitc.$gray-400-dark,
  $gray-500-dark: oitc.$gray-500-dark,
  $gray-600-dark: oitc.$gray-600-dark,
  $gray-700-dark: oitc.$gray-700-dark,
  $gray-800-dark: oitc.$gray-800-dark,
  $gray-900-dark: oitc.$gray-900-dark,
  $border-color: oitc.$border-color,
  $primary: oitc.$primary,
  $secondary: oitc.$secondary,
  $success: oitc.$success,
  $warning: oitc.$warning,
  $danger: oitc.$danger,
  $info: oitc.$info,
  $light: oitc.$light,
  $dark: oitc.$dark,
  $yellows: oitc.$warnings,
  $primary-text-emphasis: oitc.$primary-text-emphasis,
  $secondary-text-emphasis:  oitc.$secondary-text-emphasis,
  $success-text-emphasis: oitc.$success-text-emphasis,
  $info-text-emphasis: oitc.$info-text-emphasis,
  $warning-text-emphasis: oitc.$warning-text-emphasis,
  $danger-text-emphasis: oitc.$danger-text-emphasis,
  $primary-text-emphasis-dark: oitc.$primary-text-emphasis-dark,
  $secondary-text-emphasis-dark: oitc.$secondary-text-emphasis-dark,
  $success-text-emphasis-dark: oitc.$success-text-emphasis-dark,
  $info-text-emphasis-dark: oitc.$info-text-emphasis-dark,
  $warning-text-emphasis-dark: oitc.$warning-text-emphasis-dark,
  $danger-text-emphasis-dark: oitc.$danger-text-emphasis-dark,
  $light-text-emphasis-dark: oitc.$light-text-emphasis-dark,
  $dark-text-emphasis-dark: oitc.$dark-text-emphasis-dark,
  $primary-bg-subtle: oitc.$primary-bg-subtle,
  $secondary-bg-subtle: oitc.$secondary-bg-subtle,
  $success-bg-subtle: oitc.$success-bg-subtle,
  $info-bg-subtle: oitc.$info-bg-subtle,
  $warning-bg-subtle: oitc.$warning-bg-subtle,
  $danger-bg-subtle: oitc.$danger-bg-subtle,
  $light-bg-subtle: oitc.$light-bg-subtle,
  $dark-bg-subtle: oitc.$dark-bg-subtle,
  $primary-bg-subtle-dark: oitc.$primary-bg-subtle-dark,
  $secondary-bg-subtle-dark: oitc.$secondary-bg-subtle-dark,
  $success-bg-subtle-dark: oitc.$success-bg-subtle-dark,
  $info-bg-subtle-dark: oitc.$info-bg-subtle-dark,
  $warning-bg-subtle-dark: oitc.$warning-bg-subtle-dark,
  $danger-bg-subtle-dark: oitc.$danger-bg-subtle-dark,
  $light-bg-subtle-dark: oitc.$light-bg-subtle-dark,
  $dark-bg-subtle-dark: oitc.$dark-bg-subtle-dark,
  $primary-border-subtle: oitc.$primary-border-subtle,
  $secondary-border-subtle: oitc.$secondary-border-subtle,
  $success-border-subtle: oitc.$success-border-subtle,
  $info-border-subtle: oitc.$info-border-subtle,
  $warning-border-subtle: oitc.$warning-border-subtle,
  $danger-border-subtle: oitc.$danger-border-subtle,
  $light-border-subtle:  oitc.$light-border-subtle,
  $dark-border-subtle: oitc.$dark-border-subtle,
  $primary-border-subtle-dark: oitc.$primary-border-subtle-dark,
  $secondary-border-subtle-dark: oitc.$secondary-border-subtle-dark,
  $success-border-subtle-dark: oitc.$success-border-subtle-dark,
  $info-border-subtle-dark: oitc.$info-border-subtle-dark,
  $warning-border-subtle-dark: oitc.$warning-border-subtle-dark,
  $danger-border-subtle-dark: oitc.$danger-border-subtle-dark,
  $light-border-subtle-dark: oitc.$light-border-subtle-dark,
  $dark-border-subtle-dark: oitc.$dark-border-subtle-dark,
  $body-text-align: oitc.$body-text-align,
  $body-color: oitc.$body-color,
  $body-bg: oitc.$body-bg,
  $table-striped-bg-factor: oitc.$table-striped-bg-factor,
  $min-contrast-ratio: oitc.$min-contrast-ratio,
);

@forward "ng-select-dark";
@forward "toast";

@forward "theme";
@forward "card";
@forward "fonts";
@forward "forms";
@forward "layout";
@forward "cursor";
@forward "colors";

@forward "scrollbar";

@forward "buttons";
@forward "checkboxes";
@forward "ripple";
@forward "selectall";
@forward "highlighting";
@forward "icon-colors";
@forward "status-colors";
@forward "popover";

@forward "object_types";

@forward "fullcalendar_hollidays";
@forward "primeng";
@forward "fontawesome";
@forward "flex";

@forward "chart-loader";

@forward "browser";
@forward "vis";
@forward "badge";
@forward "opacity";
@forward "alert";
@forward "nestable";
@forward "timeline";

@forward "wizard";
@forward "statuspages";
@forward "flow";

@forward "widget";
@forward "sunburst";

@forward "uplot";
