// If you want to override variables do it here
@use "sass:color";

// MIT License
// Copyright 2025 creativeLabs Åukasz Holeczek.
// Source: https://github.com/coreui/coreui/blob/5e5a103031286317a1e5eb8d7bf592e8121f36f7/scss/functions/_color.scss
//
// We had to copy the code so we can use the functions before we import coreui
// otherwise we could not overwrite variables using @forward "@coreui/coreui/scss/coreui" with ()
// or at least my SCSS knowledge is not enough to do this.
//
// scss-docs-start color-functions
// Tint a color: mix a color with white
@function tint-color($color, $weight) {
    @return color.mix(white, $color, $weight);
}

// Shade a color: mix a color with black
@function shade-color($color, $weight) {
    @return color.mix(black, $color, $weight);
}

// Shade the color if the weight is positive, else tint it
@function shift-color($color, $weight) {
    @return if($weight > 0, shade-color($color, $weight), tint-color($color, -$weight));
}

// scss-docs-end color-functions

// scss-docs-start gray-color-variables
$white: #fff !default;
$gray-base: #323a49 !default;
$gray-100: #f3f4f7 !default;
$gray-200: #e7eaee !default;
$gray-300: #dbdfe6 !default;
$gray-400: #cfd4de !default;
$gray-500: #aab3c5 !default;
$gray-600: #6d7d9c !default;
$gray-700: #4a566d !default;
$gray-800: #323a49 !default;
$gray-900: #212631 !default;
$black: #080a0c !default;
// scss-docs-end gray-color-variables

$gray-100-dark: $gray-100 !default;
$gray-200-dark: $gray-200 !default;
$gray-300-dark: $gray-300 !default;
$gray-400-dark: $gray-400 !default;
$gray-500-dark: $gray-500 !default;
$gray-600-dark: $gray-600 !default;
$gray-700-dark: $gray-700 !default;
$gray-800-dark: $gray-800 !default;
$gray-900-dark: $gray-900 !default;

//$border-color:                $gray-300 !default;
$border-color: $gray-200 !default; // #e8e8e8

$primary: #5856d6 !default;
$secondary: #6b7785 !default;
$success: #00C851;
$warning: #ffbb33;
$danger: #CC0000;
$info: #33b5e5;
$light: $gray-100 !default;
$dark: $gray-900 !default;

$cui-primary-100: tint-color($primary, 80%);
$cui-primary-200: tint-color($primary, 60%);
$cui-primary-300: tint-color($primary, 40%);
$cui-primary-400: tint-color($primary, 20%);
$cui-primary-500: $primary;
$cui-primary-600: shade-color($primary, 20%);
$cui-primary-700: shade-color($primary, 40%);
$cui-primary-800: shade-color($primary, 60%);
$cui-primary-900: shade-color($primary, 80%);

$primaries: (
    "primary-100": $cui-primary-100,
    "primary-200": $cui-primary-200,
    "primary-300": $cui-primary-300,
    "primary-400": $cui-primary-400,
    "primary-500": $cui-primary-500,
    "primary-600": $cui-primary-600,
    "primary-700": $cui-primary-700,
    "primary-800": $cui-primary-800,
    "primary-900": $cui-primary-900,
) !default;

$cui-warning-100: tint-color($warning, 80%);
$cui-warning-200: tint-color($warning, 60%);
$cui-warning-300: tint-color($warning, 40%);
$cui-warning-400: tint-color($warning, 20%);
$cui-warning-500: $warning;
$cui-warning-600: shade-color($warning, 20%);
$cui-warning-700: shade-color($warning, 40%);
$cui-warning-800: shade-color($warning, 60%);
$cui-warning-900: shade-color($warning, 80%);

$warnings: (
    "warning-100": $cui-warning-100,
    "warning-200": $cui-warning-200,
    "warning-300": $cui-warning-300,
    "warning-400": $cui-warning-400,
    "warning-500": $cui-warning-500,
    "warning-600": $cui-warning-600,
    "warning-700": $cui-warning-700,
    "warning-800": $cui-warning-800,
    "warning-900": $cui-warning-900,
) !default;

// scss-docs-start theme-text-variables
/*
$primary-text-emphasis: rgb(216, 124, 249) !default;
$secondary-text-emphasis: rgb (165, 171, 177) !default;
$success-text-emphasis: rgb(134, 239, 71) !default;
$info-text-emphasis: rgb(130, 197, 248) !default;
$warning-text-emphasis: rgb(255, 198, 121) !default;
$danger-text-emphasis: rgb(253, 120, 151) !default;
*/

//$primary-text-emphasis: #8b09ba !default;
$primary-text-emphasis: #3634a3 !default;
$secondary-text-emphasis: #434a51 !default;
$success-text-emphasis: #5b9b35 !default;
$info-text-emphasis: #376a90 !default;
$warning-text-emphasis: #935400 !default;
$danger-text-emphasis: #c0022e !default;


// scss-docs-start theme-text-dark-variables
//$primary-text-emphasis-dark: rgb(216, 124, 249) !default;
$primary-text-emphasis-dark: color.scale($primary-text-emphasis, $saturation: -10%) !default; // stylelint-disable-line scss/at-function-named-arguments
$secondary-text-emphasis-dark: rgb(165, 171, 177) !default;
$success-text-emphasis-dark: rgb(134, 239, 71) !default;
$info-text-emphasis-dark: rgb(130, 197, 248) !default;
$warning-text-emphasis-dark: rgb(255, 198, 121) !default;
$danger-text-emphasis-dark: rgb(253, 120, 151) !default;
$light-text-emphasis-dark: $gray-100-dark !default;
$dark-text-emphasis-dark: $gray-300-dark !default;
// scss-docs-end theme-text-dark-variables


// scss-docs-start theme-bg-subtle-variables
//$primary-bg-subtle: rgb(245, 222, 253) !default;
$primary-bg-subtle: #cfc7f3 !default;
$secondary-bg-subtle: rgb(244, 245, 246) !default;
$success-bg-subtle: rgb(236, 250, 228) !default;
$info-bg-subtle: rgb(225, 239, 250) !default;
$warning-bg-subtle: rgb(255, 226, 187) !default;
$danger-bg-subtle: rgb(254, 190, 205) !default;
$light-bg-subtle: color.mix($gray-100, $white) !default;
$dark-bg-subtle: $gray-400 !default;
// scss-docs-end theme-bg-subtle-variables

// scss-docs-start theme-bg-subtle-dark-variables
//$primary-bg-subtle-dark: rgba(187, 27, 244, 0.2) !default;
$primary-bg-subtle-dark: $primary-bg-subtle !default;
$secondary-bg-subtle-dark: rgba(67, 74, 81, 0.2) !default;
$success-bg-subtle-dark: rgba(82, 191, 17, 0.2) !default;
$info-bg-subtle-dark: rgba(33, 152, 243, 0.2) !default;
$warning-bg-subtle-dark: rgba(255, 154, 19, 0.2) !default;
$danger-bg-subtle-dark: rgba(252, 19, 73, 0.2) !default;
$light-bg-subtle-dark: $gray-800-dark !default;
$dark-bg-subtle-dark: color.mix($gray-800-dark, $black) !default;
// scss-docs-end theme-bg-subtle-dark-variables

// scss-docs-start theme-border-subtle-variables
//$primary-border-subtle: rgb(216, 124, 249) !default;
$primary-border-subtle: #9d92e6 !default;
$secondary-border-subtle: rgb(211, 214, 218) !default;
$success-border-subtle: rgb(176, 237, 139) !default;
$info-border-subtle: rgb(180, 213, 239) !default;
$warning-border-subtle: rgb(255, 169, 55) !default;
$danger-border-subtle: rgb(253, 120, 151) !default;
$light-border-subtle: $gray-200 !default;
$dark-border-subtle: $gray-500 !default;

// scss-docs-start theme-border-subtle-dark-variables
//$primary-border-subtle-dark: rgba(187, 27, 244, 0.6) !default;
$primary-border-subtle-dark: $primary-border-subtle !default;
$secondary-border-subtle-dark: rgba(67, 74, 81, 0.6) !default;
$success-border-subtle-dark: rgba(82, 191, 17, 0.6) !default;
$info-border-subtle-dark: rgba(33, 152, 243, 0.6) !default;
$warning-border-subtle-dark: rgba(255, 154, 19, 0.6) !default;
$danger-border-subtle-dark: rgba(252, 19, 73, 0.6) !default;
$light-border-subtle-dark: $gray-700-dark !default;
$dark-border-subtle-dark: $gray-800-dark !default;
// scss-docs-end theme-border-subtle-dark-variables

$body-text-align: null !default;
$body-color: rgba(shift-color($gray-base, +26%), .95) !default;
$body-bg: $white !default;

$table-striped-bg-factor: .015;

$min-contrast-ratio: 2.0;
//$body-font-family: Roboto, sans-serif;
// New coreui uses - $body-font-family may not used anymore
$font-family-sans-serif: Roboto, system-ui, -apple-system, "Segoe UI", "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
//$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

$font-size-base: 0.8rem;
