<ng-container *transloco="let t">
    <ng-container *ngIf="changelogentry">
        <time class="cbp_tmtime" [dateTime]="changelogentry.time">
            <span>{{ changelogentry.time }}</span>
            <span>{{ changelogentry.timeAgoInWords }}</span>
        </time>
        <div class="cbp_tmicon txt-color-white {{changelogentry.color}}" title="{{changelogentry.action}}">
            <fa-icon [icon]="changelogentry.faIcon" class="text-light"></fa-icon>
        </div>
        <div class="cbp_tmlabel">
            <h2 class="font-md">
                {{ changelogentry.model }}
                <strong>
                    <!-- @todo: fix links -->
                    <a href="{{changelogentry.ngState}}({id: changelogentry.object_id})"
                       *ngIf="changelogentry.ngState && changelogentry.recordExists">
                        {{ changelogentry.name }}
                    </a>
                    <span *ngIf="!changelogentry.ngState || !changelogentry.recordExists"
                          [ngClass]="{'changelog_delete': (changelogentry.action ==='delete' ||
                  (changelogentry.ngState && !changelogentry.recordExists))}">
                        {{ changelogentry.name }}
                    </span>

                </strong>
                <span class="font-xs" *ngIf="changelogentry.includeUser && changelogentry.user">
                    {{ t('by') }}

                    <!-- @todo: fix links -->
                    <a *oitcPermission="['users', 'edit']" href="UsersEdit({id: changelogentry.user.id})">
                        {{ changelogentry.user.firstname }}
                        {{ changelogentry.user.lastname }}
                    </a>
                    <span *oitcPermission="['users', 'edit']; negate: true">
                        {{ changelogentry.user.firstname }}
                        {{ changelogentry.user.lastname }}
                    </span>
                </span>
                <span class="font-xs" *ngIf="changelogentry.includeUser && changelogentry.user === null">
                    {{ t('by Cronjob') }}
                </span>
            </h2>

            <!-- Add and copy changes -->
            <blockquote
                [ngClass]="{'changelog-blockquote-success': changelogentry.action ==='add', 'changelog-blockquote-primary': changelogentry.action ==='copy'}"
                *ngIf="(changelogentry.action === 'add' || changelogentry.action === 'copy')"
                class="blockquote">
                ADD !!!
            </blockquote>

            <!-- All Changes -->
            <blockquote class="changelog-blockquote-warning blockquote">
                ALLE !!!
                <div class="ms-2">
                    <div *ngFor="let changeEntry of entry">

                        <div>
                            <h1>{{ changeEntry.controllerName }}</h1>
                        </div>

                        <div *ngFor="let change of changeEntry.changes">
                            <div class="row mb-2">
                                <div *ngIf="change.hasOld" class="col-6">
                                    <div *ngFor="let old of change.old" class="text-danger">
                                        {{ old.field }}
                                        <span class="changelog_delete">
                                            {{ old.value }}
                                        </span>
                                    </div>

                                </div>
                                <div *ngIf="change.hasNew" class="col-6">
                                    <div *ngFor="let new of change.new" class="text-success">
                                        {{ new.field }}
                                        <span class="">
                                            {{ new['value'] | json }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </blockquote>

        </div>
    </ng-container>
</ng-container>
