:host {
    border-top-color: #0fa80f;
}

.small-text {
    font-size: 0.7em !important;
}

.text-dark-important {
    color: #2a2f34 !important;
}

.font-xx-small {
    font-size: xx-small !important;
}
