<ng-container *transloco="let t">
    <nav aria-label="breadcrumb" class="mt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a [routerLink]="['/']">
                    <fa-icon [icon]="['fas', 'home']"></fa-icon>
                    {{ t('Home') }}
                </a></li>
            <li class="breadcrumb-item">
                <a *oitcPermission="['hostgroups', 'index']" [routerLink]="['/', 'hostgroups', 'index']">
                    <fa-icon [icon]="['fas', 'server']"></fa-icon>
                    {{ t('Host groups') }}
                </a>
            </li>
            <li aria-current="page" class="breadcrumb-item active">
                <fa-icon [icon]="['fas', 'eye']"></fa-icon>
                {{ t('Extended overview') }}
            </li>
        </ol>
    </nav>
    <c-card class="mb-3">
        <c-card-header>
            <h5 cCardTitle>
                {{ hostgroupExtended.Hostgroup.container.name }}

                <small class="fw-300">
                    {{ t('extended overview') }}
                </small>
            </h5>

            <c-nav class="card-toolbar card-header-pills">
                <oitc-object-uuid [uuid]="hostgroupExtended.Hostgroup.uuid"></oitc-object-uuid>
            </c-nav>

            <c-nav variant="underline" class="card-toolbar card-header-pills margin-right-8">
                <c-nav-item>
                    <button
                        class="nav-link"
                        [ngClass]="{'active': selectedTab == HostgroupExtendedTabs.Hosts}"
                        (click)="changeTab(HostgroupExtendedTabs.Hosts)">
                        <fa-icon [icon]="['fas', 'desktop']"></fa-icon>
                        {{ t('Hosts') }}
                    </button>
                </c-nav-item>

                @if (PermissionsService.hasModuleObservable('SLAModule')|async) {
                    <span *oitcPermission="['slamodule', 'slas', 'slahostgrouphostsstatusoverview']">
                        @if (hostgroupExtended.hasSLAHosts) {
                            <c-nav-item>
                                <button
                                    class="nav-link"
                                    [ngClass]="{'active': selectedTab == HostgroupExtendedTabs.SlaHostsStatus}"
                                    (click)="changeTab(HostgroupExtendedTabs.SlaHostsStatus)">
                                    <fa-icon [icon]="['fas', 'award']"></fa-icon>
                                    {{ t('SLA Hosts Status') }}
                                </button>
                            </c-nav-item>
                        }
                    </span>
                }
            </c-nav>


            <c-nav class="card-toolbar card-header-pills">
                @if (PermissionsService.hasModuleObservable('ImportModule')|async) {
                    <span
                        *oitcPermission="['importmodule', 'importedhostgroups', 'dependencytree']">
                        @if (AdditionalInformationExists) {
                            <c-nav-item class="px-1">
                                <button cButton class="ripple" color="primary" size="xs"
                                        [routerLink]="['/', 'import_module', 'ImportedHostgroups', 'dependencyTree', hostgroupExtended.Hostgroup.id]">
                                    <fa-icon [icon]="['fas', 'sitemap']" [rotate]="270.0"></fa-icon>
                                    {{ t('Dependency tree') }}
                                </button>
                            </c-nav-item>
                        }
                    </span>
                }
                <c-nav-item class="px-1">
                    <button cButton class="ripple" color="default" size="xs" (click)="onHostgroupChange()">
                        <fa-icon [icon]="['fas', 'arrows-rotate']"></fa-icon>
                        {{ t('Refresh') }}
                    </button>
                </c-nav-item>
                <c-nav-item class="px-1">
                    <button *oitcPermission="['hostgroups', 'add']" [routerLink]="['/', 'hostgroups', 'add']"
                            cButton
                            class="ripple"
                            color="success"
                            size="xs">
                        <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                        {{ t('New') }}
                    </button>
                </c-nav-item>
                <c-nav-item class="px-1">
                    <button [fallbackUrl]="['hostgroups', 'index']" cButton class="ripple" color="default"
                            oitcBackButton
                            size="xs">
                        <fa-icon [icon]="['fas', 'left-long']"></fa-icon>
                        {{ t('Back') }}
                    </button>
                </c-nav-item>
            </c-nav>
        </c-card-header>
        <c-card-body>
            <c-row>
                <c-col xs="12" lg="8" class="mb-1 mt-1">
                    <c-input-group>
                        <span cInputGroupText class="bg-primary text-white">
                            <fa-icon [icon]="['fas', 'server']"></fa-icon>
                            &nbsp;
                            {{ t('Host group') }}
                        </span>

                        <c-col lg="9">
                            <oitc-select
                                name="hostgroupId"
                                id="hostgroupId"
                                [(ngModel)]="hostgroupId"
                                optionValue="key"
                                optionLabel="value"
                                [options]="hostgroups"
                                [searchCallback]="loadHostgroups"
                                (onChange)="onHostgroupChange()">
                            </oitc-select>
                        </c-col>
                        <c-col lg="1" class="ms-3">
                            <c-dropdown>
                                <button cButton cDropdownToggle color="default">
                                    {{ t('Actions') }}
                                </button>
                                <ul cDropdownMenu>
                                    <li>
                                        <oitc-actions-button-element [permission]="'hostgroups.edit'"
                                                                     [url]="'/hostgroups/edit/' + this.hostgroupExtended.Hostgroup.id">
                                            <fa-icon [icon]="['fas', 'gear']"></fa-icon>
                                            {{ t('Edit') }}
                                        </oitc-actions-button-element>
                                    </li>
                                    <li>
                                        <oitc-actions-button-element [permission]="'changelogs.index'"
                                                                     [url]="'/changelogs/entity/hostgroup/' + this.hostgroupExtended.Hostgroup.id">
                                            <fa-icon [icon]="['fas', 'timeline']" [rotate]="90"></fa-icon>
                                            {{ t('Changelog') }}
                                        </oitc-actions-button-element>
                                    </li>
                                    <li cDropdownDivider></li>
                                    <li>
                                        <oitc-actions-button-element [permission]="'hostgroups.copy'"
                                                                     [url]="'/hostgroups/copy/' + this.hostgroupExtended.Hostgroup.id">
                                            <fa-icon [icon]="['fas', 'copy']"></fa-icon>
                                            {{ t('Copy') }}
                                        </oitc-actions-button-element>
                                    </li>
                                    <li cDropdownDivider></li>
                                    <li>
                                        <oitc-actions-button-element [permission]="'hostgroups.copy'"
                                                                     (click)="toggleResetCheckModal()">
                                            <fa-icon [icon]="['fas', 'refresh']"></fa-icon>
                                            {{ t('Reset check time') }}
                                        </oitc-actions-button-element>
                                    </li>
                                    <li>
                                        <oitc-actions-button-element [permission]="'hostgroups.copy'"
                                                                     (click)="toggleDowntimeModal()">
                                            <fa-icon [icon]="['fas', 'clock']"></fa-icon>
                                            {{ t('Set planned maintenance times') }}
                                        </oitc-actions-button-element>
                                    </li>

                                    <li *oitcPermission="['nagiosmodule', 'cmd', 'submit']">

                                        <a
                                            href="javascript:void(0);" cDropdownItem
                                            (click)="acknowledgeStatus()">
                                            <fa-icon [icon]="['fas', 'user']"></fa-icon>
                                            {{ t('Acknowledge host status') }}
                                        </a>
                                    </li>
                                    <li>
                                        <oitc-actions-button-element [permission]="'hostgroups.copy'"
                                                                     (click)="disableNotifications()">
                                            <fa-icon [icon]="['far', 'envelope']"></fa-icon>
                                            {{ t('Disable notifications') }}
                                        </oitc-actions-button-element>
                                    </li>
                                    <li>
                                        <oitc-actions-button-element [permission]="'hostgroups.copy'"
                                                                     (click)="enableNotifications()">
                                            <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
                                            {{ t('Enable notifications') }}
                                        </oitc-actions-button-element>
                                    </li>
                                </ul>
                            </c-dropdown>
                        </c-col>
                    </c-input-group>
                </c-col>
            </c-row>

            @if (selectedTab == HostgroupExtendedTabs.Hosts) {
                <div>
                    @if (hostgroupExtended.Hostgroup.uuid === '') {
                        <oitc-table-loader></oitc-table-loader>
                    }
                    <table bordered cTable class="mt-2 mb-0 table table-fit" hover striped matSort
                           (matSortChange)="onSortChange($event)"
                           [matSortActive]="hostParams.sort" [matSortDirection]="hostParams.direction">
                        <thead>
                        <tr class="border-bottom">
                            <td colspan="8" class="p-1 col-8">
                                <c-input-group>
                                    <span cInputGroupText class="bg-primary text-white col-1">
                                        <fa-icon [icon]="['fas', 'desktop']"></fa-icon>
                                        &nbsp;
                                        {{ t('Host') }}
                                    </span>
                                    <input
                                        [(ngModel)]="hostParams['filter[Hosts.name]']"
                                        aria-label="host group name"
                                        cFormControl
                                        [placeholder]="'Filter by host name' | transloco"
                                        name="filter.Host.name"
                                        id="filter.Host.name"
                                        oitcDebounce
                                        (debouncedValue)="onHostFilterChange($event)"
                                        type="text"
                                    />
                                </c-input-group>
                            </td>
                            <td colspan="4" class="p-1">
                                <div>
                                    <c-row class="mx-0 row">
                                        <c-col class="col-4 bg-ok py-2 rounded-start text-white">
                                            <input cFormCheckInput
                                                   type="checkbox"
                                                   name="statusFilterup"
                                                   oitcDebounce
                                                   (debouncedValue)="onHostFilterChange($event)"
                                                   [(ngModel)]="filter.Hoststatus.current_state.up"
                                                   id="statusFilterup">
                                            <label cFormCheckLabel for="statusFilterup" class="ps-1">
                                                {{ hostgroupExtended.StatusSummary.up }}
                                            </label>
                                        </c-col>
                                        <c-col class="col-4 bg-down py-2  text-white">
                                            <input cFormCheckInput
                                                   type="checkbox"
                                                   name="statusFilterdown"
                                                   oitcDebounce
                                                   (debouncedValue)="onHostFilterChange($event)"
                                                   [(ngModel)]="filter.Hoststatus.current_state.down"
                                                   id="statusFilterdown">
                                            <label cFormCheckLabel for="statusFilterdown" class="ps-1">
                                                {{ hostgroupExtended.StatusSummary.down }}
                                            </label>
                                        </c-col>
                                        <c-col class="col-4 bg-unreachable py-2 rounded-end  text-white">
                                            <input cFormCheckInput
                                                   type="checkbox"
                                                   name="statusFilterunreachable"
                                                   oitcDebounce
                                                   (debouncedValue)="onHostFilterChange($event)"
                                                   [(ngModel)]="filter.Hoststatus.current_state.unreachable"
                                                   id="statusFilterunreachable">
                                            <label cFormCheckLabel for="statusFilterunreachable" class="ps-1">
                                                {{ hostgroupExtended.StatusSummary.unreachable }}
                                            </label>
                                        </c-col>
                                    </c-row>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th></th>
                            <th scope="col" mat-sort-header="Hoststatus.current_state">
                                {{ t('Status') }}
                            </th>
                            <th scope="col" mat-sort-header="cumulated_service_status">
                                <fa-icon [icon]="['fas', 'cogs']"
                                         [title]="'cumalative service status' | transloco"></fa-icon>
                            </th>
                            <th class="text-center">
                                <fa-icon [icon]="['fas', 'user']" [title]="'is acknowledged' | transloco"></fa-icon>
                            </th>
                            <th class="text-center">
                                <fa-icon [icon]="['fas', 'power-off']" [title]="'is in downtime' | transloco"></fa-icon>
                            </th>
                            <th class="text-center">
                                <span [title]="'Passively transferred service' | transloco">
                                    P
                                </span>
                            </th>
                            <th scope="col" class="col-4" mat-sort-header="Hosts.name">
                                {{ t('Host name') }}
                            </th>
                            <th scope="col" mat-sort-header="Hoststatus.last_state_change">
                                {{ t('State since') }}
                            </th>
                            <th scope="col" mat-sort-header="Hoststatus.last_check">
                                {{ t('Last check') }}
                            </th>
                            <th scope="col" mat-sort-header="Hoststatus.next_check">
                                {{ t('Next check') }}
                            </th>
                            <th>
                                {{ t('Service Summary') }}
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                            @for (host of hostgroupExtended.Hosts; track host) {
                                <tr>
                                    <td class="text-center" (click)="toggleHostServicelist(host.Host.id)">
                                        @if (!host.services) {
                                            <fa-icon class="cursor-pointer"
                                                     [icon]="['fas', 'plus-square']"/>
                                        }
                                        @if (host.services) {
                                            <fa-icon class="cursor-pointer"
                                                     [icon]="['far', 'minus-square']"/>
                                        }
                                    </td>
                                    <td class="text-center">
                                        <oitc-hoststatus-icon [hoststatus]="host.Hoststatus"></oitc-hoststatus-icon>
                                    </td>
                                    <td class="text-center">
                                        <oitc-service-cumulated-status-icon
                                            [cumulatedState]="host.ServicestatusSummary.cumulatedState"/>
                                    </td>
                                    <td class="text-center">
                                        @if (host.Hoststatus.problemHasBeenAcknowledged) {
                                            @if (host.Hoststatus.acknowledgement_type === AcknowledgementTypes.Normal) {
                                                <fa-icon
                                                    [icon]="['far', 'user']"
                                                    [title]="'Acknowledgement' | transloco"
                                                ></fa-icon>
                                            }
                                            @if (host.Hoststatus.acknowledgement_type === AcknowledgementTypes.Sticky) {
                                                <fa-icon
                                                    [icon]="['fas', 'user']"
                                                    [title]="'Sticky Acknowledgement' | transloco"
                                                ></fa-icon>
                                            }
                                        }
                                    </td>
                                    <td class="text-center">
                                        @if (host.Hoststatus.scheduledDowntimeDepth && host.Hoststatus.scheduledDowntimeDepth > 0) {
                                            <fa-icon
                                                [icon]="['fas', 'power-off']"
                                            ></fa-icon>
                                        }
                                    </td>
                                    <td class="text-center">
                                        @if (host.Host.active_checks_enabled === false || host.Host.is_satellite_host === true) {
                                            <span
                                                [title]="'Passively transferred host' | transloco"
                                            >P</span>
                                        }
                                    </td>
                                    <td class="word-break">
                                        <span *oitcPermission="['hosts', 'browser']">
                                            <a [routerLink]="['/', 'hosts', 'browser', host.Host.id]">
                                                {{ host.Host.name }}
                                            </a>
                                        </span>
                                        <span *oitcPermission="['hosts', 'browser']; negate: true">
                                            {{ host.Host.name }}
                                        </span>
                                    </td>
                                    <td>{{ host.Hoststatus.last_state_change }}</td>
                                    <td>{{ host.Hoststatus.lastCheck }}</td>
                                    <td>
                                        @if (host.Hoststatus.activeChecksEnabled && host.Host.is_satellite_host === false) {
                                            <span
                                            >
                                                {{ host.Hoststatus.nextCheck }}
                                            </span>
                                        }
                                        @if (host.Hoststatus.activeChecksEnabled === false || host.Host.is_satellite_host === true) {
                                            <span
                                            >
                                                n/a
                                            </span>
                                        }
                                    </td>
                                    <td>
                                        <div *oitcPermission="['services', 'index']"
                                             class="btn-group btn-group-justified w-100"
                                             role="group">
                                            <a class="btn btn-success state-button-small"
                                               [queryParams]="{servicestate:0,sort:'Servicestatus.last_state_change', host_id: host.Host.id, direction: 'desc'}"
                                               [routerLink]="['/', 'services', 'index']">
                                                {{ host.ServicestatusSummary.state.ok }}
                                            </a>
                                            <a class="btn btn-warning state-button-small"
                                               [queryParams]="{servicestate:1,sort:'Servicestatus.last_state_change', host_id: host.Host.id, direction: 'desc'}"
                                               [routerLink]="['/', 'services', 'index']">
                                                {{ host.ServicestatusSummary.state.warning }}
                                            </a>
                                            <a class="btn btn-danger state-button-small"
                                               [queryParams]="{servicestate:2,sort:'Servicestatus.last_state_change', host_id: host.Host.id, direction: 'desc'}"
                                               [routerLink]="['/', 'services', 'index']">
                                                {{ host.ServicestatusSummary.state.critical }}
                                            </a>
                                            <a class="btn btn-secondary state-button-small"
                                               [queryParams]="{servicestate:3,sort:'Servicestatus.last_state_change', host_id: host.Host.id, direction: 'desc'}"
                                               [routerLink]="['/', 'services', 'index']">
                                                {{ host.ServicestatusSummary.state.unknown }}
                                            </a>
                                        </div>
                                        <div *oitcPermission="['services', 'index'];negate:true"
                                             class="btn-group btn-group-justified w-100" role="group">
                                            <a class="btn btn-success state-button-small">
                                                {{ host.ServicestatusSummary.state.ok }}
                                            </a>
                                            <a class="btn btn-warning state-button-small">
                                                {{ host.ServicestatusSummary.state.warning }}
                                            </a>
                                            <a class="btn btn-danger state-button-small">
                                                {{ host.ServicestatusSummary.state.critical }}
                                            </a>
                                            <a class="btn btn-secondary state-button-small">
                                                {{ host.ServicestatusSummary.state.unknown }}
                                            </a>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <oitc-actions-button [permission]="'hosts.edit'"
                                                             [url]="'/hosts/edit/' + host.Host.id"
                                                             [allowEdit]="host.Host.allow_edit">
                                            @if (host.Host.allow_edit) {
                                                <oitc-actions-button-element [permission]="'hosts.edit'"
                                                                             [url]="'/hosts/edit/' + host.Host.id">
                                                    <fa-icon [icon]="['fas', 'gear']"></fa-icon>
                                                    {{ t('Edit') }}
                                                </oitc-actions-button-element>
                                            }
                                            @if (host.Host.allow_edit && !host.Host.disabled) {
                                                <oitc-actions-button-element [permission]="'hosts.deactivate'"
                                                                             (click)="toggleDisableModal(host.Host)">
                                                    <fa-icon [icon]="['fas', 'plug']"></fa-icon>
                                                    {{ t('Disable') }}
                                                </oitc-actions-button-element>
                                            }
                                            @if (host.Host.allow_edit && host.Host.disabled) {
                                                <oitc-actions-button-element
                                                    [permission]="'hosts.enable'"
                                                    (click)="toggleEnableModal(host.Host)">
                                                    <fa-icon [icon]="['fas', 'plug']"></fa-icon>
                                                    {{ t('Enable') }}
                                                </oitc-actions-button-element>
                                            }
                                            <oitc-actions-button-element [permission]="'changelogs.index'"
                                                                         [url]="'/changelogs/entity/host/' + host.Host.id">
                                                <fa-icon [icon]="['fas', 'timeline']" [rotate]="90"></fa-icon>
                                                {{ t('Changelog') }}
                                            </oitc-actions-button-element>
                                            <li cDropdownDivider></li>
                                            @if (host.Host.allow_edit) {
                                                <oitc-actions-button-element [permission]="'hosts.copy'"
                                                                             [url]="'/hosts/copy/' + host.Host.id">
                                                    <fa-icon [icon]="['fas', 'copy']"></fa-icon>
                                                    {{ t('Copy') }}
                                                </oitc-actions-button-element>
                                            }
                                            @if (host.Host.allow_edit) {
                                                <li cDropdownDivider></li>
                                            }
                                            @if (host.Host.allow_edit) {
                                                <oitc-actions-button-element
                                                    (click)="toggleDeleteAllHostsModal(host.Host)"
                                                    [permission]="'hosts.delete'">
                                                    <span class="text-danger">
                                                        <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                                                        {{ t('Delete') }}
                                                    </span>
                                                </oitc-actions-button-element>
                                            }
                                        </oitc-actions-button>
                                    </td>
                                </tr>
                                @if (host.services) {
                                    <tr>
                                        <td colspan="12" class="p-0 m-0">
                                            @if (host.Host.uuid === '') {
                                                <oitc-table-loader></oitc-table-loader>
                                            }
                                            <table bordered cTable hover striped>
                                                <thead>
                                                <tr>
                                                    <td colspan="8" class="p-1 col-8">
                                                        <c-input-group>
                                                            <span cInputGroupText class="bg-primary text-white col-1">
                                                                <fa-icon [icon]="['fas', 'cog']"></fa-icon>
                                                                &nbsp;
                                                                {{ t('Service') }}
                                                            </span>
                                                            <input
                                                                [(ngModel)]="host.serviceParams['filter[servicename]']"
                                                                aria-label="service name"
                                                                cFormControl
                                                                [placeholder]="'Filter by service name' | transloco"
                                                                name="filter.Service.name"
                                                                id="filter.Service.name"
                                                                oitcDebounce
                                                                (debouncedValue)="onServiceFilterChange($event, host)"
                                                                type="text"
                                                            />
                                                        </c-input-group>
                                                    </td>
                                                    <td colspan="4" class="p-1">
                                                        <div>
                                                            <c-row class="mx-0 row">
                                                                <c-col
                                                                    class="col-3 bg-ok py-2 rounded-start text-white">
                                                                    <input cFormCheckInput
                                                                           type="checkbox"
                                                                           name="statusFilterServiceOk"
                                                                           oitcDebounce
                                                                           (debouncedValue)="onServiceFilterChange($event, host)"
                                                                           [(ngModel)]="host.Servicestatus.current_state.ok"
                                                                           id="statusFilterServiceOk">
                                                                    <label cFormCheckLabel for="statusFilterServiceOk"
                                                                           class="ps-1">
                                                                        {{ host.ServicestatusSummary.state.ok }}
                                                                        {{ t('ok') }}
                                                                    </label>
                                                                </c-col>
                                                                <c-col class="col-3 bg-warning py-2  text-white">
                                                                    <input cFormCheckInput
                                                                           type="checkbox"
                                                                           name="statusFilterServiceWarning"
                                                                           oitcDebounce
                                                                           (debouncedValue)="onServiceFilterChange($event, host)"
                                                                           [(ngModel)]="host.Servicestatus.current_state.warning"
                                                                           id="statusFilterServiceWarning">
                                                                    <label cFormCheckLabel
                                                                           for="statusFilterServiceWarning"
                                                                           class="ps-1">
                                                                        {{ host.ServicestatusSummary.state.warning }}
                                                                        {{ t('warning') }}
                                                                    </label>
                                                                </c-col>
                                                                <c-col class="col-3 bg-critical py-2 text-white">
                                                                    <input cFormCheckInput
                                                                           type="checkbox"
                                                                           name="statusFilterServiceCritical"
                                                                           oitcDebounce
                                                                           (debouncedValue)="onServiceFilterChange($event, host)"
                                                                           [(ngModel)]="host.Servicestatus.current_state.critical"
                                                                           id="statusFilterServiceCritical">
                                                                    <label cFormCheckLabel
                                                                           for="statusFilterServiceCritical"
                                                                           class="ps-1">
                                                                        {{ host.ServicestatusSummary.state.critical }}
                                                                        {{ t('critical') }}
                                                                    </label>
                                                                </c-col>
                                                                <c-col
                                                                    class="col-3 bg-unknown py-2 rounded-end  text-white">
                                                                    <input cFormCheckInput
                                                                           type="checkbox"
                                                                           name="statusFilterServiceUnknown"
                                                                           oitcDebounce
                                                                           (debouncedValue)="onServiceFilterChange($event, host)"
                                                                           [(ngModel)]="host.Servicestatus.current_state.unknown"
                                                                           id="statusFilterServiceUnknown">
                                                                    <label cFormCheckLabel for="statusFilterunreachable"
                                                                           class="ps-1">
                                                                        {{ host.ServicestatusSummary.state.unknown }}
                                                                        {{ t('unknown') }}
                                                                    </label>
                                                                </c-col>
                                                            </c-row>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="text-center">
                                                        <fa-icon [icon]="['fas', 'cog']" class="text-muted"></fa-icon>
                                                    </th>
                                                    <th>
                                                        {{ t('Status') }}
                                                    </th>
                                                    <th class="text-center">
                                                        <fa-icon [icon]="['fas', 'chart-area']"
                                                                 [title]="'Grapher' | transloco"></fa-icon>
                                                    </th>
                                                    <th class="text-center">
                                                        <fa-icon [icon]="['fas', 'user']"
                                                                 [title]="'is acknowledged' | transloco"></fa-icon>
                                                    </th>
                                                    <th class="text-center">
                                                        <fa-icon [icon]="['fas', 'power-off']"
                                                                 [title]="'is in downtime' | transloco"></fa-icon>
                                                    </th>
                                                    <th class="text-center">
                                                        <span [title]="'Passively transferred service' | transloco">
                                                            P
                                                        </span>
                                                    </th>
                                                    <th class="col-4">{{ t('Service name') }}</th>
                                                    <th>{{ t('State since') }}</th>
                                                    <th>{{ t('Last check') }}</th>
                                                    <th>{{ t('Next check') }}</th>
                                                    <th>{{ t('Output') }}</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    @for (service of host.services; track service) {
                                                        <tr>
                                                            <td></td>
                                                            <td class="text-center">
                                                                <oitc-servicestatus-icon
                                                                    [servicestatus]="service.Servicestatus"/>
                                                            </td>
                                                            <td class="text-center">
                                                                @if (service.Service.has_graph) {
                                                                    <oitc-popover-graph
                                                                        [service]="service.Service.uuid"
                                                                        [host]="service.Host.uuid"
                                                                        [timezone]="timezone"></oitc-popover-graph>
                                                                }
                                                            </td>
                                                            <td class="text-center">
                                                                @if (service.Servicestatus.problemHasBeenAcknowledged) {
                                                                    @if (service.Servicestatus.acknowledgement_type === AcknowledgementTypes.Normal) {
                                                                        <fa-icon
                                                                            [icon]="['far', 'user']"
                                                                            [title]="'Acknowledgement' | transloco"
                                                                        ></fa-icon>
                                                                    }
                                                                    @if (service.Servicestatus.acknowledgement_type === AcknowledgementTypes.Sticky) {
                                                                        <fa-icon
                                                                            [icon]="['fas', 'user']"
                                                                            [title]="'Sticky Acknowledgement' | transloco"
                                                                        ></fa-icon>
                                                                    }
                                                                }
                                                            </td>
                                                            <td class="text-center">
                                                                @if (service.Servicestatus.scheduledDowntimeDepth && service.Servicestatus.scheduledDowntimeDepth > 0) {
                                                                    <fa-icon
                                                                        [icon]="['fas', 'power-off']"
                                                                    ></fa-icon>
                                                                }
                                                            </td>
                                                            <td class="text-center">
                                                                @if (!service.Service.active_checks_enabled || service.Host.is_satellite_host) {
                                                                    <span
                                                                        [title]="'Passively transferred service' | transloco">
                                                                        P
                                                                    </span>
                                                                }
                                                            </td>
                                                            <td>
                                                                <span *oitcPermission="['services', 'browser']">
                                                                    <a [routerLink]="['/', 'services', 'browser', service.Service.id]">
                                                                        {{ service.Service.servicename }}
                                                                    </a>
                                                                </span>
                                                                <span
                                                                    *oitcPermission="['services', 'browser']; negate: true">
                                                                    {{ service.Service.servicename }}
                                                                </span>
                                                            </td>
                                                            <td>
                                                                {{ service.Servicestatus.last_state_change }}
                                                            </td>
                                                            <td>
                                                                {{ service.Servicestatus.lastCheck }}
                                                            </td>
                                                            <td>
                                                                {{ service.Servicestatus.nextCheck }}
                                                            </td>
                                                            <td>
                                                                {{ service.Servicestatus.outputHtml }}
                                                            </td>
                                                            <td class="text-center">
                                                                <oitc-actions-button [permission]="'services.edit'"
                                                                                     [url]="'/services/edit/' + service.Service.id">
                                                                    <oitc-actions-button-element
                                                                        [permission]="'services.edit'"
                                                                        [url]="'/services/edit/' + service.Service.id">
                                                                        <fa-icon [icon]="['fas', 'gear']"></fa-icon>
                                                                        {{ t('Edit') }}
                                                                    </oitc-actions-button-element>
                                                                    <oitc-actions-button-element
                                                                        [permission]="'changelogs.index'"
                                                                        [url]="'/changelogs/entity/service/' + service.Service.id">
                                                                        <fa-icon [icon]="['fas', 'timeline']"></fa-icon>
                                                                        {{ t('Changelog') }}
                                                                    </oitc-actions-button-element>
                                                                    <oitc-actions-button-element
                                                                        [permission]="'services.copy'"
                                                                        [url]="'/services/copy/' + service.Service.id">
                                                                        <fa-icon [icon]="['fas', 'file']"></fa-icon>
                                                                        {{ t('Copy') }}
                                                                    </oitc-actions-button-element>
                                                                    <oitc-actions-button-element
                                                                        [permission]="'services.usedBy'"
                                                                        [url]="'/services/usedBy/' + service.Service.id">
                                                                        <fa-icon [icon]="['fas', 'reply-all']"
                                                                                 flip="horizontal"></fa-icon>
                                                                        {{ t('Used By') }}
                                                                    </oitc-actions-button-element>
                                                                    @if (service.Service.allow_edit) {
                                                                        <li cDropdownDivider></li>
                                                                    }
                                                                    @if (service.Service.allow_edit) {
                                                                        <oitc-actions-button-element
                                                                            [permission]="'services.delete'"
                                                                            (click)="toggleDeleteAllServicesModal(service)">
                                                                            <span class="text-danger">
                                                                                <fa-icon
                                                                                    [icon]="['fas', 'trash']"></fa-icon>
                                                                                {{ t('Delete') }}
                                                                            </span>
                                                                        </oitc-actions-button-element>
                                                                    }
                                                                </oitc-actions-button>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                            @if (host.services.length === 0) {
                                                <oitc-no-records
                                                ></oitc-no-records>
                                            }
                                            <c-container
                                                [fluid]="true">
                                                <c-row class="py-2">
                                                    <c-col>
                                                        @if (host.services) {
                                                            <oitc-paginate-or-scroll
                                                                (paginatorChange)="onServicePaginatorChange($event, host)"
                                                                [paginateOrScroll]="host.servicesRoot"></oitc-paginate-or-scroll>
                                                        }
                                                    </c-col>
                                                </c-row>
                                            </c-container>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    @if (hostgroupExtended.Hosts.length === 0) {
                        <oitc-no-records
                        ></oitc-no-records>
                    }
                    <c-container
                        [fluid]="true">
                        <c-row>
                            <c-col>
                                @if (hostgroups) {
                                    <oitc-paginate-or-scroll
                                        (paginatorChange)="onHostPaginatorChange($event)"
                                        [paginateOrScroll]="hostgroupExtendedRoot"></oitc-paginate-or-scroll>
                                }
                            </c-col>
                        </c-row>
                    </c-container>
                </div>
            }

            @if (selectedTab == HostgroupExtendedTabs.SlaHostsStatus) {
                <div class="mt-3">
                    @if (PermissionsService.hasModuleObservable('SLAModule')|async) {
                        <oitc-sla-hostgroup-hosts-status-overview
                            *oitcPermission="['slamodule', 'slas', 'slahostgrouphostsstatusoverview']"
                            [hostgroupId]="this.hostgroupExtended.Hostgroup.id"></oitc-sla-hostgroup-hosts-status-overview>
                    }
                </div>
            }
        </c-card-body>
    </c-card>
</ng-container>
<oitc-service-reset-checktime-modal (completed)="onResetChecktime($event)"
                                    [items]="selectedItems"></oitc-service-reset-checktime-modal>
<oitc-hosts-maintenance-modal (completed)="onResetChecktime($event)"
                              [items]="selectedItems"></oitc-hosts-maintenance-modal>
<oitc-hosts-enable-notifications-modal (completed)="onResetChecktime($event)"
                                       [items]="selectedItems"></oitc-hosts-enable-notifications-modal>
<oitc-hosts-disable-notifications-modal (completed)="onResetChecktime($event)"
                                        [items]="selectedItems"></oitc-hosts-disable-notifications-modal>
<oitc-host-acknowledge-modal (completed)="onResetChecktime($event)"
                             [items]="selectedItems"></oitc-host-acknowledge-modal>
<oitc-disable-modal (completed)="onResetChecktime($event)" [items]="selectedItems"></oitc-disable-modal>

<oitc-enable-modal (completed)="onResetChecktime($event)" [items]="selectedItems"></oitc-enable-modal>

<oitc-delete-all-modal (completed)="onResetChecktime($event)" [items]="selectedItems"
                       [overrideDeleteService]="deleteService"></oitc-delete-all-modal>
