.p-dropdown-label-fix-flex {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    flex: 1 1 auto;
    width: 1%;
    text-overflow: ellipsis;
    cursor: pointer;
}

.p-dropdown-trigger-fix-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
