
.color-windows {
    color: #0078d7;
}

.color-opensuse, .color-suse {
    color: #73ba25;
}

.color-ubuntu {
    color: #e95420;
}

.color-linuxmint {
    color: #87c95f;
}

.color-debian {
    color: #d70a53;
}

.color-raspbian {
    color: #bd0840;
}

.color-centos {
    color: #951c7a;
}

.color-fedora {
    color: #51a2da;
}

.color-rocky {
    color: #10b981;
}

.color-redhat {
    color: #ee0000;
}

.color-arch {
    color: #1793d1;
}

.color-freebsd {
    color: #af090f;
}
