<oitc-coreui>
    <ng-container *transloco="let t">
        <nav aria-label="breadcrumb" class="mt-3">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a [routerLink]="['/']">
                        <fa-icon [icon]="['fas', 'home']"></fa-icon>
                        {{ t('Home') }}
                    </a></li>
                <li class="breadcrumb-item">
                    <a *oitcPermission="['contacts', 'index']" [routerLink]="['/', 'contacts', 'index']">
                        <fa-icon [icon]="['fas', 'user']"></fa-icon>
                        {{ t('Contacts') }}
                    </a>
                </li>
                <li aria-current="page" class="breadcrumb-item active">
                    <fa-icon [icon]="['fas', 'code-fork']"></fa-icon>
                    {{ t('Used by') }}
                </li>
            </ol>
        </nav>
        <c-card class="mb-3" *ngIf="contact">
            <c-card-header>
                <h5 cCardTitle>{{ t('Contact') }}
                    <small class="fw-300">
                        <i>
                            <strong>
                                »{{ contact.name }}«
                            </strong>
                            {{ t('is used by') }}
                            {{ total }}
                            {{ t('objects.') }}
                        </i>
                    </small>
                </h5>
                <c-nav class="card-toolbar card-header-pills">
                    <button [fallbackUrl]="['contacts', 'index']" cButton class="ripple" color="default"
                            oitcBackButton
                            size="xs">
                        <fa-icon [icon]="['fas', 'left-long']"></fa-icon>
                        {{ t('Back') }}
                    </button>
                </c-nav>
            </c-card-header>
            <c-card-body>
                <c-container fluid>
                    <table bordered cTable class="mt-2 mb-0" hover striped *ngIf="objects">
                        <tbody>
                        <!-- Contacts -->
                        <tr *ngIf="objects.Contactgroups.length > 0">
                            <th colspan="2" class="bg-secondary bg-opacity-10">
                                <fa-icon [icon]="['fas', 'users']"></fa-icon>
                                {{ t('Contactgroups') }} ({{ objects.Contactgroups.length }})
                            </th>
                        </tr>
                        <tr *ngFor="let contactgroup of objects.Contactgroups">
                            <td colspan="2">
                                <a *oitcPermission="['contactgroups', 'edit']"
                                   [routerLink]="['/', 'contactgroups', 'edit', contactgroup.id]">
                                    {{ contactgroup.container.name }}
                                </a>
                                <span *oitcPermission="['contactgroups', 'edit']; negate: true">
                                    {{ contactgroup.container.name }}
                                </span>
                            </td>
                        </tr>

                        <!-- Host templates -->
                        <tr *ngIf="objects.Hosttemplates.length > 0">
                            <th colspan="2" class="bg-secondary bg-opacity-10">
                                <fa-icon [icon]="['fas', 'edit']"></fa-icon>
                                {{ t('Host templates') }} ({{ objects.Hosttemplates.length }})
                            </th>
                        </tr>
                        <tr *ngFor="let hosttemplate of objects.Hosttemplates">
                            <td colspan="2">
                                <a *oitcPermission="['hosttemplates', 'edit']"
                                   [routerLink]="['/', 'hosttemplates', 'edit', hosttemplate.id]">
                                    {{ hosttemplate.name }}
                                </a>
                                <span *oitcPermission="['hosttemplates', 'edit']; negate: true">
                                    {{ hosttemplate.name }}
                                </span>
                            </td>
                        </tr>

                        <!-- Service templates -->
                        <tr *ngIf="objects.Servicetemplates.length > 0">
                            <th colspan="2" class="bg-secondary bg-opacity-10">
                                <fa-icon [icon]="['fas', 'edit']"></fa-icon>
                                {{ t('Service templates') }} ({{ objects.Servicetemplates.length }})
                            </th>
                        </tr>
                        <tr *ngFor="let servicetemplate of objects.Servicetemplates">
                            <td colspan="2">
                                <a *oitcPermission="['servicetemplates', 'edit']"
                                   [routerLink]="['/', 'servicetemplates', 'edit', servicetemplate.id]">
                                    {{ servicetemplate.name }}
                                </a>
                                <span *oitcPermission="['hosttemplates', 'edit']; negate: true">
                                    {{ servicetemplate.name }}
                                </span>
                            </td>
                        </tr>

                        <!-- Hosts -->
                        <tr *ngIf="objects.Hosts.length > 0">
                            <th colspan="2" class="bg-secondary bg-opacity-10">
                                <fa-icon [icon]="['fas', 'desktop']"></fa-icon>
                                {{ t('Hosts') }} ({{ objects.Hosts.length }})
                            </th>
                        </tr>
                        <tr *ngFor="let host of objects.Hosts">
                            <td colspan="2">
                                <a *oitcPermission="['hosts', 'edit']"
                                   [routerLink]="['/', 'hosts', 'edit', host.id]">
                                    {{ host.name }}
                                </a>
                                <span *oitcPermission="['hosts', 'edit']; negate: true">
                                    {{ host.name }}
                                </span>
                            </td>
                        </tr>

                        <!-- Services -->
                        <tr *ngIf="objects.Services.length > 0">
                            <th colspan="2" class="bg-secondary bg-opacity-10">
                                <fa-icon [icon]="['fas', 'cog']"></fa-icon>
                                {{ t('Services') }} ({{ objects.Services.length }})
                            </th>
                        </tr>
                        <tr *ngFor="let service of objects.Services">
                            <td colspan="2">
                                <a *oitcPermission="['services', 'edit']"
                                   [routerLink]="['/', 'services', 'edit', service.id]">
                                    {{ service._matchingData.Hosts.name }} / {{ service.name }}
                                </a>
                                <span *oitcPermission="['services', 'edit']; negate: true">
                                    {{ service._matchingData.Hosts.name }} / {{ service.name }}
                                </span>
                            </td>
                        </tr>


                        <!-- Hostescalations -->
                        <tr *ngIf="objects.Hostescalations.length > 0">
                            <th colspan="2" class="bg-secondary bg-opacity-10">
                                <fa-icon [icon]="['fas', 'bomb']"></fa-icon>
                                {{ t('Host escalations') }} ({{ objects.Hostescalations.length }})
                            </th>
                        </tr>
                        <tr *ngFor="let hostescalation of objects.Hostescalations">
                            <td colspan="2">
                                <a *oitcPermission="['hostescalations', 'edit']"
                                   [routerLink]="['/', 'hostescalations', 'edit', hostescalation.id]">
                                    {{ t('Host escalation') }} #{{ hostescalation.id }}
                                </a>
                                <span *oitcPermission="['hostescalations', 'edit']; negate: true">
                                    {{ t('Host escalation') }} #{{ hostescalation.id }}
                                </span>
                            </td>
                        </tr>

                        <!-- Serviceescalations -->
                        <tr *ngIf="objects.Serviceescalations.length > 0">
                            <th colspan="2" class="bg-secondary bg-opacity-10">
                                <fa-icon [icon]="['fas', 'bomb']"></fa-icon>
                                {{ t('Service escalations') }} ({{ objects.Serviceescalations.length }})
                            </th>
                        </tr>
                        <tr *ngFor="let serviceescalation of objects.Serviceescalations">
                            <td colspan="2">
                                <a *oitcPermission="['serviceescalations', 'edit']"
                                   [routerLink]="['/', 'serviceescalations', 'edit', serviceescalation.id]">
                                    {{ t('Service escalation') }} #{{ serviceescalation.id }}
                                </a>
                                <span *oitcPermission="['serviceescalations', 'edit']; negate: true">
                                    {{ t('Service escalation') }} #{{ serviceescalation.id }}
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </c-container>
            </c-card-body>
        </c-card>
    </ng-container>
</oitc-coreui>
